Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

fix: specify BadgedIcon type
  mobile/src/screens/HomeScreen/HomeScreen.tsx
Due: build mobile

fix: ensure currentUser is IUser
  mobile/src/screens/Admin/AdminView.tsx
Due: build mobile

fix: HelperText takes string
  mobile/src/components/FormikTextInput/FormikTextInput.tsx
Due: build mobile

fix: make string explicit, use translated label
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EmpowermentForm.tsx
Due: build mobile

fix: pass type argument to database get()
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
Due: build mobile

fix: update expo-background-fetch usage
  mobile/src/tasks/CacheRefreshTask.ts
Due: build mobile

fix: explicit type for error text
  mobile/src/components/ExposedDropdownMenu/FormikExposedDropdownMenu.tsx
Due: build mobile

fix: update deprecated Button theming
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
Due: build mobile

fix: FieldError has explicit string typing
  mobile/src/util/formikUtil.tsx
Due: build mobile

fix: NewVisit form displays helper text and validates before submit
  common/src/util/colors.ts
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build common, build mobile, build web, test common

renamed sql.py functions and slight tweaks to web stats
  server/cbr_api/sql.py
  web/package-lock.json
  web/src/pages/Stats/components/charts/HorizontalBarGraphStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
Due: build web, build server

prettier for stats update
  web/src/pages/Stats/Stats.tsx
Due: build web

fix: make string explicit, translate field label
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodForm.tsx
  mobile/src/screens/BaseSurvey/baseSurvey.style.ts
Due: build mobile

fix: explicit type for database get
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

fix: update type of AlertIOS
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

fix: explicit type for database get
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
Due: build mobile

fix: make string explicit
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
Due: build mobile

fix: remove unused dropdown prop
  mobile/src/screens/NewReferral/ReferralForm/MentalHealthForm.tsx
Due: build mobile

prettier
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
Due: build mobile

chore: package lock
  mobile/package-lock.json
Due: build mobile

docs: clarify translations update process
  common/src/locales/README.md
  docs/SETUP.md
Due: build common, build mobile, build web, test common

update translations (FEB 2025 )
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

fix: remove i18next::pluralResolver warn
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build common, build mobile, build web, test common

update todo
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

prettier
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

ci: add ts checking to mobile and web builds
  .github/workflows/main-cicd.yml
Due: none

Fixed bottom nav bug
  mobile/src/screens/HomeScreen/HomeScreen.tsx
Due: build mobile

fix: update button styling
  mobile/src/screens/Login/Login.tsx
Due: build mobile

fix: resolve type error with stack navigation
  mobile/src/util/stackScreens.tsx
Due: build mobile

fix: re-add description to client visit entry accordians
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
Due: build mobile

ci: re-enable mobile ts compilation in pipeline
  .github/workflows/main-cicd.yml
Due: none

fix: add restriction to `to` field
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
Due: build web

fix: add restriction to `from` field
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
Due: build web

fix: add na option
  common/src/util/clients.ts
Due: build common, build mobile, build web, test common

fix: disable the option to select na in dropdown list
  mobile/src/components/ClientForm/ClientForm.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build mobile, build web

format: prettier for clientform
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

docs: update mobile docs
  mobile/README.md
Due: build mobile

586-stylesheet-refactors create a styles config for client form
  common/src/forms/Client/clientFields.ts
  mobile/src/components/ClientForm/ClientForm.styles.ts
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build common, build mobile, build web, test common

586-stylesheet-refactors remove unused styles from ClientDetails stylesheet
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

586-stylesheet-refactors update stylesheet in ClientForm to use new one
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
