Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

add the runner to kvm user
  .github/workflows/mobile-e2e-tests.yml
Due: none

manually add em to kvm and simplify check
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix gradle build cmd
  mobile/.detoxrc.js
Due: build mobile

use attached emulator
  .github/workflows/mobile-e2e-tests.yml
Due: none

kill all emu instances before running adb cmds
  .github/workflows/mobile-e2e-tests.yml
Due: none

clean up all adbs
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix syntax
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix directory issue
  .github/workflows/mobile-e2e-tests.yml
Due: none

targer right emu
  .github/workflows/mobile-e2e-tests.yml
  mobile/.detoxrc.js
Due: build mobile

verify that port reverse is working
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix health check for django
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix emu cmds to run in same terminal
  .github/workflows/mobile-e2e-tests.yml
Due: none

add more diagnositics
  .github/workflows/mobile-e2e-tests.yml
Due: none

verify dhango is reachable
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix missing django env var
  .github/workflows/mobile-e2e-tests.yml
Due: none

shorten client name so scroll is simpler
  mobile/e2e/sync.test.js
Due: build mobile

fix flaky disability selection
  mobile/e2e/sync.test.js
Due: build mobile

assert client view using full name
  mobile/e2e/sync.test.js
Due: build mobile

add extra scroll for filling village to avoid cascading failure
  mobile/e2e/sync.test.js
Due: build mobile

fix unstable emulator at start of tests
  .github/workflows/mobile-e2e-tests.yml
Due: none

use determinsitic scrolls
  mobile/e2e/sync.test.js
Due: build mobile

try different tap mechanism
  mobile/e2e/sync.test.js
Due: build mobile

Revert to 7a84e0d
  .github/workflows/mobile-e2e-tests.yml
  mobile/e2e/sync.test.js
Due: build mobile

Add functionality for web to not discard bug report and have a confirm dialog
  web/src/pages/BugReport/BugReport.tsx
  web/src/pages/User/UserView.tsx
Due: build web

Add functionality to show banner in previous page after bug report created successfully
  web/src/pages/BugReport/BugReport.tsx
Due: build web

Add confirm dialog for mobile and success message when bug report is created
  mobile/src/components/Alert/Alert.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.styles.ts
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/BugReport/BugReport.tsx
  mobile/src/util/bugReportFlashMessage.ts
  mobile/src/util/theme.styles.ts
Due: build mobile

Removed clear button from both mobile and web
  mobile/src/screens/BugReport/BugReport.styles.ts
  mobile/src/screens/BugReport/BugReport.tsx
  web/src/pages/BugReport/BugReport.tsx
Due: build mobile, build web

Add error warning on top of mobile whenever theres no wifi
  mobile/src/screens/BugReport/BugReport.tsx
  web/src/pages/BugReport/BugReport.tsx
Due: build mobile, build web

Add error catching functionality for both mobile and web whenever there is no wifi
  server/cbr/wsgi.py
  server/manage.py
  web/src/pages/BugReport/BugReport.tsx
Due: build web, build server

change form timeout exception logic
  mobile/e2e/sync.test.js
Due: build mobile

fix risk failure
  mobile/e2e/sync.test.js
Due: build mobile

fix adb cleanup step in workflow
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix issue where first run passes but subsequent runs fail
  .github/workflows/mobile-e2e-tests.yml
Due: none

handle case with HHA CBR is updating dialog popup
  mobile/e2e/sync.test.js
Due: build mobile

tap out of zone selection
  mobile/e2e/sync.test.js
Due: build mobile

Changed runner
  .github/workflows/mobile-e2e-tests.yml
Due: none

Revert back to sandbox
  .github/workflows/mobile-e2e-tests.yml
Due: none

add pin lock for mobile
  mobile/app.json
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/components/UserProfileContents/ChangePinDialog.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/context/PinContext/PinContext.tsx
  mobile/src/context/PinContext/PinState.ts
  mobile/src/screens/PinEntry/PinEntry.styles.ts
  mobile/src/screens/PinEntry/PinEntry.tsx
  mobile/src/screens/PinSetup/PinSetup.styles.ts
  mobile/src/screens/PinSetup/PinSetup.tsx
  mobile/src/util/pinStorage.ts
Due: build mobile

revert pack lock changes to make diff smaller
  mobile/package-lock.json
  mobile/package.json
Due: build mobile
