Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

feat: add discharged clients graph to stats page
  common/src/util/stats.ts
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  server/cbr_api/views.py
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/DischargedClientsStats.tsx
Due: build common, build mobile, build web, build server, test common

fix: change query so a client doesn't need to have all risk types to count as discharged
  server/cbr_api/sql.py
Due: build server

run python black and prettier
  common/src/util/stats.ts
  server/cbr_api/admin.py
  server/cbr_api/management/commands/cleanupimages.py
  server/cbr_api/migrations/0020_auto_20210728_2053.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build common, build mobile, build web, build server, test common

678 add back missing trasnaltions after merge
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
  mobile/src/screens/ClientDetails/Risks/UpdateGoalStatusModal.tsx
Due: build mobile

693 setup serializer testfile and setup method
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 create helper function in helper.py for client creation data
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 add testcase for test_create_client_with_all_risks to ensure creating a new client is what we expect
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 update client create with all risks testcase with more assertions
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 add testcase for disallowing missing required fields
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 ensure invalid data does not create a client but fails
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 ensure client can be created with just minimum required fields
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 ensure read only fields passed to serializer are ignored
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 fix minor bug with mobile priority comp
  common/src/util/risks.ts
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

693 add testcase for invalid zone
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 refactor helper and add test case for timestamps
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 assert passing in no context to serializer create method raises error
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 add testcase to test goal statuses and goal names for risk objects in client
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 add testcase for optional caregiver fields leading to successful client creation
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

fix: show client name for view client screen
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

fix: show client name for visit, base survey and referral
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/util/stackScreens.tsx
Due: build mobile

format: prettier
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

add comment
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

693 add two testcases for location fields and coordinate precision
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

693 ensure caregiver fields is false by default
  server/cbr_api/tests/serializers/test_client_create_serializer.py
Due: build server

702 change not active coloring on web
  common/src/util/colors.ts
  common/src/util/risks.ts
Due: build common, build mobile, build web, test common

702 change not active coloring on mobile
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

702 missed dashboard risk coloring update
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

feat: show requirements and goals text in that order for both web and mobile
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
Due: build mobile, build web

feat: add new arrays for dropdown text
  common/src/util/risks.ts
Due: build common, build mobile, build web, test common

696 remove outcome field from web
  mobile/package-lock.json
Due: build mobile

696 remove outcome field from web and remove outcomes from visitFormHandler
  common/src/forms/newVisit/visitFormHandler.ts
  web/src/pages/NewVisit/NewVisit.tsx
Due: build common, build mobile, build web, test common

696 get rid of outcomes validation schema and translation
  common/src/forms/newVisit/visitFormFields.ts
Due: build common, build mobile, build web, test common

696 cleanup shared files and add logic for unchecking improvement field
  common/src/forms/newVisit/visitFormFields.ts
  web/src/pages/NewVisit/components/OutcomeField.tsx
  web/src/pages/NewVisit/components/VisitReasonStep.tsx
  web/src/pages/NewVisit/components/index.ts
Due: build common, build mobile, build web, test common

696 seed improvement fields on check so they can dynamically render
  mobile/package-lock.json
  web/src/pages/NewVisit/components/VisitReasonStep.tsx
Due: build mobile, build web

696 migrate outcomes field to improvements
  server/cbr_api/serializers.py
Due: build server

feat: change clientRiskModal inputs to dropdowns
  common/src/util/risks.ts
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/ModalDropdown.tsx
Due: build common, build mobile, build web, test common

feat: change requirement, goal, and cancellation_reason text inputs to dropdowns
  common/src/util/risks.ts
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/ModalDropdown.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build common, build mobile, build web, test common

696 create migration script to backfill outcomes as improvements
  server/cbr_api/migrations/0071_backfill_outcomes_into_improvements.py
Due: build server

696 add previous migration dependency
  server/cbr_api/migrations/0071_backfill_outcomes_into_improvements.py
Due: build server

696 remove print logs
  server/cbr_api/serializers.py
Due: build server

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
