Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

use new library for chip
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/GoalStatusChip/GoalStatusChip.tsx
Due: build mobile

bump version code
  mobile/app.json
Due: build mobile

bump reanimated + screens
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

bump expo 53 + rn 0.79
  mobile/app.json
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

replace old locale method
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/Referrals/Referrals.tsx
Due: build mobile

change socket.io import
  mobile/src/App.tsx
Due: build mobile

fix timeline locale
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
Due: build mobile

fix client list overlapping into bottom tabs
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

change version semantics
  mobile/app.json
Due: build mobile

Bump Android version
  mobile/app.json
Due: build mobile

758 language fix
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/Admin/AdminView.tsx
Due: build mobile

Update server downloadview to return 404 instead of 500 when file not found in /uploads/images
  server/downloadview/object.py
Due: build server

Bump android version to 25
  mobile/app.json
Due: build mobile

Update README.md
  mobile/README.md
Due: build mobile

prettier
  mobile/README.md
  server/cbr/urls.py
  server/downloadview/object.py
Due: build mobile, build server

show default user image on failed fetch
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
Due: build web

Update deployment doc and bump android version to 1.4.1-25
  docs/DEPLOYMENT-DEV-STG.md
  docs/DEPLOYMENT-PROD.md
  docs/MOBILE-RELEASE.md
  mobile/app.json
  scripts/README.md
  scripts/restore_volume_from_s3.sh
Due: build mobile

Bump android to version 1.4.1-26
  mobile/app.json
Due: build mobile

Update deployment doc and bump android version to 1.4.1-26 (#767)
  docs/DEPLOYMENT-DEV-STG.md
  docs/DEPLOYMENT-PROD.md
  docs/MOBILE-RELEASE.md
  mobile/app.json
  scripts/README.md
  scripts/restore_volume_from_s3.sh
Due: build mobile

Bump API_VERSION from 4.0.0 to 5.0.0
  docs/MOBILE-RELEASE.md
  mobile/src/util/syncHandler.ts
  server/cbr_api/util.py
Due: build mobile, build server

Bump android version to 27.
  mobile/app.json
Due: build mobile

Fix discard dialog coming up when submitting new visit
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

fix translations for previousGoalsModal, previousGoalsCard, and newVisit
  common/src/util/risks.ts
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
  web/src/pages/NewVisit/components/GoalField.tsx
Due: build common, build mobile, build web, test common

759 refactor auth and packages for login
  common/src/util/auth.ts
  mobile/package-lock.json
  mobile/src/screens/Login/Login.tsx
  web/src/pages/Login/Login.tsx
Due: build common, build mobile, build web, test common

759 bump mobile version numbers
  mobile/app.json
Due: build mobile

759 run prettier
  mobile/src/screens/Login/Login.tsx
  web/src/pages/Login/Login.tsx
Due: build mobile, build web

fix cancellation reason display
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
Due: build web

Bump Android version to 1.4.1-29
  mobile/app.json
Due: build mobile

Fix discard modal popping up after submitting new referral or baseline survey
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
Due: build mobile

Correct quote typo in restore_volume_from_s3.sh
  docs/DEPLOYMENT-PROD.md
  scripts/restore_volume_from_s3.sh
Due: none

Update version code to now be 30
  mobile/app.json
Due: build mobile

762 remove redundant logs
  web/src/pages/Stats/components/charts/FilterHeaders.tsx
  web/src/pages/Stats/components/filterbar/StatsGroupByPicker.tsx
Due: build web

773 migration script
  common/src/util/hooks/disabilities.ts
  common/src/util/referrals.ts
  mobile/package-lock.json
  server/cbr_api/migrations/0074_add_impairment_disabilities.py
  web/package.json
Due: build common, build mobile, build web, build server, test common

762 add not set to export functionality
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

773 run python server formatter
  server/cbr_api/migrations/0074_add_impairment_disabilities.py
Due: build server

773 chore reinstall packages
  web/package-lock.json
Due: build web

762 run prettier
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web
