Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

feat: add goal requirement label strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

feat: add function to retrieve goal requirements label strings
  common/src/forms/newVisit/visitFormFields.ts
Due: build common, build mobile, build web, test common

feat: update goal within new visit form
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/OutcomeField.tsx
Due: build web

format: remove unused imports
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/OutcomeField.tsx
Due: build web

format: prettier
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/OutcomeField.tsx
Due: build web

feat: add GoalField to decouple OutcomeField
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/GoalField.tsx
  web/src/pages/NewVisit/components/OutcomeField.tsx
Due: build web

format: delete comment
  web/src/pages/NewVisit/components/GoalField.tsx
Due: build web

fix: fetch new updated risks
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

642 update serializers to undo new field changes and apply another migration
  common/test/util/clients.spec.ts
  server/cbr_api/migrations/0067_remove_client_educat_goal_status_and_more.py
  server/cbr_api/serializers.py
Due: build common, build mobile, build web, build server, test common

642 add test for both a risk level and goal status change to serializer
  server/cbr_api/tests/serializers/test_normal_risk_serializer.py
Due: build server

642 migrate current client objects in the db to have the right risk levels
  server/cbr_api/migrations/0068_auto_20250704_1416.py
Due: build server

642 reapply migration and update client list and priority dashboard with new UI when theres no goal set
  common/src/util/clients.ts
  common/src/util/risks.ts
  server/cbr_api/migrations/0068_auto_20250704_1416.py
  web/src/components/RiskLevelChip/RiskLevelChip.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/Dashboard/Dashboard.tsx
Due: build common, build mobile, build web, build server, test common

642 update priority client computation and remove not active from input dropdowns
  common/src/util/risks.ts
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, test common

642 update client model risk level default and seedclients script to include active goals
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/migrations/0069_alter_client_educat_risk_level_and_more.py
  server/cbr_api/models.py
Due: build server

642 apply formatters
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/migrations/0068_auto_20250704_1416.py
  server/cbr_api/models.py
  server/cbr_api/tests/serializers/test_normal_risk_serializer.py
Due: build server

fix: change to use outcome goal enum instead of hardcoded "can"
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

fix: remove console.log() and run prettier
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

fix: update mobile backend to avoid ts compilation failure
  mobile/package-lock.json
  mobile/src/models/Risk.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

feat: add change_type field to frontend and show goal updates in risk history timeline
  common/src/util/risks.ts
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/helper.tsx
Due: build common, build mobile, build web, test common

prettier
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/helper.tsx
Due: build web

fix: apply migrations so risks can be properly updated again
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
Due: build mobile

prettier
  mobile/src/models/migrations.ts
Due: build mobile

fix: add new cancellation_reason backend field
  mobile/src/models/Risk.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
Due: build mobile

prettier
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
Due: build mobile

fix: apply fix to clientriskform after adding cancellation reason
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

fix: remove goal status display for "not set"
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
Due: build web

fix: fix migration conflicts
  server/cbr_api/migrations/0070_merge_20250707_2016.py
Due: build server

prettier
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
Due: build web

format: prettier
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
Due: build web

fix: accomodate new change_type field in mobile backend
  mobile/package-lock.json
  mobile/src/models/Risk.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

prettier
  mobile/src/models/schema.ts
Due: build mobile

chore: do code cleanup and run prettier
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
Due: build mobile

fix: remove api call for fetching new risks
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/GoalField.tsx
Due: build web

format: remove spacing
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

659 create a new test suite for client model and a setup method for the test case methods
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 add test case for client creation
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 add test case for client genders
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 update client helper and add test for client hcr type
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 refactor client create helper
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 refactor all test files to use new client create helper
  server/cbr_api/tests/models/test_client_model.py
  server/cbr_api/tests/models/test_disability_model.py
  server/cbr_api/tests/models/test_usercbr_model.py
  server/cbr_api/tests/serializers/test_normal_risk_serializer.py
Due: build server

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
