Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

fix: replace Button with IconButton
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
Due: build mobile

fix: remove structural empty Text components
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/MentalHealthForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/NutritionAgricultureForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/ProstheticOrthoticForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

fix: update text colors for rn-paper v5
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/DataCard/DataCard.style.ts
  mobile/src/components/LanguagePicker/LanguagePicker.style.ts
  mobile/src/components/LanguagePicker/LanguagePicker.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/UserList/UserList.styles.ts
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

update rn-progress-steps to v2
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/baseSurvey.style.ts
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

Added referral column interface
  web/src/pages/Referrals/Referrals.styles.ts
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Fixing referral menu button hover style
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Fixed referral bug when client is archived
  web/src/pages/Referrals/Referrals.tsx
Due: build web

docs: update mobile release
  docs/RELEASE.md
Due: none

build: prepare for test release
  mobile/app.json
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

update build settings
  mobile/android/app/build.gradle
Due: build mobile

ci: re-enable
  .github/workflows/main-cicd.yml
Due: none

docs: update mobile docs for 0.74 prebuild
  docs/RELEASE.md
  mobile/README.md
Due: build mobile

chore: clean up build scripts and config
  mobile/build.js
  mobile/metro.config.js
Due: build mobile

chore: prettier
  mobile/src/App.tsx
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/ShowMore.tsx
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

remove react-navigation/devtools
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
Due: build mobile

chore: remove comment
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

updated follow up stats and new client stats ui
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build common, build mobile, build web, test common

added new attributes and migrations for ClientRisk model
  server/cbr_api/migrations/0058_clientrisk_end_date_clientrisk_goal_name_and_more.py
  server/cbr_api/migrations/0059_update_client_risk_goal_status_values.py
  server/cbr_api/models.py
Due: build server

update themeColors
  common/src/util/colors.ts
Due: build common, build mobile, build web, test common

remove testing version number
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

update react-native-paper theming for v5
  mobile/src/components/Alert/Alert.tsx
  mobile/src/screens/Loading/Loading.styles.ts
  mobile/src/screens/Loading/Loading.tsx
  mobile/src/screens/Login/Login.styles.ts
  mobile/src/screens/Login/Login.tsx
  mobile/src/util/theme.styles.ts
Due: build mobile

deps: remove obsolete react-navigation import
  mobile/package.json
Due: build mobile

fix: add explicit StatusBar with bg color
  mobile/src/App.tsx
Due: build mobile

deps: update react-native-paper to v5
  mobile/package-lock.json
  mobile/package.json
  mobile/src/util/theme.styles.ts
Due: build mobile

prettier
  mobile/README.md
  mobile/babel.config.js
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/tsconfig.json
Due: build mobile

build: update mobile scripts
  mobile/package.json
Due: build mobile

build: add expo prebuild script
  mobile/package.json
Due: build mobile

fix: update dropdown icon for paper v5 props
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

patch: runtime error in stats/referrals
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

fix: add default RN build scrips
  mobile/package.json
Due: build mobile

ci: update for rn 0.74
  .github/workflows/main-cicd.yml
  docs/RELEASE.md
  mobile/build.js
  mobile/package.json
Due: build mobile

update versionName and version
  mobile/app.json
Due: build mobile

docs: update mobile docs for rn 0.74 prebuild
  docs/RELEASE.md
  docs/SETUP.md
  mobile/README.md
Due: build mobile

fix: update Button props for rn-paper v5
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

build: re-enable mobile ts options
  mobile/tsconfig.json
Due: build mobile

fix: remove empty text components
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile
