Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

661 remove log
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

672 create a class helper for view tests
  server/cbr_api/tests/helpers.py
Due: build server

672 refactor test factory to be fully resuable
  docs/DJANGOTESTING.md
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/views/__init__.py
  server/cbr_api/tests/views/test_risk_list_view.py
Due: build server

672 add testcase for fetching all risks for a client
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/views/test_risk_list_view.py
Due: build server

672 add testcase for fetching risks given a client id parameter
  server/cbr_api/tests/views/test_risk_list_view.py
Due: build server

672 add testcase for creating new risks
  server/cbr_api/tests/views/test_risk_list_view.py
  server/cbr_api/urls.py
Due: build server

672 add testcase to ensure unauthenticated users cannot make api requests to risks endpoint
  server/cbr_api/tests/views/test_risk_list_view.py
Due: build server

661 make modal window dismissable
  mobile/src/components/ModalForm/components/ModalWindow.tsx
Due: build mobile

661 make dialog component dismissable by passing in onDismiss
  mobile/src/components/ModalForm/components/ModalWindow.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

661 create a pending goal status so the GS is not updated after every value change
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

661 update validate schema method to use pending goal status
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

661 make modal window include an optional ondismiss handler
  mobile/src/components/ModalForm/components/ModalWindow.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

672 set up test file for risk detail view
  server/cbr_api/tests/views/test_risk_detail_view.py
Due: build server

672 add testcase for users in different zones
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/views/test_risk_detail_view.py
  server/cbr_api/tests/views/test_risk_list_view.py
Due: build server

672 add testcase to ensure POST risk cannot be empty
  server/cbr_api/tests/views/test_risk_list_view.py
Due: build server

feat: add dynamic display for client risks (show no current goal and create new goal if current goal is concluded)
  mobile/src/screens/ClientDetails/.ClientDetails.tsx.swp
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

prettier
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

672 add testcase for getting risk detail for riskdetail view
  docs/DJANGOTESTING.md
  server/cbr_api/tests/views/test_risk_detail_view.py
Due: build server

672 add testcase for nonexistent risk for risk detail view
  server/cbr_api/tests/views/test_risk_detail_view.py
Due: build server

fix: remove previous goals filter
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

add comment for field flickering issue
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

prettier
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
Due: build web

672 add test case for updating a risk object using risk detail view
  server/cbr_api/tests/views/test_risk_detail_view.py
Due: build server

672 add check for change type in test_create_new_risk for risk list view
  server/cbr_api/tests/views/test_risk_list_view.py
Due: build server

672 add testcases for updating and deleting risks using risk detail view
  server/cbr_api/tests/views/test_risk_detail_view.py
Due: build server

672 add testcases to ensure risk objects for invalid pk is not updated and no unauthenticated request can be made using risk detail view
  server/cbr_api/tests/views/test_risk_detail_view.py
Due: build server

fix: show validation message as soon as save is clicked and run prettier
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

fix: set start_date and end_date for goals
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

fix: switch goal and requirements
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

fix: make goalstatuschip clickable
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

format: prettier
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

Update translations for New Requests 7-22-2025
  common/src/@types/resources.d.ts
  common/src/locales/README.md
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

feat: add dynamic risk display
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

chore: adjust text styling
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

678 add some goals translations and update formfield label terms
  common/src/forms/Risks/riskFormFields.ts
  common/src/util/risks.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build common, build mobile, build web, test common

add translations for unsaved changes and update goal status modal
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  web/src/components/Dialogs/UnsavedChanges.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build mobile, build web

678 add transaltions for new visit form web and mobile
  common/src/forms/newVisit/visitFormFields.ts
  web/src/pages/NewVisit/NewVisit.tsx
Due: build common, build mobile, build web, test common

678 add translations to new visit and goal modals
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

678 wrap up goals translations and start other missing translations in the apps
  mobile/src/components/ClientForm/ClientForm.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build mobile, build web

678 add translations to all todos in the apps
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
  web/src/pages/ClientDetails/Risks/CancelRisk.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
