Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

586-stylesheet-refactors add space before RiskHistoryTimeLine entry chip
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
Due: build web

feat: display goal updates as entries on risk history timeline
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/helper.tsx
Due: build common, build mobile, build web, test common

606 tweak form styles to allow for more room between error messages, fields, and inputs
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

606 only enable Next button when village, zone, and a visit reason have been selected on the first step
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

feat: update colors for goal status + change chip based on status
  common/src/util/colors.ts
  common/src/util/risks.ts
  web/src/components/GoalStatusChip/GoalStatusChip.styles.ts
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
Due: build common, build mobile, build web, test common

fix: update translations file and use goal fields instead of placeholders
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/risks.ts
Due: build common, build mobile, build web, test common

606 only show input field errors if input has been touched
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

fix: fix stale value issue
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

chore: removed comments to avoid confusion
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
Due: build web

fix: removed extra lines
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
Due: build web

Revert "fix: removed extra lines"
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
Due: build web

feat: added functionality to UpdateGoalStatus (save properly updates backend)
  common/src/forms/Risks/riskFormFieldHandler.ts
  common/src/forms/Risks/riskFormFields.ts
  common/src/locales/en.json
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build common, build mobile, build web, test common

fix translation of stats page
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

format: prettier stats
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

624 create enum for risk change types
  server/cbr_api/models.py
Due: build server

624 make migrations for change_type field and add index to ClientRisk model for faster fetches in migration
  server/cbr_api/migrations/0061_merge_20250610_1052.py
  server/cbr_api/migrations/0062_clientrisk_change_type.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

624 make new migration for indexes and update create method for change type
  server/cbr_api/migrations/0063_clientrisk_cbr_api_cli_client__bef25f_idx.py
  server/cbr_api/migrations/0064_auto_20250612_1241.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

624 create migration script to update old records
  server/cbr_api/migrations/0064_auto_20250612_1241.py
Due: build server

624 refactor change type computation to a class method
  server/cbr_api/migrations/0064_auto_20250612_1241.py
  server/cbr_api/serializers.py
Due: build server

624 add change type to clientcreationriskserializer so changetype can be seen on frontend
  server/cbr_api/serializers.py
Due: build server

feat: change client risk text to "create new goal" instead of "update" if no current goal
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
Due: build web

feat: make goalstatuschip clickable
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

feat: make edit note icon clickable
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

prettier
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
  web/src/pages/ClientDetails/RiskHistory/helper.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

637 new change type enum value for when risk and goal status change in one request
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

637 apply migration to use new enum values
  server/cbr_api/migrations/0065_alter_clientrisk_change_type.py
Due: build server

639 migrate existing test to new test structure
  server/cbr_api/models.py
  server/cbr_api/tests.py
  server/cbr_api/tests/__init__.py
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/models/__init__.py
  server/cbr_api/tests/models/test_disability_model.py
  server/cbr_api/tests/models/test_usercbr_model.py
Due: build server

feat: add functionality to goal status chip and update places where its used as necessary
  common/src/util/colors.ts
  common/src/util/risks.ts
  web/src/components/GoalStatusChip/GoalStatusChip.styles.ts
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build common, build mobile, build web, test common

feat: adjusted clientRiskModal according to dr. brians suggestions, added functionality to create new goal, removed chip display if no goal
  common/src/forms/Risks/riskFormFieldHandler.ts
  common/src/forms/Risks/riskFormFields.ts
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build common, build mobile, build web, test common

fix: apply suggestions (remove unnecessary code and add NS goal status)
  common/src/forms/Risks/riskFormFieldHandler.ts
  common/src/util/risks.ts
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build common, build mobile, build web, test common

fix: change row size of goal input
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

fix: remove unnecessary validation schema from updateGoalStatus
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

639 update maincicd pipeline to run the new test suite structure
  .github/workflows/main-cicd.yml
Due: none

639 add documentation for the new testing methodology
  docs/CONTRIBUTION.md
  docs/DJANGOTESTING.md
Due: none

639 create seperate service for testing server
  .github/workflows/main-cicd.yml
Due: none

639 remove test step from build server
  .github/workflows/main-cicd.yml
Due: none

639 run test service on self hosted machine and install python on it instead of container
  .github/workflows/main-cicd.yml
Due: none

fix: fixed issue when creating new goal where changes to form were erased after updateGoalStatus was opened & made save/back buttons consistent
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

format: prettier
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web
