Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

extend REFRESH_TOKEN_LIFETIME to 24 hours
  server/cbr/settings.py
Due: build server

Maintain consistency with Baseline Survey Implement text picker and text checkbox in baseline survey to mimic the interface of web app (material ui)
  mobile/babel.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/Visit/visitSurvey.style.ts
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

Maintain consistency with Baseline Survey 2 Adding files
  mobile/src/components/TextCheckBox/TextCheckBox.style.ts
  mobile/src/components/TextCheckBox/TextCheckBox.tsx
  mobile/src/components/TextPicker/DicTextPicker.tsx
  mobile/src/components/TextPicker/TextPicker.style.ts
  mobile/src/components/TextPicker/TextPicker.tsx
Due: build mobile

Modify .gitignore Add node_moduels to .gitignore
  .gitignore
Due: none

removed unnecessary react dependancy
  common/package-lock.json
  common/package.json
  common/src/util/hooks/zones.ts
  mobile/package-lock.json
Due: format common, build mobile

Update the package json
  common/package-lock.json
  common/package.json
  mobile/package-lock.json
Due: format common, build mobile

Deleted the risks.ts, clients.ts and visits.ts from mobile and web folder. Redirected the dependency. Branch is ready to merge.
  common/index.ts
  common/src/util/clients.ts
  common/src/util/risks.ts
  common/src/util/visits.ts
  web/src/components/RiskLevelChip/RiskLevelChip.tsx
  web/src/components/RiskTypeChip/RiskTypeChip.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/ClientDetails/RiskHistory/ClientRiskHistory.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistory.styles.ts
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/riskFormFieldHandler.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/requestClientRows.ts
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: format common, build mobile, build web

Add riskIcon.tsx to web
  web/src/util/riskIcon.tsx
Due: build web

Implemented date picker (still needs work) and few MR review changes
  mobile/package-lock.json
  mobile/package.json
  mobile/src/Login/Login.tsx
  mobile/src/screens/Client/Client.styles.ts
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientScreenController.tsx
Due: build mobile

Fixed double popup dialog for DatePicker
  mobile/src/screens/Client/Client.tsx
Due: build mobile

MR review changes
  mobile/src/screens/Client/Client.styles.ts
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientRequests.ts
  mobile/src/screens/Client/ClientScreenController.tsx
Due: build mobile

Stopped 404 errors during API call
  mobile/src/screens/Client/ClientScreenController.tsx
Due: build mobile

Fix the typo of the livehood
  common/package-lock.json
  common/package.json
  common/src/Form/baseline/formFields.ts
  common/src/Form/baseline/formHandler.ts
  mobile/package-lock.json
Due: format common, build mobile

Format change
  common/index.ts
  common/src/util/risks.ts
Due: format common, build mobile

Format fix
  common/src/util/risks.ts
Due: format common, build mobile

Format fix for web
  web/src/components/RiskTypeChip/RiskTypeChip.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/util/riskIcon.tsx
Due: build web

Format fix for web
  web/web_build.tar.gz
Due: build web

Implements onCheckboxChange function for dynamic stepper.
  mobile/src/screens/Visit/visitSurvey.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build mobile, build web

Format fix for web
  common/package.json
Due: format common, build mobile

Add zones to the survey
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

Modifies package-lock.json file
  common/src/util/auth.ts
  mobile/package-lock.json
Due: format common, build mobile

remove web_build.tar.gz
  web/web_build.tar.gz
Due: build web

Added alert to confirm logout on back from Homescreen
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/HomeScreen/HomeScreenController.tsx
  mobile/src/screens/Login/Login.tsx
Due: build mobile

Attempts to fix useZone error - first API fetch returns empty Map
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

Adds zonesRequest file to fetch zones
  mobile/src/screens/Visit/visitSurvey.tsx
  mobile/src/screens/Visit/zonesRequest.ts
Due: build mobile

Auto login if auth present broken-commiting to save changes
  mobile/src/App.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/Loading/Loading.tsx
  mobile/src/screens/Login/Login.tsx
Due: build mobile

Minor changes
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/HomeScreen/HomeScreenController.tsx
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

Fixed warnings by using UseEffect while updating nav props
  mobile/package-lock.json
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientScreenController.tsx
  mobile/src/screens/HomeScreen/HomeScreenController.tsx
  mobile/src/screens/Login/Login.tsx
Due: build mobile

MR Review Changes and minor fixes
  mobile/src/App.tsx
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/util/riskIcon.tsx
  mobile/src/util/screens.ts
Due: build mobile

Make the next button and prev button more natural
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
Due: build mobile

Change OverridableComponent<SvgIconTypeMap<{}, "svg">> to SvgIconComponent in web/src/util/riskIcon.tsx Add riskIcon.tsx to mobile/src/util
  mobile/src/util/riskIcon.tsx
  web/src/util/riskIcon.tsx
Due: build mobile, build web

Test changes (loading broken)
  mobile/src/App.tsx
  mobile/src/screens/Client/ClientScreenController.tsx
  mobile/src/screens/HomeScreen/HomeScreenController.tsx
  mobile/src/screens/Loading/Loading.tsx
Due: build mobile

Fixed Login when authenticated instead of logging in everytime
  mobile/src/App.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
Due: build mobile

Fixed Login when authenticated instead of logging in everytime (PP with Paul)
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/util/screens.ts
Due: build mobile

Added alert on logout button press
  mobile/src/App.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/Loading/Loading.tsx
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

Use another kind of Icon package. Generalize three icon components into a RiskIcon component func.
  mobile/src/util/riskIcon.tsx
Due: build mobile

Response to the comment in MR and refactor the TextPicker
  common/index.ts
  common/src/forms/baseSurvey/baseSurveyFormFields.ts
  common/src/forms/baseSurvey/baseSurveyFormHandler.ts
  docs/CONTRIBUTION.md
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/TextPicker/DicTextPicker.tsx
  mobile/src/components/TextPicker/TextPicker.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EducationForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/HealthForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodFom.tsx
  mobile/src/screens/BaseSurvey/formHandler.ts
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/formHandler.ts
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
Due: format common, build mobile, build web

Added save and reset function + caregiver details to client page
  mobile/package.json
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientRequests.ts
Due: build mobile

Added packagelock for pipeline
  mobile/package-lock.json
Due: build mobile

Update package-lock.json
  mobile/package-lock.json
Due: build mobile

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
