Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

build: update react-native-paper; resolve peer dep React 16
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

build: update ts-jest and jest to v28; resolving TS 5+ peer dep
  common/package-lock.json
  common/package.json
Due: build common, build mobile, build web, test common

build: update react-native-paper to latest <v5
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

build: update react-is-mounted-hook to latest; possible still outdated
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

build: temp disabled uses of react-is-mounted-hook; does not support Node 18
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
Due: build web

deps: remove react-is-mounted-hook; does not support Node 18
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

deps: removed react-native-multi-selectbox; unused
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

deps: removed react-native-skeleton-placeholder; unused
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

chore: updated package-lock; refresh-common now working
  mobile/package-lock.json
Due: build mobile

build(deps): add babel/runtime to resolve android build issues
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

build(deps): removed native-base; unused
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

build(deps): update watermelondb to v0.26; for with-observables supporting react 18
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

chore(deps): remove react-nagigation-stack; unused
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

chore(deps): remove react-native-picker-select; unused
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

chore(deps): removed unused deps
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

chore: package-lock changes
  mobile/package-lock.json
Due: build mobile

chore(deps): remove unused dependencies
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

chore(deps): replace react-is-mounted-hook; not supported in Node 18
  web/package.json
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/util/hooks/useIsMounted.ts
Due: build web

chore(deps): update craco; peer dep react-scripts 5
  web/package-lock.json
  web/package.json
Due: build web

chore(deps): update to MUI 5; peer dep React 18
  web/package-lock.json
  web/package.json
Due: build web

chore(deps): remove mui 4 imports and upgrade emotion for mui 5
  web/package-lock.json
  web/package.json
Due: build web

chore(deps): upgrade formik to support MUI 5
  web/package-lock.json
  web/package.json
Due: build web

build: temp patch to enable react-scripts (CRA) to accept ts 5+
  web/package-lock.json
  web/package.json
Due: build web

fix: run mui/codemod variant-prop
  web/src/components/Dialogs/ConfirmDeleteZone.tsx
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/Login/Login.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

fix: run mui/codemod link-underline-hover
  web/src/pages/Stats/VisitStats.tsx
Due: build web

chore(deps): revert x-data-grid to v5; simpler migration from data-grid
  web/package-lock.json
  web/package.json
Due: build web

fix(translations): Address review comments
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/hooks/disabilities.ts
  common/src/util/referrals.ts
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/helper.ts
  web/src/pages/ClientDetails/RiskHistory/helper.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/util/hooks/useUser.ts
  web/src/util/pages.ts
Due: build common, build mobile, build web, test common

begin x-data-graph migration
  web/src/components/SearchBar/SearchBar.tsx
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/AdminList/requestUserRows.ts
  web/src/pages/ClientList/ClientList.tsx
Due: build web

wip
  web/src/components/SideNav/LangPicker.tsx
  web/src/components/SideNav/SideNav.tsx
Due: build web

feat: implement a language picker component
  web/src/App.tsx
  web/src/components/LanguagePicker/LanguagePicker.tsx
  web/src/components/SideNav/LangPicker.tsx
  web/src/components/SideNav/SideNav.tsx
Due: build web

feat(language picker): able to change i18n language upon select
  web/src/components/LanguagePicker/LanguagePicker.tsx
Due: build web

refactor(i18n): Ensure that mobile, web, and common all reference the same i18n instance
  common/src/i18n.config.ts
  common/src/init.ts
  mobile/package-lock.json
  mobile/src/App.tsx
  web/src/index.tsx
Due: build common, build mobile, build web, test common

feat(language picker): translate strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/components/LanguagePicker/LanguagePicker.tsx
Due: build common, build mobile, build web, test common

feat(login): add language picker
  web/src/components/LanguagePicker/LanguagePicker.tsx
  web/src/pages/Login/Login.tsx
Due: build web

refactor(login): improve styling
  web/src/components/LanguagePicker/LanguagePicker.tsx
  web/src/pages/Login/Login.styles.ts
  web/src/pages/Login/Login.tsx
Due: build web

chore(language picker): cleanup code
  web/src/components/LanguagePicker/LanguagePicker.tsx
  web/src/pages/Login/Login.tsx
Due: build web

chore: clean install
  common/package-lock.json
  mobile/package-lock.json
  web/package-lock.json
Due: build common, build mobile, build web, test common

chore: re-add material data-grid for testing
  web/package.json
Due: build web

chore: resolve material-ui/data-grid API changes in 4.0.0-alpha.20
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/AdminList/requestUserRows.ts
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ZoneList/ZoneList.tsx
Due: build web

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
