Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

wip added viewing goals component modal
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal.styles.ts
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal.tsx
Due: build web

build: add expo prebuild script
  mobile/package.json
Due: build mobile

Updated referral translation
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/Referrals/Referrals.tsx
Due: build common, build mobile, build web, test common

Fixed filter styling bug
  web/src/pages/Referrals/Referrals.tsx
Due: build web

fix: update dropdown icon for paper v5 props
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

build: update mobile scripts
  mobile/package.json
Due: build mobile

update react-native-paper theming for v5
  mobile/src/components/Alert/Alert.tsx
  mobile/src/screens/Loading/Loading.styles.ts
  mobile/src/screens/Loading/Loading.tsx
  mobile/src/screens/Login/Login.styles.ts
  mobile/src/screens/Login/Login.tsx
  mobile/src/util/theme.styles.ts
Due: build mobile

deps: remove obsolete react-navigation import
  mobile/package.json
Due: build mobile

fix: add explicit StatusBar with bg color
  mobile/src/App.tsx
Due: build mobile

prettier
  mobile/README.md
  mobile/babel.config.js
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/tsconfig.json
Due: build mobile

fix: add default RN build scrips
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

ci: manually create working directory
  .github/workflows/main-cicd.yml
Due: none

ci: missing flag
  .github/workflows/main-cicd.yml
Due: none

ci: update build command
  .github/workflows/main-cicd.yml
Due: none

ci: add keys after APK build
  .github/workflows/main-cicd.yml
Due: none

renamed client risk radio btn styles
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

ci: alter prebuild command
  .github/workflows/main-cicd.yml
Due: none

chore: package lock
  mobile/package-lock.json
Due: build mobile

ci: sudo build
  .github/workflows/main-cicd.yml
Due: none

wip switched viewing previous goals ui
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal.styles.ts
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal.tsx
Due: build web

added risk level chip to previous goals
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal.styles.ts
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal.tsx
Due: build web

created previous goal card
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.styles.ts
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
Due: build web

specify prebuild platform
  mobile/package.json
Due: build mobile

ci: manual assembleRelease
  .github/workflows/main-cicd.yml
  mobile/package.json
Due: build mobile

ci: path name
  .github/workflows/main-cicd.yml
Due: none

ci: disable unneeded
  .github/workflows/main-cicd.yml
Due: none

ci: test bundle
  .github/workflows/main-cicd.yml
Due: none

ci: need chmod?
  .github/workflows/main-cicd.yml
Due: none

update versionName and version
  docs/RELEASE.md
  mobile/app.json
Due: build mobile

Started adding referral details
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Added more referral details
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Added styling to put every detail on its own line
  web/src/pages/Referrals/Referrals.styles.ts
  web/src/pages/Referrals/Referrals.tsx
Due: build web

added query for new clients
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build server

added follow up visits query
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build server

added interface for new clients and follow up visits
  common/src/util/stats.ts
Due: build common, build mobile, build web, test common

can get follow up and new client stats
  server/cbr_api/serializers.py
Due: build server

wip added new clients stats ui
  common/src/util/stats.ts
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
  web/src/pages/Stats/components/index.ts
Due: build common, build mobile, build web, test common

Changed referral styling and added "other" details
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Added a tooltip to the referral details
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Added emojis and made the tooltip logic more advanced
  web/src/pages/Referrals/Referrals.styles.ts
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
