Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

unused import
  common/src/context/SocketIOContext.ts
Due: format common, build mobile

pushed wrong change
  common/src/context/SocketIOContext.ts
  mobile/src/tasks/SyncDatabaseTask.ts
Due: format common, build mobile

run prettier
  mobile/src/App.tsx
Due: build mobile

Refactor socketIOContext
  common/src/context/SocketIOContext.ts
Due: format common, build mobile

fix comments
  common/src/services/alertServices.ts
Due: format common, build mobile

use commonConfiguration
  common/src/context/SocketIOContext.ts
  mobile/package-lock.json
Due: format common, build mobile

Change app name
  mobile/android/app/src/main/res/values/strings.xml
Due: build mobile

Attempt to fix sockets on staging
  common/package-lock.json
  common/package.json
  common/src/context/SocketIOContext.ts
Due: format common, build mobile

hide dialog once user has pressed ok
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
Due: build mobile

Check for window.location on mobile
  common/src/context/SocketIOContext.ts
Due: format common, build mobile

Refactor socket in common
  common/src/context/SocketIOContext.ts
  common/src/init.ts
Due: format common, build mobile

Revert "Merge branch 'finalVersionServiceLayer' into 'main'"
  common/src/services/alertServices.ts
  common/src/services/tools/RequestConfigBuilder.ts
  mobile/package-lock.json
  web/package-lock.json
  web/package.json
  web/src/pages/AlertInbox/AlertList.tsx
Due: format common, build mobile, build web

Change "Statistic" -> "Statistics", "Referral" -> "Referrals" on mobile
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

change current risk chart data to millisecond
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
Due: build web

Build Android app in pipeline using Gradle rather than Expo
  .gitlab-ci.yml
  docs/RELEASE.md
  mobile/build.js
Due: build mobile

update ui strings for conflict dialog & inbox
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  web/src/pages/AlertInbox/AlertDetail.tsx
Due: build mobile, build web

update conflict dialog message
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
Due: build mobile

run prettier
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
Due: build mobile

run prettier
  common/src/util/alerts.ts
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

alert system only needs to fetch once
  common/src/forms/Alert/alertHandler.ts
  common/src/util/alerts.ts
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: format common, build mobile, build web

fixed a tiny bug
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

fixed useState infinitly running bug
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

merge branches
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

nic:remove unnecessary params
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

remove unused file
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
  web/tsconfig.json
Due: build web

prettier
  web/tsconfig.json
Due: build web

update setup for mobile app in docs
  docs/CONTRIBUTION.md
  docs/SETUP.md
Due: none

Update CI development and staging URLs
  .gitlab-ci.yml
Due: none

specify that APP_ENV in mobile .env can be set to different values
  docs/SETUP.md
Due: none

add warning whenever webapp user goes offline
  web/src/App.tsx
  web/src/components/Alerts/AlertOffline.tsx
Due: build web

set snackbar to be closed by default
  web/src/components/Alerts/AlertOffline.tsx
Due: build web

fix bug associtated with Nutrition Addings
  common/src/util/risks.ts
  web/src/components/RiskLevelChip/RiskLevelChip.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/util/riskIcon.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

nutrition display
  web/src/components/RiskLevelChip/RiskLevelChip.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/util/riskIcon.tsx
Due: build web

run prettier
  web/src/components/RiskLevelChip/RiskLevelChip.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/util/riskIcon.tsx
  web/tsconfig.json
Due: build web

frontend done
  common/src/forms/Client/clientFields.ts
  web/src/pages/NewClient/ClientForm.tsx
Due: format common, build mobile, build web

unfinished
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  mobile/.package-lock.json.icloud
  mobile/package-lock.json
  server/cbr_api/filters.py
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seedvisits.py
  server/cbr_api/migrations/0001_initial.py
  server/cbr_api/migrations/0002_auto_20210301_2333.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
Due: format common, build mobile, build web, build server

add author and date to alert inbox
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

origin/addingClientWithNutritionField fixed typo
  common/src/forms/Client/clientFields.ts
  common/src/util/clients.ts
  common/test/util/clients.spec.ts
  mobile/.package-lock.json.icloud
  mobile/src/models/Client.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/util/syncConflictConstants.ts
  mobile/src/util/syncHandler.ts
  package-lock.json
  server/cbr_api/migrations/0043_client_nutrit_timestamp.py
  web/src/pages/ClientList/requestClientRows.ts
  web/src/pages/Dashboard/Dashboard.tsx
  web/tsconfig.json
Due: format common, build mobile, build web, build server

use Timestamp To Date Defined In Util
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web
