Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

chore: regenerate package lock for web
  web/package-lock.json
Due: build web

refactor(styling): remove global styled components
  web/src/components/StyledComponents/StyledComponents.ts
  web/src/pages/BaseSurvey/baseSurvey.style.ts
  web/src/pages/BaseSurvey/forms/EmpowermentForm.tsx
  web/src/pages/BaseSurvey/forms/FoodForm.tsx
  web/src/pages/BaseSurvey/forms/HealthForm.tsx
  web/src/pages/BaseSurvey/forms/LivelihoodForm.tsx
  web/src/pages/NewReferral/forms/NutritionForm.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
Due: build web

refactor(styling): extract common styled component
  web/src/components/StyledComponents/StyledComponents.ts
  web/src/pages/BaseSurvey/baseSurvey.style.ts
  web/src/pages/BaseSurvey/forms/EmpowermentForm.tsx
  web/src/pages/BaseSurvey/forms/FoodForm.tsx
  web/src/pages/BaseSurvey/forms/HealthForm.tsx
  web/src/pages/BaseSurvey/forms/LivelihoodForm.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
Due: build web

refactor(referral entry): rework styles
  web/src/pages/ClientDetails/ClientTimeline/Entry.styles.ts
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
Due: build web

refactor(baseline survey): remove br tags and extract components
  web/src/components/GoBackButton/GoBackButton.tsx
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/baseSurvey.style.ts
  web/src/pages/BaseSurvey/forms/EducationForm.tsx
  web/src/pages/BaseSurvey/forms/EmpowermentForm.tsx
  web/src/pages/BaseSurvey/forms/FoodForm.tsx
  web/src/pages/BaseSurvey/forms/HealthForm.tsx
  web/src/pages/BaseSurvey/forms/LivelihoodForm.tsx
  web/src/pages/BaseSurvey/forms/ShelterForm.tsx
  web/src/pages/BaseSurvey/forms/SocialForm.tsx
Due: build web

feat(baseline survey): translate strings
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/forms/EducationForm.tsx
  web/src/pages/BaseSurvey/forms/FoodForm.tsx
  web/src/pages/BaseSurvey/forms/HealthForm.tsx
Due: build web

refactor: remove trailing whitespace
  web/package.json
Due: build web

chore: revert i18next version and remove unneeded imports
  web/package-lock.json
  web/package.json
  web/src/pages/NewReferral/forms/OtherServicesForm.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
Due: build web

refactor(baseline survey): import styled components as an object
  web/src/pages/BaseSurvey/forms/EducationForm.tsx
  web/src/pages/BaseSurvey/forms/EmpowermentForm.tsx
  web/src/pages/BaseSurvey/forms/FoodForm.tsx
  web/src/pages/BaseSurvey/forms/HealthForm.tsx
  web/src/pages/BaseSurvey/forms/LivelihoodForm.tsx
  web/src/pages/BaseSurvey/forms/SocialForm.tsx
  web/src/pages/NewReferral/NewReferral.styles.ts
  web/src/pages/NewReferral/forms/NutritionForm.tsx
  web/src/pages/NewReferral/forms/OtherServicesForm.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
Due: build web

refactor(admin page): remove <br> tags
  common/package-lock.json
  web/package-lock.json
  web/package.json
  web/src/pages/Admin/Admin.styles.ts
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminNew.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
Due: build common, build mobile, build web, test common

refactor(stats page): rework styles
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
  web/src/pages/Stats/components/filterbar/StatsUserFilter.tsx
Due: build web

chore: regenerate package lock for common
  common/package-lock.json
Due: build common, build mobile, build web, test common

refactor(new referral): rework styles on wheelchair form
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
Due: build web

deps: update greenlet to 3.1.1
  server/cbr/wsgi.py
  server/requirements.txt
Due: build server

fix: resolve ts errors in common tests
  common/package-lock.json
  common/package.json
  common/test/setup.ts
  common/test/testHelpers/mockServerHelpers.ts
  common/test/util/hooks/currentUser.spec.ts
  common/test/util/hooks/disabilities.spec.ts
Due: build common, build mobile, build web, test common

test: update fetch-mock imports
  common/package.json
  common/test/testHelpers/testCommonConfiguration.ts
  common/test/util/auth.spec.ts
  common/test/util/clients.spec.ts
  common/test/util/endpoints.spec.ts
  common/test/util/hooks/cachedAPI.spec.ts
  common/test/util/hooks/currentUser.spec.ts
  common/test/util/hooks/disabilities.spec.ts
  common/test/util/hooks/zones.spec.ts
Due: build common, build mobile, build web, test common

ci: re-enable common tests
  .github/workflows/main-cicd.yml
Due: none

deps: bump jest types for v28
  common/package-lock.json
  common/package.json
  common/src/util/hooks/disabilities.ts
  common/test/testHelpers/testCommonConfiguration.ts
  common/test/util/auth.spec.ts
  common/test/util/clients.spec.ts
  common/test/util/endpoints.spec.ts
  common/test/util/hooks/cachedAPI.spec.ts
  common/test/util/hooks/currentUser.spec.ts
  common/test/util/hooks/disabilities.spec.ts
  common/test/util/hooks/zones.spec.ts
Due: build common, build mobile, build web, test common

fix: update disabilities load mock with mocked TFunction
  common/src/util/hooks/disabilities.ts
  common/test/util/hooks/disabilities.spec.ts
Due: build common, build mobile, build web, test common

fix: move eventlet monkey_patch call to main to only call when run as a script
  server/manage.py
Due: build server

working now?
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/components/SyncUpdateAlert.tsx/LocalChangeList.tsx
  mobile/src/model/Alert.ts
  mobile/src/model/BaselineSurvey.ts
  mobile/src/model/Client.ts
  mobile/src/model/Improvement.ts
  mobile/src/model/Outcome.ts
  mobile/src/model/Referral.ts
  mobile/src/model/Risk.ts
  mobile/src/model/UserCBR.ts
  mobile/src/model/Visit.ts
  mobile/src/model/constant.ts
  mobile/src/model/index.ts
  mobile/src/model/interfaces/SyncableModel.ts
  mobile/src/model/migrations.ts
  mobile/src/model/schema.ts
  mobile/src/model/zone.ts
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/AlertInbox/AlertInbox.tsx
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/screens/NewReferral/formHandler.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
  mobile/src/screens/Stats/Stats.tsx
  mobile/src/screens/UserList/UserListRequest.ts
  mobile/src/util/syncHandler.ts
  mobile/src/util/watermelonDatabase.ts
  package-lock.json
Due: build mobile

add note
  docs/SETUP.md
Due: none

package lock
  mobile/package-lock.json
Due: build mobile

chore: move old translation resources to temp folder
  common/src/locales/archaic_translations/bari.json
  common/src/locales/archaic_translations/en.json
  common/src/locales/archaic_translations/en.xlsx
Due: build common, build mobile, build web, test common

translations: add updated bari translation xlsx
  common/src/locales/ATTENTION-DO_NOT_EDIT.md
  common/src/locales/CBR_translations_main.xlsx
Due: build common, build mobile, build web, test common

fix: updated setup docs
  docs/CONTRIBUTION.md
  docs/SETUP.md
  mobile/README.md
Due: build mobile

fix: updated contribution readme
  docs/CONTRIBUTION.md
Due: none

Added mental risk header
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

Updated CONTRIBUTION.md
  docs/CONTRIBUTION.md
Due: none

Update CONTRIBUTION.md
  docs/CONTRIBUTION.md
Due: none

translations: integrate bari translations
  common/package.json
  common/src/@types/resources.d.ts
  common/src/locales/ATTENTION-DO_NOT_EDIT.md
  common/src/locales/CBR_translations_main.xlsx
  common/src/locales/README.md
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/archaic_translations/bari.json
  common/src/locales/archaic_translations/en.json
  common/src/locales/archaic_translations/en.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/types/translationKeys.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
Due: build common, build mobile, build web, test common

chore: prettier
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/utils.ts
Due: build mobile

Added required files and nav setup
  web/src/pages/Referrals/Referrals.styles.ts
  web/src/pages/Referrals/Referrals.tsx
  web/src/util/pages.ts
Due: build web

fixed base formatting for client list page
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

refactored client list styling sheet and components
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

fixed stats btns for better formatting
  mobile/src/screens/Stats/Stats.styles.ts
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

fixed translated text being cut off on stats pie chart
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

Added new words to translations
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/util/pages.ts
Due: build common, build mobile, build web, test common
