Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

feat(modal form): add support for risk goals
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/package-lock.json
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build common, build mobile, build web, test common

temp(modal form): temporarily add some display text for demo purposes
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

refactor(client risk form): extract event handler functions and general code organization
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

feat(modal form): add ripple effect and some refactoring
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

feat(modal form): add placeholder checkbox options gathered from database dump
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/risks.ts
  mobile/package-lock.json
  mobile/src/components/ModalForm/components/ModalTrigger.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build common, build mobile, build web, test common

refactor(modal form): improve prop passing and types
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

feat(modal form): pass in array of labels to render checkboxes
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

Refactor(new client form): remove commented out code
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(modal form): rename fields
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

chore(modal form): add unpushed artifacts
  common/src/@types/resources.d.ts
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

refactor(modal form): switch from using modal component to dialog component
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

feat(modal form): able to prepopulate values in form
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

refactor(new client): increase padding between sections
  mobile/src/screens/NewClient/NewClient.styles.ts
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(modal form): extract custom hook
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/hooks/useFormValueGenerator.ts
Due: build mobile

refactor(modal form): add another prop for label
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(modal form): do translation lookup inside component
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

temp(modal form): make demo text red
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

feat(client risk modal): improve styling
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/components/ModalTrigger.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

refactor(modal form): small refactors and renamings
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/components/ModalTrigger.tsx
  mobile/src/components/ModalForm/components/ModalWindow.tsx
  mobile/src/components/ModalForm/utils.ts
Due: build mobile

refactor(client risk): cleanup complex ternary and other cleanups
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

fix(client risk cards): pretty up and clean up styling
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

feat(modal form): add both localized and canonical fields for displaying and saving to database respectively
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/NewClient/NewClient.tsx
Due: build common, build mobile, build web, test common

refactor(db sync): remove some old logs
  mobile/src/util/syncHandler.ts
Due: build mobile

feat(modal form): translate strings
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/components/ModalWindow.tsx
Due: build mobile

refactor(update risk modal): shift imports and eliminate duplication
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

refactor(new visit): shift around imports and react hooks
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

cleanup(modal form): comment out demo text
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

feat(modal form): add edit icon
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

chore(modal form): do some cleanup prior to opening PR
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/hooks/useFormValueGenerator.ts
  mobile/src/components/ModalForm/utils.ts
Due: build mobile

refactor(admin page): remove <br> tags
  common/package-lock.json
  web/package-lock.json
  web/package.json
  web/src/pages/Admin/Admin.styles.ts
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminNew.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
Due: build common, build mobile, build web, test common

feat(baseline survey): translate strings
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/forms/EducationForm.tsx
  web/src/pages/BaseSurvey/forms/FoodForm.tsx
  web/src/pages/BaseSurvey/forms/HealthForm.tsx
Due: build web

refactor(baseline survey): remove br tags and extract components
  web/src/components/GoBackButton/GoBackButton.tsx
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/baseSurvey.style.ts
  web/src/pages/BaseSurvey/forms/EducationForm.tsx
  web/src/pages/BaseSurvey/forms/EmpowermentForm.tsx
  web/src/pages/BaseSurvey/forms/FoodForm.tsx
  web/src/pages/BaseSurvey/forms/HealthForm.tsx
  web/src/pages/BaseSurvey/forms/LivelihoodForm.tsx
  web/src/pages/BaseSurvey/forms/ShelterForm.tsx
  web/src/pages/BaseSurvey/forms/SocialForm.tsx
Due: build web

refactor(baseline survey): import styled components as an object
  web/src/pages/BaseSurvey/forms/EducationForm.tsx
  web/src/pages/BaseSurvey/forms/EmpowermentForm.tsx
  web/src/pages/BaseSurvey/forms/FoodForm.tsx
  web/src/pages/BaseSurvey/forms/HealthForm.tsx
  web/src/pages/BaseSurvey/forms/LivelihoodForm.tsx
  web/src/pages/BaseSurvey/forms/SocialForm.tsx
  web/src/pages/NewReferral/NewReferral.styles.ts
  web/src/pages/NewReferral/forms/NutritionForm.tsx
  web/src/pages/NewReferral/forms/OtherServicesForm.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
Due: build web

chore: regenerate package lock for common
  common/package-lock.json
Due: build common, build mobile, build web, test common

refactor(referral entry): rework styles
  web/src/pages/ClientDetails/ClientTimeline/Entry.styles.ts
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
Due: build web

refactor(new referral): rework styles on wheelchair form
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
Due: build web

refactor(styling): extract common styled component
  web/src/components/StyledComponents/StyledComponents.ts
  web/src/pages/BaseSurvey/baseSurvey.style.ts
  web/src/pages/BaseSurvey/forms/EmpowermentForm.tsx
  web/src/pages/BaseSurvey/forms/FoodForm.tsx
  web/src/pages/BaseSurvey/forms/HealthForm.tsx
  web/src/pages/BaseSurvey/forms/LivelihoodForm.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
Due: build web

refactor(stats page): rework styles
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
  web/src/pages/Stats/components/filterbar/StatsUserFilter.tsx
Due: build web

refactor: remove trailing whitespace
  web/package.json
Due: build web

chore: revert i18next version and remove unneeded imports
  web/package-lock.json
  web/package.json
  web/src/pages/NewReferral/forms/OtherServicesForm.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
Due: build web
