Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

Fix ESLint warning by making function useCallback
  web/src/pages/ClientDetails/ClientDetails.tsx
Due: build web

171: Unread Alerts notification on android
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

Update SETUP.md with new version of react native
  docs/SETUP.md
Due: none

Remove log
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
Due: build web

173: Fix push/put requests returning 404 for alerts
  server/cbr_api/serializers.py
Due: build server

Migrate and sync mobile with HHANAAP
  mobile/package-lock.json
  mobile/src/models/Referral.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/util/syncHandler.ts
  server/cbr_api/serializers.py
  web/tsconfig.json
Due: build mobile, build web, build server

Display HHANAP on outstanding referals
  mobile/package-lock.json
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
Due: build mobile

View referral stats on mobile
  common/src/forms/Referral/referralFields.ts
  common/src/util/referrals.ts
  mobile/package-lock.json
  mobile/src/screens/Stats/Stats.tsx
Due: build common, build mobile, build web, test common

Clean up
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

Run prettier
  web/tsconfig.json
Due: build web

Clean more stuff
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

Fix the web outstanding referral
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web, build server

Still need to disbale submit button when no choices are selected
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/NutritionAgricultureForm.tsx
Due: build mobile

176: Separated riskChip and priorityChip for alerts
  common/src/util/alerts.ts
  web/src/components/PriorityLevelChip/PriorityLevelChip.styles.ts
  web/src/components/PriorityLevelChip/PriorityLevelChip.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build common, build mobile, build web, test common

176: Split priorityLevel and riskLevel for mobile alerts as well
  mobile/src/screens/AlertInbox/AlertInbox.tsx
Due: build mobile

176: Remove alert data example file
  web/src/pages/AlertInbox/TestAlertExampleDeleteLater.tsx
Due: build web

168: One field must be selected for nutrition referral survey
  common/src/forms/Referral/referralFields.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/NutritionAgricultureForm.tsx
Due: build common, build mobile, build web, test common

177: Fix mobile version out of date pop-up not showing
  mobile/src/util/syncHandler.ts
Due: build mobile

Remove redundant checks
  mobile/package-lock.json
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/NutritionAgricultureForm.tsx
  web/tsconfig.json
Due: build mobile, build web

Fixed sync to send HHANAP
  mobile/src/models/Referral.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/formHandler.ts
  web/src/pages/Dashboard/Dashboard.tsx
  web/tsconfig.json
Due: build mobile, build web

Remove logs
  mobile/src/screens/NewReferral/NewReferral.tsx
Due: build mobile

Remove more logs
  mobile/src/screens/NewReferral/NewReferral.tsx
  web/src/pages/Dashboard/Dashboard.tsx
Due: build mobile, build web

Prettier
  common/src/forms/Referral/referralFields.ts
Due: build common, build mobile, build web, test common

Update posthetic/othotic referral options
  common/src/forms/Referral/referralFields.ts
  common/src/util/referrals.ts
  mobile/package-lock.json
  mobile/src/screens/NewReferral/ReferralForm/NutritionAgricultureForm 2.tsx
  web/cbr-common-1.0.0.tgz
  web/tsconfig.json
Due: build common, build mobile, build web, test common

Add new options to server
  common/src/forms/Referral/referralFields.ts
  common/src/util/referrals.ts
  server/cbr_api/migrations/0050_alter_referral_orthotic_injury_location_and_more.py
  server/cbr_api/models.py
Due: build common, build mobile, build web, build server, test common

Change seed for disabilities
  server/cbr_api/management/commands/seeddisabilities.py
Due: build server

Style fix
  server/cbr_api/migrations/0050_alter_referral_orthotic_injury_location_and_more.py
  server/cbr_api/models.py
  web/tsconfig.json
Due: build web, build server

Adding list to other options
  common/src/util/referrals.ts
  web/src/pages/NewReferral/NewReferral.tsx
Due: build common, build mobile, build web, test common

Adding new other service options to server
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  common/src/util/referrals.ts
  web/src/pages/NewReferral/NewReferral.tsx
Due: build common, build mobile, build web, test common

Remove duplicate file
  mobile/src/screens/NewReferral/ReferralForm/NutritionAgricultureForm 2.tsx
Due: build mobile

Adding other option to physio
  mobile/package-lock.json
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  web/tsconfig.json
Due: build mobile, build web

Other condition check fix
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
Due: build mobile

Other service options
  mobile/package-lock.json
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
Due: build mobile

Formating
  web/tsconfig.json
Due: build web

Add mental health risk to new client
  common/src/forms/Client/clientFields.ts
  common/src/util/risks.ts
  server/cbr_api/migrations/0050_alter_referral_orthotic_injury_location_and_more 2.py
  web/cbr-common-1.0.0 2.tgz
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, build server, test common

Adding mental as risk to server
  common/src/forms/Client/clientHandler.ts
  server/cbr_api/migrations/0051_merge_20230529_1405.py
  server/cbr_api/migrations/0052_client_mental_risk_level_client_mental_timestamp_and_more.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build common, build mobile, build web, build server, test common

Mental shown in details, mental visits, mental added to seedDB
  server/cbr_api/filters.py
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seedvisits.py
  server/cbr_api/migrations/0053_visit_mental_visit.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  web/package-lock.json
  web/package.json
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/util/riskIcon.tsx
  web/tsconfig.json
Due: build web, build server

Add mental visit to timeline
  common/src/util/visits.ts
  server/cbr_api/management/commands/seedvisits.py
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
Due: build common, build mobile, build web, build server, test common

Mental health visit form
  common/src/forms/newVisit/visitFormFields.ts
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/formFields.ts
Due: build common, build mobile, build web, test common

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
