Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

switch to 3 cards per row for admin view
  web/src/pages/SuccessStoriesList/SuccessStoriesList.tsx
Due: build web

revert accidental change
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/pages/NewSuccessStory/NewSuccessStory.tsx
Due: build web

remove duplicate photo preview
  web/src/pages/NewSuccessStory/NewSuccessStory.tsx
Due: build web

formatting
  server/cbr_api/migrations/0082_alter_successstory_photo.py
  server/cbr_api/models.py
  server/cbr_api/sql.py
  server/manage.py
Due: build server

formatting
  scripts/dump_db_as_csv/script.py
Due: none

use correct black format version
  server/cbr_api/sql.py
Due: build server

add support for title and update cards for title change
  server/cbr_api/migrations/0083_successstory_title.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/NewSuccessStory/NewSuccessStory.tsx
  web/src/pages/SuccessStoriesList/SuccessStoriesList.tsx
  web/src/pages/SuccessStoryView/SuccessStoryView.tsx
  web/src/util/successStories.ts
Due: build web, build server

black formatting
  server/cbr_api/migrations/0083_successstory_title.py
Due: build server

Added uplaod photo instructions.
  .husky/pre-commit
  mobile/package-lock.json
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
  package-lock.json
Due: build mobile

Add Detox E2E test infrastructure WORKING now
  mobile/app.json
  mobile/babel.config.js
  mobile/e2e/globalSetup.js
  mobile/e2e/login.test.js
  mobile/e2e/warm-bundle.js
  mobile/package.json
  mobile/plugins/withDetoxTest.ts
Due: build mobile

fix UI layer bug on first load
  mobile/babel.config.js
  mobile/e2e/jest.config.js
  mobile/e2e/login.test.js
  mobile/e2e/sync.test.js
Due: build mobile

fix timeout issue on first test
  mobile/e2e/login.test.js
  mobile/package.json
Due: build mobile

add temp commit
  web/src/pages/NewSuccessStory/NewSuccessStory.tsx
Due: build web

fix flaky post-login errors
  mobile/e2e/login.test.js
  mobile/e2e/sync.test.js
Due: build mobile

Add bug reporting frontend functionality
  web/src/App.tsx
  web/src/pages/BugReport/BugReport.styles.ts
  web/src/pages/BugReport/BugReport.tsx
  web/src/pages/User/User.styles.ts
  web/src/pages/User/UserView.tsx
  web/src/util/pages.ts
Due: build web

Make username phone and zone on different lines and add card for opening report form
  web/src/pages/User/User.styles.ts
  web/src/pages/User/UserView.tsx
Due: build web

Add description telling user email will be sent and change title to make it more clear
  web/src/pages/BugReport/BugReport.tsx
  web/src/util/pages.ts
Due: build web

Add comment for clarity
  web/src/pages/BugReport/BugReport.tsx
Due: build web

Remove unnecessary comment
  web/src/pages/BugReport/BugReport.tsx
Due: build web

Add functionality to be able to send email to bug reporting account
  common/src/util/endpoints.ts
  server/cbr_api/email_notifications.py
  server/cbr_api/migrations/0084_emailsettings_category.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/templates/cbr_api/bug_report_email.html
  server/cbr_api/tests/models/test_email_settings_model.py
  server/cbr_api/tests/serializers/test_email_settings_serializer.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
  web/src/pages/Admin/AdminEmailSettings.tsx
  web/src/pages/BugReport/BugReport.styles.ts
  web/src/pages/BugReport/BugReport.tsx
Due: build common, build mobile, build web, build server, test common

Add tabs in email settings to clearly show different settings for referral and bug reporting
  web/src/pages/Admin/AdminEmailSettings.tsx
Due: build web

Add name at end of email title
  server/cbr_api/email_notifications.py
Due: build server

Reformat files for server
  server/cbr_api/email_notifications.py
  server/cbr_api/migrations/0084_emailsettings_category.py
  server/cbr_api/views.py
Due: build server

Reformat web files to pass pipeline
  web/src/pages/Admin/AdminEmailSettings.tsx
  web/src/pages/BugReport/BugReport.tsx
Due: build web

Fix tests to only check referral category when needed
  server/cbr_api/tests/models/test_email_settings_model.py
Due: build server

Refomat test file to pass pipeline
  server/cbr_api/tests/models/test_email_settings_model.py
Due: build server

Update package.json
  mobile/package.json
Due: build mobile

Fix date issues/clarity
  docker-compose.yml
  web/src/pages/SuccessStoriesList/SuccessStoriesList.tsx
  web/src/pages/SuccessStoryView/SuccessStoryView.tsx
Due: build web

Fix dates
  web/src/pages/SuccessStoryView/SuccessStoryView.tsx
Due: build web

Revert accidental change
  docker-compose.yml
Due: none

remove unecessary step in automation
  mobile/e2e/00-deviceSetup.test.js
Due: build mobile

feat: add app logs and recordings and fix UI animation flakiness
  mobile/.detoxrc.js
  mobile/README.md
  mobile/e2e/artifactPathBuilder.js
  mobile/e2e/globalSetup.js
  mobile/e2e/jest.config.js
  mobile/src/App.tsx
Due: build mobile

Fix prettier command that works for both win and lin.
  .husky/pre-commit
  package-lock.json
Due: none

Test
  web/src/pages/Admin/AdminPage.tsx
Due: build web

Added setup
  docs/SETUP.md
  web/src/pages/Admin/AdminPage.tsx
Due: build web

Fixed sync test and updated doc.
  mobile/README.md
  mobile/e2e/jest.config.js
  mobile/e2e/sync.test.js
  mobile/package.json
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

Add reporting bug modal to mobile so users can report a bug
  mobile/src/App.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.styles.ts
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/BugReport/BugReport.styles.ts
  mobile/src/screens/BugReport/BugReport.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.tsx
Due: build mobile

Restructure report modal to make it more less condensed
  mobile/src/components/UserProfileContents/UserProfileContents.styles.ts
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
Due: build mobile

Update report textbox to be a lighter colour to match web
  mobile/src/components/UserProfileContents/UserProfileContents.styles.ts
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/BugReport/BugReport.styles.ts
  mobile/src/screens/BugReport/BugReport.tsx
Due: build mobile

Fix bug where submit and clear buttons dissapear after adding image
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  mobile/src/screens/BugReport/BugReport.styles.ts
  mobile/src/screens/BugReport/BugReport.tsx
Due: build mobile
