Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

fix(client risk cards): pretty up and clean up styling
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

feat(modal form): add support for risk goals
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/package-lock.json
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build common, build mobile, build web, test common

feat(modal form): translate strings
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/components/ModalWindow.tsx
Due: build mobile

feat(modal form): disable touchable ripple if needed
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

chore(modal form): do some cleanup prior to opening PR
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/hooks/useFormValueGenerator.ts
  mobile/src/components/ModalForm/utils.ts
Due: build mobile

refactor(db sync): remove some old logs
  mobile/src/util/syncHandler.ts
Due: build mobile

refactor(modal form): small refactors and renamings
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/components/ModalTrigger.tsx
  mobile/src/components/ModalForm/components/ModalWindow.tsx
  mobile/src/components/ModalForm/utils.ts
Due: build mobile

feat(modal form): add placeholder checkbox options gathered from database dump
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/risks.ts
  mobile/package-lock.json
  mobile/src/components/ModalForm/components/ModalTrigger.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build common, build mobile, build web, test common

temp(modal form): make demo text red
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

refactor(modal form): move helper functions into common
  common/src/util/risks.ts
  mobile/package-lock.json
  mobile/src/components/ModalForm/utils.ts
Due: build common, build mobile, build web, test common

temp(modal form): temporarily add some display text for demo purposes
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

chore(modal form): add unpushed artifacts
  common/src/@types/resources.d.ts
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

chore(modal form): regenerate package lock
  mobile/package-lock.json
Due: build mobile

ci: create explicit caddy_data volume to persist SSL cert
  caddy/Dockerfile
  docker-compose.deploy.yml
Due: test caddy

fix: temp patch for useDisabilities test case
  common/src/util/hooks/disabilities.ts
  common/test/util/hooks/disabilities.spec.ts
Due: build common, build mobile, build web, test common

deps: bump jest types for v28
  common/package-lock.json
  common/package.json
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

fix: make type explicit
  common/test/util/hooks/currentUser.spec.ts
Due: build common, build mobile, build web, test common

fix: patch fetch-mock imports for updated ts-jest
  common/test/testHelpers/testCommonConfiguration.ts
  common/test/util/auth.spec.ts
  common/test/util/clients.spec.ts
  common/test/util/endpoints.spec.ts
  common/test/util/hooks/cachedAPI.spec.ts
  common/test/util/hooks/currentUser.spec.ts
  common/test/util/hooks/disabilities.spec.ts
  common/test/util/hooks/zones.spec.ts
Due: build common, build mobile, build web, test common

refactor(modal form): add typing for helper display function
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(modal form): do translation lookup inside component
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

cleanup(modal form): extract custom types into common
  common/index.ts
  common/src/types/translationKeys.ts
  mobile/package-lock.json
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/utils.ts
Due: build common, build mobile, build web, test common

style(modal form): increase padding for form contents
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

cleanup(modal form): comment out demo text
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

fix: resolve RLocks not greened error in server deployment
  server/cbr/wsgi.py
  server/manage.py
Due: build server

deps: update gunicorn to 22.0.0
  server/requirements.txt
Due: build server

deps: bump eventlet to 0.38.1
  server/requirements.txt
Due: build server

feat(modal form): have it so that the underlying value of the form is a string
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

feat(modal form): translate values for modal form in client risk page
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build common, build mobile, build web, test common

fix(modal form): fix visual bug when no freeform text is inputted
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

feat(modal form): set up basic component
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(modal form): extract sub components
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/components/Modal.tsx
  mobile/src/components/ModalForm/components/ModalTrigger.tsx
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

feat(modal form): prevent from being opened if disabled
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(modal form): improve styling
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

feat(modal form): make font size bigger and some other styling
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
