Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

Set visit field boolean
  common/src/forms/newVisit/visitFormHandler.ts
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
Due: build common, build mobile, build web, test common

Add chart to risk history
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
Due: build web

Dashboard priority fix for mental
  common/src/util/clients.ts
  web/src/pages/Dashboard/Dashboard.tsx
Due: build common, build mobile, build web, test common

Mental sorting for client list
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/requestClientRows.ts
Due: build web

Add mental to stats visits
  common/src/util/stats.ts
  server/cbr_api/sql.py
  web/src/pages/Stats/VisitStats.tsx
Due: build common, build mobile, build web, build server, test common

Add mental condition to baseline survey
  common/src/forms/BaseSurvey/baseSurveyFields.ts
  common/src/forms/BaseSurvey/baseSurveyHandler.ts
  common/src/util/survey.ts
  server/cbr_api/migrations/0054_baselinesurvey_health_have_mental_condition.py
  server/cbr_api/models.py
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
Due: build common, build mobile, build web, build server, test common

Dropdown menu for mental referrals
  common/src/forms/Referral/referralFields.ts
  common/src/util/referrals.ts
  web/src/pages/NewReferral/NewReferral.tsx
Due: build common, build mobile, build web, test common

Add metal_health referral to back end
  common/src/forms/Referral/referralHandler.ts
  common/src/util/referrals.ts
  server/cbr_api/migrations/0055_referral_mental_health_and_more.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  web/src/pages/NewReferral/NewReferral.tsx
Due: build common, build mobile, build web, build server, test common

mental referral now represented in timeline
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  common/src/util/referrals.ts
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: build common, build mobile, build web, test common

Add mental to outstanding refs
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

Mental health represented in stats
  common/src/util/stats.ts
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  web/src/pages/Stats/ReferralStats.tsx
Due: build common, build mobile, build web, build server, test common

Typo
  web/src/pages/Stats/ReferralStats.tsx
Due: build web

Fixing style errors
  server/cbr_api/migrations/0051_merge_20230529_1405.py
  server/cbr_api/migrations/0052_client_mental_risk_level_client_mental_timestamp_and_more.py
  server/cbr_api/migrations/0053_visit_mental_visit.py
  server/cbr_api/migrations/0054_baselinesurvey_health_have_mental_condition.py
  server/cbr_api/migrations/0055_referral_mental_health_and_more.py
  web/tsconfig.json
Due: build web, build server

remove console.logs and style
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/Stats/ReferralStats.tsx
Due: build web

Add mental to client tests
  common/test/util/clients.spec.ts
Due: build common, build mobile, build web, test common

Add client with one extreme risk
  common/test/util/clients.spec.ts
Due: build common, build mobile, build web, test common

Fixed tests
  common/test/util/clients.spec.ts
Due: build common, build mobile, build web, test common

Add columns and sync watermelon mental
  common/src/forms/Client/mobileClientHandler.ts
  mobile/package-lock.json
  mobile/src/models/Client.ts
  mobile/src/models/Referral.ts
  mobile/src/models/Visit.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/util/syncHandler.ts
  web/tsconfig.json
Due: build common, build mobile, build web, test common

Adding mental risk card to client details
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

Timeline contains mental visit
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/util/riskIcon.tsx
Due: build mobile

New mental visit
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
Due: build mobile

Fixing style
  web/tsconfig.json
Due: build web

Style fix
  web/tsconfig.json
Due: build web

Mental health referal form
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/MentalHealthForm.tsx
Due: build mobile

Add mental referral to timeline
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

Mental outstanding referrals
  mobile/src/screens/DashBoard/DashboardRequest.ts
Due: build mobile

Fix validation
  common/src/forms/Referral/referralFields.ts
Due: build common, build mobile, build web, test common

Mental risk inidicators for dashboard and list
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/util/listFunctions.ts
Due: build mobile

Mental referall and visits shown in stats
  common/src/forms/Referral/referralFields.ts
  mobile/package-lock.json
  mobile/src/screens/Stats/Stats.tsx
Due: build common, build mobile, build web, test common

New client mental risk
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

Adding mental to baseline survey
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/BaseSurvey/SurveyForm/HealthForm.tsx
  mobile/src/screens/BaseSurvey/formHandler.ts
  web/tsconfig.json
Due: build mobile, build web

Fix style
  web/tsconfig.json
Due: build web

Remove logs
  mobile/src/screens/BaseSurvey/formHandler.ts
Due: build mobile

add logging configurations
  docker-compose.yml
  fluentbit/fluent-bit.conf
  server/cbr/settings.py
Due: build server

add ability to delete zones, handle failed delete
  common/src/util/endpoints.ts
  web/src/pages/Zone/ZoneEdit.tsx
Due: build common, build mobile, build web, test common

add caddy configuration
  caddy/Caddyfile
  docker-compose.deploy.yml
Due: test caddy

Add GitHub CI/CD pipeline for build and deploy to dev and stg
  .github/workflows/deploy-from-dockerhub.yml
  .github/workflows/main-cicd.yml
  .github/workflows/retag-and-upload-dockerhub.yml
Due: none

add logging to pipeline - test dev deployment
  docker-compose.deploy.yml
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
Due: build server

reformatting
  server/cbr/settings.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
Due: build server

add requirements
  server/requirements.txt
Due: build server

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
