Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build server

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  MASTER_BRANCH: "master"

build client:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - client/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - npx prettier --check .
    - CI=false npm run build
  after_script:
    - tar -czvf client_build.tar.gz client/build
  artifacts:
    paths:
      - client_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: cbr_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py test
  
deploy:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/.env ./.env
    - tar -xvf client_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    # wait for Postgres to start so we can run database migrations
    - docker exec cbr_django timeout 60 bash -c "while ! bash -c 'echo > /dev/tcp/postgres/5432'; do sleep 1; done" &>-
    - docker exec cbr_django python manage.py migrate

Implement search by full name
  client/src/pages/AdminList/AdminList.tsx
  client/src/pages/AdminList/requestUserRows.ts
Due: build client

Implement search by id
  client/src/pages/AdminList/AdminList.tsx
Due: build client

Implement search to search first names and last names
  client/src/pages/AdminList/AdminList.tsx
  client/src/pages/AdminList/requestUserRows.ts
Due: build client

Fix searching to work with full names
  client/src/pages/AdminList/AdminList.tsx
Due: build client

Fix potential bug if api error
  client/src/pages/AdminList/requestUserRows.ts
Due: build client

Hook up the endpoint for toggle button(My Clients)
  client/src/pages/ClientList/ClientList.tsx
  client/src/pages/ClientList/requestClientRows.ts
Due: build client

Fix a missing dependency: 'allClientsMode'
  client/src/pages/ClientList/ClientList.tsx
Due: build client

Moving client visit / risk components into client details folder
  client/src/pages/ClientDetails/ClientDetails.tsx
  client/src/pages/ClientDetails/ClientInfoForm.tsx
  client/src/pages/ClientDetails/RiskHistory/ClientRiskHistory.tsx
  client/src/pages/ClientDetails/RiskHistory/RiskHistory.styles.ts
  client/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  client/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  client/src/pages/ClientDetails/Risks/ClientRisks.styles.ts
  client/src/pages/ClientDetails/Risks/ClientRisks.tsx
  client/src/pages/ClientDetails/Risks/riskFormFieldHandler.ts
  client/src/pages/ClientDetails/Risks/riskFormFields.ts
  client/src/pages/ClientDetails/VisitHistory/ClientVisitHistory.tsx
  client/src/pages/ClientDetails/VisitHistory/VisitHistory.styles.ts
  client/src/pages/ClientDetails/VisitHistory/VisitHistoryTimeline.tsx
  client/src/util/pages.ts
Due: build client

Show client visit timeline on client details page
  client/src/pages/ClientDetails/ClientDetails.tsx
  client/src/pages/ClientDetails/VisitHistory/ClientVisitHistory.tsx
  client/src/pages/ClientDetails/VisitTimeline/ClientVisitTimeline.styles.ts
  client/src/pages/ClientDetails/VisitTimeline/ClientVisitTimeline.tsx
  client/src/util/pages.ts
Due: build client

Load client, zones and disabilities in parallel in ClientDetails
  client/src/pages/ClientDetails/ClientDetails.tsx
  client/src/pages/ClientDetails/formHandler.ts
  client/src/util/clients.ts
  client/src/util/dates.ts
Due: build client

Add skeleton UI to client details page; show error if client could not be loaded
  client/src/pages/ClientDetails/ClientDetails.tsx
  client/src/pages/ClientDetails/Risks/ClientRisks.tsx
  client/src/util/dates.ts
Due: build client

Separate client visit timeline into multiple files
  client/src/pages/ClientDetails/ClientDetails.tsx
  client/src/pages/ClientDetails/VisitTimeline/ClientVisitTimeline.tsx
  client/src/pages/ClientDetails/VisitTimeline/CreatedEntry.tsx
  client/src/pages/ClientDetails/VisitTimeline/SkeletonEntry.tsx
  client/src/pages/ClientDetails/VisitTimeline/VisitEntry.tsx
  client/src/util/endpoints.ts
Due: build client

Improve the performance using cache.ts and fix the code review
  client/src/pages/ClientList/requestClientRows.ts
  client/src/util/cache.ts
Due: build client

Show visit details on visit timeline popup
  client/src/pages/ClientDetails/VisitTimeline/ClientVisitTimeline.styles.ts
  client/src/pages/ClientDetails/VisitTimeline/VisitEntry.tsx
  client/src/util/visits.ts
Due: build client

Add background color to visit popup accordion
  client/src/pages/ClientDetails/VisitTimeline/ClientVisitTimeline.styles.ts
  client/src/pages/ClientDetails/VisitTimeline/VisitEntry.tsx
Due: build client

Pull out common timeline code from risk timeline and visit timeline
  client/src/pages/ClientDetails/RiskHistory/RiskHistory.styles.ts
  client/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  client/src/pages/ClientDetails/Timeline/ClientCreatedEntry.tsx
  client/src/pages/ClientDetails/Timeline/SkeletonEntry.tsx
  client/src/pages/ClientDetails/Timeline/timelines.styles.ts
  client/src/pages/ClientDetails/VisitTimeline/ClientVisitTimeline.tsx
  client/src/pages/ClientDetails/VisitTimeline/VisitEntry.styles.ts
  client/src/pages/ClientDetails/VisitTimeline/VisitEntry.tsx
Due: build client

Pull out common TimelineEntry component
  client/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  client/src/pages/ClientDetails/Timeline/ClientCreatedEntry.tsx
  client/src/pages/ClientDetails/Timeline/SkeletonEntry.tsx
  client/src/pages/ClientDetails/Timeline/TimelineEntry.tsx
  client/src/pages/ClientDetails/VisitTimeline/VisitEntry.tsx
Due: build client

Use new timestamp functions rather than raw Date object
  client/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  client/src/pages/NewClient/formHandler.ts
  client/src/util/dates.ts
Due: build client

Remove allClientsMode dependency array
  client/src/pages/ClientList/ClientList.tsx
Due: build client

Add the start of a test data creation script
  server/cbr_api/management/commands/createtestdata.py
Due: build server

Add script to create admin and users for testing
  server/cbr_api/management/commands/createtestdata.py
Due: build server

Fix the caregivername from code review
  client/src/pages/ClientDetails/formFields.ts
  client/src/pages/NewClient/formFields.ts
Due: build client

Correct from the code review
  client/src/pages/Logout/Logout.tsx
  client/src/util/auth.ts
Due: build client

Add default sort by name ASC to client list and user list
  client/src/pages/AdminList/AdminList.tsx
  client/src/pages/ClientList/ClientList.tsx
Due: build client

Replace ToDo component with simple Dashboard component
  client/src/pages/Dashboard/Dashboard.tsx
  client/src/pages/ToDo/ConnectionTest.tsx
  client/src/pages/ToDo/FormExample/FormExample.tsx
  client/src/pages/ToDo/FormExample/fields.ts
  client/src/pages/ToDo/FormExample/handlers.ts
  client/src/pages/ToDo/ToDo.tsx
  client/src/util/pages.ts
Due: build client

Redesign the system into smaller classes
  docs/CONTRIBUTION.md
  server/cbr_api/management/commands/createtestdata.py
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seeddatabase.py
  server/cbr_api/management/commands/seeddisabilities.py
  server/cbr_api/management/commands/seedusers.py
  server/cbr_api/management/commands/seedvisits.py
  server/cbr_api/management/commands/seedzones.py
Due: build server

Solve login issues and standardize parameter capitalization
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seedusers.py
  server/cbr_api/management/commands/seedvisits.py
Due: build server

Randomize creation times and add risk level updates
  docs/CONTRIBUTION.md
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seedusers.py
  server/cbr_api/management/commands/seedvisits.py
Due: build server

Run black formatter
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seedusers.py
  server/cbr_api/management/commands/seedvisits.py
Due: build server

Simplify documentation and add flush command explanation
  docs/CONTRIBUTION.md
Due: none

Change username of seeded admin user
  docs/CONTRIBUTION.md
  server/cbr_api/management/commands/seedusers.py
Due: build server

Fix issues with client risk display and selection
  server/cbr_api/management/commands/seedclients.py
Due: build server

Fix mismatched risk types on created visits
  server/cbr_api/management/commands/seedvisits.py
Due: build server

Add randomized details to various text fields
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seedvisits.py
Due: build server

Improve and fix risk generation
  server/cbr_api/management/commands/seedclients.py
Due: build server

added formik state layout
  client/src/pages/NewVisit/NewVisit.tsx
  client/src/pages/NewVisit/formFields.ts
  client/src/pages/NewVisit/formHandler.ts
Due: build client

Fix risks (again) and reduce code duplication
  server/cbr_api/management/commands/seedclients.py
Due: build server

removed redundant search filter condition
  client/src/pages/AdminList/AdminList.tsx
Due: build client

Add role field to UserCBR, add role and is_active to UserCBR serializers, add role based permissions to userlist, userdetail, userCurrent, userPassword.
  server/cbr_api/migrations/0009_usercbr_role.py
  server/cbr_api/models.py
  server/cbr_api/permissions.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

[ehinchli, ckl47] Realize there's no need for ViewSet, complete overhaul of permissions.py to make it much nicer.
  server/cbr_api/migrations/0009_usercbr_role.py
  server/cbr_api/models.py
  server/cbr_api/permissions.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server
