Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

109: Added push serializer for alerts
  common/src/forms/Alert/alertFields.ts
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build common, build mobile, build web, build server, test common

Add migration to add alert table for watermelondb
  mobile/src/models/Alert.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
Due: build mobile

Using newer version of material ui remove findNode error
  web/src/pages/Stats/StatsDateFilter.tsx
Due: build web

keep user_id as a string
  server/cbr_api/sql.py
  server/cbr_api/views.py
  web/src/pages/Stats/StatsUserFilter.tsx
Due: build web, build server

Add wrapper to fix chart/fix referal stat error
  mobile/package-lock.json
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

Get rid of wrapper for VictoryChart
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

Style fix
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

109: Backend changes for alert syncing for mobile
  server/cbr_api/migrations/0048_alert_server_created_at_alert_updated_at.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build server

109: Temporary save for frontend mobile changes. Currently running into a bug where pullChanges doesn't pull to alert table
  mobile/package-lock.json
  mobile/src/models/Alert.ts
  mobile/src/models/constant.ts
  mobile/src/models/index.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

Enabling update of initial values for formik form
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

109: Fixed a bug where syncing creates two records for same data
  mobile/src/models/Alert.ts
  mobile/src/util/syncHandler.ts
  server/cbr_api/migrations/0048_alert_server_created_at_alert_updated_at.py
  server/cbr_api/migrations/0049_alter_alert_id.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
Due: build mobile, build server

109: Update seedalerts based on the changes to alerts model
  docs/CONTRIBUTION.md
  server/cbr_api/management/commands/seedalerts.py
Due: build server

109: Added alert inbox screen for mobile
  mobile/src/models/Alert.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/AlertInbox/AlertInbox.styles.ts
  mobile/src/screens/AlertInbox/AlertInbox.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.tsx
Due: build mobile

Nutritiona and agri added to other count
  server/cbr_api/sql.py
Due: build server

109: Remove delete alert function for now
  mobile/src/screens/AlertInbox/AlertInbox.tsx
Due: build mobile

109: Fix get alert details failing due to changing pk from int to str
  server/cbr_api/urls.py
Due: build server

109: unread_by_users updated when user reads an alert in mobile
  mobile/src/screens/AlertInbox/AlertInbox.tsx
Due: build mobile

109: Fix unread_by_users not updating when syncing with server
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build server

109: Delete alert syncing for mobile
  mobile/src/screens/AlertInbox/AlertInbox.tsx
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build mobile, build server

109: Fix some alert styling issues
  mobile/src/screens/AlertInbox/AlertInbox.styles.ts
  mobile/src/screens/AlertInbox/AlertInbox.tsx
Due: build mobile

109: Remove unnecessary changes
  server/cbr_api/models.py
Due: build server

109: Add empty alert inbox styling
  mobile/src/screens/AlertInbox/AlertInbox.styles.ts
  mobile/src/screens/AlertInbox/AlertInbox.tsx
Due: build mobile

109: Fix pipeline failing due to prettier
  mobile/src/models/constant.ts
  mobile/src/models/index.ts
Due: build mobile

Add column in referal stats bar chart
  common/src/util/stats.ts
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  web/src/pages/Stats/ReferralStats.tsx
  web/src/pages/Stats/Stats.tsx
Due: build common, build mobile, build web, build server, test common

clean up
  web/src/pages/Stats/Stats.tsx
Due: build web

109: Temporary save for frontend mobile changes. Currently running into a bug where pullChanges doesn't pull to alert table
  mobile/src/models/Alert.ts
  mobile/src/models/constant.ts
  mobile/src/models/index.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

Remove infinite state update loop
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
Due: build web
