Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build server

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  MASTER_BRANCH: "master"

build client:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - client/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - npx prettier --check .
    - CI=false npm run build
  after_script:
    - tar -czvf client_build.tar.gz client/build
  artifacts:
    paths:
      - client_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: cbr_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py test
  
deploy:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/.env ./.env
    - tar -xvf client_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    # wait for Postgres to start so we can run database migrations
    - docker exec cbr_django timeout 60 bash -c "while ! bash -c 'echo > /dev/tcp/postgres/5432'; do sleep 1; done" &>-
    - docker exec cbr_django python manage.py migrate

Ran prettier again:(
  client/src/pages/AdminList/AdminList.tsx
Due: build client

Change way of updating full_name Change way of updating full_name. Removed filtering by first_name and last_name as no longer needed with implementation of full_name
  server/cbr_api/filters.py
  server/cbr_api/serializers.py
Due: build server

Modify the Visits table and related many-to-one relationships
  server/cbr_api/migrations/0002_auto_20210301_2333.py
  server/cbr_api/models.py
Due: build server

8: Resolving some (not all) of the threads
  client/src/pages/ClientDetails/ClientDetails.tsx
  client/src/pages/ClientDetails/ClientInfo.tsx
  client/src/pages/ClientDetails/formFields.ts
  client/src/pages/ClientList/ClientList.tsx
  client/src/pages/NewClient/ClientForm.tsx
Due: build client

Create Visit, Improvement, and Outcome serializers
  server/cbr_api/migrations/0003_auto_20210302_0103.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

8: Resolving some of the threads
  client/src/pages/ClientDetails/ClientDetails.tsx
  client/src/pages/ClientDetails/ClientInfo.tsx
  client/src/pages/ClientDetails/ClientRisks.tsx
  client/src/pages/ClientDetails/formFields.ts
  client/src/pages/NewClient/ClientForm.tsx
  client/src/pages/NewClient/formFields.ts
Due: build client

8: Resolving last threads
  client/src/pages/ClientDetails/formHandler.ts
Due: build client

8: Adding space between inputs for risk form modal
  client/src/pages/ClientDetails/ClientRisks.tsx
Due: build client

created base new visit multistep form
  client/src/pages/NewVisit/NewVisit.tsx
  client/src/pages/NewVisit/formFields.ts
  client/src/pages/NewVisit/formHandler.ts
  client/src/util/pages.ts
Due: build client

Change 'client' to 'user' in variable names
  client/src/pages/AdminList/AdminList.tsx
  client/src/pages/AdminList/requestAdminRows.ts
Due: build client

Finish the view page
  client/src/pages/Admin/AdminEdit.tsx
  client/src/pages/Admin/AdminView.tsx
  client/src/pages/Admin/fields.ts
  client/src/util/endpoints.ts
Due: build client

Create disability endpoints
  server/cbr/settings.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

Change file name to requestUserRows.ts
  client/src/pages/AdminList/requestUserRows.ts
Due: build client

Fix name inconsistencies
  client/src/pages/AdminList/AdminList.tsx
Due: build client

8: Resolving some threads
  client/public/images/profile_pic_icon.png
  client/src/pages/ClientDetails/ClientInfo.tsx
  client/src/pages/ClientDetails/formFields.ts
  client/src/pages/ClientDetails/formHandler.ts
  client/src/pages/NewClient/ClientForm.tsx
  client/src/pages/NewClient/formFields.ts
  client/src/pages/NewClient/formHandler.ts
Due: build client

changed frontend to support full name search
  client/src/pages/ClientList/requestClientRows.ts
Due: build client

8: Resolving threads
  client/src/pages/ClientDetails/ClientRisks.styles.ts
  client/src/pages/ClientDetails/ClientRisks.tsx
Due: build client

8: Ran prettier
  client/src/pages/ClientDetails/ClientInfo.tsx
  client/src/pages/NewClient/ClientForm.tsx
Due: build client

Refactor visit serializer's create method
  server/cbr_api/serializers.py
Due: build server

changed default search option to name
  client/src/pages/ClientList/ClientList.tsx
  client/src/pages/ClientList/searchOptions.ts
Due: build client

Merge divergent Django migrations
  server/cbr_api/migrations/0004_merge_20210302_2235.py
Due: build server

8: Disabling caregiver input fields when not in edit mode for client details page
  client/src/pages/ClientDetails/ClientInfo.tsx
Due: build client

Finish the new admin
  client/src/pages/Admin/AdminEdit.tsx
  client/src/pages/Admin/AdminNew.tsx
  client/src/pages/Admin/AdminView.tsx
  client/src/pages/Admin/fields.ts
  client/src/pages/Admin/handler.ts
Due: build client

Make zone display the text
  client/src/pages/User/UserView.tsx
  client/src/pages/User/fields.ts
Due: build client

Make Admin edit page work
  client/src/pages/Admin/AdminEdit.tsx
  client/src/pages/Admin/handler.ts
Due: build client

Delete the id when we create the new user
  client/src/pages/Admin/AdminNew.tsx
Due: build client

Add caregiver_name to client
  client/package-lock.json
  package-lock.json
  server/cbr_api/migrations/0005_client_caregiver_name.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build client, build server

[gwolf, ckl47] Clients can be created with disabilities
  server/cbr_api/migrations/0002_auto_20210303_1750.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

Make workoption as dictionary
  client/src/pages/Admin/AdminEdit.tsx
  client/src/pages/Admin/AdminNew.tsx
  client/src/pages/Admin/fields.ts
  client/src/pages/Admin/handler.ts
Due: build client

[ehinchli, ckl47] Finish disability endpoints
  server/cbr/settings.py
  server/cbr_api/migrations/0002_auto_20210303_1750.py
  server/cbr_api/migrations/0003_auto_20210303_1921.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

66: User should be able to edit client's risks on client details page
  client/src/pages/ClientDetails/ClientRisks.tsx
  client/src/pages/ClientDetails/riskFormFieldHandler.ts
  client/src/util/endpoints.ts
Due: build client

66: Pull from master + submitting forgotten edited file
  client/src/pages/ClientDetails/ClientDetails.tsx
Due: build client

Connect with the admin list
  client/src/pages/Admin/AdminView.tsx
  client/src/util/endpoints.ts
Due: build client

[ehinchli, ckl37] Fix migrations and add seed script for disabilities.
  docs/CONTRIBUTION.md
  server/cbr_api/management/commands/seeddisabilities.py
  server/cbr_api/migrations/0005_merge_20210303_1938.py
Due: build server

Run black
  server/cbr_api/management/commands/seeddisabilities.py
  server/cbr_api/migrations/0005_merge_20210303_1938.py
Due: build server

[ehinchli, ckl47] Fix tests.py
  server/cbr_api/tests.py
Due: build server

Revert "Add caregiver_name to client"
  client/package-lock.json
  package-lock.json
  server/cbr_api/migrations/0005_client_caregiver_name.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build client, build server

Add caregiver_name to client Also reverted unintended changes to previous files.
  server/cbr_api/migrations/0005_client_caregiver_name.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

66: Passing entire clientInfo to clientRisk && cleaning up client risk component so that it is more cleaner and reusable
  client/src/pages/ClientDetails/ClientDetails.tsx
  client/src/pages/ClientDetails/ClientRisks.styles.ts
  client/src/pages/ClientDetails/ClientRisks.tsx
  client/src/pages/ClientDetails/riskFormFieldHandler.ts
Due: build client

66: Removing console.log
  client/src/pages/ClientDetails/ClientDetails.tsx
Due: build client
