Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

chore: minor Admin cleanup
  web/src/pages/Admin/Admin.styles.ts
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/Admin/AdminView.tsx
  web/src/pages/AdminList/AdminList.styles.ts
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/ZoneList/ZoneList.tsx
  web/src/pages/ZoneList/reqeustZoneRows.ts
Due: build web

chore: fix typo in requestZoneRows filename
  web/src/pages/ZoneList/ZoneList.tsx
  web/src/pages/ZoneList/requestZoneRows.ts
Due: build web

fix: Admin Users table now sorts (mui 5)
  web/src/pages/AdminList/AdminList.tsx
Due: build web

refactor: move AlertList styles to new file
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/AlertInbox/AlertList.styles.ts
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

refactor: rename AlertList styles file for consistency
  web/src/pages/AlertInbox/AlertInbox.styles.ts
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

fix: update ClientInfoForm to mui 5
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/NewAlert/AlertForm.tsx
Due: build web

fix: updated RiskHistoryCharts styles to mui 5
  web/src/pages/ClientDetails/RiskHistory/RiskHistory.styles.ts
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
Due: build web

chore: remove unneeded
  web/src/pages/ClientDetails/RiskHistory/RiskHistory.styles.ts
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
Due: build web

refactor: update Timeline style filename for consistency
  web/src/pages/ClientDetails/Timeline/Timeline.styles.ts
Due: build web

feat(new alert page): translate strings
  web/src/pages/NewAlert/AlertForm.tsx
Due: build web

Refactor(stats page): introduce sub-folder for chart components
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/index.ts
Due: build web

feat(client list): translate strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/components/Toolbar.tsx
Due: build common, build mobile, build web, test common

feat(user page): translate strings
  web/src/pages/User/UserPasswordEdit.tsx
  web/src/pages/User/UserView.tsx
Due: build web

Refactor(stats page): extract filterbar component
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
  web/src/pages/Stats/components/filterbar/StatsUserFilter.tsx
  web/src/pages/Stats/components/filterbar/index.ts
  web/src/pages/Stats/components/index.ts
Due: build web

Feat(stats page): translate remaining strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
  web/src/pages/Stats/components/filterbar/StatsUserFilter.tsx
Due: build common, build mobile, build web, test common

refactor(alert inbox): cleanup code
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

feat(alert inbox): translate strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build common, build mobile, build web, test common

refactor(client list): extract toolbar component
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/components/Toolbar.tsx
  web/src/util/risks.ts
Due: build web

feat(new visit form): add translations
  common/src/@types/resources.d.ts
  common/src/forms/newVisit/visitFormFields.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/ImprovementField.tsx
  web/src/pages/NewVisit/components/OutcomeField.tsx
  web/src/pages/NewVisit/components/VisitReasonStep.tsx
  web/src/pages/NewVisit/components/index.ts
Due: build common, build mobile, build web, test common

feat(stats page): translate strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/DisabilityStats.tsx
  web/src/pages/Stats/components/ReferralStats.tsx
  web/src/pages/Stats/components/VisitStats.tsx
Due: build common, build mobile, build web, test common

refactor(alerts inbox): sub-folder for helper components
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/components/AlertDetail.tsx
  web/src/pages/AlertInbox/components/AlertList.tsx
  web/src/pages/AlertInbox/components/index.ts
Due: build web

refactor(stats page): create sub-folder for helper components
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/DisabilityStats.tsx
  web/src/pages/Stats/components/ExportStats.tsx
  web/src/pages/Stats/components/ReferralStats.tsx
  web/src/pages/Stats/components/StatsDateFilter.tsx
  web/src/pages/Stats/components/StatsUserFilter.tsx
  web/src/pages/Stats/components/VisitStats.tsx
  web/src/pages/Stats/components/index.ts
Due: build web

chore: remove console log
  web/src/util/risks.ts
Due: build web

Feat(statistics): translate labels for inputs in modal
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
Due: build common, build mobile, build web, test common

fix: update ClientTimeline styles for mui 5
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/Timeline/ShowMoreEntry.tsx
  web/src/pages/ClientDetails/Timeline/TimelineEntry.tsx
Due: build web

fix: update NewVisit styles to mui 5
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Timeline/ShowMoreEntry.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

Feat(edit zone page): translate strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/components/Dialogs/ConfirmDeleteZone.tsx
  web/src/pages/Zone/ZoneEdit.tsx
Due: build common, build mobile, build web, test common

fix: update NewReferral styles to mui 5
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/MentalHealthForm.tsx
  web/src/pages/NewReferral/forms/NutritionForm.tsx
  web/src/pages/NewReferral/forms/OtherServicesForm.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
  web/src/pages/NewReferral/forms/ProstheticOrthoticForm.tsx
  web/src/pages/NewReferral/forms/ReferralServiceForm.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
  web/src/pages/NewVisit/NewVisit.styles.ts
Due: build web

fix: update BaseSurvey styles for mui 5
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/baseSurvey.style.ts
Due: build web

fix: add padding to Stepper for mui 5 style match
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

fix: resolve PhotoView width at 960px breakpoint
  web/src/components/PhotoViewUpload/PhotoViewUpload.styles.ts
Due: build web

fix: resolve post-merge conflicts
  mobile/package-lock.json
  web/src/App.tsx
  web/src/components/GoBackButton/GoBackButton.tsx
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/components/SearchBar/SearchBar.tsx
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/index.tsx
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
  web/src/pages/Admin/AdminView.tsx
  web/src/pages/AlertInbox/components/AlertDetail.tsx
  web/src/pages/AlertInbox/components/AlertList.tsx
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/components/Toolbar.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/ImprovementField.tsx
  web/src/pages/NewVisit/components/OutcomeField.tsx
  web/src/pages/NewVisit/components/VisitReasonStep.tsx
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/User/UserPasswordEdit.tsx
  web/src/pages/Zone/ZoneEdit.tsx
  web/src/util/risks.ts
Due: build mobile, build web

refactor(lang picker): separate non-ui logic into separate utils file
  web/src/components/LanguagePicker/LanguagePicker.tsx
  web/src/components/LanguagePicker/utils.ts
Due: build web

feat(lang picker): save selected language into localStorage
  web/src/components/LanguagePicker/LanguagePicker.tsx
Due: build web
