Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

memoize FormikExposedDropdownMenu
  mobile/src/components/ExposedDropdownMenu/FormikExposedDropdownMenu.tsx
Due: build mobile

ExposedDropdownMenu: improve `values` prop check
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/ExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
Due: build mobile

memoize FormikTextInput to improve form performance
  mobile/src/components/FormikTextInput/FormikTextInput.tsx
Due: build mobile

add `touchOnChangeText` to FormikTextInput
  mobile/src/components/FormikTextInput/FormikTextInput.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

Implement the column builder
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: format common, build mobile

Moved RiskHandler and RiskField to common, POST request to edit risk works
  mobile/node_modules/@cbr/common/src/forms/Risks/riskFormFieldHandler.ts
  mobile/node_modules/@cbr/common/src/forms/Risks/riskFormFields.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

Refactored to make it cleaner + Card now updates on change
  mobile/node_modules/@cbr/common/src/forms/Risks/riskFormFieldHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

Pipeline fix attempt
  mobile/node_modules/@cbr/common/src/forms/Risks/riskFormFieldHandler.ts
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
Due: build mobile, build web

Pipeline fix
  common/src/forms/Risks/riskFormFieldHandler.ts
  common/src/forms/Risks/riskFormFields.ts
Due: format common, build mobile

update locals
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
Due: build mobile

update locals
  mobile/package-lock.json
Due: build mobile

Implement VisitEntry and update common
  common/src/util/risks.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
Due: format common, build mobile

Merged with main
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/UserList/UserList.styles.ts
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

Merged with main
  mobile/package-lock.json
Due: build mobile

Ran prettier
  common/src/forms/Risks/riskFormFieldHandler.ts
Due: format common, build mobile

Fixed imports
  common/src/forms/Risks/riskFormFieldHandler.ts
Due: format common, build mobile

Minor refactor
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

Main merge fix
  mobile/node_modules/@cbr/common/src/forms/Risks/riskFormFieldHandler.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

Response to comments
  common/src/forms/Referral/referralHandler.ts
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
Due: format common, build mobile

Implement VisitEntry
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
Due: build mobile

Finalize UI
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
Due: build mobile

Resolve thread
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
Due: build mobile

Fixed last threads
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/components/WrappedText/WrappedText.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/UserList/UserList.tsx
Due: format common, build mobile

Push style
  mobile/src/components/WrappedText/WrappedText.style.ts
Due: build mobile

Merged with main
  common/src/util/risks.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
Due: format common, build mobile

Solve issue
  common/src/util/risks.ts
  mobile/package-lock.json
Due: format common, build mobile

rename clientSortby to clientSortBy
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Minor changes
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

Main merge fix
  mobile/package-lock.json
Due: build mobile

Removed console log
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

Merged with main
  common/src/util/risks.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/UserList/UserList.tsx
Due: format common, build mobile

Added updated index
  mobile/node_modules/@cbr/common/index.ts
Due: build mobile

Removed unnecessary addition
  mobile/node_modules/@cbr/common/src/forms/Risks/riskFormFieldHandler.ts
  mobile/node_modules/@cbr/common/src/forms/Risks/riskFormFields.ts
Due: build mobile

Fixed unnecessary additions
  common/index.ts
  common/package-lock.json
Due: format common, build mobile

Removed node modules
  mobile/node_modules/@cbr/common/index.ts
Due: build mobile

Adjusted styles
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
Due: build mobile

Another style fix
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
Due: build mobile

cachedAPI: move away from Promise chaining
  common/src/util/hooks/cachedAPI.ts
Due: format common, build mobile

web: fix admin and stats pages not loading
  common/src/util/hooks/cachedAPI.ts
  common/test/util/hooks/cachedAPI.spec.ts
Due: format common, build mobile

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
