Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

use map instead of object for conflicts
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/redux/reducers.ts
  mobile/src/util/syncConflictFields.ts
  mobile/src/util/syncHandler.ts
  server/cbr_api/serializers.py
Due: build mobile, build server

add dialog to appear on other screens after auto sync
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/util/syncConflictFields.ts
Due: build mobile

give a user better type
  common/src/forms/Alert/alertHandler.ts
  package-lock.json
  web/package-lock.json
Due: format common, build mobile, build web

add client picture conflict to appear in dialog
  mobile/src/components/ConflictDialog/ConflictDialog.styles.ts
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/redux/reducers.ts
  mobile/src/util/syncConflictConstants.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

rescale image on web
  common/package-lock.json
  mobile/package-lock.json
  web/package-lock.json
  web/package.json
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
Due: format common, build mobile, build web

resize for referral image as well
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/components/ReferralPhotoView/PhotoView.tsx
Due: build web

mobile image resize logic added
  common/package-lock.json
  mobile/android/app/src/main/java/org/hopehealthaction/cbr/generated/BasePackageList.java
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  web/package-lock.json
Due: format common, build mobile, build web

removed console log and enum max file size
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/components/ReferralPhotoView/PhotoView.tsx
Due: build mobile, build web

remove console log
  web/src/components/ReferralPhotoView/PhotoView.tsx
Due: build web

ran prettier
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

removed unused imports and effects
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

ran prettier
  web/tsconfig.json
Due: build web

Reduce number of API calls to fetch alerts
  common/src/forms/Alert/alertHandler.ts
  server/cbr/sockets.py
  server/cbr_api/sql.py
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/pages/Dashboard/Dashboard.tsx
Due: format common, build mobile, build web, build server

Remove unused code
  server/cbr_api/sql.py
  server/cbr_api/views.py
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web, build server

launch dashboard refresh and fixed async logic
  mobile/package-lock.json
  mobile/src/App.tsx
  mobile/src/context/SyncContext/SyncContext.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/Login/Login.tsx
  mobile/src/util/syncHandler.ts
  web/tsconfig.json
Due: build mobile, build web

revised autosync and refresh logic, renamed scedule auto sync function
  mobile/src/App.tsx
  mobile/src/tasks/SyncDatabaseTask.ts
Due: build mobile

removed testing sync alert and revising sync interval time
  mobile/src/tasks/SyncDatabaseTask.ts
Due: build mobile

format code & cleanup
  mobile/src/App.tsx
  mobile/src/components/ConflictDialog/ConflictDialog.styles.ts
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/redux/actionTypes.ts
  mobile/src/redux/actions.ts
  mobile/src/redux/index.ts
  mobile/src/redux/reducers.ts
  mobile/src/redux/store.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/util/syncConflictConstants.ts
  mobile/src/util/syncHandler.ts
  web/tsconfig.json
Due: build mobile, build web

run prettier again
  mobile/src/redux/reducers.ts
Due: build mobile

missing some field names
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/util/syncConflictConstants.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

display nicer strings for rejected birthdate & disabilities
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/util/syncConflictConstants.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

rejChange should always be a string
  mobile/src/util/syncHandler.ts
Due: build mobile

updated use effect logic for toggling autosync
  mobile/src/App.tsx
Due: build mobile

Stop serving Django uploads folder since images are now stored in the db
  caddy/Caddyfile
  docker-compose.deploy.yml
  docker-compose.yml
  server/cbr/settings.py
Due: build server

Update deployment structure: 3 environments (dev, staging, prod), only one deployment per VM
  .gitlab-ci.yml
  caddy/Caddyfile
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
Due: none

Build proper Docker images rather than mounting code directories for deployments
  .gitlab-ci.yml
  caddy/Dockerfile
  docker-compose.deploy.yml
  server/Dockerfile
  server/Dockerfile.deploy
Due: build server

Persist Caddy data volume (no longer behind a reverse proxy so now it requests HTTPS certs)
  docker-compose.deploy.yml
Due: none

Add some deployment docs
  docs/DEPLOYMENT.md
Due: none

Run build server on develop branch, move server code volume to Docker Compose override (only used locally now)
  .gitlab-ci.yml
  docker-compose.override.yml
  docker-compose.yml
Due: none

GitLab CI: change dev branch to main
  .gitlab-ci.yml
Due: none

Add DOMAIN variable to test caddy job
  .gitlab-ci.yml
Due: none

trying css
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
  web/tsconfig.json
Due: build web

Bold text when alert is unread
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

trying, but drawer can only open from left, it will overlap with the existing nav bar
  web/src/pages/AlertInbox/AlertInbox.tsx
Due: build web

inbox improved
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
  web/tsconfig.json
Due: build web

Restrict non admin from creating alerts
  web/src/util/pages.ts
Due: build web

fix pipeline
  web/src/pages/AlertInbox/AlertInbox.tsx
Due: build web

Fix current user changing their password
  common/src/util/endpoints.ts
  server/cbr_api/urls.py
Due: format common, build mobile, build server

added build command for release apk and refactor environment url
  common/src/init.ts
  docs/SETUP.md
  mobile/app.config.ts
  mobile/build.js
  mobile/index.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  web/src/index.tsx
Due: format common, build mobile, build web

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
