Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

Remove .env functionality used in email_notifications.py
  server/cbr_api/email_notifications.py
Due: build server

Remove .env functionality from email model and references to it in docker compose file
  docker-compose.yml
  server/cbr_api/models.py
Due: build server

Add last_updated property for email password and list when it was last updated
  server/cbr_api/migrations/0076_email_settings_password_updated_at.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  web/src/pages/Admin/AdminEmailSettings.tsx
Due: build web, build server

add instructions so users will know how to get app password
  web/src/pages/Admin/AdminEmailSettings.tsx
Due: build web

add detox packages
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Test newly defined prettierignore
  .gitignore
  .husky/pre-commit
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
Due: none

Make referral email more detailed with client information and link
  server/cbr_api/email_notifications.py
Due: build server

Fix functionality for showing if app password not set so its clear to user
  docker-compose.yml
  server/cbr/settings.py
  server/cbr_api/email_notifications.py
  web/src/pages/Admin/AdminEmailSettings.tsx
Due: build web, build server

configure detox and add simple login e2e test
  mobile/.detoxrc.js
  mobile/.env.e2e.example
  mobile/.gitignore
  mobile/README.md
  mobile/e2e/jest.config.js
  mobile/e2e/login.test.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/Login/Login.tsx
Due: build mobile

add uid field for char
  server/cbr_api/models.py
Due: build server

update file formatting
  server/cbr_api/models.py
Due: build server

apply migrations
  server/cbr_api/migrations/0077_alter_patientnote_id.py
Due: build server

add uuid within db field
  server/cbr_api/migrations/0078_alter_patientnote_id.py
  server/cbr_api/models.py
Due: build server

ran command to reformat server files to pass ci/cd pipeline
  server/cbr_api/email_notifications.py
  server/cbr_api/migrations/0075_email_settings.py
  server/cbr_api/serializers.py
Due: build server

add back generate_id
  server/cbr_api/models.py
Due: build server

Removed duplicates, added lint-staged dependencies
  .husky/pre-commit
  .prettierignore
  package-lock.json
  package.json
Due: none

remove zone check enforce
  server/cbr_api/views.py
Due: build server

create patient note ui modal and add button to current patient note in the ui
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

add patient note modal to visit form
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

connect FE to BE for patient node save and rerieval in the modal
  common/src/util/endpoints.ts
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build common, build mobile, build web, test common

add history for patient notes
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
Due: build web

split into tsx and tsx
  web/src/components/PatientNoteModal/PatientNoteModal.styles.ts
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
Due: build web

get created by username for FE patient note history
  server/cbr_api/serializers.py
Due: build server

cleanup serializer for patient note
  server/cbr_api/serializers.py
Due: build server

update serializer format
  server/cbr_api/serializers.py
Due: build server

test
  common/src/forms/newVisit/visitFormFields.ts
Due: build common, build mobile, build web, test common

run prettier
  web/src/components/PatientNoteModal/PatientNoteModal.styles.ts
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

fix callback for latest patient note
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
Due: build web

fix common prettier
  common/src/forms/newVisit/visitFormFields.ts
Due: build common, build mobile, build web, test common

fix no latest note error
  server/cbr_api/views.py
Due: build server

prettier
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
Due: build web

Refine email formatting and boldness
  server/cbr_api/email_notifications.py
Due: build server

create patient note modal and style sheet
  mobile/src/components/PatientNoteModals/PatientNoteModal.styles.ts
  mobile/src/components/PatientNoteModals/PatientNoteModal.tsx
Due: build mobile

add patient note modal to client info
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Restyle email format and content to make it look professional and stylish
  server/cbr_api/email_notifications.py
Due: build server

add debug code
  mobile/.detoxrc.js
  mobile/README.md
  mobile/package-lock.json
  mobile/package.json
  mobile/scripts/run-detox-wait.ps1
Due: build mobile

reformat models.py to pass ci/cd pipeline
  server/cbr_api/models.py
Due: build server

merge migration files
  server/cbr_api/migrations/0079_merge_20260209_1702.py
Due: build server

add patient note to mobile visit
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

add colour change
  mobile/src/components/PatientNoteModals/PatientNoteModal.tsx
Due: build mobile

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
