Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

Update the next button function
  mobile/src/components/TextCheckBox/TextCheckBox.style.ts
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/baseSurvey.style.ts
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/ProstheticOrthoticForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
Due: build mobile

Style fix
  common/src/util/clients.ts
Due: format common, build mobile

style fix
  common/package.json
  mobile/package.json
  mobile/src/screens/ClientList/ClientList.tsx
  web/public/index.html
  web/public/manifest.json
Due: format common, build mobile, build web

Zones and dates display on update
  mobile/src/screens/Client/ClientDetails.tsx
Due: build mobile

Implement sort in client list.
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

Disabilities list updating on change, selector not working
  mobile/src/screens/Client/ClientDetails.tsx
Due: build mobile

Disabilities modal selector working
  mobile/src/screens/Client/ClientDetails.tsx
Due: build mobile

Implemented cancel and reset (disability cancel bugged)
  mobile/src/screens/Client/ClientDetails.tsx
Due: build mobile

Added new client boolean and hidden buttens
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientDetails.tsx
Due: build mobile

Added Yup validation and making requests but failing with 400
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientDetails.tsx
  mobile/src/screens/Client/ClientRequests.ts
  mobile/src/screens/Client/ClientSubmitHandler.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Package lock
  mobile/package-lock.json
Due: build mobile

Minor changes, refactors and MR thread resolve suggestions
  mobile/src/App.tsx
  mobile/src/components/ActivityTimeline/Activity.style.ts
  mobile/src/components/ActivityTimeline/Activity.tsx
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientDetails.tsx
  mobile/src/screens/Client/ClientRequests.ts
  mobile/src/screens/Client/ClientSubmitHandler.ts
  mobile/src/screens/Client/TimeLineDate.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  package.json
Due: build mobile

Updated main's changes
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
  mobile/src/screens/Profile/Profile.styles.ts
  mobile/src/screens/Profile/Profile.tsx
Due: build mobile

Merged main into current
  common/package.json
  common/tsconfig.json
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/CONTRIBUTION.md
  docs/SETUP.md
  docs/STYLE.md
  mobile/package.json
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
  mobile/src/screens/Profile/Profile.styles.ts
  mobile/src/screens/Profile/Profile.tsx
  mobile/src/util/screens.ts
  mobile/tsconfig.json
  web/package.json
  web/public/index.html
  web/public/manifest.json
  web/tsconfig.base.json
  web/tsconfig.json
Due: format common, build mobile, build web

Refactored Activity component
  mobile/src/components/ActivityTimeline/RecentActivity.tsx
  mobile/src/screens/Client/Client.tsx
Due: build mobile

Refactored files and a few directories
  mobile/src/components/ActivityTimeline/RecentActivity.tsx
  mobile/src/components/ActivityTimeline/TimeLineDate.tsx
  mobile/src/components/ClientSpecificDetails/ClientDetails.tsx
  mobile/src/components/ClientSpecificDetails/ClientDetailsFields.ts
  mobile/src/components/ClientSpecificDetails/ClientSubmitHandler.ts
  mobile/src/components/ClientSpecificRisk/ClientRisk.tsx
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientRequests.ts
Due: build mobile

Minor changes
  mobile/src/components/ActivityTimeline/TimeLineDate.tsx
  mobile/src/components/ClientSpecificDetails/ClientDetailsFields.ts
  mobile/src/screens/Client/Client.tsx
  mobile/src/util/screens.ts
Due: build mobile

Removed duplicate Auth.ts and Endpoints.ts
  mobile/src/util/auth.ts
  mobile/src/util/endpoints.ts
Due: build mobile

Small fix over style.
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

Renamed to maintain consistency with web
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/Client/ClientScreenController.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientRequests.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Activity.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Activity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/HomeScreen/HomeScreen.style.ts
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/Login/Login.tsx
  mobile/src/util/screens.ts
Due: build mobile

Screens update on refactor
  mobile/src/util/screens.ts
Due: build mobile

Refactor bug fixes
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Activity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

Fixed validation not responding
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
Due: build mobile

Fixed cycles
  mobile/src/App.tsx
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/Loading/Loading.tsx
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/util/screens.ts
  mobile/src/util/stackScreens.ts
Due: build mobile

Fix warning
  mobile/package-lock.json
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formFields.ts
  mobile/src/screens/NewVisit/formHandler.ts
Due: build mobile

Refactor files
  mobile/src/screens/NewVisit/visitFormFields.ts
  mobile/src/screens/NewVisit/visitFormHandler.ts
Due: build mobile

Refactor common
  common/index.ts
  common/src/forms/newVisit/visitFormFields.ts
  common/src/forms/newVisit/visitFormHandler.ts
  mobile/package-lock.json
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/visitFormFields.ts
Due: format common, build mobile

Refactor form handler
  common/src/forms/newVisit/visitFormHandler.ts
  mobile/package-lock.json
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
  web/src/pages/NewVisit/NewVisit.tsx
Due: format common, build mobile, build web

Henry: Fix the next button
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

Fixed MR Review bugs
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
Due: build mobile

Merged pack with main
  mobile/package.json
Due: build mobile

Run prettier with code
  mobile/package.json
Due: build mobile

Run prettier with code
  common/package-lock.json
  mobile/package-lock.json
  web/tsconfig.json
Due: format common, build mobile, build web

Removing console logs
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

delete auth tokens instead of blanking them
  common/src/init.ts
  common/src/util/auth.ts
  mobile/src/index.ts
  web/src/index.tsx
Due: format common, build mobile, build web

prevent excessive token refreshing
  common/package.json
  common/src/util/auth.ts
Due: format common, build mobile

add Mocha + Chai tests for common
  .gitlab-ci.yml
  common/.gitignore
  common/.mocharc.yml
  common/package.json
  common/src/util/auth.ts
  common/src/util/internal/tokens.ts
  common/test/testSetup.ts
  common/test/util/auth.spec.ts
  common/tsconfig.json
Due: format common, build mobile

common: optimize empty Maps and getOtherDisabilityId
  common/src/util/hooks/disabilities.ts
  common/src/util/hooks/zones.ts
  common/src/util/internal/emptyMap.ts
Due: format common, build mobile

CI: split up build and test into two stages
  .gitlab-ci.yml
Due: none

switch to Jest for common's testing framework
  .gitlab-ci.yml
  common/.gitignore
  common/.mocharc.yml
  common/jest.config.js
  common/package.json
  common/src/util/hooks/disabilities.ts
  common/test/setup.ts
  common/test/testHelpers/authTokenHelpers.ts
  common/test/testHelpers/sleep.ts
  common/test/testHelpers/testCommonConfiguration.ts
  common/test/testSetup.ts
  common/test/util/auth.spec.ts
  common/test/util/hooks/disabilities.spec.ts
  common/test/util/validations.spec.ts
  common/tsconfig.test.json
  mobile/src/screens/Todo/Todo.tsx
Due: format common, build mobile

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
