Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

prettier
  mobile/src/components/PatientNoteModals/PatientNoteModal.styles.ts
  mobile/src/components/PatientNoteModals/PatientNoteModal.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

prettier
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

Added Referral website frontend changes.
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/pages/ClientDetails/ClientTimeline/Entry.styles.ts
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
Due: build common, build mobile, build web, test common

Update documentation
  docs/CONTRIBUTION.md
Due: none

Add html for email to a separate file and add a / after email endpoint
  common/src/util/endpoints.ts
  server/cbr_api/email_notifications.py
  server/cbr_api/templates/cbr_api/referral_created_email.html
  server/cbr_api/urls.py
Due: build common, build mobile, build web, build server, test common

Reformat files to pass ci/cd pipeline
  common/src/util/endpoints.ts
  server/cbr_api/urls.py
Due: build common, build mobile, build web, build server, test common

Add test for referral serializer
  server/cbr_api/tests/serializers/test_detailed_referral_serializer.py
Due: build server

Add more functional tests for email settings serializer and for views
  server/cbr_api/tests/serializers/test_email_settings_serializer.py
  server/cbr_api/tests/test_email_notifications.py
Due: build server

Put test in correct folder and fix test cases that was failing because of pk id error
  server/cbr_api/tests/models/test_email_settings_model.py
  server/cbr_api/tests/serializers/test_detailed_referral_serializer.py
  server/cbr_api/tests/serializers/test_email_notifications.py
Due: build server

Delete old test_email_notifications.py
  server/cbr_api/tests/test_email_notifications.py
Due: build server

reformat file to pass ci/cd pipeline
  server/cbr_api/tests/serializers/test_email_notifications.py
Due: build server

Upgrade react version to 19 and upgrade old dependencies
  common/package-lock.json
  common/package.json
  common/src/forms/Referral/referralFields.ts
  web/package-lock.json
  web/package.json
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/ClientDetails/Timeline/TimelineEntry.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/components/Toolbar.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/Referrals/Referrals.tsx
  web/src/pages/ZoneList/ZoneList.tsx
  web/src/styles/DataGrid.styles.ts
Due: build common, build mobile, build web, test common

Ugrade Datagrid styling to work with React 19
  web/src/styles/DataGrid.styles.ts
  web/src/theme.styles.ts
Due: build web

Added web frontend visit image entry.
  common/src/util/visits.ts
  web/src/components/ReferralPhotoView/Thumb.tsx
  web/src/pages/ClientDetails/ClientTimeline/Entry.styles.ts
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/formFields.ts
Due: build common, build mobile, build web, test common

fix flaky tests
  mobile/e2e/login.test.js
Due: build mobile

fix various configs and add npm scripts
  mobile/.detoxrc.js
  mobile/.env.e2e.example
  mobile/.gitignore
  mobile/e2e/globalSetup.js
  mobile/e2e/jest.config.js
  mobile/index.js
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/scripts/run-detox-wait.ps1
Due: build mobile

add readme section for e2e tests
  mobile/README.md
Due: build mobile

run prettier to fix formatting
  mobile/.detoxrc.js
  mobile/e2e/globalSetup.js
  mobile/e2e/jest.config.js
  mobile/e2e/login.test.js
  mobile/package.json
Due: build mobile

Add text to referral email saying that its automated and to not reply to it
  server/cbr_api/email_notifications.py
  server/cbr_api/templates/cbr_api/referral_created_email.html
Due: build server

Reformat files to pass ci/cd pipeline
  server/cbr_api/email_notifications.py
Due: build server

Run prettier to pass ci/cd pipeline
  web/src/styles/DataGrid.styles.ts
Due: build web

init
  mobile/src/components/PatientNoteModals/PatientNoteModal.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  server/cbr_api/serializers.py
  server/cbr_api/views.py
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build mobile, build web, build server

Updated common tests to be compatible with react 19
  common/test/setup.ts
  common/test/util/hooks/cachedAPI.spec.ts
  common/test/util/hooks/currentUser.spec.ts
  common/test/util/hooks/disabilities.spec.ts
  common/test/util/hooks/zones.spec.ts
Due: build common, build mobile, build web, test common

ran prettier to pass ci/cd pipeline
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/ZoneList/ZoneList.tsx
Due: build web

revert serializer change
  server/cbr_api/views.py
Due: build server

prettier
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

create tests for patient notes
  server/cbr_api/tests/models/test_patient_note_model.py
  server/cbr_api/tests/serializers/test_note_serializer.py
  server/cbr_api/tests/views/test_patient_note_views.py
Due: build server

formatting
  server/cbr_api/tests/models/test_patient_note_model.py
  server/cbr_api/tests/serializers/test_note_serializer.py
  server/cbr_api/tests/views/test_patient_note_views.py
Due: build server

Fix typescript type mismatch for grid overlay
  web/src/styles/DataGrid.styles.ts
Due: build web

Fix formatting to pass pipeline
  web/src/styles/DataGrid.styles.ts
Due: build web

add success message
  mobile/src/components/PatientNoteModals/PatientNoteModal.styles.ts
  mobile/src/components/PatientNoteModals/PatientNoteModal.tsx
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
Due: build mobile, build web

display only one of success or unsuccess message
  mobile/src/components/PatientNoteModals/PatientNoteModal.tsx
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
Due: build mobile, build web

fix formatting
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
Due: build web

Create previous goal components for mobile
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/PreviousGoals/PreviousGoalCard.tsx
  mobile/src/screens/ClientDetails/PreviousGoals/PreviousGoalsModal.styles.ts
  mobile/src/screens/ClientDetails/PreviousGoals/PreviousGoalsModal.tsx
Due: build mobile

Add coloured status badges to match web for previous goal modal
  mobile/src/screens/ClientDetails/PreviousGoals/PreviousGoalsModal.styles.ts
  mobile/src/screens/ClientDetails/PreviousGoals/PreviousGoalsModal.tsx
Due: build mobile

Restyle status section to be more aligned and rename client risk to Risk Levels
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/PreviousGoals/PreviousGoalCard.tsx
  mobile/src/screens/ClientDetails/PreviousGoals/PreviousGoalsModal.styles.ts
  mobile/src/screens/ClientDetails/PreviousGoals/PreviousGoalsModal.tsx
Due: build mobile

Merge migrations
  mobile/package-lock.json
  server/.gitignore
  server/cbr_api/migrations/0080_merge_0075_visit_picture_0079_merge_20260209_1702.py
Due: build mobile, build server

Merge migrations between two conflicting branch
  server/.gitignore
  server/cbr_api/migrations/0080_merge_0075_visit_picture_0079_merge_20260209_1702.py
Due: build server
