Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

cachedAPI: log backup clear failures as errors
  common/src/util/hooks/cachedAPI.ts
Due: format common, build mobile

cachedAPI: abort existing promises when invalidating
  common/src/util/hooks/cachedAPI.ts
  common/test/util/hooks/cachedAPI.spec.ts
Due: format common, build mobile

cachedAPI: inline backup retrieval and log as error
  common/src/util/hooks/cachedAPI.ts
  mobile/package-lock.json
Due: format common, build mobile

rebased from main
  common/src/util/clientSubmission.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/FormikImageModal/FormikImageModal.styles.ts
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/NewClient/formHandler.ts
Due: format common, build mobile

Added line wrap and flex
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
Due: build mobile

Basic styling fix
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
Due: build mobile

Solved some threads
  common/package-lock.json
  common/src/util/risks.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/UserList/UserList.tsx
Due: format common, build mobile

Resolve some threads.
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/util/listFunctions.ts
Due: build mobile

Fix todo screen
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

Fixed some threads
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/UserList/UserList.styles.ts
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

fix error on submit
  common/src/forms/Client/clientHandler.ts
  mobile/package-lock.json
Due: format common, build mobile

Add timeout for apiFetch requests
  common/src/util/endpoints.ts
Due: format common, build mobile

Add timeout for requestToken requests
  common/src/util/auth.ts
Due: format common, build mobile

Create timeout constant
  common/src/constants.ts
Due: format common, build mobile

Add time out specific error messaging
  common/src/util/auth.ts
  common/src/util/endpoints.ts
  common/src/util/internal/rejectWithWrappedError.ts
Due: format common, build mobile

Update timeout error messaging in android login screen
  common/src/util/internal/rejectWithWrappedError.ts
  mobile/src/screens/Login/Login.tsx
Due: format common, build mobile

Ran formatter
  common/src/constants.ts
  common/src/util/auth.ts
  common/src/util/endpoints.ts
  common/src/util/internal/rejectWithWrappedError.ts
  mobile/package.json
  web/package-lock.json
Due: format common, build mobile, build web

Npm install generated packagelock
  mobile/package-lock.json
Due: build mobile

add button for multiple image upload and preview on referral
  web/package-lock.json
  web/package.json
  web/src/pages/NewReferral/NewReferral.tsx
  web/tsconfig.json
Due: build web

Update failing unit test
  common/test/util/hooks/cachedAPI.spec.ts
Due: format common, build mobile

Revert "Npm install generated packagelock"
  mobile/package-lock.json
Due: build mobile

Revert "Ran formatter"
  common/src/constants.ts
  common/src/util/auth.ts
  common/src/util/endpoints.ts
  common/src/util/internal/rejectWithWrappedError.ts
  mobile/package.json
  web/package-lock.json
Due: format common, build mobile, build web

Ran Prettify
  common/src/constants.ts
  common/src/util/auth.ts
  common/src/util/endpoints.ts
  common/src/util/internal/rejectWithWrappedError.ts
Due: format common, build mobile

image preview with file upload in formik field
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  web/src/pages/NewReferral/NewReferral.tsx
Due: format common, build mobile, build web

working on add download csv, have made the CSS, but have problem traverse the infomation for downloading
  demo/.gitignore
  demo/README.md
  demo/package-lock.json
  demo/package.json
  demo/public/favicon.ico
  demo/public/index.html
  demo/public/logo192.png
  demo/public/logo512.png
  demo/public/manifest.json
  demo/public/robots.txt
  demo/src/App.css
  demo/src/App.js
  demo/src/App.test.js
  demo/src/index.css
  demo/src/index.js
  demo/src/logo.svg
  demo/src/reportWebVitals.js
  demo/src/setupTests.js
  mobile/package-lock.json
  web/package-lock.json
  web/src/pages/ClientList/ClientList.styles.ts
  web/src/pages/ClientList/ClientList.tsx
  web/tsconfig.json
Due: build mobile, build web

Revert "working on add download csv, have made the CSS, but have problem traverse the infomation for downloading"
  demo/.gitignore
  demo/README.md
  demo/package-lock.json
  demo/package.json
  demo/public/favicon.ico
  demo/public/index.html
  demo/public/logo192.png
  demo/public/logo512.png
  demo/public/manifest.json
  demo/public/robots.txt
  demo/src/App.css
  demo/src/App.js
  demo/src/App.test.js
  demo/src/index.css
  demo/src/index.js
  demo/src/logo.svg
  demo/src/reportWebVitals.js
  demo/src/setupTests.js
  mobile/package-lock.json
  web/package-lock.json
  web/src/pages/ClientList/ClientList.styles.ts
  web/src/pages/ClientList/ClientList.tsx
  web/tsconfig.json
Due: build mobile, build web

working on add download csv, have made the CSS, but have problem traverse the infomation for downloading
  web/src/pages/ClientList/ClientList.styles.ts
  web/src/pages/ClientList/ClientList.tsx
Due: build web

created Thumbnail component for WheelChairPhoto
  web/src/components/WheelChairPhotoView/Thumbs.tsx
Due: build web

Refactor Field input and Thumb on WheelChair Form
  web/src/components/WheelChairPhotoView/Thumb.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: build web

refactor thumb tsx to use functional component using effect hooks
  common/src/forms/Referral/referralFields.ts
  web/src/components/WheelChairPhotoView/Thumb.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: format common, build mobile, build web

revised wheelchair_image initial value
  common/src/forms/Referral/referralFields.ts
Due: format common, build mobile

Refactor new client page to use common form fields
  common/src/forms/Client/clientFields.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewClient/formFields.ts
  web/src/pages/NewClient/formHandler.ts
Due: format common, build mobile, build web

generated migrate data for picture field for referral
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  server/cbr_api/migrations/0021_referral_picture.py
  server/cbr_api/models.py
  web/src/components/WheelChairPhotoView/Thumb.tsx
  web/src/pages/NewClient/formHandler.ts
Due: format common, build mobile, build web, build server

refactor thumb and input into single photoview and saving as blob
  common/src/forms/Referral/referralHandler.ts
  web/src/components/WheelChairPhotoView/PhotoView.tsx
  web/src/components/WheelChairPhotoView/Thumb.tsx
  web/src/pages/NewClient/formHandler.ts
  web/src/pages/NewReferral/NewReferral.tsx
Due: format common, build mobile, build web

Refactor client details page to use common form fields
  common/src/forms/Client/clientFields.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/formFields.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewClient/formHandler.ts
Due: format common, build mobile, build web

added new migrations and dir for referral pic
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  common/src/util/referrals.ts
  server/cbr_api/migrations/0021_referral_picture.py
  server/cbr_api/models.py
  web/src/pages/NewReferral/NewReferral.tsx
Due: format common, build mobile, build web, build server

implemented uploaded to referral directory
  common/src/forms/Referral/referralHandler.ts
  common/src/util/referralImageSubmission.ts
  server/cbr_api/migrations/0021_referral_picture.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: format common, build mobile, build server

fixed naming convention for saved referral image
  common/src/forms/Referral/referralHandler.ts
  server/cbr_api/models.py
Due: format common, build mobile, build server

adding multiple files
  web/package-lock.json
  web/package.json
  web/src/components/WheelChairPhotoView/PhotoDrop.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: build web

I made a mock data and now it is downloadable, I will transfer it to real data. Also I adjusted the location of the download button
  web/src/pages/ClientList/ClientList.styles.ts
  web/src/pages/ClientList/ClientList.tsx
Due: build web

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
