Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

feat(new visit form): add translations
  common/src/@types/resources.d.ts
  common/src/forms/newVisit/visitFormFields.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/ImprovementField.tsx
  web/src/pages/NewVisit/components/OutcomeField.tsx
  web/src/pages/NewVisit/components/VisitReasonStep.tsx
  web/src/pages/NewVisit/components/index.ts
Due: build common, build mobile, build web, test common

chore: remove console log
  web/src/util/risks.ts
Due: build web

feat(new alert page): translate strings
  web/src/pages/NewAlert/AlertForm.tsx
Due: build web

refactor(alert inbox): cleanup code
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

feat(alert inbox): translate strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build common, build mobile, build web, test common

refactor(alerts inbox): sub-folder for helper components
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/components/AlertDetail.tsx
  web/src/pages/AlertInbox/components/AlertList.tsx
  web/src/pages/AlertInbox/components/index.ts
Due: build web

Feat(edit zone page): translate strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/components/Dialogs/ConfirmDeleteZone.tsx
  web/src/pages/Zone/ZoneEdit.tsx
Due: build common, build mobile, build web, test common

refactor(client list): extract toolbar component
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/components/Toolbar.tsx
  web/src/util/risks.ts
Due: build web

Refactor(stats page): introduce sub-folder for chart components
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/index.ts
Due: build web

refactor(stats page): create sub-folder for helper components
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/DisabilityStats.tsx
  web/src/pages/Stats/components/ExportStats.tsx
  web/src/pages/Stats/components/ReferralStats.tsx
  web/src/pages/Stats/components/StatsDateFilter.tsx
  web/src/pages/Stats/components/StatsUserFilter.tsx
  web/src/pages/Stats/components/VisitStats.tsx
  web/src/pages/Stats/components/index.ts
Due: build web

feat(scripts): create python script that will dump some database tables in csv format
  mobile/package-lock.json
  scripts/dump_db_as_csv/db_table_csv/cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/db_table_csv/cbr_api_improvement.csv
  scripts/dump_db_as_csv/db_table_csv/cbr_api_outcome.csv
  scripts/dump_db_as_csv/dump.sql
  scripts/dump_db_as_csv/generate_csv_files.sh
  scripts/dump_db_as_csv/script.py
Due: build mobile

feat(db dump): process client outcomes
  scripts/dump_db_as_csv/script.py
Due: none

refactor(db dump): reduce duplication by using helper function
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): process csv file for client improvements
  scripts/dump_db_as_csv/script.py
Due: none

get counts of duplicate values for client risks
  scripts/dump_db_as_csv/csv/cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/cbr_api_outcome.csv
  scripts/dump_db_as_csv/csv/cleaned_cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/cleaned_cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/cleaned_cbr_api_outcome.csv
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): output final output files
  scripts/dump_db_as_csv/csv/final/improvements.csv
  scripts/dump_db_as_csv/csv/final/outcomes.csv
  scripts/dump_db_as_csv/csv/final/risk_goals.csv
  scripts/dump_db_as_csv/csv/final/risk_requirements.csv
  scripts/dump_db_as_csv/script.py
Due: none

refactor(db dump): use subdirectories for raw and cleaned output csv files
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_outcome.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_outcome.csv
  scripts/dump_db_as_csv/script.py
Due: none

refactor(db dump): introduce more constants for column names
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): process client improvement as csv
  scripts/dump_db_as_csv/script.py
Due: none

refactor(db dump): cleanup and finalize changes for outputting db as csv files
  .gitignore
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_outcome.csv
  scripts/dump_db_as_csv/csv/final/improvements.csv
  scripts/dump_db_as_csv/csv/final/outcomes.csv
  scripts/dump_db_as_csv/csv/final/risk_goals.csv
  scripts/dump_db_as_csv/csv/final/risk_requirements.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_outcome.csv
  scripts/dump_db_as_csv/example_dump.sql
  scripts/dump_db_as_csv/generate_csv_files.sh
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): add requirements.txt for dependency info
  scripts/dump_db_as_csv/requirements.txt
Due: none

fix: update Toolbar styles for mui 5
  web/src/components/IOSSwitch/IOSSwitch.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/components/Toolbar.tsx
Due: build web

fix: update ZoneEdit to mui 5
  web/src/pages/Admin/AdminNew.tsx
  web/src/pages/Zone/Zone.styles.ts
Due: build web

feat(db dump): process fields from baseline survey
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): lowercase all string values for consistency when processing data
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): add comments for documentation on how to run
  scripts/dump_db_as_csv/script.py
Due: none

fix: explicit no autocomplete for password Field
  web/src/pages/Login/Login.tsx
Due: build web

fix: update Label position on Select (mui 5)
  web/src/components/Dialogs/ConfirmDeleteZone.tsx
Due: build web

chore: move AlertDetail styles to external file
  web/src/pages/AlertInbox/components/AlertDetail.styles.ts
  web/src/pages/AlertInbox/components/AlertDetail.tsx
Due: build web

chore: remove unused, old comments
  web/src/App.styles.ts
  web/src/components/SearchBar/SearchBar.styles.ts
  web/src/components/SideNav/SideNav.styles.ts
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/pages/Admin/Admin.styles.ts
  web/src/pages/AdminList/AdminList.styles.ts
  web/src/pages/AlertInbox/components/AlertList.tsx
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/ClientDetails/ClientTimeline/Entry.styles.ts
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.styles.ts
  web/src/pages/ClientDetails/Timeline/Timeline.styles.ts
  web/src/pages/ClientList/ClientList.styles.ts
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/Login/Login.styles.ts
  web/src/pages/NewClient/ClientForm.styles.ts
  web/src/pages/NewReferral/NewReferral.styles.ts
  web/src/pages/ZoneList/ZoneList.tsx
  web/src/pages/ZoneList/requestZoneRows.ts
  web/src/styles/DataGrid.styles.ts
  web/src/styles/HideColumns.styles.ts
  web/src/styles/SearchOptions.styles.ts
  web/src/theme.styles.ts
Due: build web

chore: remove external SearchBar styles file
  web/src/components/SearchBar/SearchBar.styles.ts
  web/src/components/SearchBar/SearchBar.tsx
Due: build web

chore: prettier
  web/src/pages/Admin/AdminNew.tsx
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/AlertInbox/AlertInbox.styles.ts
  web/src/pages/AlertInbox/components/AlertDetail.styles.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/Timeline/ShowMoreEntry.tsx
  web/src/pages/ClientList/components/Toolbar.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

docs: workflow for clearing mobile cache
  mobile/README.md
Due: build mobile

temp disable VictoryLegend in Stats, broken in current config
  mobile/README.md
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

chore: remove unused
  web/src/pages/Stats/Stats.tsx
Due: build web

chore: cleanup
  web/src/components/Alerts/AlertOffline.tsx
  web/src/components/DataCard/DataCard.styles.ts
  web/src/components/PriorityLevelChip/PriorityLevelChip.styles.ts
  web/src/pages/ZoneList/ZoneList.styles.ts
Due: build web

chore: cleanup
  web/src/components/Alerts/AlertNotification.tsx
  web/src/pages/ZoneList/requestZoneRows.ts
Due: build web

chore: prettier
  mobile/README.md
Due: build mobile

add partial missing mobile deps
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
