Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

add autocomplete=off in clientinfoform
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

Revert back to react-native 0.63
  mobile/lock.backup_20220602_
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

TESTING: Change to .gitlab-ci.yml to trigger full pipeline test.
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Trigger full pipeline build
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Reverting changes to mobile/package.json
  mobile/package.json
Due: build mobile

Remove mobile/package-lock.json to fix mobile pipeline.
  mobile/package-lock.json
Due: build mobile

Revert mobile/package-lock.json to fix mobile pipeline
  mobile/package-lock.json
Due: build mobile

Run full build/test pipeline on scheduled and manual pipeline runs
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Change gitlab ci command to not use reference due to old GitLab version in use
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Correct .gitlab-ci.yml to build from Run Pipeline button on GitLab website
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Document steps to clear env cache
  docs/SETUP.md
Due: none

API_VERSION=3
  server/cbr_api/util.py
Due: build server

ts API_V=3.0.0
  mobile/src/util/syncHandler.ts
Due: build mobile

Api v3
  mobile/src/util/syncHandler.ts
  server/cbr_api/util.py
Due: build mobile, build server

Add bundle support to build.js
  mobile/build.js
  mobile/package.json
Due: build mobile

Document npm run bundle command
  docs/RELEASE.md
Due: none

run prettier
  mobile/build.js
Due: build mobile

Add bundle support to mobile build command
  docs/RELEASE.md
  mobile/build.js
  mobile/package.json
Due: build mobile

initial document update
  docs/RELEASE.md
Due: none

smooth out release build docs
  docs/RELEASE.md
Due: none

Release doc update
  docs/RELEASE.md
Due: none

Update CI so pipeline always executes, regardless of files changed
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Correct CI syntax
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

for resolving !165
  .gitlab-ci.yml
  common/package-lock.json
  docs/CONTRIBUTION.md
  docs/DEPLOYMENT.md
  docs/RELEASE.md
  docs/SETUP.md
  mobile/README.md
  mobile/build.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/util/syncHandler.ts
  server/cbr_api/util.py
  web/package-lock.json
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, build server, test common, test caddy

Updated CI/CD to run a dummy task even if no other tasks should run
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Correct spacing
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Resolve "Improve Android release documentation"
  .gitlab-ci.yml
  docs/RELEASE.md
Due: build common, build mobile, build web, build server, test common, test caddy

Use UUID for seeded clients and users
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seedusers.py
Due: build server

Format code changes
  server/cbr_api/management/commands/seedclients.py
Due: build server

Resolve "Update IDs for seeded clients and users on local server"
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seedusers.py
Due: build server

added delete client button
  common/src/forms/Client/clientHandler.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

Added delete feature
  common/src/forms/Client/clientHandler.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

Improve seed scripts: more zones, admin user with random password
  docs/CONTRIBUTION.md
  server/cbr_api/management/commands/seedadminuser.py
  server/cbr_api/management/commands/seedzones.py
Due: build server

Corrected formatting
  server/cbr_api/management/commands/seedadminuser.py
Due: build server

Losen requirements for sync confirmation text
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
Due: build mobile

Run prettier
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
Due: build mobile

Resolve "Loosen requirements for manual sync confirmation text box"
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
Due: build mobile
