Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

Add functionality to show Referrals and Follow up visit graphs to work with the updated backend
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
Due: build web

chore(mobile): align to Expo 53, fix package name, mute RN Directory noise
  common/package.json
  mobile/app.json
  mobile/package-lock.json
  mobile/package.json
  package-lock.json
Due: build common, build mobile, build web, test common

Add functionality for disability stats to integrate with backend and also update functionality for selecting colours for graphs to ensure same colours won't be chosen repeatedly
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/DischargedClientsStats.tsx
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
Due: build web

Added the filter headers so that the user can easily see what they are filtering by
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/DischargedClientsStats.tsx
  web/src/pages/Stats/components/charts/FilterHeaders.tsx
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
Due: build web

refactor and update mutiple dependencies in the project
  mobile/index.js
  mobile/ios/.gitignore
  mobile/ios/.xcode.env
  mobile/ios/CBR.xcodeproj/project.pbxproj
  mobile/ios/CBR.xcodeproj/xcshareddata/xcschemes/CBR.xcscheme
  mobile/ios/CBR/AppDelegate.swift
  mobile/ios/CBR/CBR-Bridging-Header.h
  mobile/ios/CBR/CBR.entitlements
  mobile/ios/CBR/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  mobile/ios/CBR/Images.xcassets/AppIcon.appiconset/Contents.json
  mobile/ios/CBR/Images.xcassets/Contents.json
  mobile/ios/CBR/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  mobile/ios/CBR/Images.xcassets/SplashScreenLogo.imageset/Contents.json
  mobile/ios/CBR/Images.xcassets/SplashScreenLogo.imageset/image.png
  mobile/ios/CBR/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  mobile/ios/CBR/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  mobile/ios/CBR/Info.plist
  mobile/ios/CBR/SplashScreen.storyboard
  mobile/ios/CBR/Supporting/Expo.plist
  mobile/ios/Podfile
  mobile/ios/Podfile.properties.json
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/components/DefaultHeader/DefaultHeader.tsx
  mobile/src/components/GoalStatusChip/GoalStatusChip.tsx
  mobile/src/components/SyncAler
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/Loading/Loading.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/util/stackScreens.tsx
Due: build mobile

create adminstatsserializer class and complete data test case
  server/cbr_api/tests/serializers/test_admin_stats_serializers.py
Due: build server

finish complete and incomplete scenarios for adminstatsserializer
  server/cbr_api/tests/serializers/test_admin_stats_serializers.py
Due: build server

create an integration testclass for one heavy duty testcase for all serializers
  server/cbr_api/tests/serializers/test_admin_stats_serializers.py
Due: build server

Add logic to make filter headings only show if they aren't default selection
  web/src/pages/Stats/components/charts/FilterHeaders.tsx
  web/src/pages/Stats/components/filterbar/StatsDemographicFilter.tsx
Due: build web

attempt upgrade to RN 0.76
  mobile/package-lock.json
  mobile/package.json
  mobile/src/tasks/CacheRefreshTask.ts
Due: build mobile

747 sanitize fields before api request and remove tmp id
  common/src/forms/newVisit/visitFormHandler.ts
  web/src/pages/NewVisit/components/ImprovementField.tsx
  web/src/pages/NewVisit/components/VisitReasonStep.tsx
Due: build common, build mobile, build web, test common

747 run prettier in common
  common/src/forms/newVisit/visitFormHandler.ts
Due: build common, build mobile, build web, test common

fix task manager bug
  mobile/package-lock.json
  mobile/package.json
  mobile/src/tasks/CacheRefreshTask.ts
Due: build mobile

attempt to fix pipeline
  .github/workflows/main-cicd.yml
Due: none

remove sudo from workflow file
  .github/workflows/main-cicd.yml
Due: none

rename expo_home
  .github/workflows/main-cicd.yml
Due: none

try new cli_home variable
  .github/workflows/main-cicd.yml
Due: none

Let age filter be empty to mean all ages selected
  web/src/pages/Stats/components/filterbar/StatsDemographicFilter.tsx
Due: build web

747 fix mobile watermelon db id error
  mobile/package-lock.json
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/util/stackScreens.tsx
Due: build mobile

target specific expo-font and vector-icons versions
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
Due: build mobile

translations: update with latest + Resolve missing i18n plural rules warning + Resolve nested HTML tag error
  common/src/@types/resources.d.ts
  common/src/forms/newVisit/visitFormFields.ts
  common/src/i18n.config.ts
  common/src/locales/README.md
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/survey.ts
  common/src/util/visits.ts
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/AlertInbox/components/AlertList.tsx
  web/src/pages/Dashboard/Dashboard.tsx
Due: build common, build mobile, build web, test common

Remove unused imports and variables
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/DischargedClientsStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
Due: build web

Put filterings in the same modal with tabs to make it easier for the user
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
  web/src/pages/Stats/components/filterbar/StatsDemographicFilter.tsx
  web/src/pages/Stats/components/filterbar/StatsUnifiedFilter.tsx
  web/src/pages/Stats/components/filterbar/StatsUserFilter.tsx
Due: build web

Made all the different filterings in the same modal
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/DischargedClientsStats.tsx
  web/src/pages/Stats/components/charts/FilterHeaders.tsx
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/StatsUnifiedFilter.tsx
Due: build web

Clean up unused imports and variables
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
Due: build web

Run prettier to fix CI/CD pipeline fail
  web/src/pages/Stats/Stats.tsx
Due: build web

Fix the disabled logic for the group by in relation to age range and gender filterings
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDemographicFilter.tsx
  web/src/pages/Stats/components/filterbar/StatsGroupByPicker.tsx
Due: build web

update version code
  mobile/app.json
Due: build mobile

Move .expo folder under /isolated_builds/ folder
  .github/workflows/main-cicd.yml
Due: none

Have CI print EXPO CLI HOME var.
  .github/workflows/main-cicd.yml
Due: none

Move to just a testing script
  .github/workflows/main-cicd.yml
Due: none

Move testing code into build-mobile
  .github/workflows/main-cicd.yml
Due: none

Re-enable rest of build-mobile
  .github/workflows/main-cicd.yml
Due: none

Move set HOME into job
  .github/workflows/main-cicd.yml
Due: none

Cleaned up CICD
  .github/workflows/main-cicd.yml
Due: none

Leave set-output commands in file.
  .github/workflows/main-cicd.yml
Due: none

Change HOME folder for `build-mobile` step in CICD
  .github/workflows/main-cicd.yml
Due: none

752 add exported date
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

upgrade to RN 0.77
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

update cicd yaml
  .github/workflows/main-cicd.yml
Due: none
