Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build server

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  MASTER_BRANCH: "master"

build client:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - client/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - npx prettier --check .
    - CI=false npm run build
  after_script:
    - tar -czvf client_build.tar.gz client/build
  artifacts:
    paths:
      - client_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: cbr_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py test
  
deploy:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/.env ./.env
    - tar -xvf client_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    # wait for Postgres to start so we can run database migrations
    - docker exec cbr_django timeout 60 bash -c "while ! bash -c 'echo > /dev/tcp/postgres/5432'; do sleep 1; done" &>-
    - docker exec cbr_django python manage.py migrate

Made variable name more descriptive
  client/src/pages/AdminList/AdminList.styles.ts
  client/src/pages/AdminList/AdminList.tsx
Due: build client

Fixed tests
  server/cbr_api/tests.py
Due: build server

32: Users should now be able to create clients via new client page
  client/src/pages/Client/formHandler.ts
  client/src/util/clients.ts
Due: build client

Create admin view, new, edit pages
  client/src/pages/Admin/AdminEdit.tsx
  client/src/pages/Admin/AdminNew.tsx
  client/src/pages/Admin/AdminView.tsx
  client/src/pages/Admin/fields.ts
  client/src/pages/Admin/handler.ts
  client/src/pages/Admin/styles.ts
  client/src/util/pages.ts
Due: build client

Fix tests
  server/cbr_api/tests.py
Due: build server

Change onClicks to an alert
  client/src/pages/AdminList/AdminList.tsx
Due: build client

Run black
  server/cbr_api/filters.py
  server/cbr_api/views.py
Due: build server

Add separate prod deployment to CI/CD
  .gitignore
  .gitlab-ci.yml
  caddy/Caddyfile
  client/src/util/pages.ts
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
  server/cbr/settings.py
Due: build client, build server

Update Caddy version
  docker-compose.deploy.yml
Due: none

32: List zoneOptions based on the values in the db + use apiFetch instead of fetch
  client/src/pages/Client/ClientForm.tsx
  client/src/pages/Client/formFields.ts
  client/src/pages/Client/formHandler.ts
  client/src/util/clients.ts
  client/src/util/endpoints.ts
  client/src/util/zones.ts
Due: build client

Make the disable button work and refactor the themecolor
  client/src/pages/Admin/AdminEdit.tsx
  client/src/pages/Admin/AdminView.tsx
  client/src/pages/Admin/styles.ts
  client/src/theme.styles.ts
  client/src/util/pages.ts
  client/src/util/riskOptions.ts
Due: build client

32: Adding a client should redirect to newly created patient's details page
  client/src/pages/Client/ClientForm.tsx
  client/src/pages/Client/formHandler.ts
  client/src/util/clients.ts
  client/src/util/pages.ts
Due: build client

Disable source map for CI/CD builds
  .gitlab-ci.yml
Due: none

32: Update based on Ethan's suggestions
  client/src/pages/NewClient/ClientForm.styles.ts
  client/src/pages/NewClient/ClientForm.tsx
  client/src/pages/NewClient/formFields.ts
  client/src/pages/NewClient/formHandler.ts
  client/src/util/clients.ts
  client/src/util/endpoints.ts
  client/src/util/pages.ts
  client/src/util/zones.ts
Due: build client

32: Rename Client => NewClient
  client/src/pages/Client/ClientForm.styles.ts
  client/src/pages/Client/ClientForm.tsx
  client/src/pages/Client/formFields.ts
  client/src/pages/Client/formHandler.ts
Due: build client

32: resolve meger conflict
  client/src/pages/NewClient/ClientForm.tsx
  client/src/pages/NewClient/formHandler.ts
  client/src/util/pages.ts
Due: build client

32: Trying to rename folder :(
  client/src/pages/NewClient/formHandler.ts
Due: build client

Connect all the page to the AdmitList and refactor themecolor
  client/src/pages/Admin/AdminView.tsx
  client/src/pages/Admin/styles.ts
  client/src/pages/AdminList/AdminList.tsx
  client/src/theme.styles.ts
  client/src/util/riskOptions.ts
Due: build client

Delete user from workerOptions
  client/src/pages/Admin/fields.ts
Due: build client

32: Update newClient object
  client/src/pages/NewClient/formHandler.ts
Due: build client

32: Readd client details page + add zone interface
  client/src/pages/NewClient/ClientForm.tsx
  client/src/util/pages.ts
Due: build client

Removed outer card margins on mobile, Added column toggle on datagrid
  client/src/App.styles.ts
  client/src/pages/AdminList/AdminList.styles.ts
  client/src/pages/AdminList/AdminList.tsx
  client/src/pages/ClientList/ClientList.styles.ts
  client/src/pages/ClientList/ClientList.tsx
Due: build client

added server call to /clients api
  client/src/pages/ClientList/ClientList.tsx
  client/src/util/riskOptions.ts
Due: build client

improved options menu variable names
  client/src/pages/ClientList/ClientList.tsx
Due: build client

connected field searching to the client list, added loading and no results overlay to datagrid
  client/src/pages/ClientList/ClientList.tsx
  client/src/pages/ClientList/requestClientRows.ts
  client/src/styles/DataGrid.styles.ts
Due: build client

Correct from the code review
  client/src/pages/Admin/AdminEdit.tsx
  client/src/pages/Admin/AdminView.tsx
  client/src/pages/Admin/fields.ts
  client/src/pages/Admin/styles.ts
  client/src/pages/AdminList/AdminList.tsx
  client/src/pages/User/UserEdit.tsx
  client/src/util/pages.ts
Due: build client

created cached global zone api call for client list zone search
  client/src/pages/ClientList/ClientList.tsx
  client/src/pages/NewClient/ClientForm.tsx
  client/src/util/cache.ts
Due: build client

client list properly displays zone name
  client/src/pages/ClientList/requestClientRows.ts
  client/src/util/cache.ts
Due: build client

Use useState to change the status and change the way userId passing from the code review
  client/src/pages/Admin/AdminEdit.tsx
  client/src/pages/Admin/AdminNew.tsx
  client/src/pages/Admin/AdminView.tsx
  client/src/pages/Admin/fields.ts
  client/src/pages/AdminList/AdminList.tsx
Due: build client

Delete the comment of cancel button in view page
  client/src/pages/Admin/AdminEdit.tsx
  client/src/pages/Admin/AdminNew.tsx
  client/src/pages/Admin/AdminView.tsx
  client/src/pages/AdminList/AdminList.tsx
Due: build client

Prettier on AdminList.tsx
  client/src/pages/AdminList/AdminList.tsx
Due: build client

clear search bar when search option changes
  client/src/pages/ClientList/ClientList.tsx
Due: build client

adjusted debounce timer
  client/src/pages/ClientList/ClientList.styles.ts
  client/src/pages/ClientList/ClientList.tsx
Due: build client

Rename searchField -> searchValue, fix issue where changing dropdown does not clear search box
  client/src/pages/ClientList/ClientList.styles.ts
  client/src/pages/ClientList/ClientList.tsx
  client/src/pages/ClientList/requestClientRows.ts
Due: build client

Fix issue where "No clients found" is initially shown for the client list
  client/src/pages/ClientList/ClientList.tsx
  client/src/pages/ClientList/requestClientRows.ts
Due: build client

[ckl47,ehinchli] Fix tests.py for good this time
  client/package-lock.json
  client/package.json
  docs/CONTRIBUTION.md
  server/cbr_api/tests.py
Due: build client, build server

Fix creating users by adding custom user manager
  server/cbr_api/migrations/0001_initial.py
  server/cbr_api/models.py
Due: build server

Add script to seed zones
  docs/CONTRIBUTION.md
  server/cbr_api/management/commands/seedzones.py
Due: build server

Change full name to first name + last name for user
  server/cbr_api/management/commands/seedzones.py
  server/cbr_api/migrations/0001_initial.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

8: Client Details Page- still need to add risk badge + modal
  client/src/pages/ClientDetails/ClientDetails.tsx
  client/src/pages/ClientDetails/ClientInfo.tsx
  client/src/pages/ClientDetails/ClientRisks.tsx
  client/src/pages/ClientDetails/formFields.ts
  client/src/pages/ClientDetails/formHandler.ts
  client/src/util/endpoints.ts
  client/src/util/pages.ts
Due: build client
