Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

chore: integrity update
  mobile/package-lock.json
Due: build mobile

chore: prettier
  mobile/README.md
Due: build mobile

chore: prettier README
  mobile/README.md
Due: build mobile

package lock integrity
  common/package-lock.json
Due: build common, build mobile, build web, test common

feat(login): begin translating login page
  common/src/i18n.config.ts
  web/src/App.tsx
  web/src/index.tsx
  web/src/pages/Login/Login.tsx
Due: build common, build mobile, build web, test common

refactor(translations): remove unneeded duplicated config and translation files. Also use i18n init function in common, mobile, and web.
  mobile/src/i18n.config.ts
Due: build mobile

refactor(translations): cleanup imports in App.tsx
  mobile/src/App.tsx
Due: build mobile

refactor(translations): try out initializing function
  common/package-lock.json
  mobile/src/App.tsx
  mobile/src/i18n.config.ts
Due: build common, build mobile, build web, test common

fix: fix warning where it stated that ReactDOM.render was deprecated. Switched to React createRoot instead
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/index.tsx
  web/tsconfig.json
Due: build web

fix: resolve typescript compile error relating to incompatible types
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
Due: build web

fix(routes): Upgrade React Router to version 8.3.3, as there is a bug where React 18 does not work with React-Router 5
  web/package-lock.json
  web/package.json
Due: build web

use context provider for i18n instance
  common/src/i18n.config.ts
  web/src/index.tsx
  web/src/pages/Login/Login.tsx
Due: build common, build mobile, build web, test common

feat(admin): translate dropdown select in users list
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/AdminList/requestUserRows.ts
  web/src/pages/ClientList/searchOptions.ts
Due: build web

feat(admin): add more translations
  web/src/pages/ZoneList/ZoneList.tsx
Due: build web

feat(admin): begin translations
  web/src/components/SearchBar/SearchBar.tsx
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/AdminList/AdminList.tsx
Due: build web

feat(dashboard): Begin translating
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

feat(admin): translate view for specific user in system
  web/src/pages/Admin/AdminView.tsx
Due: build web

feat(admin): translate admin edit page
  web/src/pages/Admin/AdminEdit.tsx
Due: build web

refactor(side nav): cleanup code
  web/src/components/SideNav/SideNavIcon.tsx
Due: build web

feat(admin): translate edit user password page
  web/src/pages/Admin/AdminPasswordEdit.tsx
Due: build web

feat(pages): translate page names
  web/src/App.tsx
  web/src/util/pages.ts
Due: build web

feat(admin): translate new user page
  web/src/pages/Admin/AdminNew.tsx
Due: build web

feat(client details): begin translating
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/RiskHistory/ClientRiskHistory.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

refactor(admin): extract custom react hook to reduce duplication
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
  web/src/pages/Admin/AdminView.tsx
  web/src/util/hooks/useUser.ts
Due: build web

refactor(risks): rename file from riskIcon.tsx to risks.ts
  web/src/components/RiskTypeChip/RiskTypeChip.tsx
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Timeline/ClientCreatedEntry.tsx
  web/src/pages/ClientDetails/Timeline/ShowMoreEntry.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/util/risks.ts
Due: build web

chore(translations): remove unused import
  common/src/i18n.config.ts
Due: build common, build mobile, build web, test common

feat(translations): translate disabiltiies
  common/src/util/hooks/cachedAPI.ts
  common/src/util/hooks/disabilities.ts
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/Stats/Stats.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
  web/src/pages/Stats/DisabilityStats.tsx
  web/src/pages/Stats/ExportStats.tsx
Due: build common, build mobile, build web, test common

refactor(charts): extract function for getting chart title string
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/util/risks.ts
Due: build web

feat(newReferralForm): begin translating and refactor sub-forms to their own components
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/MentalHealthForm.tsx
  web/src/pages/NewReferral/forms/NutritionForm.tsx
  web/src/pages/NewReferral/forms/OtherServicesForm.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
  web/src/pages/NewReferral/forms/ProstheticOrthoticForm.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
Due: build web

feat(clientTimeline): translate
  common/src/util/visits.ts
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
Due: build common, build mobile, build web, test common

refactor(newReferralForm): add index.ts file for easier imports
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/index.ts
Due: build web

feat(newReferralForm): translate and extract referral service sub form
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/ReferralServiceForm.tsx
  web/src/pages/NewReferral/forms/index.ts
Due: build web

feat(translations): go back and add missing translations into .json files
  common/package-lock.json
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/referrals.ts
  common/src/util/visits.ts
  web/src/components/GoBackButton/GoBackButton.tsx
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
  web/src/pages/Admin/AdminView.tsx
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/ClientDetails/RiskHistory/ClientRiskHistory.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/helper.ts
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/util/pages.ts
Due: build common, build mobile, build web, test common

chore: remove dead code and console logs
  common/src/util/hooks/disabilities.ts
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/tsconfig.json
Due: build common, build mobile, build web, test common

fix(translations): fix typo
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

fix(translations): fix ts error where variable was not known at compile-time
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/util/pages.ts
Due: build web

chore: remove unused imports
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

build: update target node to 20.17.0 lts
  common/package.json
  mobile/package-lock.json
  mobile/package.json
  web/package.json
Due: build common, build mobile, build web, test common

build: update RN masked-view; prev dist deprecated
  common/package-lock.json
  mobile/package-lock.json
  mobile/package.json
Due: build common, build mobile, build web, test common

build: change node target to 18 lts
  common/package.json
  mobile/package.json
  web/package.json
Due: build common, build mobile, build web, test common
