Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

Document steps to clear env cache
  docs/SETUP.md
Due: none

improved synxtax consistency
  common/src/forms/Client/clientHandler.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

add zone in progress #137
  web/src/pages/AdminList/AdminList.tsx
Due: build web

Contain sync screen within ScrollView
  mobile/src/screens/Sync/Sync.styles.ts
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

Remove unecessary comments
  mobile/src/screens/Sync/Sync.styles.ts
Due: build mobile

run prettier
  mobile/src/screens/Sync/Sync.styles.ts
Due: build mobile

Resolve "Buttons overlap on sync page with small screen size"
  mobile/src/screens/Sync/Sync.styles.ts
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

fixed sync and alert button cutoff
  mobile/src/components/TabModal/TabModal.styles.ts
Due: build mobile

fixed client detail cutoff(only the client detail)
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
Due: build mobile

more permant solution?
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
Due: build mobile

Check if app is fresh install in autoSync
  mobile/src/util/syncHandler.ts
Due: build mobile

Updgrade version name and version code
  mobile/android/app/build.gradle
Due: build mobile

Describe mobile app version upgrade
  docs/RELEASE.md
Due: none

Upgrade version name and version code
  docs/RELEASE.md
  mobile/android/app/build.gradle
Due: build mobile

build.gradle dependency on .env VERSION_NAME and add VERSION_NAME in login and sync
  docs/SETUP.md
  mobile/android/app/build.gradle
  mobile/src/screens/Login/Login.styles.ts
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

updated doc
  docs/SETUP.md
Due: none

Lift admin tabs into new component
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/Admin/styles.ts
  web/src/util/pages.ts
Due: build web

Insert AdminList into user tab in AdminPage
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/Admin/styles.ts
  web/src/pages/AdminList/AdminList.tsx
Due: build web

Run prettier
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/AdminList/AdminList.tsx
Due: build web

newZone form is created but does not create new zone
  common/src/forms/Zone/zoneFields.ts
  common/src/forms/Zone/zoneFormsHandler.ts
  common/src/util/zones.ts
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/Zone/ZoneEdit.tsx
  web/src/pages/Zone/ZoneNew.tsx
  web/src/pages/Zone/ZoneView.tsx
  web/src/pages/Zone/styles.ts
  web/src/pages/ZoneList/ZoneList.styles.ts
  web/src/pages/ZoneList/ZoneList.tsx
  web/src/pages/ZoneList/requestUserRows.ts
  web/src/util/pages.ts
Due: build common, build mobile, build web, test common

VERSION_NAME constant in sync and reverted back build.gradle
  docs/CONTRIBUTION.md
  docs/SETUP.md
  mobile/android/app/build.gradle
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

prettier
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

Update mobile package to org.hopehealthaction.cbrapp for Playstore
  mobile/android/app/BUCK
  mobile/android/app/build.gradle
  mobile/android/app/src/debug/java/org/hopehealthaction/cbr/ReactNativeFlipper.java
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/MainActivity.java
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/MainApplication.java
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/generated/BasePackageList.java
Due: build mobile

Update mobile release docs
  docs/CONTRIBUTION.md
  docs/RELEASE.md
Due: none

Update mobile package to org.hopehealthaction.cbrapp for Playstore
  docs/CONTRIBUTION.md
  docs/RELEASE.md
  mobile/android/app/BUCK
  mobile/android/app/build.gradle
  mobile/android/app/src/debug/java/org/hopehealthaction/cbr/ReactNativeFlipper.java
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/MainActivity.java
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/MainApplication.java
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/generated/BasePackageList.java
Due: build mobile

Add SwitchServer screen
  mobile/src/App.tsx
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

Handle try catch error warning
  mobile/src/App.tsx
  mobile/src/screens/Login/Login.tsx
Due: build mobile

Add button to access switchServer screen
  mobile/src/screens/Login/Login.styles.ts
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

Add header to switch server screen
  mobile/src/App.tsx
  mobile/src/screens/SwitchServer/SwitchServer.styles.ts
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

Integrate no-auth screens into stack screen system
  mobile/src/App.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.tsx
Due: build mobile

Create layout for switch server screen
  mobile/src/screens/SwitchServer/SwitchServer.styles.ts
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

Fix scrolling issue on login page
  mobile/src/screens/Login/Login.styles.ts
  mobile/src/screens/SwitchServer/SwitchServer.styles.ts
Due: build mobile

Display server info in switchserver screen
  common/index.ts
  common/src/context/SocketIOContext.ts
  common/src/init.ts
  mobile/index.js
  mobile/src/screens/SwitchServer/SwitchServer.styles.ts
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build common, build mobile, build web, test common

Zone in progress
  common/src/forms/Zone/zoneFields.ts
  common/src/util/zones.ts
  web/src/pages/ZoneList/ZoneList.tsx
  web/src/pages/ZoneList/reqeustZoneRows.ts
Due: build common, build mobile, build web, test common

finished creating "ZoneCreate"
  common/src/forms/Zone/zoneFormsHandler.ts
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/Zone/ZoneNew.tsx
  web/src/pages/Zone/ZoneView.tsx
  web/src/pages/ZoneList/ZoneList.tsx
  web/src/pages/ZoneList/reqeustZoneRows.ts
  web/src/pages/ZoneList/searchOptions.ts
  web/src/util/pages.ts
Due: build common, build mobile, build web, test common

prettier
  common/src/forms/Zone/zoneFormsHandler.ts
Due: build common, build mobile, build web, test common

Termiante socket connection before switching server
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

no Zones Found Added
  web/src/pages/ZoneList/ZoneList.tsx
Due: build web

Resolve "Add ability to create Zones,"
  common/src/forms/Zone/zoneFields.ts
  common/src/forms/Zone/zoneFormsHandler.ts
  common/src/util/zones.ts
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/Zone/ZoneEdit.tsx
  web/src/pages/Zone/ZoneNew.tsx
  web/src/pages/Zone/styles.ts
  web/src/pages/ZoneList/ZoneList.styles.ts
  web/src/pages/ZoneList/ZoneList.tsx
  web/src/pages/ZoneList/reqeustZoneRows.ts
  web/src/pages/ZoneList/searchOptions.ts
  web/src/util/pages.ts
Due: build common, build mobile, build web, test common

Disable switch button if no server selected
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile
