Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

testing different pull format for disability field
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

stringify disability in pull sync response
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build server

Remove unused code
  mobile/src/App.tsx
Due: build mobile

Move hostname out of useEffect
  mobile/src/App.tsx
Due: build mobile

Add soocketIO configuration for socket traffic
  caddy/Caddyfile
  server/cbr/views.py
Due: build server

client and disability push and pull work, TODO risk and general sync conflict
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/models/Client.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/NewClient/formHandler.ts
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
  web/package-lock.json
Due: format common, build mobile, build web, build server

added conflict resolver for watermelon synchronization
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/util/syncHandler.ts
  web/package-lock.json
Due: format common, build mobile, build web

removed unnecessary console log
  common/src/forms/Admin/adminFormsHandler.ts
  common/src/forms/Client/clientHandler.ts
  mobile/src/util/syncHandler.ts
Due: format common, build mobile

renewed variable for conflict resolver
  mobile/src/util/syncHandler.ts
Due: build mobile

Set limit on max connections
  server/cbr/sockets.py
  server/cbr/views.py
  server/cbr/wsgi.py
Due: build server

syncing for risk
  common/src/forms/Risks/riskFormFieldHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
Due: format common, build mobile, build web, build server

added logic for client risk sync conflict
  mobile/src/util/syncHandler.ts
Due: build mobile

updated comparison logic for client risk sync
  mobile/src/util/syncHandler.ts
Due: build mobile

mobile dashmobile fetching from local db
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
Due: build mobile

removed console.log
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/NewClient/formHandler.ts
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
Due: build mobile, build web

refetch dashboard in focus and requirements for client disability in creation
  common/src/forms/Client/clientFields.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: format common, build mobile

Add comments
  server/cbr/sockets.py
Due: build server

Create property to track number of connections
  server/cbr/sockets.py
Due: build server

Ran prettier because I forgot
  server/cbr/sockets.py
Due: build server

fixed updatedTypo, fixed client risk sync logic to be dettached with client updated Time
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/models/Client.ts
  mobile/src/models/UserCBR.ts
  mobile/src/models/schema.ts
  mobile/src/models/zone.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/util/syncHandler.ts
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/migrations/0026_auto_20211104_1947.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  web/package-lock.json
Due: format common, build mobile, build web, build server

fixed logic for risk offline sync
  mobile/src/util/syncHandler.ts
  web/src/pages/Dashboard/Dashboard.tsx
Due: build mobile, build web

set up referral creation push / pull
  common/package-lock.json
  common/src/forms/Referral/referralHandler.ts
  mobile/package-lock.json
  mobile/src/models/Client.ts
  mobile/src/models/Referral.ts
  mobile/src/models/UserCBR.ts
  mobile/src/models/index.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/formHandler.ts
  server/cbr_api/migrations/0026_alter_referral_id.py
  server/cbr_api/migrations/0027_auto_20211104_2231.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: format common, build mobile, build server

set up update referrals
  mobile/src/models/Referral.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/NewReferral/formHandler.ts
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
Due: build mobile, build server

revised web dates to millisecond unix timestamp, fixed creation date timeline display in web and mobile
  common/package-lock.json
  common/src/util/dates.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/util/syncHandler.ts
  server/cbr_api/management/commands/seedclients.py
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/Dashboard/Dashboard.tsx
Due: format common, build mobile, build web, build server

fixed caregiver not displaying issue
  server/cbr_api/serializers.py
Due: build server

allow create mobile referral w/o outcome field
  server/cbr_api/serializers.py
Due: build server

update dashboard fetch for outstanding referrals
  mobile/src/models/Client.ts
  mobile/src/models/Referral.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
Due: build mobile

image fetch from sync
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/models/Client.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/util/syncHandler.ts
  server/cbr_api/serializers.py
Due: format common, build mobile, build server

Update cors and removed outdated views.py
  server/cbr/sockets.py
  server/cbr/views.py
Due: build server

client image offline sync remote->local
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/util/syncHandler.ts
  server/cbr_api/serializers.py
Due: build mobile, build server

WIP image local->remote, made client picture nullable
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/util/syncHandler.ts
  server/cbr_api/migrations/0027_alter_client_picture.py
  server/cbr_api/models.py
  server/cbr_api/util.py
Due: build mobile, build server

remote->local image sync working, change local image to base64 and conversion tool for base64 to raw file for imagefield create in django
  cbr_script.ps1
  mobile/android/.settings/org.eclipse.buildship.core.prefs
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build mobile, build server

local->remote image sync working
  server/cbr_api/views.py
Due: build server

Create Alert model
  server/cbr_api/models.py
Due: build server

Created Alert migration
  server/cbr_api/migrations/0023_alert.py
Due: build server

Created alert serializer
  server/cbr_api/serializers.py
Due: build server

added django cleanup and local-remote image sync working
  cbr_script.ps1
  common/package-lock.json
  mobile/package-lock.json
  server/cbr/settings.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
  server/requirements.txt
  web/package-lock.json
Due: format common, build mobile, build web, build server

fixed error from empty picture mobile client creation
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
Due: build server

added image sync logic
  mobile/src/util/syncHandler.ts
Due: build mobile

visit,outcome, improv server end restructure with uuid, seed visit database revised
  cbr_script.ps1
  common/src/forms/newVisit/visitFormFields.ts
  common/src/forms/newVisit/visitFormHandler.ts
  server/cbr_api/management/commands/seedvisits.py
  server/cbr_api/migrations/0028_auto_20211108_1458.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  web/src/pages/NewVisit/NewVisit.tsx
Due: format common, build mobile, build web, build server

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
