Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

Add padding to textbox to make it less cluttered
  mobile/src/screens/BugReport/BugReport.styles.ts
  mobile/src/screens/BugReport/BugReport.tsx
Due: build mobile

add success story for mobile
  mobile/src/App.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/SuccessStories/NewSuccessStory.tsx
  mobile/src/screens/SuccessStories/SuccessStories.styles.ts
  mobile/src/screens/SuccessStories/SuccessStoriesList.tsx
  mobile/src/screens/SuccessStories/SuccessStoryView.tsx
  mobile/src/screens/SuccessStories/successStoryApi.ts
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.tsx
Due: build mobile

Move submit bug report button and clear button to match web ui
  mobile/src/screens/BugReport/BugReport.styles.ts
Due: build mobile

create tests. for serializer view and model for success stories
  server/cbr_api/tests/models/test_success_story_model.py
  server/cbr_api/tests/serializers/test_success_story_serializer.py
  server/cbr_api/tests/views/test_success_story_views.py
Due: build server

Modified sync.test.js
  mobile/e2e/sync.test.js
Due: build mobile

Added storage requirements in README.md
  .gitignore
  mobile/.gitignore
  mobile/README.md
Due: build mobile

Modified env.example
  mobile/.env.e2e.example
Due: build mobile

fix image upload issue
  mobile/src/screens/SuccessStories/successStoryApi.ts
  web/src/pages/NewSuccessStory/NewSuccessStory.tsx
  web/src/util/successStories.ts
Due: build mobile, build web

fix date shown on web
  web/src/pages/ClientDetails/ClientTimeline/SuccessStoryEntry.tsx
Due: build web

add date time picker for mobile
  mobile/src/screens/SuccessStories/NewSuccessStory.tsx
Due: build mobile

Add tests for api view and bug report sending email backend
  server/cbr_api/tests/serializers/test_email_notifications.py
  server/cbr_api/tests/views/test_bug_report_email_view.py
  web/src/pages/BugReport/BugReport.test.tsx
Due: build web, build server

Fix tests dealing with image uploading
  server/cbr_api/tests/views/test_bug_report_email_view.py
Due: build server

Ran prettier on mobile.
  .github/workflows/mobile-e2e-detox.yml
  mobile/e2e/artifactPathBuilder.js
  mobile/e2e/testSequencer.js
  mobile/e2e/warm-bundle.js
  mobile/plugins/withDetoxTest.ts
Due: build mobile

Ran prettier on mobile
  mobile/e2e/artifactPathBuilder.js
  mobile/e2e/testSequencer.js
  mobile/e2e/warm-bundle.js
  mobile/plugins/withDetoxTest.ts
Due: build mobile

Remove jest test
  web/src/pages/BugReport/BugReport.test.tsx
Due: build web

fix permission and written by buttons
  web/src/pages/NewSuccessStory/NewSuccessStory.tsx
Due: build web

fix buttons for permissions and status and have safe guard for accidental click off
  mobile/src/screens/SuccessStories/NewSuccessStory.tsx
Due: build mobile

update success story view to allow for better viewing experience
  mobile/src/screens/SuccessStories/SuccessStoryView.tsx
  web/src/pages/SuccessStoryView/SuccessStoryView.tsx
Due: build mobile, build web

fix: fix flaky unseen dropdown during e2e test
  mobile/.detoxrc.js
  mobile/e2e/login.test.js
  mobile/e2e/sync.test.js
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

fix: disable data too
  mobile/e2e/sync.test.js
Due: build mobile

chore: run prettier
  mobile/e2e/sync.test.js
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

feat: add kvm check and v1 of mobile e2e workflow
  .github/workflows/check-kvm.yml
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix: add immediate fail on no secrets
  .github/workflows/mobile-e2e-tests.yml
Due: none

change workflow to run on the test vm
  .github/workflows/check-kvm.yml
  .github/workflows/mobile-e2e-detox.yml
  .github/workflows/mobile-e2e-tests.yml
Due: none

Update margins for bug report
  web/src/pages/BugReport/BugReport.tsx
Due: build web

Reformat files to pass ci/cd pipeline
  server/cbr_api/tests/serializers/test_email_notifications.py
  server/cbr_api/tests/views/test_bug_report_email_view.py
Due: build server

Add functionality to return to profile page after submitting suggestion on web
  web/src/pages/BugReport/BugReport.tsx
Due: build web

Added visit image endpoing in pull sync.
  mobile/src/util/syncHandler.ts
Due: build mobile

Add functionality to go to user page after submitting bug report on mobile
  mobile/src/screens/BugReport/BugReport.tsx
Due: build mobile

feat: make workflows idempotent
  .github/trigger.txt
  .github/workflows/check-kvm.yml
  .github/workflows/mobile-e2e-tests.yml
Due: none

revert android em ver to ver compatible w runner
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix port check
  .github/workflows/mobile-e2e-tests.yml
Due: none

mount server volume into django container
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix partial seeding error
  .github/workflows/mobile-e2e-tests.yml
Due: none

prevent root ownership
  .github/workflows/mobile-e2e-tests.yml
Due: none

create log diectory for django
  .github/workflows/mobile-e2e-tests.yml
Due: none

add npm run step for preparing common tarball
  .github/workflows/mobile-e2e-tests.yml
Due: none

ensure correct lockfile hash is used
  .github/workflows/mobile-e2e-tests.yml
  common/package.json
  mobile/package.json
Due: build common, build mobile, build web, test common

add limit to emu bootup time
  .github/workflows/mobile-e2e-tests.yml
Due: none
