Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

I use a parse to parse rows after checking the export to csv in stats page, but I then realized that it is not necessary, the raw data works pretty well. Color and border adjusted
  web/src/pages/ClientList/ClientList.styles.ts
  web/src/pages/ClientList/ClientList.tsx
Due: build web

delete unnecessary lines
  web/src/pages/ClientList/ClientList.tsx
Due: build web

run prettier
  web/src/pages/ClientList/ClientList.styles.ts
  web/src/pages/ClientList/ClientList.tsx
Due: build web

added display for referral pic on referral entry
  common/src/forms/Referral/referralHandler.ts
  common/src/util/endpoints.ts
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
  web/package-lock.json
  web/package.json
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/components/WheelChairPhotoView/PhotoDrop.tsx
  web/src/components/WheelChairPhotoView/PhotoView.tsx
  web/src/components/WheelChairPhotoView/Thumb.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: format common, build mobile, build web, build server

added url and views for referral picture
  server/cbr_api/views.py
  web/src/components/WheelChairPhotoView/Thumb.tsx
Due: build web, build server

ran prettier and quality fixes
  common/src/forms/Referral/referralHandler.ts
  server/cbr_api/models.py
  server/cbr_api/views.py
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/components/ReferralPhotoView/Thumb.tsx
  web/src/components/WheelChairPhotoView/PhotoView.tsx
  web/src/components/WheelChairPhotoView/Thumb.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: format common, build mobile, build web, build server

forma fixes
  common/src/forms/Client/clientHandler.ts
  common/src/util/referralImageSubmission.ts
  common/src/util/referrals.ts
  server/cbr_api/migrations/0021_referral_picture.py
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
Due: format common, build mobile, build web, build server

formatted python code
  server/cbr_api/migrations/0021_referral_picture.py
  server/cbr_api/models.py
  server/cbr_api/views.py
  web/tsconfig.json
Due: build web, build server

adjusted the style to make CSV download button uniform with the buttons on stats page
  web/src/pages/ClientList/ClientList.styles.ts
  web/src/pages/ClientList/ClientList.tsx
Due: build web

remove the underline of CSV
  web/src/pages/ClientList/ClientList.styles.ts
Due: build web

remove unnecessary printing
  web/src/pages/ClientList/ClientList.tsx
Due: build web

removed console log lines
  common/src/forms/Client/clientHandler.ts
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

ran prettier on tsconfig.json
  web/tsconfig.json
Due: build web

Refactor web new client page to use common form handler
  common/package.json
  common/src/forms/Client/clientHandler.ts
  common/src/util/clients.ts
  common/src/util/history.ts
  mobile/package-lock.json
  web/src/App.tsx
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminNew.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/formHandler.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewClient/formHandler.ts
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/formHandler.ts
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/formHandler.ts
  web/src/pages/User/UserPasswordEdit.tsx
  web/src/util/clientSubmission.ts
Due: format common, build mobile, build web

Revert changes to client details
  common/src/forms/Client/clientFields.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/formFields.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewClient/formHandler.ts
  web/tsconfig.json
Due: format common, build mobile, build web

Remove unused form handler
  web/src/pages/NewClient/formHandler.ts
Due: build web

Add client detail functions to common
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
Due: format common, build mobile

Refactor client details form handler to use common
  common/src/forms/Client/clientFields.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/formFields.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/ClientForm.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

Revert "Remove unused form handler"
  web/src/pages/NewClient/formHandler.ts
Due: build web

Fix validation schema for new client
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  web/src/pages/NewClient/formHandler.ts
Due: format common, build mobile, build web

Ran prettier
  common/src/forms/Client/clientHandler.ts
Due: format common, build mobile

mobile displaying images
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

implement saving profile pic to server
  server/cbr_api/models.py
  web/src/util/clientSubmission.ts
  web/tsconfig.json
Due: build web, build server

add 'show more' button to load all activities
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/Timeline/ShowMoreEntry.tsx
  web/src/pages/ClientDetails/Timeline/timelines.styles.ts
Due: build web

Fix superuser & import Django models
  common/package-lock.json
  mobile/package-lock.json
  server/cbr_api/admin.py
  server/cbr_api/models.py
  web/package-lock.json
Due: format common, build mobile, build web, build server

re-format admin.py
  server/cbr_api/admin.py
Due: build server

run prettify
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/Timeline/ShowMoreEntry.tsx
Due: build web

fixed common util files
  common/src/forms/Client/clientHandler.ts
  common/src/util/mobileImageSubmisson.ts
  mobile/package-lock.json
  web/src/pages/NewClient/formHandler.ts
  web/src/util/clientSubmission.ts
Due: format common, build mobile, build web

revised common import
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Referral/referralHandler.ts
  mobile/package-lock.json
Due: format common, build mobile

make button left aligned and smaller
  web/src/pages/ClientList/ClientList.styles.ts
  web/src/pages/ClientList/ClientList.tsx
Due: build web

attaching referral picture for mobile
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Referral/referralHandler.ts
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
  mobile/src/screens/NewReferral/formHandler.ts
  web/src/pages/NewReferral/formHandler.ts
Due: format common, build mobile, build web

re-order variables
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
Due: build web

mobile referral entry now displaying images
  common/src/forms/Referral/referralHandler.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: format common, build mobile

minor refactoring
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
Due: build web

additional comments
  common/src/util/mobileImageSubmisson.ts
  mobile/package-lock.json
Due: format common, build mobile

ran prettier and migrations
  server/cbr_api/migrations/0022_alter_client_picture.py
  web/tsconfig.json
Due: build web, build server

format python code with black
  server/cbr_api/migrations/0022_alter_client_picture.py
Due: build server

edit profile picture on mobile
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
Due: build mobile

fixed clients with no profile pic edit on mobile
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

add show all button to timeline ui
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
Due: build mobile
