Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build server

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  MASTER_BRANCH: "master"

build client:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - client/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - npx prettier --check .
    - CI=false npm run build
  after_script:
    - tar -czvf client_build.tar.gz client/build
  artifacts:
    paths:
      - client_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: cbr_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py test
  
deploy:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/.env ./.env
    - tar -xvf client_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    # wait for Postgres to start so we can run database migrations
    - docker exec cbr_django timeout 60 bash -c "while ! bash -c 'echo > /dev/tcp/postgres/5432'; do sleep 1; done" &>-
    - docker exec cbr_django python manage.py migrate

Add default route if page cannot be found
  client/src/App.tsx
  client/src/pages/NotFound/NotFound.tsx
  client/src/util/pages.ts
Due: build client

9: Confirm before clearing the form, using classnames instead of inline styling, rename status => risk, fixing ESLint warning.
  client/src/pages/Client/ClientForm.styles.ts
  client/src/pages/Client/ClientForm.tsx
  client/src/pages/Client/formFields.ts
Due: build client

9: Confirmation dialog for clear should work now
  client/src/pages/Client/ClientForm.tsx
  client/src/pages/Client/formHandler.ts
Due: build client

Add views and serializer for ClientRisk table
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

Automatically fill created_by_user field and use default ID PK fields
  server/cbr_api/migrations/0003_auto_20210210_2109.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

Added responsiveness to client list header
  client/src/components/IOSSwitch/IOSSwitch.styles.ts
  client/src/pages/ClientList/ClientList.styles.ts
  client/src/pages/ClientList/ClientList.tsx
Due: build client

Basic frontend auth code
  client/package-lock.json
  client/package.json
  client/src/pages/ToDo/ConnectionTest.tsx
  client/src/util/auth.ts
  client/src/util/endpoints.ts
  client/src/util/history.ts
Due: build client

Add login/logout UI functionality to frontend
  client/src/App.tsx
  client/src/pages/Login/Login.tsx
  client/src/pages/Logout/Logout.tsx
  client/src/util/auth.ts
  client/src/util/endpoints.ts
  client/src/util/pages.ts
  server/cbr/settings.py
Due: build client, build server

Add white HHA favicon
  client/public/favicon.ico
Due: build client

Update client models
  server/cbr/settings.py
  server/requirements.txt
Due: build server

Add ability to press enter to login; add temporary docs to create user/pass
  client/src/pages/Login/Login.tsx
  client/src/util/auth.ts
  docs/CONTRIBUTION.md
Due: build client

Set login page fields to required but hide asterisk; set alert severity to fix icons
  client/src/pages/Login/Login.tsx
Due: build client

Set secondary color palette to match theme
  client/src/pages/Login/Login.styles.ts
  client/src/pages/Login/Login.tsx
  client/src/theme.styles.ts
Due: build client

Make code clean from code review
  client/src/pages/User/Edit.styles.ts
  client/src/pages/User/User.tsx
  client/src/pages/User/UserEdit.tsx
  client/src/pages/User/UserView.tsx
  client/src/pages/User/View.styles.ts
  client/src/pages/User/View.tsx
  client/src/pages/User/styles.ts
  client/src/util/pages.ts
Due: build client

Save a space between ID and user name
  client/src/pages/User/UserView.tsx
Due: build client

added proper sorting on client list risk and code improvements
  client/src/App.styles.ts
  client/src/components/RiskChip/RiskChip.styles.ts
  client/src/components/RiskChip/RiskChip.tsx
  client/src/components/SearchBar/SearchBar.tsx
  client/src/pages/Client/ClientForm.tsx
  client/src/pages/ClientList/ClientList.styles.ts
  client/src/pages/ClientList/ClientList.tsx
  client/src/pages/ClientList/searchOptions.ts
  client/src/styles/DataGrid.styles.ts
  client/src/theme.styles.ts
  client/src/util/auth.ts
  client/src/util/riskOptions.ts
Due: build client

ran prettier
  client/src/components/RiskChip/RiskChip.styles.ts
  client/src/pages/ClientList/ClientList.tsx
  client/src/util/auth.ts
Due: build client

removed unnecessary functions
  client/src/pages/ClientList/ClientList.tsx
Due: build client

made datagrid responsive
  client/src/components/SearchBar/SearchBar.styles.ts
  client/src/pages/ClientList/ClientList.styles.ts
  client/src/pages/ClientList/ClientList.tsx
  client/src/styles/DataGrid.styles.ts
  client/src/util/riskOptions.ts
Due: build client

added text wrapping
  client/src/pages/ClientList/ClientList.tsx
  client/src/styles/DataGrid.styles.ts
Due: build client

Move regexp to another files and show first name and last name on profile
  client/src/pages/Client/formFields.ts
  client/src/pages/User/UserEdit.tsx
  client/src/pages/User/UserView.tsx
  client/src/pages/User/fields.ts
  client/src/pages/User/styles.ts
  client/src/util/validations.ts
Due: build client

Hide datagrid scrollbars on Windows
  client/src/styles/DataGrid.styles.ts
Due: build client

fixed css style issues and minor coding style improvements
  client/src/components/RiskChip/RiskChip.tsx
  client/src/pages/Client/ClientForm.tsx
  client/src/pages/Client/formFields.ts
  client/src/pages/ClientList/ClientList.tsx
  client/src/styles/DataGrid.styles.ts
  client/src/util/riskOptions.ts
Due: build client

removed unnecessary package-lock.json
  package-lock.json
Due: none

changed risk colors
  client/src/pages/Client/ClientForm.tsx
  client/src/pages/ClientList/ClientList.tsx
  client/src/util/riskOptions.ts
Due: build client

got rid of duplicated code
  client/src/pages/Client/ClientForm.tsx
  client/src/pages/ClientList/ClientList.tsx
Due: build client

fixed risk column hearder
  client/src/pages/ClientList/ClientList.tsx
Due: build client

removed console log :)
  client/src/pages/ClientList/ClientList.tsx
  client/src/util/auth.ts
Due: build client

Create ClientRisk rows alongside Clients in serializers
  server/cbr_api/migrations/0004_auto_20210213_2356.py
  server/cbr_api/migrations/0005_auto_20210214_0059.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

Update tests.py to account for database changes
  server/cbr_api/tests.py
Due: build server

Add client filtering by first_name, zone, and id
  server/cbr_api/filters.py
  server/cbr_api/views.py
Due: build server

Simplify Swagger schemas and split RiskSerializer into two
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

Simplify ClientCreateSerializer's create() overridden function
  server/cbr_api/serializers.py
Due: build server

Add TODO comment for paths
  client/src/pages/AdminList/AdminList.tsx
Due: build client

Ran prettier
  client/src/pages/AdminList/AdminList.styles.ts
  client/src/pages/AdminList/AdminList.tsx
Due: build client

Fix small DataGrid style issue and table header typo
  client/src/styles/DataGrid.styles.ts
  client/src/util/riskOptions.ts
Due: build client

[ckl47, ehinchli] Create new user including zones and phone numbers
  client/src/util/endpoints.ts
  server/cbr/settings.py
  server/cbr_api/migrations/0001_initial.py
  server/cbr_api/migrations/0002_auto_20210207_0158.py
  server/cbr_api/migrations/0003_auto_20210210_2109.py
  server/cbr_api/migrations/0004_auto_20210213_2356.py
  server/cbr_api/migrations/0005_auto_20210214_0059.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build client, build server

Fixed the default authentication.
  server/cbr/settings.py
  server/cbr_api/migrations/0001_initial.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

Ran black and fixed the password update
  server/cbr_api/serializers.py
Due: build server
