Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

Merged with current branch 12.
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Initiated single client component + formik port
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientDetails.tsx
Due: build mobile

Ui update
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/util/riskIcon.tsx
Due: build mobile

Ported all client details to separete component using formik, details broken
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientDetails.tsx
  mobile/src/screens/Client/ClientRequests.ts
Due: build mobile

Refactor to common
  common/index.ts
  common/src/forms/Referral/referralFormFields.ts
  common/src/forms/Referral/referralFormHandler.ts
  mobile/package-lock.json
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/formHandler.ts
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

Refactor baseline survey
  common/src/forms/Referral/referralFormFields.ts
  common/src/forms/Referral/referralFormHandler.ts
  common/src/forms/baseSurvey/baseSurveyFormFields.ts
  common/src/forms/baseSurvey/baseSurveyFormHandler.ts
  mobile/package-lock.json
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EducationForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EmpowermentForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/HealthForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodFom.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/ShelterForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/SocialForm.tsx
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/ProstheticOrthoticForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
  mobile/src/screens/NewReferral/formFields.ts
  mobile/src/screens/NewReferral/formHandler.ts
  mobile/src/util/screens.ts
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/formHandler.ts
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/formFields.ts
  web/src/pages/NewReferral/formHandler.ts
Due: format common, build mobile, build web

Added loading screen with promise handle to ensure data loads before render
  mobile/src/screens/Client/Client.styles.ts
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientDetails.tsx
  mobile/src/screens/Loading/Loading.tsx
Due: build mobile

Remade Disability, awaiting feedback
  mobile/src/screens/Client/Activity.tsx
  mobile/src/screens/Client/Client.styles.ts
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientDetails.tsx
Due: build mobile

Added a new popup modal disability check
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/Client/Client.styles.ts
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientDetails.tsx
Due: build mobile

Created popup for disabilities and other disability text
  mobile/package.json
  mobile/src/screens/Client/Client.styles.ts
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientDetails.tsx
  mobile/src/screens/Client/ClientRequests.ts
Due: build mobile

Package lock for pipeline
  mobile/package-lock.json
Due: build mobile

Add warning for required fields
  mobile/src/screens/Visit/visitSurvey.style.ts
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

mobile: add npm scripts for Expo publish / build
  mobile/app.config.ts
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Merge main to current working tree
  common/index.ts
  common/src/util/auth.ts
  mobile/package-lock.json
  mobile/src/screens/Visit/visitSurvey.style.ts
  web/src/pages/NewVisit/NewVisit.tsx
Due: format common, build mobile, build web

Merge branch 35 into 12.
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/util/riskIcon.tsx
Due: build mobile

Resolve merge conflict
  mobile/package-lock.json
  mobile/src/screens/Visit/visitSurvey.style.ts
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

Prettier write
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

mobile: make Profile scrollable for landscape
  mobile/src/screens/Profile/Profile.styles.ts
  mobile/src/screens/Profile/Profile.tsx
Due: build mobile

mobile: set returnKeyTypes for TextInputs
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
Due: build mobile

Update the dynamic progress
  common/src/forms/Referral/referralFormHandler.ts
  common/src/forms/baseSurvey/baseSurveyFormFields.ts
  common/src/forms/baseSurvey/baseSurveyFormHandler.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/TextCheckBox/TextCheckBox.style.ts
  mobile/src/components/TextCheckBox/TextCheckBox.tsx
  mobile/src/components/TextPicker/TextPicker.style.ts
  mobile/src/components/TextPicker/TextPicker.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/BaseSurvey/baseSurvey.style.ts
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/util/screens.ts
  web/src/pages/NewReferral/NewReferral.tsx
Due: format common, build mobile, build web

Finish the dynamic stepper
  common/index.ts
  common/src/forms/BaseSurvey/baseSurveyFields.ts
  common/src/forms/BaseSurvey/baseSurveyHandler.ts
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  mobile/package-lock.json
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/ProstheticOrthoticForm.tsx
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/formHandler.ts
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/formHandler.ts
Due: format common, build mobile, build web

Implement dyanmically generated text box
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

Update with prettier
  mobile/src/App.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EmpowermentForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/ProstheticOrthoticForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
Due: build mobile, build web

Select referral's submit disabled
  mobile/src/screens/NewReferral/NewReferral.tsx
Due: build mobile

Correct the next and prev stuff work naturally
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/baseSurvey.style.ts
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/ProstheticOrthoticForm.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: build mobile, build web

Implement appropriate dynamic stepper
  mobile/src/components/TextCheckBox/TextCheckBox.style.ts
  mobile/src/components/TextCheckBox/TextCheckBox.tsx
  mobile/src/components/TextPicker/TextPicker.style.ts
  mobile/src/components/TextPicker/TextPicker.tsx
  mobile/src/screens/Visit/visitSurvey.style.ts
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

Update social and education survey
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

Dashboard is ready to be merged.
  mobile/package.json
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/util/riskIcon.tsx
  mobile/src/util/screens.ts
Due: build mobile

Style fix.
  mobile/src/util/screens.ts
Due: build mobile

Solved some threads.
  common/index.ts
  common/src/util/searchOptions.ts
  mobile/package.json
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  web/src/pages/ClientList/ClientList.tsx
Due: format common, build mobile, build web

Solved some threads. And style fix.
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

put style info in style file And style fix.
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

Henry: make the visit can work
  mobile/package-lock.json
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formFields.ts
  mobile/src/screens/NewVisit/formHandler.ts
  mobile/src/screens/Visit/visitSurvey.tsx
  mobile/src/screens/Visit/zonesRequest.ts
  mobile/src/util/TextCheckBox.tsx
  mobile/src/util/screens.ts
Due: build mobile

Update README.md
  README.md
Due: none

Fix common's pipeline
  common/index.ts
  common/src/util/searchOptions.ts
  common/tsconfig.json
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/CONTRIBUTION.md
  docs/SETUP.md
  docs/STYLE.md
  mobile/tsconfig.json
  web/package.json
  web/tsconfig.base.json
  web/tsconfig.json
Due: format common, build mobile, build web

Implemented zone checkpicker and made separate componenet for Risks, displayed zone and disability on page
  mobile/src/screens/Client/Client.styles.ts
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientDetails.tsx
  mobile/src/screens/Client/ClientRisk.tsx
Due: build mobile

Update UI
  mobile/src/components/TextCheckBox/TextCheckBox.style.ts
  mobile/src/components/TextPicker/TextPicker.style.ts
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

Fixed several threads
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

Fixed several threads
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

Sort in the halfway done
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
