Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

433 extract cicd common code into actions shared across all projects (#434)
  .github/workflows/main-cicd.yml
  .github/workflows/mirror-to-github.yml
Due: none

Mirror to GitHub.com when production branch changes (#435)
  .github/workflows/mirror-to-github.yml
Due: none

Install AWS and configure restore .env
  scripts/restore_backup.sh
  scripts/setup_production.sh
Due: none

Minor fix
  scripts/restore_backup.sh
  scripts/s3-bucket-backup.yml
Due: none

fix alerts
  common/package-lock.json
  common/package.json
  mobile/package-lock.json
  mobile/package.json
  web/package-lock.json
  web/package.json
Due: build common, build mobile, build web, test common

fix dependabot alerts backend
  server/requirements.txt
Due: build server

Change checkout
  scripts/setup_production.sh
Due: none

Changes requested from Dr. Brian
  scripts/daily_backup_script.sh
  scripts/hourly_backup_script.sh
  scripts/monthly_backup_script.sh
  scripts/restore_backup.sh
  scripts/setup_production.sh
Due: none

Adding .env to backup
  scripts/daily_backup_script.sh
  scripts/setup_production.sh
Due: none

clean
  scripts/daily_backup_script.sh
Due: none

Update hourly_backup_script.sh
  scripts/hourly_backup_script.sh
Due: none

Update monthly_backup_script.sh
  scripts/monthly_backup_script.sh
Due: none

Update restore_backup.sh
  scripts/restore_backup.sh
Due: none

Update setup_production.sh
  scripts/setup_production.sh
Due: none

add endpoint for migrating from zone
  common/src/util/endpoints.ts
  server/cbr_api/urls.py
  server/cbr_api/views.py
  web/src/components/Dialogs/ConfirmDeleteZone.tsx
  web/src/pages/Zone/ZoneEdit.tsx
Due: build common, build mobile, build web, build server, test common

formatter
  server/cbr_api/urls.py
  server/cbr_api/views.py
  web/src/components/Dialogs/ConfirmDeleteZone.tsx
Due: build web, build server

fix warnings
  web/src/pages/Zone/ZoneEdit.tsx
Due: build web

S3 template asks for user name; Correct S3 variable in hourly script
  scripts/README.md
  scripts/hourly_backup_script.sh
  scripts/s3-bucket-backup.yml
Due: none

remove current zone from selection
  web/src/components/Dialogs/ConfirmDeleteZone.tsx
Due: build web

run prettier
  web/src/components/Dialogs/ConfirmDeleteZone.tsx
Due: build web

Backup Postgres by exporting data to SQL file
  scripts/backup_volume_to_s3.sh
  scripts/daily_backup_script.sh
  scripts/hourly_backup_script.sh
  scripts/monthly_backup_script.sh
  scripts/restore_backup.sh
  scripts/restore_volume_from_s3.sh
  scripts/setup_production.sh
Due: none

Backup Postgres by exporting data to SQL file (#441)
  scripts/backup_volume_to_s3.sh
  scripts/daily_backup_script.sh
  scripts/hourly_backup_script.sh
  scripts/monthly_backup_script.sh
  scripts/restore_backup.sh
  scripts/restore_volume_from_s3.sh
  scripts/setup_production.sh
Due: none

Remove all references to GitLab, and correct typo in backup script
  .gitlab-ci.yml
  docs/CONTRIBUTION.md
  docs/DEPLOYMENT.md
  scripts/README.md
  scripts/restore_volume_from_s3.sh
Due: build common, build mobile, build web, build server, test common, test caddy

Correct capitalization
  docs/CONTRIBUTION.md
Due: none

Revert Expo to v48; package fix ReactNativeFlipper
  docs/SETUP.md
  mobile/android/app/src/release/java/org/hopehealthaction/cbrapp/ReactNativeFlipper.java
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Build mobile
  .github/workflows/main-cicd.yml
Due: none

Use sudo to make .gradle folder
  .github/workflows/main-cicd.yml
Due: none

Relocate gradle home folder
  .github/workflows/main-cicd.yml
Due: none

Fail on no files to upload
  .github/workflows/main-cicd.yml
Due: none

add aws logging
  .github/workflows/main-cicd.yml
  aws/README.md
  aws/fluentbit-user-iam.yml
  caddy/Dockerfile
  docker-compose.deploy.yml
  docker-compose.yml
  fluentbit/config/fluent-development.conf
  fluentbit/config/fluent-local.conf
  fluentbit/config/fluent-prod.conf
  fluentbit/config/fluent-staging.conf
  fluentbit/config/inputs/docker-input.conf
  fluentbit/config/inputs/fluentmetrics-input.conf
  fluentbit/config/inputs/metrics-input.conf
  fluentbit/config/inputs/node-input.conf
  fluentbit/config/inputs/tail-input.conf
  fluentbit/config/json-parser.conf
  fluentbit/config/outputs/development/docker-output.conf
  fluentbit/config/outputs/development/node-output.conf
  fluentbit/config/outputs/development/tail-output.conf
  fluentbit/config/outputs/local/docker-output.conf
  fluentbit/config/outputs/local/tail-output.conf
  fluentbit/config/outputs/staging-prod/cloudwatch-output.conf
  fluentbit/fluent-bit.conf
  server/cbr/settings.py
Due: build server, test caddy

Generate valid filename as date
  .github/workflows/main-cicd.yml
Due: none

Use set-output
  .github/workflows/main-cicd.yml
Due: none

Full build
  .github/workflows/main-cicd.yml
Due: none

Increment mobile version numbers for release candidate
  docs/RELEASE.md
  mobile/android/app/build.gradle
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

Set default to name
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Fix decorator
  mobile/package-lock.json
Due: build mobile

Missing push
  server/cbr_api/views.py
  web/tsconfig.json
Due: build web, build server

Only build one mobile APK
  .github/workflows/main-cicd.yml
Due: none

Fix style
  server/cbr_api/views.py
  web/tsconfig.json
Due: build web, build server

Hack fix
  server/cbr_api/views.py
Due: build server

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
