Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

chore: remove unused import
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
Due: build web

fix: update ClientForm styles to mui5
  web/src/pages/NewClient/ClientForm.styles.ts
  web/src/pages/NewClient/ClientForm.tsx
Due: build web

fix: update NewReferral styles to mui 5
  web/src/pages/NewReferral/NewReferral.styles.ts
  web/src/pages/NewReferral/NewReferral.tsx
Due: build web

fix: update NewVisit styles to mui 5
  web/src/pages/NewVisit/NewVisit.styles.ts
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

fix: update User styles to mui 5
  web/src/pages/User/User.styles.ts
  web/src/pages/User/UserPasswordEdit.tsx
  web/src/pages/User/UserView.tsx
  web/src/pages/User/styles.ts
Due: build web

fix: update Zone styles to mui 5
  web/src/pages/Zone/Zone.styles.ts
  web/src/pages/Zone/ZoneEdit.tsx
  web/src/pages/Zone/ZoneNew.tsx
  web/src/pages/Zone/styles.ts
Due: build web

fix: update HideColumns style to mui 5
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/styles/HideColumns.styles.ts
Due: build web

fix: update SearchOptions to mui 5
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/styles/SearchOptions.styles.ts
Due: build web

chore: prettier
  web/src/App.tsx
Due: build web

deps: remove @mui/styles from web
  web/package.json
Due: build web

fix: replace timelineStyles uses for mui 5 changes
  web/src/pages/ClientDetails/Timeline/ShowMoreEntry.tsx
  web/src/pages/ClientDetails/Timeline/TimelineEntry.tsx
Due: build web

fix: replace updated styles for mui 5
  web/src/pages/Admin/AdminNew.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

chore: remove mui4 to mui5 adapter default theme
  web/src/index.tsx
Due: build web

chore: add comment
  web/src/theme.styles.ts
Due: build web

deps: update all i18n to latest
  common/package-lock.json
  common/package.json
  mobile/package-lock.json
  mobile/package.json
  web/package-lock.json
Due: build common, build mobile, build web, test common

chore: post-merge cleanup
  web/src/App.tsx
  web/src/components/GoBackButton/GoBackButton.tsx
  web/src/components/SearchBar/SearchBar.styles.ts
  web/src/components/SearchBar/SearchBar.tsx
  web/src/components/SideNav/SideNav.tsx
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/index.tsx
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminNew.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistory.styles.ts
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/Login/Login.styles.ts
  web/src/pages/Login/Login.tsx
  web/src/pages/NewReferral/forms/MentalHealthForm.tsx
  web/src/pages/NewReferral/forms/NutritionForm.tsx
  web/src/pages/NewReferral/forms/OtherServicesForm.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
  web/src/pages/NewReferral/forms/ProstheticOrthoticForm.tsx
  web/src/pages/NewReferral/forms/ReferralServiceForm.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
  web/src/util/risks.ts
Due: build web

fix: add defaultValue to resolve mui out-of-range warn
  web/src/pages/NewClient/ClientForm.tsx
Due: build web

fix: remove defaultValue; mui 5 select error
  web/src/pages/NewClient/ClientForm.tsx
Due: build web

feat(admin): translate view for specific user in system
  web/src/pages/Admin/AdminView.tsx
Due: build web

feat(client details): begin translating
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/RiskHistory/ClientRiskHistory.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

fix(translations): Address review comments
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/hooks/disabilities.ts
  common/src/util/referrals.ts
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/helper.ts
  web/src/pages/ClientDetails/RiskHistory/helper.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/util/hooks/useUser.ts
  web/src/util/pages.ts
Due: build common, build mobile, build web, test common

fix: fix warning where it stated that ReactDOM.render was deprecated. Switched to React createRoot instead
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/index.tsx
  web/tsconfig.json
Due: build web

feat(admin): add more translations
  web/src/pages/ZoneList/ZoneList.tsx
Due: build web

refactor(charts): extract function for getting chart title string
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/util/risks.ts
Due: build web

feat(admin): translate new user page
  web/src/pages/Admin/AdminNew.tsx
Due: build web

refactor(newReferralForm): add index.ts file for easier imports
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/index.ts
Due: build web

feat(pages): translate page names
  web/src/App.tsx
  web/src/util/pages.ts
Due: build web

use context provider for i18n instance
  common/src/i18n.config.ts
  web/src/index.tsx
  web/src/pages/Login/Login.tsx
Due: build common, build mobile, build web, test common

refactor(translations): cleanup imports in App.tsx
  mobile/src/App.tsx
Due: build mobile

refactor(translations): try out initializing function
  common/package-lock.json
  mobile/src/App.tsx
  mobile/src/i18n.config.ts
Due: build common, build mobile, build web, test common

feat(clientTimeline): translate
  common/src/util/visits.ts
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
Due: build common, build mobile, build web, test common

chore: remove dead code and console logs
  common/src/util/hooks/disabilities.ts
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/tsconfig.json
Due: build common, build mobile, build web, test common

chore: remove unused imports
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

feat(dashboard): Begin translating
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

feat(admin): translate dropdown select in users list
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/AdminList/requestUserRows.ts
  web/src/pages/ClientList/searchOptions.ts
Due: build web

fix(translations): fix ts error where variable was not known at compile-time
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/util/pages.ts
Due: build web

feat(newReferralForm): translate and extract referral service sub form
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/ReferralServiceForm.tsx
  web/src/pages/NewReferral/forms/index.ts
Due: build web

package lock integrity
  common/package-lock.json
Due: build common, build mobile, build web, test common

refactor(side nav): cleanup code
  web/src/components/SideNav/SideNavIcon.tsx
Due: build web

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
