Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

SocketIO setup on FE with Django
  web/package-lock.json
  web/package.json
  web/src/App.tsx
Due: build web

Set up socket io connection in mobile
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  web/src/App.tsx
Due: build mobile, build web

try to update package-lock.json to fix dependency problem
  web/package-lock.json
Due: build web

Create the draft for alert
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/util/pages.ts
Due: build web

prevent repeated authContext requesting requiredloggedIn
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

fixed searching causing re-requiring authentication
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

Use env vars and clean up mobile socket code
  mobile/babel.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  server/cbr/wsgi.py
Due: build mobile, build server

Remove alert page used to testing only
  web/src/pages/Alerts/AlertNew.tsx
  web/src/pages/Alerts/Alerts.tsx
  web/src/pages/Alerts/styles.ts
  web/src/util/pages.ts
Due: build web

Clean up and run prettier
  mobile/babel.config.js
  mobile/src/App.tsx
  server/app.py
  server/cbr/settings.py
  server/cbr/urls.py
  server/cbr/views.py
  server/cbr/wsgi.py
  server/cbr_api/models.py
  web/src/App.tsx
  web/tsconfig.json
Due: build mobile, build web, build server

set default_auto_field in settings
  server/cbr/settings.py
Due: build server

Prettier again
  server/templates/base.html
  server/templates/main.html
Due: build server

Run Prettier
  server/cbr/settings.py
  web/src/App.tsx
Due: build web, build server

Remove alert model from this MR
  server/cbr/settings.py
  server/cbr_api/models.py
Due: build server

Another prettier error
  web/src/App.tsx
Due: build web

removed console log
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

Improve user list search functionality
  mobile/src/screens/UserList/UserListRequest.ts
Due: build mobile

have complete the basic list, but dont have roll up/ roll down
  web/src/pages/AlertInbox/Alert.ts
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

Merge conflicts and prettier
  mobile/package-lock.json
  web/package-lock.json
Due: build mobile, build web

Resolve PR comments
  mobile/src/App.tsx
  server/cbr/wsgi.py
  server/templates/base.html
  server/templates/main.html
  web/package-lock.json
  web/package.json
  web/src/App.tsx
Due: build mobile, build web, build server

Remove django socket test files
  server/static/main.js
  server/templates/base.html
  server/templates/main.html
Due: build server

Trying css
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
  web/src/pages/AlertInbox/TestAlertExampleDeleteLater.tsx
Due: build web

Remove unused settings
  server/cbr/settings.py
Due: build server

continue adjusting css...
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

Everything is functioning well, but the code/naming are very bad, need to improvee
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
  web/src/pages/AlertInbox/TestAlertExampleDeleteLater.tsx
Due: build web

add package changes
  web/package-lock.json
  web/package.json
Due: build web

basic functions are done
  web/src/pages/AlertInbox/Alert.ts
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
  web/src/pages/AlertInbox/TestAlertExampleDeleteLater.tsx
  web/src/util/pages.ts
Due: build web

fix code reviews
  common/src/forms/Alert/alertFields.ts
Due: format common, build mobile

delete unnecessary console.log()
  web/src/pages/AlertInbox/AlertInbox.tsx
Due: build web

fix pipeline, not sure the cause, just try
  web/package.json
Due: build web

fix pipeline, not sure the cause, v1
  web/package-lock.json
  web/tsconfig.json
Due: build web

fix pipeline, not sure the cause, v2
  web/package-lock.json
  web/tsconfig.json
Due: build web

Resolve package-log conflicts from master
  web/package-lock.json
  web/package.json
Due: build web

fix CI
  web/package-lock.json
Due: build web

Revert "Merge branch '88-django-socketio-alert-prototype' into 'main'"
  mobile/babel.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  server/app.py
  server/cbr/urls.py
  server/cbr/views.py
  server/cbr/wsgi.py
  server/requirements.txt
  web/package-lock.json
  web/package.json
  web/src/App.tsx
Due: build mobile, build web, build server

Remove some requirements
  server/requirements.txt
Due: build server

Remove more test code
  server/app.py
  server/cbr/urls.py
  server/cbr/views.py
Due: build server

refresh npm depedencies
  mobile/package-lock.json
Due: build mobile

updated dependency
  mobile/package.json
Due: build mobile
