Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build server

build client:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - cd client
  - npm install
  script:
  - npx prettier --check .
  - CI=false npm run build
  after_script:
  - tar -czvf client_build.tar.gz client/build
  artifacts:
    paths:
    - client_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: cbr_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
  before_script:
  - cd server
  script:
  ...

Change browser alert to material-ui alert when wrong password error
  client/src/pages/Admin/fields.ts
  client/src/pages/User/UserPasswordEdit.tsx
  client/src/pages/User/UserView.tsx
  client/src/pages/User/fields.ts
  client/src/pages/User/handleUpdatePassword.ts
  client/src/util/pages.ts
  client/src/util/validations.ts
Due: build client

fixed profile picture image sizing
  client/src/components/PhotoViewUpload/PhotoViewUpload.styles.ts
  client/src/components/PhotoViewUpload/PhotoViewUpload.tsx
Due: build client

Fix baseline survey crash on client details page; fix wording of some survey questions
  client/src/pages/BaseSurvey/formFields.ts
  client/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
Due: build client

Serve media files using Caddy in deployments
  caddy/Caddyfile
  docker-compose.deploy.yml
Due: none

Increase random string size for photo uploads
  client/src/pages/ClientDetails/formHandler.ts
  client/src/pages/NewClient/formHandler.ts
  client/src/util/misc.ts
Due: build client

Changed empty outstanding referral icon & other css fixes
  client/src/pages/Dashboard/Dashboard.tsx
  client/src/pages/NewVisit/NewVisit.tsx
Due: build client

Fix mixed content warnings in deployments
  server/cbr/settings.py
Due: build server

switch staging branch to main
  .gitlab-ci.yml
Due: none

move LICENSE to root so GitLab can parse it
  LICENSE.txt
  README.md
Due: none

Update the baseline survey & referral & new client as required
  client/src/pages/Admin/AdminView.tsx
  client/src/pages/BaseSurvey/BaseSurvey.tsx
  client/src/pages/BaseSurvey/formFields.ts
  client/src/pages/NewClient/ClientForm.tsx
  client/src/pages/NewClient/formFields.ts
  client/src/pages/NewReferral/NewReferral.tsx
  client/src/pages/User/UserView.tsx
Due: build client

Run Prettier
  client/src/pages/BaseSurvey/formFields.ts
  client/src/pages/User/UserView.tsx
Due: build client

Bold the title
  client/src/App.styles.ts
Due: build client

linked mobile build with common library
  common/index.ts
  common/src/util/auth.ts
  common/src/util/clients.ts
  common/src/util/colors.ts
  common/src/util/endpoints.ts
  common/src/util/risks.ts
  web/package-lock.json
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/theme.styles.ts
Due: none

updated contribution docs
  docs/CONTRIBUTION.md
  web/package.json
Due: none

fixed tracking on mobile directory
  mobile/.expo-shared/assets.json
  mobile/.gitignore
  mobile/app.json
  mobile/assets/adaptive-icon.png
  mobile/assets/favicon.png
  mobile/assets/icon.png
  mobile/assets/splash.png
  mobile/babel.config.js
  mobile/common-1.0.0.tgz
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/index.ts
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/theme.styles.ts
  mobile/src/util/screens.ts
  mobile/tsconfig.json
Due: none

Fixed navigation icons
  .gitlab-ci.yml
  mobile/common-1.0.0.tgz
  mobile/package-lock.json
  mobile/src/index.ts
  mobile/src/screens/Todo/Todo.tsx
Due: none

Change the consent variable name in baseline to keep consistent
  client/src/pages/BaseSurvey/BaseSurvey.tsx
  client/src/pages/BaseSurvey/formFields.ts
Due: build client

Some rough list demo. Try change to DataTable instead.
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/util/screens.ts
  web/package-lock.json
  web/src/theme.styles.ts
Due: none

Some rough list demo. Try change to DataTable instead.
  mobile/src/screens/ClientList/ClientList.styles.ts
Due: none

Detached common from web
  common/package.json
  common/src/util/endpoints.ts
  docs/SETUP.md
  mobile/.gitignore
  mobile/app.json
  mobile/common-1.0.0.tgz
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/theme.styles.ts
  web/package-lock.json
  web/package.json
  web/src/theme.styles.ts
Due: none

updated CI pipeline
  .gitlab-ci.yml
  common/index.ts
  common/src/util/visits.ts
  docs/CONTRIBUTION.md
  docs/SETUP.md
  mobile/package-lock.json
  mobile/package.json
  mobile/src/theme.styles.ts
  mobile/src/util/screens.ts
Due: none

added prettier
  mobile/.prettierignore
  mobile/.prettierrc.json
  mobile/babel.config.js
  mobile/src/App.tsx
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/theme.styles.ts
  mobile/src/util/screens.ts
Due: none

Now is data table
  common/package-lock.json
  mobile/src/screens/ClientList/ClientList.tsx
Due: none

Merge with ali's react_native_setup branch
  mobile/package-lock.json
  mobile/src/util/screens.ts
Due: none

Minor changes to styles
  mobile/package.json
  mobile/src/Login/Login.tsx
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/util/auth.ts
  mobile/src/util/endpoints.ts
Due: none

Added icons to list for health, will extend to others
  mobile/src/App.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/util/screens.ts
Due: none

Icon templates for HES
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: none

Package files
  mobile/package.json
Due: none

updated dependencies and added CI format checking to common
  .gitlab-ci.yml
  web/package-lock.json
  web/package.json
  web/src/components/DataCard/DataCard.tsx
  web/src/components/IOSSwitch/IOSSwitch.tsx
  web/src/components/RiskLevelChip/RiskLevelChip.tsx
  web/src/components/SearchBar/SearchBar.tsx
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
  web/src/pages/Admin/AdminView.tsx
  web/src/pages/Admin/handler.ts
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/User/UserPasswordEdit.tsx
  web/src/pages/User/UserView.tsx
  web/src/pages/User/handleUpdatePassword.ts
  web/src/util/validations.ts
  web/tsconfig.json
Due: none

web: update chokidar
  web/package-lock.json
Due: none

implement basic UI for logging in
  mobile/assets/hha_logo_white.png
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/screens/Login/Login.styles.ts
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Login/LoginBackground.tsx
Due: none

Now app show risk level icons correctly.
  mobile/src/screens/ClientList/ClientList.tsx
  web/src/util/risks.ts
Due: none

globally augment Paper's ThemeColors for onPrimary
  mobile/src/theme.styles.ts
Due: none

add white to colors.ts
  common/src/util/colors.ts
  mobile/package-lock.json
  mobile/src/theme.styles.ts
  web/src/theme.styles.ts
Due: none

common: add init functions and KeyValStorageProvider
  common/index.ts
  common/src/init.ts
  common/src/util/auth.ts
  common/src/util/endpoints.ts
Due: none

implement login and logout functionality
  common/index.ts
  common/src/init.ts
  common/src/util/auth.ts
  common/src/util/colors.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/components/Alert/Alert.styles.ts
  mobile/src/components/Alert/Alert.tsx
  mobile/src/context/AuthContext.tsx
  mobile/src/index.ts
  mobile/src/screens/Loading/Loading.styles.ts
  mobile/src/screens/Loading/Loading.tsx
  mobile/src/screens/Login/Login.styles.ts
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Login/LoginBackground.tsx
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/theme.styles.ts
Due: none

hook up web to common's storage system
  common/src/util/auth.ts
  common/src/util/endpoints.ts
  web/src/App.tsx
  web/src/index.tsx
  web/src/theme.styles.ts
  web/src/util/auth.ts
  web/src/util/endpoints.ts
  web/src/util/init.ts
Due: none

Path conditions:
  build client: any of: client/**/*
  build server: any of: server/**/*
