Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

add command to clean orphaned / invalid client pictures
  server/cbr_api/management/commands/cleanupimages.py
Due: build server

Fix issue
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

return bool for picture field in `/api/client/{id}`
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

Revert "return bool for picture field in `/api/client/{id}`"
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

Response to comments
  mobile/src/components/DateCard/DataCard.style.ts
  mobile/src/components/DateCard/DataCard.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
Due: build mobile, build web

clear out pictureChanged on form reset
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

proxy client pictures from Caddy
  caddy/Caddyfile
  docker-compose.deploy.yml
  server/cbr_api/views.py
Due: build server

CI: add Caddy configuration validation
  .gitlab-ci.yml
  mobile/package-lock.json
Due: build mobile

CI: remove unneeded setup; make test common depend on build
  .gitlab-ci.yml
Due: none

CI: remove old web build in deployments & expire build artifact
  .gitlab-ci.yml
Due: none

set submit state on new client image blob failure
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/formHandler.ts
Due: build web

have the backend detect the image types
  server/cbr_api/serializers.py
  web/src/util/clientSubmission.ts
Due: build web, build server

optimize PhotoViewUpload by not using data URLs
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
Due: build web

fix wrong image on client picture edit discard
  web/package-lock.json
  web/package.json
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
Due: build web

Response to comment
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
Due: build mobile

improve error messages on Admin pages
  common/src/util/endpoints.ts
  common/src/util/internal/buildFormError.ts
  common/test/util/endpoints.spec.ts
  mobile/package-lock.json
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminNew.tsx
Due: format common, build mobile, build web

improve error messages on login page
  common/src/util/auth.ts
  common/test/util/auth.spec.ts
  mobile/package-lock.json
  mobile/src/App.tsx
  mobile/src/context/AuthContext/AuthContext.tsx
  mobile/src/screens/Login/Login.tsx
  web/src/pages/Login/Login.tsx
Due: format common, build mobile, build web

allow undefined formLabels for form errors
  common/src/util/endpoints.ts
  common/src/util/internal/buildFormError.ts
  common/test/util/endpoints.spec.ts
  mobile/package-lock.json
Due: format common, build mobile

mobile: give more descriptive network errors
  common/src/init.ts
  common/src/util/auth.ts
  common/src/util/endpoints.ts
  common/src/util/internal/rejectWithWrappedError.ts
  common/test/util/auth.spec.ts
  common/test/util/endpoints.spec.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/index.ts
Due: format common, build mobile

handle non-JSON responses from failed HTTP requests
  common/src/forms/UserProfile/userProfileHandler.ts
  common/src/util/auth.ts
  common/src/util/endpoints.ts
  common/src/util/internal/buildFormError.ts
  mobile/package-lock.json
Due: format common, build mobile

refactor raw error message
  common/test/util/endpoints.spec.ts
Due: format common, build mobile

display more detailed form errors on more screens
  common/src/forms/BaseSurvey/baseSurveyHandler.ts
  common/src/forms/Referral/referralHandler.ts
  common/src/util/internal/buildFormError.ts
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/formHandler.ts
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/formHandler.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/formHandler.ts
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/formHandler.ts
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/formHandler.ts
  web/tsconfig.json
Due: format common, build mobile, build web

add username validation based on backend validator
  common/src/forms/Admin/adminFields.ts
  common/src/util/validations.ts
  common/test/util/validations.spec.ts
Due: format common, build mobile

update expo-cli to 4.9.0
  common/package-lock.json
  mobile/package-lock.json
  mobile/package.json
Due: format common, build mobile

fix rebase breakage
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/formHandler.ts
Due: build web

check tsconfig.json and package.json with Prettier
  common/.prettierignore
  mobile/.gitignore
  mobile/.prettierignore
  mobile/package.json
  mobile/tsconfig.json
  web/.prettierignore
  web/tsconfig.json
Due: format common, build mobile, build web

Extract some functions to separate files. Now the same functions is exported to be used in multiple screens.
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/components/WrappedText/WrappedText.tsx
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/UserList/UserList.styles.ts
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/util/listFunctions.ts
Due: format common, build mobile

Extract some functions to separate files. Now the same functions is exported to be used in multiple screens.
  mobile/package-lock.json
  mobile/package.json
  mobile/src/util/listFunctions.ts
  web/tsconfig.json
Due: build mobile, build web
