Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

setup watermelon db dependency
  mobile/.babelrc.json
  mobile/android/app/build.gradle
  mobile/android/settings.gradle
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

setup watermelon db schema framework and configurations
  mobile/src/App.tsx
  mobile/src/models/UserCBR.ts
  mobile/src/models/index.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/models/zone.ts
  mobile/src/util/watermelonDatabase.ts
  mobile/tsconfig.json
Due: build mobile

revise user schema, preloading dummy zone data and database rest button in stats
  mobile/src/models/UserCBR.ts
  mobile/src/models/schema.ts
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/Todo/Todo.tsx
  web/tsconfig.json
Due: build mobile, build web

new admin WIP
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/util/watermelonDatabase.ts
Due: build mobile

add user implemented
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/util/stackScreens.tsx
  web/package-lock.json
Due: format common, build mobile, build web

userlist fetch from database in userlist screen
  mobile/src/models/UserCBR.ts
  mobile/src/models/index.ts
  mobile/src/models/schema.ts
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/screens/UserList/UserListRequest.ts
Due: build mobile

edit user WIP
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/screens/UserList/UserListRequest.ts
Due: build mobile

WIP Attempt to run socketio on same port using gunicorn
  docker-compose.override.yml
  server/cbr/views.py
  server/cbr/wsgi.py
  server/requirements.txt
Due: build server

use full argument name for clarity
  docker-compose.override.yml
Due: none

edit and changing password for other users working
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/components/UserProfileContents/ChangePasswordFormHandler.ts
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/models/UserCBR.ts
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/screens/UserList/UserListRequest.ts
Due: build mobile

renamed active variable and removed console log
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/models/UserCBR.ts
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/Admin/AdminView.tsx
Due: build mobile

change user model to take string id and related changes
  common/src/forms/Admin/adminFormsHandler.ts
  common/src/util/endpoints.ts
  common/src/util/hooks/cachedAPI.ts
  common/src/util/users.ts
  server/cbr_api/management/commands/seedusers.py
  server/cbr_api/migrations/0023_alter_usercbr_id.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
  web/src/pages/Admin/AdminPasswordEdit.tsx
Due: format common, build mobile, build web, build server

fixed getting currentuser info after logout
  common/src/forms/Admin/adminFormsHandler.ts
  web/src/pages/Logout/Logout.tsx
Due: format common, build mobile, build web

Make Socket.IO run on same port as Django, locally and when deployed
  docker-compose.deploy.yml
  docker-compose.override.yml
  server/cbr/views.py
  server/cbr/wsgi.py
Due: build server

Add basic websocket connection code to web for testing
  web/src/App.tsx
  web/src/index.tsx
  web/src/util/api.ts
Due: build web

Install socket.io-client package for web app
  web/package.json
  web/src/App.tsx
Due: build web

Add basic setup of socketio in mobile
  mobile/babel.config.js
  mobile/package.json
  mobile/src/App.tsx
Due: build mobile

CBR user attribute changes and timestamp definition, implemented url pull for sync
  server/cbr_api/management/commands/seedusers.py
  server/cbr_api/migrations/0024_auto_20211030_1140.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build server

timestamp working for user updates
  server/cbr_api/serializers.py
Due: build server

get model function renamed, pull synchronize implemented in mobile app
  mobile/android/.project
  mobile/package-lock.json
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/util/syncHandler.ts
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build mobile, build server

added new Endpoint and Sync Logger
  common/src/util/endpoints.ts
  mobile/src/util/syncHandler.ts
Due: format common, build mobile

push connectivity established
  mobile/src/util/syncHandler.ts
Due: build mobile

push connectivity established
  server/cbr_api/views.py
Due: build server

push& pull working for users between web and local mobile
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build server

user password sync working
  server/cbr_api/serializers.py
  server/cbr_api/util.py
Due: build server

config for socket io
  caddy/Caddyfile
Due: none

added client and risk model in local db
  mobile/src/models/Client.ts
  mobile/src/models/Risk.ts
  mobile/src/models/UserCBR.ts
  mobile/src/models/index.ts
  mobile/src/models/schema.ts
  mobile/src/screens/NewClient/formHandler.ts
  server/cbr_api/util.py
Due: build mobile, build server

client w/o disability local adding working
  mobile/src/models/Client.ts
  mobile/src/models/schema.ts
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

client schema with disability as array in watermelon db
  mobile/src/models/Client.ts
  mobile/src/models/schema.ts
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

WIP populating client detail page, currently missing display risk
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/util/stackScreens.tsx
Due: build mobile

client detail displaying risk and local update risk working
  common/package-lock.json
  common/src/util/risks.ts
  mobile/package-lock.json
  mobile/src/models/Risk.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
  web/package-lock.json
Due: format common, build mobile, build web

removed console log, client list working and client risk level update reflected
  mobile/src/models/Client.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

client list filter based on users client working
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

client list search option and field logic working
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

local client info editing working
  common/src/util/clients.ts
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: format common, build mobile

changed client model attribute and client seeddatabase
  common/package-lock.json
  common/src/forms/Client/clientHandler.ts
  common/src/util/clients.ts
  mobile/package-lock.json
  server/cbr_api/filters.py
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/migrations/0025_auto_20211101_1834.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  web/package-lock.json
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
Due: format common, build mobile, build web, build server

web client and risk modify to have uuid, created_at, and updated_at time
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Risks/riskFormFieldHandler.ts
  common/src/util/clients.ts
  common/src/util/risks.ts
  common/test/util/clients.spec.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientRequests.ts
  server/cbr_api/filters.py
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/migrations/0025_auto_20211101_2110.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/tests.py
  server/cbr_api/urls.py
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientList/requestClientRows.ts
Due: format common, build mobile, build web, build server

fixed risk creation
  common/package-lock.json
  mobile/package-lock.json
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  web/package-lock.json
Due: format common, build mobile, build web, build server

client sync remote->local, disability not syncing
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build server
