Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build server

.gitlab-ci.yml:

stages:
  - build
  - deploy

variables:
  MASTER_BRANCH: "master"

build client:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - client/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - npx prettier --check .
    - CI=false npm run build
  after_script:
    - tar -czvf client_build.tar.gz client/build
  artifacts:
    paths:
      - client_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: cbr_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py test
  
deploy:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/.env ./.env
    - tar -xvf client_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    # wait for Postgres to start so we can run database migrations
    - docker exec cbr_django timeout 60 bash -c "while ! bash -c 'echo > /dev/tcp/postgres/5432'; do sleep 1; done" &>-
    - docker exec cbr_django python manage.py migrate

[pla90, ehinchli] Add changes to referral stats
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

Change password api url, added handleUpdatePassword and create new edit password button in adminview
  client/src/pages/Admin/AdminPasswordEdit.tsx
  client/src/pages/Admin/AdminView.tsx
  client/src/pages/Admin/handler.ts
  client/src/util/endpoints.ts
  client/src/util/pages.ts
  server/cbr_api/urls.py
Due: build client, build server

[yixuy, ckl47] Working on AdminPasswordEdit, created updateUserPassword and handleUpdatePassword, as well as created new interface UserIDPassword and fixed endpoint PASSWORD
  client/src/pages/Admin/AdminPasswordEdit.tsx
  client/src/pages/Admin/handler.ts
  client/src/util/endpoints.ts
  client/src/util/users.ts
Due: build client

Add last_visit_date to client model and auto-update it on new visit creation
  server/cbr_api/management/commands/seedvisits.py
  server/cbr_api/migrations/0010_client_last_visit_date.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

Add interface for data from client list API; add sorting algorithm for priority clients
  client/src/pages/ClientList/requestClientRows.ts
  client/src/pages/Dashboard/Dashboard.tsx
  client/src/util/clients.ts
  client/src/util/risks.ts
Due: build client

Fix referrals model schema Fixes Referrals model schema to allow for blank fields where required
  server/cbr_api/models.py
Due: build server

Migrate database and run Black
  server/cbr_api/migrations/0010_auto_20210330_0042.py
  server/cbr_api/models.py
Due: build server

Alter hip_width field
  server/cbr_api/migrations/0011_auto_20210330_0046.py
  server/cbr_api/models.py
Due: build server

Add admin stats page to navigation; move logout button to user profile page
  client/src/pages/Stats/Stats.tsx
  client/src/pages/User/UserView.tsx
  client/src/pages/User/styles.ts
  client/src/util/pages.ts
Due: build client

Run black and squash and re-migrate
  server/cbr_api/migrations/0010_auto_20210330_0050.py
  server/cbr_api/migrations/0011_auto_20210330_0046.py
Due: build server

added referral form
  client/src/pages/ClientDetails/ClientInfoForm.tsx
  client/src/pages/NewReferral/NewReferral.styles.ts
  client/src/pages/NewReferral/NewReferral.tsx
  client/src/pages/NewReferral/formFields.ts
  client/src/pages/NewReferral/formHandler.ts
  client/src/util/endpoints.ts
  client/src/util/pages.ts
Due: build client

Merge divergent migrations
  server/cbr_api/migrations/0011_merge_20210331_2255.py
Due: build server

changed formHandler to match schema
  client/src/pages/NewReferral/NewReferral.tsx
  client/src/pages/NewReferral/formHandler.ts
Due: build client

Move client priority sort from dashboard to client utils
  client/src/pages/Dashboard/Dashboard.tsx
  client/src/util/clients.ts
Due: build client

Add disability and add time filtering support
  server/cbr_api/migrations/0010_auto_20210330_1855.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

Added user facing alerts when form fails to submit
  client/src/pages/NewReferral/NewReferral.styles.ts
  client/src/pages/NewReferral/NewReferral.tsx
  client/src/pages/NewReferral/formFields.ts
  client/src/pages/NewReferral/formHandler.ts
  client/src/pages/NewVisit/NewVisit.tsx
  client/src/pages/NewVisit/formHandler.ts
Due: build client

removed default hip width value
  client/src/pages/NewReferral/formFields.ts
Due: build client

Finalize time filtering support
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build server

Run black
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build server

[pla90, ehinchli] Refactor stats endpoints to reduce duplication
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build server

Remove redundant comments
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
Due: build server

Fix divergent database migrations on master
  server/cbr_api/migrations/0012_merge_20210402_2242.py
Due: build server

86: Changed card style for dashboard + loading animation
  client/src/pages/Dashboard/Dashboard.tsx
Due: build client

Require consent checkbox to be checked to add client
  client/src/pages/NewClient/ClientForm.tsx
  client/src/pages/NewClient/formFields.ts
Due: build client

Finish the UI of the health and education in baseline survey page
  client/src/pages/ClientDetails/BaseSurvey/BaseSurvey.style.ts
  client/src/pages/ClientDetails/BaseSurvey/ClientBaseSurvey.tsx
  client/src/pages/ClientDetails/BaseSurvey/surveyFormFields.ts
  client/src/pages/ClientDetails/BaseSurvey/surveyHandler.ts
  client/src/pages/ClientDetails/ClientInfoForm.tsx
  client/src/util/endpoints.ts
  client/src/util/pages.ts
  client/src/util/survey.ts
Due: build client

Finish the basic UI for baseline survey page
  client/src/pages/ClientDetails/BaseSurvey/ClientBaseSurvey.tsx
  client/src/pages/ClientDetails/BaseSurvey/surveyFormFields.ts
  client/src/util/survey.ts
Due: build client

Notify worker to bring wheelchair to center
  client/src/pages/NewReferral/NewReferral.tsx
  client/src/pages/NewReferral/formFields.ts
Due: build client

Create two password text boxes, need to fix confirm
  client/src/pages/Admin/AdminPasswordEdit.tsx
  client/src/pages/Admin/fields.ts
  client/src/pages/Admin/handler.ts
  client/src/util/users.ts
Due: build client

Change settings.py and urls.py to enable uploading of picture blobs to backend
  server/cbr/settings.py
  server/cbr/urls.py
Due: build server

Finish outstanding referrals API /referrals/outstanding endpoint returns all referrals that are currently outstanding (ie. resolved=False)
  server/cbr_api/migrations/0013_client_last_referral_date.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

moved wheelchair alert position
  client/src/pages/NewReferral/NewReferral.tsx
Due: build client

Make some downlist element correct and add validationSchema
  client/src/pages/ClientDetails/BaseSurvey/ClientBaseSurvey.tsx
  client/src/pages/ClientDetails/BaseSurvey/surveyFormFields.ts
  client/src/pages/ClientDetails/BaseSurvey/surveyHandler.ts
  client/src/util/survey.ts
Due: build client

Change the endpoint
  client/src/util/endpoints.ts
Due: build client

Make the addSurvey as comment to use in the future
  client/src/pages/ClientDetails/BaseSurvey/surveyHandler.ts
Due: build client

Change sql lookup format to be clearer
  server/cbr_api/migrations/0014_remove_client_last_referral_date.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
Due: build server

Change from code review about style and naming
  client/src/pages/ClientDetails/BaseSurvey/BaseSurvey.tsx
  client/src/pages/ClientDetails/BaseSurvey/formFields.ts
  client/src/pages/ClientDetails/BaseSurvey/formHandler.ts
  client/src/util/pages.ts
  client/src/util/survey.ts
Due: build client

Remove no longer needed UserIDPassword and make confirmed password the norm in fields.ts
  client/src/pages/Admin/fields.ts
  client/src/pages/Admin/handler.ts
  client/src/util/users.ts
Due: build client

Create models necessary for baseline survey and migrations
  server/cbr_api/migrations/0013_baselinesurvey.py
  server/cbr_api/models.py
Due: build server

Removed redundant migration and updated sql query
  server/cbr_api/migrations/0013_client_last_referral_date.py
  server/cbr_api/migrations/0014_remove_client_last_referral_date.py
  server/cbr_api/sql.py
Due: build server

Fix migrations and database
  server/cbr_api/migrations/0013_baselinesurvey.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server
