Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

fix
  mobile/src/screens/PinEntry/PinEntry.tsx
Due: build mobile

get rid of message telling remaining attempts
  mobile/src/App.tsx
  mobile/src/components/UserProfileContents/ChangePinDialog.tsx
  mobile/src/screens/PinEntry/PinEntry.tsx
Due: build mobile

simplfy pr
  mobile/src/App.tsx
  mobile/src/context/PinContext/PinContext.tsx
Due: build mobile

remove fallback for secrets
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix syntax for accessing secrets
  .github/workflows/mobile-e2e-tests.yml
Due: none

try diff syntax
  .github/workflows/mobile-e2e-tests.yml
Due: none

only use secrets on step level
  .github/workflows/mobile-e2e-tests.yml
Due: none

Changed run machine to prod.
  .github/workflows/mobile-e2e-tests.yml
Due: none

Add tests to improve test coverage for bug reporting, risks,goals, and email settings
  server/cbr_api/tests/serializers/test_client_create_serializer.py
  server/cbr_api/tests/views/test_admin_stats_view.py
  server/cbr_api/tests/views/test_bug_report_email_view.py
  server/cbr_api/tests/views/test_email_settings_view.py
  server/cbr_api/tests/views/test_risk_list_view.py
Due: build server

Replaced --network host wi
  .github/workflows/mobile-e2e-tests.yml
Due: none

Fix Docker networking and log directory
  .github/workflows/mobile-e2e-tests.yml
Due: none

Fixed logging output issues
  .github/workflows/mobile-e2e-tests.yml
Due: none

Added emulator debug in yml file
  .github/workflows/mobile-e2e-tests.yml
Due: none

Added depndencies install for emulator
  .github/workflows/mobile-e2e-tests.yml
Due: none

Remove depndencies install
  .github/workflows/mobile-e2e-tests.yml
Due: none

Change yml branch to main
  .github/workflows/mobile-e2e-tests.yml
Due: none

Deleted trigger.txt file
  .github/trigger.txt
Due: none

implement sync functionality for mobile
  mobile/src/components/PatientNoteModals/PatientNoteModal.tsx
  mobile/src/models/PatientNote.ts
  mobile/src/models/constant.ts
  mobile/src/models/index.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  server/cbr_api/migrations/0085_patientnote_server_created_at.py
  server/cbr_api/migrations/0086_alter_patientnote_id_charfield.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build mobile, build server

fix build error
  server/cbr_api/migrations/0087_alter_patientnote_server_created_at.py
Due: build server

fix unit tests
  server/cbr_api/migrations/0086_alter_patientnote_id_charfield.py
  server/cbr_api/models.py
  server/cbr_api/tests/models/test_patient_note_model.py
Due: build server

Added mobile pin feature in e2e test.
  .github/workflows/mobile-e2e-tests.yml
  mobile/.env.e2e.example
  mobile/README.md
  mobile/e2e/authHelpers.js
  mobile/e2e/login.test.js
  mobile/e2e/sync.test.js
  mobile/package-lock.json
Due: build mobile

Fixed delete button styling in Alert inbox.
  web/src/pages/AlertInbox/components/AlertDetail.styles.ts
  web/src/pages/AlertInbox/components/AlertDetail.tsx
Due: build web

init sync logic
  docs/patient-notes-sync-refactor.md
  mobile/src/models/SuccessStory.ts
  mobile/src/models/constant.ts
  mobile/src/models/index.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/SuccessStories/NewSuccessStory.tsx
  mobile/src/screens/SuccessStories/SuccessStoriesList.tsx
  mobile/src/screens/SuccessStories/SuccessStoryView.tsx
  mobile/src/screens/SuccessStories/successStoryApi.ts
  server/cbr_api/migrations/0088_successstory_server_created_at.py
  server/cbr_api/migrations/0089_alter_successstory_id_charfield.py
  server/cbr_api/migrations/0090_alter_successstory_server_created_at.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/tests/models/test_success_story_model.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build mobile, build server

fix mobile pin feature with runwithoutautolock
  mobile/src/App.tsx
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  mobile/src/context/PinContext/PinContext.tsx
  mobile/src/screens/BugReport/BugReport.tsx
  mobile/src/screens/SuccessStories/NewSuccessStory.tsx
Due: build mobile

fix image for sucess story sync
  mobile/src/screens/SuccessStories/NewSuccessStory.tsx
  mobile/src/util/syncHandler.ts
  server/cbr_api/serializers.py
  server/cbr_api/tests/views/test_success_story_sync.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build mobile, build server

revert unintned files
  docs/patient-notes-sync-refactor.md
  server/cbr_api/tests/views/test_success_story_sync.py
Due: build server

fix media uploads
  mobile/app.json
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  mobile/src/screens/BugReport/BugReport.tsx
  mobile/src/screens/SuccessStories/NewSuccessStory.tsx
Due: build mobile

Added 5 second delay to e2e mobile test to fix flakiness
  mobile/e2e/authHelpers.js
  mobile/e2e/login.test.js
Due: build mobile

Fixed fields mapping.
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
Due: build mobile

Fixed status based on wifi/data connection state.
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

Fixed server connection status display fault
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

Added fixes to the e2e test.
  .github/workflows/mobile-e2e-tests.yml
  mobile/e2e/authHelpers.js
  mobile/e2e/sync.test.js
Due: build mobile

Removed delete: true in full fresh install.
  mobile/e2e/authHelpers.js
  mobile/e2e/sync.test.js
Due: build mobile

Added fixes
  mobile/e2e/login.test.js
Due: build mobile

Fixed tests.
  mobile/e2e/authHelpers.js
  mobile/e2e/login.test.js
Due: build mobile

Changed e2e branch to main.
  .github/workflows/mobile-e2e-tests.yml
Due: none

fix stale write path
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build server

bump mobile version
  mobile/app.json
Due: build mobile

Fixed refresh bug.
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
Due: build mobile

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
