Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

cachedAPI: await current promise before invalidating
  common/src/util/hooks/cachedAPI.ts
Due: format common, build mobile

cachedAPI: add a timeout for fetches
  common/package-lock.json
  common/package.json
  common/src/util/hooks/cachedAPI.ts
  common/test/setup.ts
  common/test/util/hooks/cachedAPI.spec.ts
  mobile/package-lock.json
Due: format common, build mobile

simplify typing for ExposedDropdownMenu
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/FormikExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EducationForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/HealthForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodFom.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

replace TextPicker with FormikExposedDropdownMenu
  mobile/package.json
  mobile/src/components/FormikExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/components/FormikPasswordTextInput/FormikPasswordTextInput.tsx
  mobile/src/components/TextPicker/TextPicker.style.ts
  mobile/src/components/TextPicker/TextPicker.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EducationForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/HealthForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodFom.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

use a more specific type
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

move all ExposedDropdownMenus into the same folder
  mobile/src/components/ExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EducationForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/HealthForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

add "I" prefix to interfaces for ExposedDropdownMenu
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

fix typo and ensure FoodForm reminder dialog fades
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodForm.tsx
Due: build mobile

ensure dropdown menu doesn't use previous value
  mobile/src/components/FormikExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EducationForm.tsx
Due: build mobile

adjust menu content offset
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.styles.ts
Due: build mobile

change PasswordTextInput into partial props
  mobile/src/components/FormikPasswordTextInput/FormikPasswordTextInput.tsx
  mobile/src/components/PasswordTextInput/PasswordTextInput.tsx
  mobile/src/components/PasswordTextInput/passwordTextInputProps.tsx
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/Login/Login.tsx
Due: build mobile

use TouchableOpacity as the menu width
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.styles.ts
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

stretch out dropdown menu item ripples
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
Due: build mobile

optimize object key counting
  common/index.ts
  common/src/util/objects.ts
  common/test/util/objects.spec.ts
  mobile/package-lock.json
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: format common, build mobile

check menu items length
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

Resolve some threads.
  mobile/package-lock.json
  mobile/src/components/WrappedText/WrappedText.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/util/listFunctions.ts
Due: build mobile

Merged with main.
  common/src/util/hooks/cachedAPI.ts
Due: format common, build mobile

docker: specify port mapping as a string
  docker-compose.deploy.yml
Due: none

docker: expose postgres port in development
  docker-compose.override.yml
Due: none

Merged with main.
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/screens/UserList/UserListRequest.ts
  mobile/src/util/listFunctions.ts
Due: build mobile

handle dashboard errors better
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

Resolve some threads
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/util/listFunctions.ts
Due: build mobile

Add type setting for sortby function
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/util/listFunctions.ts
Due: build mobile

Merged main and added changes
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientFormFields.ts
Due: build mobile

Fixed bug where formfields were disabled even when validation was incorrect and added toast to check fields
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
Due: build mobile

Setting today date bug fixed
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Removed console logs
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

make Dashboard catch blocks more general
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

Removed console log
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

Use map object to handle sore direction change.
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/util/listFunctions.ts
Due: build mobile

Prettier write
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

Updates local files
  mobile/package-lock.json
Due: build mobile

Fixed some bugs, resolved some threads.
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/util/listFunctions.ts
Due: build mobile

Finish the referral pop up dialog from timeline
  mobile/package-lock.json
  mobile/src/components/DataCard/DataCard.style.ts
  mobile/src/components/DataCard/DataCard.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/util/screens.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/tsconfig.json
Due: build mobile, build web

Update the chip and color
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

Added Rist card showing details
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

Added modal and basic features to modal
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile
