Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

Added referrals table
  web/src/pages/Referrals/Referrals.styles.ts
  web/src/pages/Referrals/Referrals.tsx
Due: build web

made draft changes to ClientList
  mobile/android/.settings/org.eclipse.buildship.core.prefs
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

added client zones to the pending referrals table
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Added filter by referral types
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/Referrals/Referrals.tsx
Due: build common, build mobile, build web, test common

Testing commit name
  web/src/pages/Referrals/Referrals.tsx
Due: build web

translations: add missing capitals; add EN fallbacks
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

translations: add caregiverDetails
  web/src/pages/NewClient/ClientForm.tsx
Due: build web

fix: re-enable dashboard DataGrid pagination select
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

updated clientlist zones selection
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

translations: add DataGrid label translations
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/Dashboard/Dashboard.tsx
Due: build common, build mobile, build web, test common

Started connecting client modal to referrals click
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/Referrals/Referrals.tsx
Due: build web

restyled clientrisk component styling
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

updated ClinetRiskForm styles
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

removed ClientRisks unneeded code
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
Due: build mobile

Finished connecting referral click to client modal
  common/src/util/referrals.ts
  mobile/package-lock.json
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/Referrals/Referrals.tsx
Due: build common, build mobile, build web, build server, test common

patch: runtime error in stats/referrals
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

deps: update react-native-paper to v5
  mobile/package-lock.json
  mobile/package.json
  mobile/src/util/theme.styles.ts
Due: build mobile

wip removed unneeded AlertList styling
  web/src/pages/AlertInbox/AlertInbox.styles.ts
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/components/AlertDetail.styles.ts
  web/src/pages/AlertInbox/components/AlertDetail.tsx
  web/src/pages/AlertInbox/components/AlertList.styles.ts
  web/src/pages/AlertInbox/components/AlertList.tsx
Due: build web

Finalized style changes to alert inbox
  web/src/pages/AlertInbox/AlertInbox.styles.ts
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/components/AlertList.styles.ts
  web/src/pages/AlertInbox/components/AlertList.tsx
Due: build web

Renamed referrals page
  web/src/util/pages.ts
Due: build web

Added a get all referrals endpoint
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

Fixed pagination and referral type bugs
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

Fixed referral modal detail bug
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
Due: build web

Added the new endpoint to the common utils
  common/src/util/endpoints.ts
  common/src/util/referrals.ts
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

Changed the referrals endpoint and bug fixes
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Added new status filter and updated translations
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/Referrals/Referrals.styles.ts
  web/src/pages/Referrals/Referrals.tsx
Due: build common, build mobile, build web, test common

Renamed a referral column
  web/src/pages/Referrals/Referrals.tsx
Due: build web

added removed comment
  web/src/pages/AlertInbox/AlertInbox.tsx
Due: build web

created new unsaved changes component
  web/src/components/Dialogs/UnsavedChanges.tsx
Due: build web

wip updated Client Details Risk card, Ongoing Form View, and added Cancel Goal Prompt
  common/src/forms/Risks/riskFormFields.ts
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
  web/src/pages/ClientDetails/Risks/CancelRisk.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build common, build mobile, build web, test common

wip created UpdateGoalStatus component
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

finalized UnsavedChanges web component
  web/src/components/Dialogs/UnsavedChanges.tsx
Due: build web

wip updated Radio Group for UpdateGoalStatus
  common/src/forms/Risks/riskFormFields.ts
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build common, build mobile, build web, test common

wip fixed Goal Status update onclick ui
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

finished draft of client risk cards
  web/src/components/GoalStatusChip/GoalStatusChip.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

Moved the referrals status column
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Updated translations and ran prettier for the common folder
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

Reformatted backend
  server/cbr_api/views.py
Due: build server

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
