Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

728 extract from join block into a helper function
  server/cbr_api/sql.py
Due: build server

728 refactor demographic builder to be dynamic
  server/cbr_api/sql.py
Due: build server

feat: fix new client form issues on mobile, add error text
  common/src/forms/Client/mobileClientHandler.ts
  mobile/package-lock.json
  mobile/src/screens/NewClient/NewClient.styles.ts
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/NewClient/formHandler.ts
Due: build common, build mobile, build web, test common

fix: display client name instead of ID on mobile new visit form
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

cleanup
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

728 add helper to format rows for frontend
  server/cbr_api/sql.py
Due: build server

728 refactor getVisitStats to use new builder
  server/cbr_api/sql.py
Due: build server

728 refactor getReferralStats to use new builder
  server/cbr_api/sql.py
Due: build server

728 refactor getDisabilityStats to use new builder
  server/cbr_api/sql.py
Due: build server

728 patch functions that do not need builder (counters)
  server/cbr_api/sql.py
Due: build server

728 refactor functions and builder
  server/cbr_api/sql.py
Due: build server

728 update view for adminstats to accept new dynamic queries
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build server

728 update serializer definitions for admin stats
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
Due: build server

Sort zones alphabetically in New Client page
  web/src/pages/NewClient/ClientForm.tsx
Due: build web

Change useZones to alphabetize list before returning it
  common/src/util/hooks/zones.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

Fix stats page to show the zones in alphabetical order
  web/src/pages/Stats/components/charts/VisitStats.tsx
Due: build web

Ran prettier on modified files
  common/src/util/hooks/zones.ts
Due: build common, build mobile, build web, test common

Forgot to run prettier on some files
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
Due: build web

729 refresh common
  mobile/package-lock.json
Due: build mobile

729 update test to return empty array
  common/test/util/hooks/zones.spec.ts
Due: build common, build mobile, build web, test common

Increment Android versionCode to 17, and Android version to 1.3.2 for test upload to play store
  mobile/app.json
Due: build mobile

728 create adminstats view helper
  server/cbr_api/serializers.py
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/views/test_admin_stats_view.py
Due: build server

Removed goal field and references to it in ClientRisk model
  server/cbr_api/models.py
Due: build server

Remove goal field in mobile risk model
  server/cbr_api/serializers.py
Due: build server

Removed goal fields from Mobile risk model and from risk form in common
  common/src/forms/Risks/riskFormFields.ts
  mobile/src/models/Risk.ts
Due: build common, build mobile, build web, test common

728 update sql functions
  server/cbr_api/sql.py
  server/cbr_api/tests/helpers.py
Due: build server

fix: update translation file formatting
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/risks.ts
Due: build common, build mobile, build web, test common

728 update admin stats view and serializers
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build server

728 add test for zone category grouped by gender host
  server/cbr_api/sql.py
  server/cbr_api/tests/views/test_admin_stats_view.py
Due: build server

728 add test for age bands
  server/cbr_api/sql.py
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/views/test_admin_stats_view.py
Due: build server

feat: update dropdown options to build dynamically and refactor to use keys instead of values on backend
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/util/risks.ts
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/ModalDropdown.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, test common

feat: always show english as "english" and bari as "kutuk na bari"
  web/src/components/LanguagePicker/LanguagePicker.tsx
Due: build web

prettier
  common/src/util/risks.ts
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ModalDropdown.tsx
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, test common

feat: set language picker to display languages in their native language always
  web/src/components/LanguagePicker/LanguagePicker.tsx
Due: build web

728 complete test cases for visits
  server/cbr_api/tests/views/test_admin_stats_view.py
Due: build server

728 complete test cases for referrals and debug view
  server/cbr_api/tests/views/test_admin_stats_view.py
  server/cbr_api/views.py
Due: build server

728 complete test cases for new clients, followup visits, and discharged clients
  server/cbr_api/tests/views/test_admin_stats_view.py
Due: build server

728 testcases for group by all; no filtering
  server/cbr_api/tests/views/test_admin_stats_view.py
Due: build server

728 testcases per zone bars across all grouping keys
  server/cbr_api/tests/views/test_admin_stats_view.py
Due: build server

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
