Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

696 remove outcome serializer from visit serializer
  server/cbr_api/migrations/0071_backfill_outcomes_into_improvements.py
  server/cbr_api/serializers.py
Due: build server

696 remove outcomes from visitentry
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
Due: build web

696 update watermelon db models and onCheckBoxchange for new visit
  mobile/src/models/Outcome.ts
  mobile/src/models/schema.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

update new visit and its form submission on mobile
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
Due: build mobile

pass in client id from stack router to submit visit form
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
Due: build mobile

696 update seed script for visits
  server/cbr_api/management/commands/seedvisits.py
  server/cbr_api/serializers.py
Due: build server

696 remove all outcomes code from backend
  server/cbr_api/migrations/0072_delete_outcome.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

feat: set default values to blank for requirements/goals/cancellation reason and display error message when invalid schema
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/ModalDropdown.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

cleanup
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

696 refactor formhanlder and watermelon db models to use improvements only
  common/src/util/visits.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
Due: build common, build mobile, build web, test common

696 remove unused import
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
Due: build web

Remove extra question marks in wheelchair form for new referral page
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
Due: build web

Remove extra question marks for prosthetic, orthotic, and nutrition forms for new referral page
  web/src/pages/NewReferral/forms/NutritionForm.tsx
  web/src/pages/NewReferral/forms/ProstheticOrthoticForm.tsx
Due: build web

feat: prettier and add label to "other" input
  common/src/util/risks.ts
  web/src/pages/ClientDetails/Risks/ModalDropdown.tsx
Due: build common, build mobile, build web, test common

696 remove log
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
Due: build mobile

713 setup method for test suite
  server/cbr_api/tests/serializers/test_detailed_visit_serializer.py
Due: build server

713 add helper class with static methods
  server/cbr_api/tests/helpers.py
Due: build server

713 create testcase for creating visit with no improvements
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/serializers/test_detailed_visit_serializer.py
Due: build server

Hide the GUID for every message in the inbox page
  web/src/pages/AlertInbox/components/AlertList.tsx
Due: build web

feat: change new client page to dropdowns
  common/src/forms/Client/clientHandler.ts
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, test common

713 testcase for creating multiple improvements in visit (caught bug)
  server/cbr_api/serializers.py
  server/cbr_api/tests/helpers.py
  server/cbr_api/tests/serializers/test_detailed_visit_serializer.py
Due: build server

713 add testcase for creating a visit and default empty list on improvment serializer
  server/cbr_api/tests/serializers/test_detailed_visit_serializer.py
Due: build server

Ran prettier in order to fix CI/CD pipeline fail
  web/src/pages/AlertInbox/components/AlertList.tsx
Due: build web

713 add testcase for read only fields
  docs/DJANGOTESTING.md
  server/cbr_api/tests/serializers/test_detailed_visit_serializer.py
Due: build server

713 add testcase to make sure desc is required
  server/cbr_api/tests/serializers/test_detailed_visit_serializer.py
Due: build server

713 add testcase to make sure provided is required
  server/cbr_api/tests/serializers/test_detailed_visit_serializer.py
Due: build server

feat: convert new client risk fields into checkbox dropdowns, enforce minimum one risk for new client, and add error messages
  common/src/forms/Client/clientFields.ts
  web/src/pages/NewClient/ClientForm.styles.ts
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, test common

prettier
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, test common

cleanup
  web/src/pages/NewClient/ClientForm.tsx
Due: build web

feat: add confirmation dialog to back button
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/components/GoBackButton/GoBackButton.tsx
Due: build common, build mobile, build web, test common

feat: update translations and change dropdown text to use i18
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/risks.ts
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, test common

Add Kajo Keji to seeding zones so it will be available throughout the application
  server/cbr_api/management/commands/seedzones.py
Due: build server

713 add testcase for bulk creating improvements
  server/cbr_api/tests/serializers/test_detailed_visit_serializer.py
Due: build server

713 ensure client id must be passed to serializer else error
  server/cbr_api/tests/serializers/test_detailed_visit_serializer.py
Due: build server

713 try increasing clone depth for pipeline
  .github/workflows/main-cicd.yml
Due: none

Delete stats component
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

Delete bar graph component and styling for stats component
  mobile/src/screens/Stats/BarGraph.tsx
  mobile/src/screens/Stats/Stats.styles.ts
Due: build mobile

Remove stats import in screens and removed Stat component from screens array to ensure no errors
  mobile/src/util/screens.ts
Due: build mobile

feat: update new client form on mobile to match web
  common/src/forms/Client/mobileClientHandler.ts
  mobile/package-lock.json
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/NewClient/formHandler.ts
Due: build common, build mobile, build web, test common

728 sql function to group/filter clients by age bands
  server/cbr_api/sql.py
Due: build server
