Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

fixed invalid visit date in client timeline
  common/src/util/visits.ts
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
Due: format common, build mobile, build web

setup visit, outcome, and improvement structure on watermelon db
  mobile/src/models/Client.ts
  mobile/src/models/Improvement.ts
  mobile/src/models/Outcome.ts
  mobile/src/models/UserCBR.ts
  mobile/src/models/Visit.ts
  mobile/src/models/index.ts
  mobile/src/models/schema.ts
Due: build mobile

visits, outcome, improvement local crud to database
  mobile/package-lock.json
  mobile/src/models/Client.ts
  mobile/src/models/Outcome.ts
  mobile/src/models/Visit.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
Due: build mobile

visit displaying locally on timeline
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
Due: build mobile

remote to local visit, outcome and improve working
  server/cbr_api/management/commands/seedvisits.py
  server/cbr_api/migrations/0029_auto_20211109_1258.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build server

local->remote visit, outcome, improvement working
  mobile/src/models/schema.ts
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build mobile, build server

client sync last visit date conflict resolved
  mobile/src/util/syncHandler.ts
Due: build mobile

Create alert urls
  server/cbr_api/urls.py
Due: build server

Create alert views
  server/cbr_api/views.py
Due: build server

updated dependencies
  mobile/package-lock.json
Due: build mobile

ran prettier and black
  mobile/metro.config.js
  mobile/package.json
  server/cbr_api/migrations/0023_alter_usercbr_id.py
  server/cbr_api/migrations/0024_auto_20211030_1140.py
  server/cbr_api/migrations/0025_auto_20211101_2110.py
  server/cbr_api/migrations/0026_auto_20211104_1947.py
  server/cbr_api/migrations/0027_alter_client_picture.py
  server/cbr_api/migrations/0028_auto_20211108_1458.py
  server/cbr_api/migrations/0029_auto_20211109_1258.py
  web/tsconfig.json
Due: build mobile, build web, build server

revised data test timestamp to be millisecond and server client test with unique id
  common/test/util/dates.spec.ts
  server/cbr_api/tests.py
Due: format common, build mobile, build server

fixed mobile pipeline error
  mobile/package-lock.json
  mobile/package.json
  web/tsconfig.json
Due: build mobile, build web

ran prettier
  web/tsconfig.json
Due: build web

removed uncessary print and console logs
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/util/syncHandler.ts
  server/cbr_api/serializers.py
  server/cbr_api/views.py
  web/src/pages/ClientDetails/ClientDetails.tsx
Due: build mobile, build web, build server

removed ID column from admin and client list in web and mobile
  common/package-lock.json
  common/src/util/searchOptions.ts
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/screens/UserList/UserListRequest.ts
  web/package-lock.json
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/searchOptions.ts
Due: format common, build mobile, build web

DB migrations for alerts
  server/cbr_api/management/commands/seedalerts.py
  server/cbr_api/management/commands/seeddatabase.py
  server/cbr_api/migrations/0023_alert.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

Common endpoints for alerts API
  common/src/util/endpoints.ts
Due: format common, build mobile

Placeholder useEffect for inbox
  server/cbr_api/management/commands/seedalerts.py
  web/src/pages/AlertInbox/AlertInbox.tsx
Due: build web, build server

Remove unused import
  server/cbr_api/urls.py
Due: build server

Update priority to match FE request
  server/cbr_api/models.py
Due: build server

Add API methods explicitly to Alert view
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

revise sync logic for created and updated set
  server/cbr_api/util.py
Due: build server

added server creation time attribute for sync logic
  mobile/src/util/syncHandler.ts
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seedusers.py
  server/cbr_api/management/commands/seedvisits.py
  server/cbr_api/migrations/0030_auto_20211112_1951.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build mobile, build server

Run prettier
  server/cbr_api/serializers.py
  server/cbr_api/views.py
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/NewAlert/AlertForm.tsx
Due: build web, build server

Remove unnecessary changes
  web/src/pages/NewAlert/AlertForm.tsx
Due: build web

Run makemigrations
  server/cbr_api/migrations/0024_alter_alert_priority.py
Due: build server

Run prettier
  server/cbr_api/migrations/0024_alter_alert_priority.py
Due: build server

set-up push & pull for baseline surveys
  common/package-lock.json
  common/src/forms/BaseSurvey/baseSurveyHandler.ts
  mobile/android/gradlew
  mobile/package-lock.json
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/Client.ts
  mobile/src/models/UserCBR.ts
  mobile/src/models/index.ts
  mobile/src/models/schema.ts
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  server/cbr_api/migrations/0027_auto_20211113_0103.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: format common, build mobile, build server

have some ideas on how to build the service layer
  common/src/forms/Client/clientHandler.ts
  common/src/services/clientServices.ts
  common/src/services/tools/RequestConfigBuilder.ts
Due: format common, build mobile

fixed web stats filter by date
  server/cbr_api/sql.py
  web/src/pages/Stats/StatsDateFilter.tsx
Due: build web, build server

renamed variable and moved filter date range to request
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/StatsDateFilter.tsx
Due: build web

removed unused imports
  web/src/pages/Stats/StatsDateFilter.tsx
Due: build web

The config entity module is created (the first level of decouple)
  common/src/services/clientServices.ts
  common/src/services/tools/RequestConfigBuilder.ts
Due: format common, build mobile

bargraph for visit stats added WIP
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/Profile/Profile.tsx
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

added Visit Pie Chart
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

added django cleanup comments and removed unused sync data function
  server/cbr/settings.py
  server/cbr_api/util.py
Due: build server

update survey model fields & schema
  common/src/forms/BaseSurvey/baseSurveyFields.ts
  common/src/forms/BaseSurvey/baseSurveyHandler.ts
  mobile/package-lock.json
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/Client.ts
  mobile/src/models/UserCBR.ts
  mobile/src/models/schema.ts
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/formHandler.ts
  server/cbr_api/migrations/0031_merge_0027_auto_20211113_0103_0030_auto_20211112_1951.py
  server/cbr_api/migrations/0032_auto_20211113_2155.py
  server/cbr_api/migrations/0033_baselinesurvey_server_created_at.py
  server/cbr_api/migrations/0034_remove_baselinesurvey_updated_at.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/BaseSurvey/formHandler.ts
  web/tsconfig.json
Due: format common, build mobile, build web, build server

run prettier
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/schema.ts
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  web/tsconfig.json
Due: build mobile, build web

run formatter for server
  server/cbr_api/migrations/0027_auto_20211113_0103.py
  server/cbr_api/migrations/0031_merge_0027_auto_20211113_0103_0030_auto_20211112_1951.py
  server/cbr_api/migrations/0032_auto_20211113_2155.py
  server/cbr_api/migrations/0033_baselinesurvey_server_created_at.py
  server/cbr_api/migrations/0034_remove_baselinesurvey_updated_at.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
