Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

Removed prop drilling & refresh only when it opens
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/PreviousGoals/PreviousGoalsModal.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
Due: build mobile

test fix
  mobile/app.json
Due: build mobile

remove all pin functionality
  mobile/app.json
  mobile/e2e/authHelpers.js
  mobile/e2e/login.test.js
  mobile/e2e/sync.test.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  mobile/src/components/UserProfileContents/ChangePinDialog.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/context/PinContext/PinContext.tsx
  mobile/src/context/PinContext/PinState.ts
  mobile/src/screens/BugReport/BugReport.tsx
  mobile/src/screens/PinEntry/PinEntry.styles.ts
  mobile/src/screens/PinEntry/PinEntry.tsx
  mobile/src/screens/PinSetup/PinSetup.styles.ts
  mobile/src/screens/PinSetup/PinSetup.tsx
  mobile/src/screens/SuccessStories/NewSuccessStory.tsx
  mobile/src/util/pinStorage.ts
Due: build mobile

Fixed email template heading
  server/cbr_api/templates/cbr_api/bug_report_email.html
  server/cbr_api/templates/cbr_api/referral_created_email.html
Due: build server

Fixed minor styling issues
  web/src/styles/DataGrid.styles.ts
  web/src/theme.styles.ts
Due: build web

Show feedback to admin if email sent failed.
  common/src/util/endpoints.ts
  server/cbr_api/email_notifications.py
  server/cbr_api/tests/serializers/test_email_notifications.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
  web/src/pages/Admin/AdminEmailSettings.tsx
Due: build common, build mobile, build web, build server, test common

Add error description in mobile.
  mobile/src/screens/BugReport/BugReport.tsx
Due: build mobile

Fixed formatting
  server/cbr_api/email_notifications.py
  server/cbr_api/tests/serializers/test_email_notifications.py
Due: build server

success stories changes
  mobile/src/models/SuccessStory.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/SuccessStories/NewSuccessStory.tsx
  mobile/src/screens/SuccessStories/SuccessStoriesList.tsx
  mobile/src/screens/SuccessStories/SuccessStoryView.tsx
  mobile/src/screens/SuccessStories/successStoryApi.ts
  mobile/src/util/syncHandler.ts
  server/cbr_api/migrations/0091_successstory_multi_photo.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/util.py
  server/cbr_api/views.py
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/ClientTimeline/SuccessStoryEntry.tsx
  web/src/pages/NewSuccessStory/NewSuccessStory.tsx
  web/src/pages/SuccessStoriesList/SuccessStoriesList.tsx
  web/src/pages/SuccessStoryView/SuccessStoryView.tsx
  web/src/util/successStories.ts
Due: build mobile, build web, build server

fix django tests
  server/cbr_api/tests/serializers/test_success_story_serializer.py
Due: build server

update app.json for encryption
  mobile/app.json
Due: build mobile

add docs for versioning between mobile and server
  docs/MOBILE-RELEASE.md
Due: none

Change dev and stg: URL (.cmpt. to .cs.) and port 80 due to reverse proxy use.
  .github/workflows/main-cicd.yml
  .github/workflows/mobile-apk-build.yml
  .github/workflows/staging-cicd.yml
  mobile/src/util/serverConfig.ts
Due: build mobile

address comments
  docs/MOBILE-RELEASE.md
Due: none

Make Django ALLOWED_HOSTS strip port from domain.
  server/cbr/settings.py
Due: build server

Implemented backend and models for Safeguarding.
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  common/src/util/referrals.ts
  mobile/src/models/Referral.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  server/cbr_api/email_notifications.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  server/cbr_api/tests/serializers/test_detailed_referral_serializer.py
  server/cbr_api/tests/serializers/test_email_notifications.py
Due: build common, build mobile, build web, build server, test common

Added safe guarding in web.
  server/cbr_api/migrations/0092_referral_safe_guarding_and_more.py
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/SafeGuardingForm.tsx
  web/src/pages/NewReferral/forms/index.ts
Due: build web, build server

Added mobile frontend changges.
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/SafeGuardingForm.tsx
Due: build mobile

Added safeguarding to web client timeline.
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
Due: build web

Add safe guarding display in mobile
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

Updated translations.
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

Updated package.json
  mobile/package-lock.json
Due: build mobile

Fixed typescr
  web/src/App.tsx
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/util/pages.ts
Due: build web

Fixed formatting.
  .github/workflows/check-kvm.yml
  .github/workflows/deploy-from-dockerhub.yml
  .github/workflows/main-cicd.yml
  .github/workflows/mirror-to-github.yml
  .github/workflows/mobile-apk-build.yml
  .github/workflows/mobile-e2e-tests.yml
  .github/workflows/retag-and-upload-dockerhub.yml
  .github/workflows/staging-cicd.yml
  README.md
  aws/README.md
  aws/fluentbit-user-iam.yml
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/CONTRIBUTION.md
  docs/DEPLOYMENT-PROD.md
  docs/DJANGOTESTING.md
  docs/MOBILE-RELEASE.md
  docs/SETUP.md
  package.json
  scripts/s3-bucket-backup.yml
  server/cbr_api/templates/cbr_api/bug_report_email.html
  server/cbr_api/templates/cbr_api/referral_created_email.html
Due: build server

Added test.md to re-run CI pipeline.
  docs/test.md
Due: none

add mobile version check for updates
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/util/playStoreUpdate.ts
Due: build common, build mobile, build web, test common

fix
  mobile/src/App.tsx
Due: build mobile

Fixed formatting
  server/cbr_api/email_notifications.py
  server/cbr_api/sql.py
Due: build server

Fixed typescript errors.
  web/src/util/pages.ts
Due: build web

Removed test.md to trigger CI.
  docs/test.md
Due: none

Fixed formatting
  server/cbr_api/sql.py
Due: build server

Removed port in domain
  server/cbr_api/email_notifications.py
  server/cbr_api/tests/serializers/test_email_notifications.py
Due: build server

Updated to the correct Referral Enums.
  server/cbr_api/tests/serializers/test_detailed_referral_serializer.py
  server/cbr_api/tests/serializers/test_email_notifications.py
Due: build server

Updated mobile package-lock.json
  mobile/package-lock.json
Due: build mobile

add read only mode restricting watermelon db write locally
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/util/playStoreUpdate.ts
  mobile/src/util/readOnlyMode.ts
  mobile/src/util/startupVersionCheck.ts
  mobile/src/util/syncHandler.ts
  mobile/src/util/watermelonDatabase.ts
Due: build common, build mobile, build web, test common

Fixed failing mobile test.
  .github/workflows/mobile-e2e-tests.yml
  mobile/e2e/authHelpers.js
  mobile/e2e/sync.test.js
Due: build mobile

Added Cloudwatch setup docs.
  docs/CLOUDWATCH.md
Due: none

Simplified login process in test.
  mobile/e2e/authHelpers.js
Due: build mobile

Fixed sync error in e2e mobile testing.
  mobile/e2e/sync.test.js
Due: build mobile

Fixed issues from e2e failed run.
  mobile/e2e/login.test.js
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile
