Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

Resolve merge conflict
  mobile/package-lock.json
  web/src/pages/NewVisit/formHandler.ts
Due: build mobile, build web

Fix pipeline issue
  common/src/forms/newVisit/visitFormHandler.ts
  mobile/package-lock.json
  mobile/src/screens/NewVisit/formHandler.ts
  web/src/pages/NewVisit/formHandler.ts
Due: format common, build mobile, build web

move header creation to Stack.Screen creation
  mobile/package-lock.json
  mobile/src/App.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
  mobile/src/util/stackScreens.ts
  mobile/src/util/stackScreens.tsx
Due: build mobile

change ClientForm's header depending on state
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/util/stackScreens.tsx
Due: build mobile

add confirmation dialog when exiting a form
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/components/DiscardDialogs/ConfirmDialog.tsx
  mobile/src/components/DiscardDialogs/ConfirmDialogWithNavListener.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
Due: build mobile

fix cycle warnings
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/DefaultHeader/DefaultHeader.tsx
  mobile/src/util/stackScreens.tsx
Due: build mobile

avoid ts-ignore by using Records
  mobile/src/components/FormikExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/components/FormikPasswordTextInput/FormikPasswordTextInput.tsx
  mobile/src/components/FormikTextInput/FormikTextInput.tsx
Due: build mobile

add confirmation dialog when exiting visits form
  mobile/src/screens/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/formHandler.ts
Due: build mobile, build web

CI: remove unneeded setup; make test common depend on build
  .gitlab-ci.yml
Due: none

client: for pictures, require auth and standardize file names
  common/src/util/endpoints.ts
  common/test/setup.ts
  common/test/testHelpers/mockServerHelpers.ts
  server/cbr/urls.py
  server/cbr_api/migrations/0016_alter_client_picture.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/storage.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
  server/downloadview/base.py
  server/downloadview/object.py
  server/requirements.txt
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/index.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/util/imageCache.ts
Due: format common, build mobile, build web, build server

fix wrong image on client picture edit discard
  web/package-lock.json
  web/package.json
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
Due: build web

fix rebase breakage
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/formHandler.ts
Due: build web

CI: add Caddy configuration validation
  .gitlab-ci.yml
Due: none

fix new client pictures saving as "client-None.png"
  server/cbr_api/models.py
  server/cbr_api/validators.py
Due: build server

clean up photo picker modal
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/formFields.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewClient/formFields.ts
  web/src/pages/NewClient/formHandler.ts
Due: build web, build server

refactor appending picture to client form
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/formHandler.ts
  web/src/util/clientSubmission.ts
Due: build web

drop unused picture fields
  common/src/util/clients.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientRequests.ts
  server/cbr_api/migrations/0018_auto_20210727_0011.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: format common, build mobile, build server

client: add modified timestamp and picture cache headers
  common/src/util/clients.ts
  common/src/util/endpoints.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientRequests.ts
  server/cbr_api/migrations/0016_alter_client_picture.py
  server/cbr_api/migrations/0017_client_modified_date.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
  server/requirements.txt
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/index.tsx
  web/src/util/imageCache.ts
Due: format common, build mobile, build web, build server

CI: remove old web build in deployments & expire build artifact
  .gitlab-ci.yml
Due: none

actually take advantage of useCallback
  web/src/pages/ClientDetails/ClientDetails.tsx
Due: build web

set submit state on new client image blob failure
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/formHandler.ts
Due: build web

add max file size (5 MiB) for client pictures
  server/cbr_api/migrations/0019_alter_client_picture.py
  server/cbr_api/models.py
  server/cbr_api/validators.py
Due: build server

proxy client pictures from Caddy
  caddy/Caddyfile
  docker-compose.deploy.yml
  server/cbr_api/views.py
Due: build server

rely on backend to rename pictures and don't assume PNG
  common/index.ts
  common/src/util/misc.ts
  common/test/util/misc.spec.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/formHandler.ts
Due: format common, build mobile, build web

add command to clean orphaned / invalid client pictures
  server/cbr_api/management/commands/cleanupimages.py
Due: build server

put client images into their own directory
  server/cbr_api/migrations/0020_auto_20210728_2053.py
  server/cbr_api/models.py
Due: build server

optimize PhotoViewUpload by not using data URLs
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
Due: build web

return bool for picture field in `/api/client/{id}`
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

have the backend detect the image types
  server/cbr_api/serializers.py
  web/src/util/clientSubmission.ts
Due: build web, build server

don't compare hashes of profile pictures
  server/cbr_api/serializers.py
Due: build server

clear out pictureChanged on form reset
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

Revert "return bool for picture field in `/api/client/{id}`"
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

CI: remove redundant Caddy validation on deploy
  .gitlab-ci.yml
  mobile/package-lock.json
Due: build mobile

respond to code review
  common/src/util/hooks/cachedAPI.ts
  mobile/package-lock.json
  mobile/src/App.tsx
  mobile/src/tasks/CacheRefreshTask.ts
Due: format common, build mobile

cachedAPI: add backup system and invalidation
  common/index.ts
  common/src/init.ts
  common/src/util/hooks/cachedAPI.ts
  common/src/util/hooks/currentUser.ts
  common/src/util/hooks/disabilities.ts
  common/src/util/hooks/zones.ts
  common/test/testHelpers/testCommonConfiguration.ts
  common/test/util/dates.spec.ts
  common/test/util/hooks/cachedAPI.spec.ts
  common/test/util/hooks/currentUser.spec.ts
  common/test/util/hooks/disabilities.spec.ts
  common/test/util/hooks/zones.spec.ts
  mobile/.prettierignore
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/index.ts
  mobile/src/tasks/CacheRefreshTask.ts
  mobile/src/util/AsyncStorageKeys.ts
  web/src/index.tsx
Due: format common, build mobile, build web

simplify invalidateAllCachedAPI for outside callers
  common/src/util/hooks/cachedAPI.ts
  common/test/util/hooks/cachedAPI.spec.ts
  common/test/util/hooks/currentUser.spec.ts
  common/test/util/hooks/disabilities.spec.ts
  common/test/util/hooks/zones.spec.ts
  mobile/package-lock.json
  mobile/src/App.tsx
  mobile/src/index.ts
  mobile/src/tasks/CacheRefreshTask.ts
  web/src/index.tsx
Due: format common, build mobile, build web

cachedAPI: only update value if mounted
  common/src/util/hooks/cachedAPI.ts
  mobile/package-lock.json
Due: format common, build mobile

fix memory leak warnings
  common/src/util/hooks/cachedAPI.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
Due: format common, build mobile

Merged with current main branch to solve merge conflict.
  common/index.ts
  mobile/package-lock.json
Due: format common, build mobile

Resolve some threads.
  common/index.ts
  mobile/package-lock.json
  mobile/src/components/WrappedText/WrappedText.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/UserList/UserList.tsx
Due: format common, build mobile
