Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

Remove unused imports.
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
Due: build mobile, build web

Fixed formatting
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
Due: build mobile

add cross platform script compatibility for detox
  mobile/e2e/globalSetup.js
  mobile/e2e/jest.config.js
  mobile/package.json
  mobile/scripts/gradlew.js
Due: build mobile

increase timeout
  mobile/e2e/jest.config.js
  mobile/package-lock.json
Due: build mobile

add initial sync testing suite
  mobile/e2e/sync.test.js
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/SyncAlert/SyncAlert.tsx
  mobile/src/components/TextCheckBox/TextCheckBox.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

Formatted goal field
  web/src/pages/NewVisit/components/GoalField.tsx
Due: build web

init
  web/src/App.tsx
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/ClientTimeline/SuccessStoryEntry.tsx
  web/src/pages/NewSuccessStory/NewSuccessStory.styles.ts
  web/src/pages/NewSuccessStory/NewSuccessStory.tsx
  web/src/pages/SuccessStoriesList/SuccessStoriesList.tsx
  web/src/pages/SuccessStoryView/SuccessStoryView.tsx
  web/src/util/pages.ts
  web/src/util/successStories.ts
Due: build web

Added general referral photo upload.
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
  web/package-lock.json
Due: build mobile, build web

Fixed styling of image upload.
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
Due: build mobile

Added mobile visit submission
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
Due: build mobile

Add icon if picture exists in entries.
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewVisit/NewVisit.style.ts
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
Due: build mobile, build web

streamline base e2e testing config
  mobile/.detoxrc.js
  mobile/e2e/jest.config.js
  mobile/e2e/sync.test.js
  mobile/e2e/testSequencer.js
Due: build mobile

add emulator boot + global test env setup
  mobile/e2e/00-deviceSetup.test.js
  mobile/e2e/artifactPathBuilder.js
  mobile/e2e/globalSetup.js
Due: build mobile

update mobile watch resolvers
  mobile/babel.config.js
  mobile/metro.config.js
Due: build mobile

start fresh app instance each time and update env so we hit local backend
  mobile/.env.e2e.example
  mobile/e2e/login.test.js
Due: build mobile

save test artiufacts for debugging
  mobile/.gitignore
  mobile/package.json
  mobile/src/screens/HomeScreen/HomeScreen.tsx
Due: build mobile

Add dashboard sync spinner and show toast message once it loads
  mobile/src/App.tsx
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/util/syncNotifications.ts
Due: build mobile

Add success story backend API
  server/cbr_api/migrations/0081_successstory.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/tests/views/test_success_story_views.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

Integrate success stories frontend with backend
  common/src/util/endpoints.ts
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/NewSuccessStory/NewSuccessStory.tsx
  web/src/pages/SuccessStoriesList/SuccessStoriesList.tsx
  web/src/pages/SuccessStoryView/SuccessStoryView.tsx
  web/src/util/successStories.ts
Due: build common, build mobile, build web, test common

Remove success story backend tests from backend branch
  server/cbr_api/tests/views/test_success_story_views.py
Due: build server

Remove success story backend tests from integrated branch
  server/cbr_api/tests/views/test_success_story_views.py
Due: build server

Format success story migration with black
  server/cbr_api/migrations/0081_successstory.py
Due: build server

Fix type error patch
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/App.tsx
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/util/pages.ts
Due: build common, build mobile, build web, test common

Fix accidental change
  common/src/locales/bari.json
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

fix
  common/src/@types/resources.d.ts
Due: build common, build mobile, build web, test common

Ensure that dashboard shows information even when sync doesn't happen
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

Remove unused imports.
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
Due: build web

use linux commands
  mobile/.detoxrc.js
  mobile/e2e/00-deviceSetup.test.js
  mobile/e2e/login.test.js
  mobile/package.json
Due: build mobile

update readme with new nobuild script
  mobile/README.md
Due: build mobile

add os specific commands
  mobile/.detoxrc.js
  mobile/README.md
  mobile/package.json
Due: build mobile

fix bug with e2e:install crashing emu
  mobile/package.json
Due: build mobile

Ran prettier to fix ci/cd pipeline
  mobile/src/util/syncNotifications.ts
Due: build mobile

add option to run tests on own emu
  mobile/e2e/login.test.js
  mobile/e2e/sync.test.js
  mobile/package.json
Due: build mobile

fix the nobuild scripts
  mobile/e2e/globalSetup.js
  mobile/package.json
Due: build mobile

Updated formatting on dashboard files
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

add new env var (can open app manually at this commit at least)
  mobile/.detoxrc.js
  mobile/e2e/globalSetup.js
  mobile/e2e/login.test.js
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Clear success/error messages on patient note modal close
  mobile/src/components/PatientNoteModals/PatientNoteModal.tsx
  web/src/components/PatientNoteModal/PatientNoteModal.tsx
Due: build mobile, build web

add success story photos and thumbnails
  common/src/util/endpoints.ts
  server/cbr_api/migrations/0082_alter_successstory_photo.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/pages/NewSuccessStory/NewSuccessStory.tsx
  web/src/pages/SuccessStoriesList/SuccessStoriesList.tsx
  web/src/pages/SuccessStoryView/SuccessStoryView.tsx
  web/src/util/successStories.ts
Due: build common, build mobile, build web, build server, test common
