Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

Fix common test
  common/test/setup.ts
  mobile/src/screens/ClientList/ClientList.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

Fix the pipeline
  mobile/package-lock.json
Due: build mobile

Fix the conflict
  common/test/setup.ts
Due: format common, build mobile

Added formik in client risk
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

Implement basic column builder in ClientList.tsx
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Implement basic column builder in ClientList.tsx
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Merged with current main
  mobile/package.json
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

Update the timeline and loading
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
Due: build mobile

Run prettier
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Update the style
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

Expanded formik to Educat and Social and refactored code to enhance readability
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

added new client page
  common/index.ts
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/FormikExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/components/FormikTextInput/FormikTextInput.tsx
  mobile/src/components/TextPicker/TextPicker.style.ts
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewClient/NewClient.styles.ts
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/util/formikUtil.ts
  mobile/src/util/formikUtil.tsx
  mobile/src/util/screens.ts
Due: format common, build mobile

fixed import error
  common/src/forms/Client/clientHandler.ts
Due: format common, build mobile

Resolve some threads
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/util/listFunctions.ts
  web/package-lock.json
Due: build mobile, build web

update local
  mobile/package-lock.json
Due: build mobile

Adds VisitEntry file
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
Due: build mobile

fixed validation and styling issues
  common/src/forms/Client/clientFields.ts
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/TextCheckBox/TextCheckBox.style.ts
  mobile/src/components/TextCheckBox/TextCheckBox.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewClient/NewClient.styles.ts
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/NewClient/formHandler.ts
Due: format common, build mobile

removed unused imports
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

Changed let to const
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

fixed zone not displaying properly
  common/src/forms/Client/clientFields.ts
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: format common, build mobile

Merged main into branch to prep main merge
  mobile/package-lock.json
Due: build mobile

fixed submission bugs and better enforced consent check
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/TextCheckBox/TextCheckBox.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/NewClient/NewClient.styles.ts
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/util/validationToast.ts
Due: build mobile

Response to the comment
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

Finish the baseline consent
  mobile/src/components/TextCheckBox/TextCheckBox.style.ts
  mobile/src/components/TextCheckBox/TextCheckBox.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/ConsentForm.tsx
Due: build mobile

Added accessible radio buttons for risk check
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

update textbox uses
  common/src/forms/Client/clientHandler.ts
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EducationForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EmpowermentForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/HealthForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/ShelterForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/SocialForm.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: format common, build mobile

New Client Page
  common/index.ts
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  common/src/util/colors.ts
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/ExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/components/FormikTextInput/FormikTextInput.tsx
  mobile/src/components/TextCheckBox/TextCheckBox.style.ts
  mobile/src/components/TextCheckBox/TextCheckBox.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EducationForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EmpowermentForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/HealthForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/ShelterForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/SocialForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewClient/NewClient.styles.ts
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/util/formikUtil.ts
  mobile/src/util/formikUtil.tsx
  mobile/src/util/screens.ts
  mobile/src/util/validationToast.ts
Due: format common, build mobile

ExposedDropdownMenu: fix outdated JSDoc comments
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

use TextInput as anchor for dropdown menu
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.styles.ts
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

Save progress
  common/package-lock.json
  mobile/src/screens/ClientList/ClientList.tsx
Due: format common, build mobile

Save progress
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Update the package.json
  mobile/package-lock.json
Due: build mobile

Response to the comment
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

Finish the comment on removing countObjectKeys
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

Done the comment
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

Implement referral summary modal on client timeline
  mobile/package-lock.json
  mobile/src/components/DataCard/DataCard.style.ts
  mobile/src/components/DataCard/DataCard.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/util/screens.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build mobile, build web

refactor IFormikComponent from Formik* components
  mobile/src/components/ExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/components/FormikTextInput/FormikTextInput.tsx
  mobile/src/util/formikUtil.tsx
Due: build mobile

ExposedDropdownMenu: stop memoizing MenuItems
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

respond to code review and fix Array type
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

FormikExposedDropdownMenu: fix useCallback deps
  mobile/src/components/ExposedDropdownMenu/FormikExposedDropdownMenu.tsx
Due: build mobile

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
