Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

659 add test case for client optional fields
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 add test case for client disabilities relationship
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 add test case for client risk level fields
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 add test case to ensure we cannot create a client when field lengths exceed their maximums
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 add test for renaming client file upload when they have a primary key
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 add test for renaming client file upload when the client has no pk AND fix rename_file method in client model to expected behaviour
  server/cbr_api/models.py
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 add test for cascade protection to ensure we cannot delete a user or zone associated to a client
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 add two test cases for client image upload and is active toggle
  server/cbr_api/tests/models/test_client_model.py
Due: build server

659 refresh client from db in active status testcase
  server/cbr_api/tests/models/test_client_model.py
Due: build server

feat: add goalStatusChip to mobile
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/GoalStatusChip/GoalStatusChip.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

fix: fix missing label for goal field and cut off edit icon
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

prettier
  mobile/src/components/GoalStatusChip/GoalStatusChip.tsx
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

fix: adjust chip sizing
  mobile/src/components/GoalStatusChip/GoalStatusChip.tsx
Due: build mobile

prettier
  mobile/src/components/GoalStatusChip/GoalStatusChip.tsx
Due: build mobile

fix: further adjust sizing
  mobile/src/components/GoalStatusChip/GoalStatusChip.tsx
Due: build mobile

659 increase clone depth for pipeline
  .github/workflows/main-cicd.yml
Due: none

fix: append new risk to the front of array
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

format: add space
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/GoalField.tsx
Due: build web

format: prettier
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/OutcomeField.tsx
Due: build web

format: show current goal string
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
Due: build web

fix: filter by risktype
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

fix: add risk type
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

format: prettier
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
Due: build web

fix: depenpency update
  web/package-lock.json
Due: build web

fix: add risktype to dependency array
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
Due: build web

661 add edit icon from web make goal status chip a clickable component
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

661 add border radius to goal status chip
  mobile/src/components/GoalStatusChip/GoalStatusChip.tsx
Due: build mobile

661 use custom modal window component for goal status change
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
Due: build mobile

661 add goal status radio inputs and cancellation reason input when user clicks cancelled option
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

661 make cancellation reason simple text input
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

661 add margin to cancellation input
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

661 convert goal name and requirements inputs to simple texts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

661 use helper texts and error styles identical to new visit form
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

feat: add endpoint to risk graphs and segment lines based on goal status
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
Due: build web

prettier
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
Due: build web

661 update formik close modal function to show errors when cancellation input is empty
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

661 invalid pk error when submitting risk form
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

661 add change type to serializer to show in mobile responses and update migrations script on mobile
  mobile/src/models/migrations.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  server/cbr_api/serializers.py
Due: build mobile, build server

661 make change type a read only field so docker logs dont show error and update db syncing
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
  server/cbr_api/serializers.py
Due: build mobile, build server

661 create a reusable component for each text input and error text field in risk form
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile
