Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

add type safety to React Navigation v6
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.tsx
Due: build mobile

fix: remove unused Text component
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodForm.tsx
Due: build mobile

fix: replace Button with IconButton for rn-paper 5
  mobile/src/screens/ClientDetails/ClientTimeline/ShowMore.tsx
Due: build mobile

fix: onPress expects GestureResponderEvent
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
Due: build mobile

fix: add explicit blank DataTableTitle
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

fix: update text colors for rn-paper v5
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/DataCard/DataCard.style.ts
  mobile/src/components/LanguagePicker/LanguagePicker.style.ts
  mobile/src/components/LanguagePicker/LanguagePicker.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/UserList/UserList.styles.ts
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

update rn-progress-steps to v2
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/baseSurvey.style.ts
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

fix: remove structural empty text component
  mobile/src/screens/NewReferral/NewReferral.tsx
Due: build mobile

chore: clean up build scripts and config
  mobile/build.js
  mobile/metro.config.js
Due: build mobile

update themeColors
  common/src/util/colors.ts
Due: build common, build mobile, build web, test common

fix: remove structural empty Text components
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/MentalHealthForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/NutritionAgricultureForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/ProstheticOrthoticForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
  mobile/src/screens/NewVisit/NewVisit.style.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

fix: rn-paper update IconButton syntax
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

chore: remove comment
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

remove testing version number
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

fix: replace Button with IconButton
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
Due: build mobile

Filtering out referrals with archived clients
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/Referrals/Referrals.tsx
Due: build web

added data migration for client risk and updated serializers
  server/cbr_api/migrations/0060_update_client_risk_goal_name_to_goal.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

added interface changes for OutcomeGoalMet and IRisk
  common/src/util/risks.ts
  common/src/util/visits.ts
Due: build common, build mobile, build web, test common

added StatsDemographicFilter component
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/package-lock.json
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDemographicFilter.tsx
Due: build common, build mobile, build web, test common

added finished StatsDemographicFilter component
  web/src/pages/Stats/components/filterbar/StatsDemographicFilter.tsx
Due: build web

wip refactored sql.py and serializers for stats
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
Due: build server

wip added changes for disability sql stats
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
Due: build server

added is_active user and date to stats and modified stats interfaces
  common/src/util/stats.ts
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build common, build mobile, build web, build server, test common

added HorizontalBarGraph component
  web/src/pages/Stats/components/charts/HorizontalBarGraphStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
Due: build web

finished base refactoring for stats components
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/colors.ts
  common/src/util/stats.ts
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VerticalBarGraphStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDemographicFilter.tsx
Due: build common, build mobile, build web, test common

Started adding the hcr field to client details
  common/src/forms/Client/clientFields.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

Added translations for the new client field
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

Added hcr field to client creation and details
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, test common

Changed NA hcr type logic
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

added pie chart and extra changes to stats components
  common/src/util/stats.ts
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/charts/HorizontalBarGraphStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
Due: build common, build mobile, build web, test common

finished web side stats export
  common/src/util/stats.ts
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/VerticalBarGraphStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build common, build mobile, build web, build server, test common

Fixed dashboard api loop bug
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

refactored mobile stats component
  mobile/src/screens/Stats/BarGraph.tsx
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

fixed demographic filtering for export stats
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

fixed mobile stats legend colour bug
  mobile/src/screens/Stats/BarGraph.tsx
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

finalized exports statistics for web
  package.json
  web/src/App.tsx
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
Due: build web

updated web stats translations
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
Due: build common, build mobile, build web, test common

added prettier for stats
  web/src/pages/Stats/components/filterbar/StatsUserFilter.tsx
Due: build web

Edited the hcr type
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

updated dependencies for DateTime
  package-lock.json
  web/package-lock.json
Due: build web

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
