Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

ci: temp disable ci mobile build
  .github/workflows/main-cicd.yml
Due: none

ci: replace eventlet worker with built-in asyncio
  docker-compose.deploy.yml
Due: none

ci: test monkey_patch first
  docker-compose.deploy.yml
  server/cbr/wsgi.py
Due: build server

ci: change wsgi import order
  server/cbr/wsgi.py
Due: build server

chore: black format
  server/cbr/wsgi.py
Due: build server

ci: monkey_patch thread
  server/cbr/wsgi.py
Due: build server

ci: print exentlet timer exceptions
  server/cbr/wsgi.py
Due: build server

ci: remove debug hub_exceptions
  server/cbr/wsgi.py
Due: build server

ci: monkey_patch all
  server/cbr/wsgi.py
Due: build server

test: monkey_patch sockets.py
  server/cbr/sockets.py
  server/cbr/wsgi.py
  server/requirements.txt
Due: build server

temp: undo mp
  server/cbr/sockets.py
Due: build server

ci: re-add eventlet
  server/cbr/sockets.py
  server/requirements.txt
Due: build server

chore: black format
  server/cbr/sockets.py
  server/cbr/wsgi.py
Due: build server

undo eventlet import
  server/cbr/sockets.py
Due: build server

refactor(modal form): improve prop passing and types
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

feat(modal form): prevent from being opened if disabled
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

feat(modal form): set up basic component
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

feat(modal form): add ripple effect and some refactoring
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

feat(modal form): have it so that the underlying value of the form is a string
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

feat(modal form): add edit icon
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

feat(modal form): pass in array of labels to render checkboxes
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(modal form): improve styling
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(modal form): switch from using modal component to dialog component
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

fix(modal form): fix visual bug when no freeform text is inputted
  mobile/src/components/ModalForm/ModalForm.tsx
Due: build mobile

feat(modal form): make font size bigger and some other styling
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(new visit): shift around imports and react hooks
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

feat(modal form): add both localized and canonical fields for displaying and saving to database respectively
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/NewClient/NewClient.tsx
Due: build common, build mobile, build web, test common

refactor(modal form): rename fields
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(modal form): add another prop for label
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

feat(client risk modal): improve styling
  mobile/src/components/ModalForm/ModalForm.styles.ts
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/components/ModalTrigger.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

Refactor(new client form): remove commented out code
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(modal form): extract custom hook
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/hooks/useFormValueGenerator.ts
Due: build mobile

refactor(client risk form): extract event handler functions and general code organization
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

refactor(new client): increase padding between sections
  mobile/src/screens/NewClient/NewClient.styles.ts
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor(client risk): cleanup complex ternary and other cleanups
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

refactor(update risk modal): shift imports and eliminate duplication
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

feat(modal form): able to prepopulate values in form
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

refactor(modal form): extract sub components
  mobile/src/components/ModalForm/ModalForm.tsx
  mobile/src/components/ModalForm/components/Modal.tsx
  mobile/src/components/ModalForm/components/ModalTrigger.tsx
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

feat(modal form): translate values for modal form in client risk page
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build common, build mobile, build web, test common
