Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

revert version checks
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/package-lock.json
  mobile/src/App.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/util/readOnlyMode.ts
  mobile/src/util/startupVersionCheck.ts
  mobile/src/util/syncHandler.ts
  mobile/src/util/watermelonDatabase.ts
Due: build common, build mobile, build web, test common

Revert "revert version checks"
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/package-lock.json
  mobile/src/App.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/util/readOnlyMode.ts
  mobile/src/util/startupVersionCheck.ts
  mobile/src/util/syncHandler.ts
  mobile/src/util/watermelonDatabase.ts
Due: build common, build mobile, build web, test common

fix read only mode
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/util/readOnlyMode.ts
  mobile/src/util/startupVersionCheck.ts
  mobile/src/util/syncHandler.ts
Due: build common, build mobile, build web, test common

Strengthen goal refresh after visit updates.
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build mobile, build web

Migrated to vite.
  common/src/util/hooks/cachedAPI.ts
  web/craco.config.js
  web/index.html
  web/package-lock.json
  web/package.json
  web/public/index.html
  web/src/react-app-env.d.ts
  web/src/util/api.ts
  web/src/vite-env.d.ts
  web/vite.config.mts
Due: build common, build mobile, build web, test common

Fixed missing svg in login page.
  web/src/pages/Login/Login.styles.ts
Due: build web

Updated package.json to put the compatible vite.
  web/package-lock.json
  web/package.json
Due: build web

Replaced CRA config with Vite lint and test setup
  web/eslint.config.mjs
  web/package-lock.json
  web/package.json
Due: build web

Fixed formatting.
  web/index.html
Due: build web

add show less button to collapse excesive acitivity items
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/ShowMore.tsx
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/Timeline/ShowMoreEntry.tsx
Due: build mobile, build web

get rid of translation
  mobile/src/screens/ClientDetails/ClientTimeline/ShowMore.tsx
  web/src/pages/ClientDetails/Timeline/ShowMoreEntry.tsx
Due: build mobile, build web

remove mobile changes as issue was web only
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/ShowMore.tsx
Due: build mobile

add caddy file validation
  caddy/Dockerfile
Due: test caddy

fix comment
  caddy/Dockerfile
Due: test caddy

Replace Eventlet with ASGI
  docker-compose.deploy.yml
  docker-compose.override.yml
  server/cbr/asgi.py
  server/cbr/sockets.py
  server/cbr/wsgi.py
  server/manage.py
  server/requirements.txt
Due: build server

Fixed CI error
  server/requirements.txt
Due: build server

Reformatted sockets.py
  server/cbr/sockets.py
Due: build server

fix
  mobile/src/util/syncHandler.ts
Due: build mobile
