Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

Clear local data on server switch
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

Update to use Docker Hub deployment
  .gitlab-ci.yml
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/DEPLOYMENT.md
  scripts/README.md
  scripts/setup_production.sh
  scripts/update.sh
Due: build common, build mobile, build web, build server, test common, test caddy

Retry build
  .gitlab-ci.yml
  docs/DEPLOYMENT.md
Due: build common, build mobile, build web, build server, test common, test caddy

Testing trigger rules
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

run prettier
  common/index.ts
  common/src/context/SocketIOContext.ts
  mobile/src/App.tsx
  mobile/src/screens/Login/Login.styles.ts
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/SwitchServer/SwitchServer.styles.ts
  mobile/src/screens/SwitchServer/SwitchServer.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.tsx
Due: build common, build mobile, build web, test common

trigger Staging deployment
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Troubleshooting missing /var/www/ files
  .gitlab-ci.yml
  caddy/Dockerfile
Due: build common, build mobile, build web, build server, test common, test caddy

Experiment with changing /caddy/dockerfile to populate www folder
  caddy/Dockerfile
Due: test caddy

Multiple ways of extracting var/www/
  caddy/Dockerfile
Due: test caddy

Manually extract front-end
  .gitlab-ci.yml
  caddy/Dockerfile
Due: build common, build mobile, build web, build server, test common, test caddy

Prepare to merge
  .gitignore
  .gitlab-ci.yml
  caddy/Dockerfile
  docker-compose.deploy.yml
  scripts/setup_production.sh
Due: build common, build mobile, build web, build server, test common, test caddy

Cleanup gitlab ci file
  .gitlab-ci.yml
  caddy/Dockerfile
  scripts/setup_production.sh
Due: build common, build mobile, build web, build server, test common, test caddy

Cleanup for merge
  .gitlab-ci.yml
  cbr_script.ps1
  docs/CONTRIBUTION.md
  docs/DEPLOYMENT.md
  docs/SETUP.md
  mobile/README.md
  scripts/setup_production.sh
  scripts/update.sh
Due: build common, build mobile, build web, build server, test common, test caddy

zone edit
  web/src/pages/ZoneList/ZoneList.tsx
  web/src/util/pages.ts
Due: build web

Use Docker Hub for deployment
  .gitignore
  .gitlab-ci.yml
  caddy/Dockerfile
  cbr_script.ps1
  docker-compose.deploy.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/CONTRIBUTION.md
  docs/DEPLOYMENT.md
  docs/SETUP.md
  mobile/README.md
  scripts/README.md
  scripts/setup_production.sh
  scripts/update.sh
Due: build common, build mobile, build web, build server, test common, test caddy

fixed get api. need to fix PUT api
  common/src/forms/Zone/zoneFields.ts
  common/src/forms/Zone/zoneFormsHandler.ts
  common/src/util/endpoints.ts
  web/src/pages/Zone/ZoneEdit.tsx
  web/src/pages/ZoneList/ZoneList.tsx
Due: build common, build mobile, build web, test common

Zone Edit Completed
  common/src/forms/Zone/zoneFormsHandler.ts
  web/src/pages/Zone/ZoneEdit.tsx
Due: build common, build mobile, build web, test common

prettier and deleted unused var
  common/src/forms/Zone/zoneFormsHandler.ts
  web/src/pages/ZoneList/ZoneList.tsx
Due: build common, build mobile, build web, test common

Correct update script to pull docker hub image, not build it
  scripts/update.sh
Due: none

Resolve "Add ability to change target server on mobile"
  common/index.ts
  common/src/context/SocketIOContext.ts
  common/src/init.ts
  mobile/index.js
  mobile/src/App.tsx
  mobile/src/screens/Login/Login.styles.ts
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/SwitchServer/SwitchServer.styles.ts
  mobile/src/screens/SwitchServer/SwitchServer.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.tsx
Due: build common, build mobile, build web, test common

Remove clear button from add client screen
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

@testing-library/react-hooks update to 7.0.2
  common/package-lock.json
  common/package.json
Due: build common, build mobile, build web, test common

npm install @types/fetch-mock@7.3.5 from 7.3.4
  common/package-lock.json
  common/package.json
Due: build common, build mobile, build web, test common

npm install @types/history@4.7.11 from 4.7.9
  common/package-lock.json
  common/package.json
Due: build common, build mobile, build web, test common

npm install @types/node@15.14.9 from 15.12.5
  common/package-lock.json
  common/package.json
Due: build common, build mobile, build web, test common

npm install @types/react@17.0.48 from 17.0.11
  common/package-lock.json
  common/package.json
Due: build common, build mobile, build web, test common

npm install async-mutex@0.3.2 from 0.3.1
  common/package-lock.json
  common/package.json
Due: build common, build mobile, build web, test common

updated bunch
  common/package-lock.json
  common/package.json
Due: build common, build mobile, build web, test common

prettier
  common/package.json
Due: build common, build mobile, build web, test common

finished updating common
  common/package-lock.json
  common/package.json
Due: build common, build mobile, build web, test common

pt
  common/package.json
Due: build common, build mobile, build web, test common

updated react to 17 in web
  web/package-lock.json
  web/package.json
Due: build web

pt
  common/package.json
  web/4.21.0
  web/package-lock.json
  web/package.json
Due: build common, build mobile, build web, test common

updated web and common pushing to test cicd
  common/cbr-common-1.0.0.tgz
  common/package-lock.json
  mobile/4.21.0
  web/package-lock.json
  web/package.json
Due: build common, build mobile, build web, test common

Update depreciated url to re_path
  server/cbr_api/urls.py
Due: build server

Upgrade to Django 4.0
  server/cbr/settings.py
  server/requirements.txt
Due: build server

Temporary branch for fixing errors on mobile set up
  mobile/android/app/build.gradle
  mobile/android/build.gradle
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/package-lock.json
Due: build mobile

108: Delete alert feature
  common/src/forms/Alert/alertHandler.ts
  server/cbr_api/views.py
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
Due: build common, build mobile, build web, build server, test common

108: Change 'Discard' to 'Delete' for alert delete button
  web/src/pages/AlertInbox/AlertDetail.tsx
Due: build web
