Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

762 show statistics link when language is bari
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

762 run formatters
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

773 run formatters, fix disabilities util test, and re install packages
  common/test/util/hooks/disabilities.spec.ts
Due: build common, build mobile, build web, test common

Add some logs to help see sync issues inside SyncHandler
  mobile/src/util/syncHandler.ts
Due: build mobile

Wrap API fetch in a try catch block to see if thats whats causing the issue
  mobile/src/util/syncHandler.ts
Due: build mobile

Add error throwing when api fetch fails to see how error bubbles
  mobile/src/util/syncHandler.ts
Due: build mobile

773 clean up logcat emitter warnings and cycle issues
  mobile/index.js
  mobile/src/screens/ClientDetails/Risks/UpdateGoalStatusModal.tsx
  mobile/src/screens/SwitchServer/SwitchServer.tsx
  mobile/src/setup/nativeEventEmitterPolyfills.ts
  mobile/src/tasks/SyncDatabaseTask.ts
Due: build mobile

773 run formatters
  mobile/src/setup/nativeEventEmitterPolyfills.ts
Due: build mobile

Add generic alert when errors occur and add error throwing to outer catch for synchronize to ensure that error alert is shown to user
  mobile/src/util/syncHandler.ts
Due: build mobile

775 create notification toast for every auto sync
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/syncHandler.ts
  mobile/src/util/syncNotifications.ts
  mobile/src/util/syncState.ts
  mobile/src/util/useSyncStatus.ts
Due: build mobile

Implement fix for sync error by ensuring server config is stored persistently
  mobile/index.js
  mobile/src/screens/SwitchServer/SwitchServer.tsx
  mobile/src/util/serverConfig.ts
Due: build mobile

Ran prettier on modified files
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

775 only show notification if there are sync changes
  mobile/src/util/syncHandler.ts
Due: build mobile

775 show live counter, sync progress state and last synchronized
  mobile/src/components/TabModal/TabModal.tsx
  mobile/src/screens/Sync/PrefConstants.ts
  mobile/src/screens/Sync/Sync.styles.ts
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/tasks/SyncDatabaseTask.ts
  mobile/src/util/useNextAutoSyncCountdown.ts
Due: build mobile

775 clean up warnings
  mobile/index.js
Due: build mobile

775 fix counter and dont disable server sync when offline
  mobile/index.js
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/syncHandler.ts
  mobile/src/util/useSyncStatus.ts
Due: build mobile

775 revert sync interval to be 1 hour again
  mobile/src/tasks/SyncDatabaseTask.ts
Due: build mobile

775 show scheduling iff when sync is in progress
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

Create action to build mobile APK
  .github/workflows/mobile-apk-build.yml
Due: none

Set APK upload path
  .github/workflows/mobile-apk-build.yml
Due: none

Add alerts incase user inputs bad url and check connection to server
  mobile/src/screens/SwitchServer/SwitchServer.styles.ts
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

remove uid from the profile page ui
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
Due: build mobile

remove uid from web
  web/src/pages/User/UserView.tsx
Due: build web

Fixed format code using prettier.
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

Get basic new referral email notfications working
  docker-compose.yml
  server/cbr/settings.py
  server/cbr_api/email_notifications.py
  server/cbr_api/serializers.py
Due: build server

Add Visit image model, view, and API route
  mobile/package-lock.json
  server/cbr_api/models.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build mobile, build server

Added Visit Form's web backend picture handler.
  common/src/forms/newVisit/visitFormFields.ts
  common/src/forms/newVisit/visitFormHandler.ts
  common/src/util/endpoints.ts
  mobile/src/models/schema.ts
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build common, build mobile, build web, build server, test common

Move referral subject to settings.py
  server/cbr/settings.py
Due: build server

Remove spacing in beginning of placeholder
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

clarify nvm install steps for diff OS in readme
  mobile/README.md
Due: build mobile

install latest nvm version in readme
  mobile/README.md
Due: build mobile

Added Visit model test.
  mobile/src/models/Visit.ts
  server/cbr_api/migrations/0075_visit_picture.py
  server/cbr_api/tests/models/test_visit_model.py
Due: build mobile, build server

npx prettier --write .
  common/src/forms/newVisit/visitFormFields.ts
  common/src/forms/newVisit/visitFormHandler.ts
Due: build common, build mobile, build web, test common

Reformatted common files
  server/cbr_api/models.py
  server/cbr_api/tests/models/test_visit_model.py
  server/cbr_api/views.py
Due: build server

add documentation for mobile trouble shooting for blac screen
  mobile/README.md
Due: build mobile

add mac specifications
  mobile/README.md
Due: build mobile

add no internet to syncing toast
  mobile/src/tasks/SyncDatabaseTask.ts
  mobile/src/util/syncHandler.ts
  mobile/src/util/syncNotifications.ts
Due: build mobile

fix formatting with prettier
  mobile/src/util/syncNotifications.ts
Due: build mobile

Fixed model's file naming method and update test.
  server/cbr_api/models.py
  server/cbr_api/tests/models/test_visit_model.py
Due: build server

Modified test file.
  server/cbr_api/tests/models/test_visit_model.py
Due: build server

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
