Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

bundling failures
  mobile/.gitignore
  mobile/app.json
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

update gitignore
  mobile/.gitignore
  mobile/app.json
Due: build mobile

testing
  README.md
Due: none

bump django
  server/requirements.txt
Due: build server

eventlet to latest
  server/cbr/wsgi.py
  server/requirements.txt
Due: build server

disable mobile build
  .github/workflows/main-cicd.yml
Due: none

formatting
  server/cbr/wsgi.py
Due: build server

gunicord 21
  server/requirements.txt
Due: build server

define environment variable before accessing settings
  server/cbr/wsgi.py
Due: build server

ci: define environment variable before monkey_patch
  server/cbr/wsgi.py
Due: build server

ci: update gunicorn to 21; eventlet worker fix
  server/requirements.txt
Due: build server

ci: bump eventlet version
  server/requirements.txt
Due: build server

build: add scripts to clean-build mobile
  mobile/README.md
  mobile/package.json
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/ClientList/ClientList.tsx
Due: build mobile, build web

chore: move AlertList styles to external file
  web/src/pages/AlertInbox/components/AlertList.styles.ts
  web/src/pages/AlertInbox/components/AlertList.tsx
Due: build web

fix: re-enable default sorting for certain DataGrid components
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ZoneList/ZoneList.tsx
Due: build web

chore: prettier
  mobile/README.md
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ZoneList/ZoneList.tsx
Due: build mobile, build web

ci: upgrade npm version for node 18
  .github/workflows/main-cicd.yml
Due: none

ci: upgrade to node 18
  .github/workflows/main-cicd.yml
Due: none

fix: resolve VictoryLegend runtime error; bump victory-native
  mobile/README.md
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

ci: bump android container to v9
  .github/workflows/main-cicd.yml
Due: none

ci: bump android container to v13.1
  .github/workflows/main-cicd.yml
Due: none

ci: bump android container to 13.2.1
  .github/workflows/main-cicd.yml
Due: none

feat(db dump): add additional cleaning for removing periods and excessive whitespace
  scripts/dump_db_as_csv/script.py
Due: none

refactor(db dump): rename dump file to reflect it is from the dev db and the date of extraction
  scripts/dump_db_as_csv/11-09-2024_example_dev_db_dump.sql
Due: none

feat(db dump): add comments for documentation on how to run
  scripts/dump_db_as_csv/script.py
Due: none

refactor(db dump): introduce more constants for column names
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): lowercase all string values for consistency when processing data
  scripts/dump_db_as_csv/script.py
Due: none

refactor(db dump): reduce duplication by using helper function
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): process csv file for client improvements
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): add requirements.txt for dependency info
  scripts/dump_db_as_csv/requirements.txt
Due: none

get counts of duplicate values for client risks
  scripts/dump_db_as_csv/csv/cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/cbr_api_outcome.csv
  scripts/dump_db_as_csv/csv/cleaned_cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/cleaned_cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/cleaned_cbr_api_outcome.csv
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): process client improvement as csv
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): process client outcomes
  scripts/dump_db_as_csv/script.py
Due: none

feat(scripts): create python script that will dump some database tables in csv format
  mobile/package-lock.json
  scripts/dump_db_as_csv/db_table_csv/cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/db_table_csv/cbr_api_improvement.csv
  scripts/dump_db_as_csv/db_table_csv/cbr_api_outcome.csv
  scripts/dump_db_as_csv/dump.sql
  scripts/dump_db_as_csv/generate_csv_files.sh
  scripts/dump_db_as_csv/script.py
Due: build mobile

refactor(db dump): use subdirectories for raw and cleaned output csv files
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_outcome.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_outcome.csv
  scripts/dump_db_as_csv/script.py
Due: none

refactor(db dump): cleanup and finalize changes for outputting db as csv files
  .gitignore
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/cleaned/cleaned_raw_cbr_api_outcome.csv
  scripts/dump_db_as_csv/csv/final/improvements.csv
  scripts/dump_db_as_csv/csv/final/outcomes.csv
  scripts/dump_db_as_csv/csv/final/risk_goals.csv
  scripts/dump_db_as_csv/csv/final/risk_requirements.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_clientrisk.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_improvement.csv
  scripts/dump_db_as_csv/csv/raw/raw_cbr_api_outcome.csv
  scripts/dump_db_as_csv/example_dump.sql
  scripts/dump_db_as_csv/generate_csv_files.sh
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): output final output files
  scripts/dump_db_as_csv/csv/final/improvements.csv
  scripts/dump_db_as_csv/csv/final/outcomes.csv
  scripts/dump_db_as_csv/csv/final/risk_goals.csv
  scripts/dump_db_as_csv/csv/final/risk_requirements.csv
  scripts/dump_db_as_csv/script.py
Due: none

feat(db dump): process fields from baseline survey
  scripts/dump_db_as_csv/script.py
Due: none
