Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

678 fix trasnaltions and update translateGoalStatusSummary helper
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/ClientDetails/RiskHistory/helper.tsx
Due: build common, build mobile, build web, test common

678 update package json to find missing update_goal_status field in common directory
  mobile/package-lock.json
Due: build mobile

678 make changes in mobile dir for form fields
  common/src/forms/Risks/riskFormFields.ts
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

fix: fix count display for new visits for male child clients
  web/src/pages/Stats/components/charts/VisitStats.tsx
Due: build web

fix: fix graph display for new male child clients
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
Due: build web

format: change to camelcase
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
Due: build mobile

fix: set end_date to 0 if not set
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

fix: switch goal and requirements
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
Due: build mobile

prettier
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
Due: build web

fix: show start_date for previousgoalsmodal
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
Due: build web

683 mirror client risk level decision making in updateRisk function so backend sets client risk level to NA correctly
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

fix: refactor ClientRiskFormModal for reusability
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
Due: build mobile

fix: refactor UpdateGoalStatus for reusability
  mobile/src/screens/ClientDetails/Risks/UpdateGoalStatusModal.tsx
Due: build mobile

fix: refactor ClientRiskForm
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

feat: add goal functionality to NewVisit
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

fix: remove clientArchived from ClientRiskFormModal props
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

fix: fix styles
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
  mobile/src/screens/ClientDetails/Risks/UpdateGoalStatusModal.tsx
Due: build mobile

fix: fix multiple bar issue in visits chart
  web/src/pages/Stats/components/charts/VisitStats.tsx
Due: build web

prettier
  web/src/pages/Stats/components/charts/VisitStats.tsx
Due: build web

683 change risk levels to match mobile and reuse risks def in common dir
  common/src/util/colors.ts
  common/src/util/risks.ts
  mobile/src/util/listFunctions.ts
Due: build common, build mobile, build web, test common

683 return -1 from map incase color does not exist
  mobile/src/util/listFunctions.ts
Due: build mobile

683 add circle outline component for dashboard to interface
  mobile/src/util/riskIcon.tsx
Due: build mobile

format: risk level styles
  mobile/src/screens/ClientDetails/Risks/ClientRisk.styles.ts
Due: build mobile

feat: add risk level
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

feat: add translation
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

feat: add risk level to web new visit
  web/src/pages/NewVisit/components/GoalField.tsx
Due: build web

format: delete unused imports
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

fix: translation for risk level
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

683 create render helper function for empty circle to denote no active goals for client risk type
  mobile/package-lock.json
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/util/riskIcon.tsx
Due: build mobile

format: prettier
  mobile/src/screens/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/GoalField.tsx
Due: build mobile, build web

683 remove not active option from new client drop down
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

683 update client list to show empty circle component when client has non active risk
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

fix: add space for goal requirements
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

fix: capitalize status
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

678 add translations for previous goals modal headers
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
Due: build web

678 add translations to client risk modal
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

678 add translation for cancellation reason on goal modal
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

678 update translations on mobile
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

689 update validation schema and refresh common dir
  common/src/forms/Risks/riskFormFields.ts
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
