Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

feat: add dropdowns to mobile and refactor to use keys, add image subtitle to new client form
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/types/translationKeys.ts
  common/src/util/risks.ts
  mobile/package-lock.json
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
  mobile/src/screens/NewClient/NewClient.styles.ts
  mobile/src/screens/NewClient/NewClient.tsx
Due: build common, build mobile, build web, test common

Add more tests to client_risk model and update migrations
  server/cbr_api/tests/models/test_client_risk.py
Due: build server

Add tests for client creation risk serializer
  server/cbr_api/migrations/0073_remove_clientrisk_goal.py
  server/cbr_api/tests/serializers/test_client_creation_risk_serializer.py
Due: build server

Add tests for client_risk_serializer and normal_risk_serializer
  server/cbr_api/tests/serializers/test_client_risk_serializer.py
  server/cbr_api/tests/serializers/test_normal_risk_serializer.py
Due: build server

Update IRisk interface and model schemas and mobile and ran prettier
  common/src/util/risks.ts
  mobile/src/models/schema.ts
  server/cbr_api/tests/models/test_client_risk.py
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
Due: build common, build mobile, build web, build server, test common

Removed goal field from ClientRiskFormModal
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
Due: build mobile

change default cancellation reason on mobile to empty string
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

fix goal status modal on mobile
  common/src/forms/Client/clientFields.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/UpdateGoalStatusModal.tsx
Due: build common, build mobile, build web, test common

Update CONTRIBUTION.md
  docs/CONTRIBUTION.md
Due: none

rename photoView to shared component
  mobile/package-lock.json
  web/src/components/PhotoUpload/PhotoView.tsx
  web/src/components/PhotoUpload/Thumb.tsx
  web/src/components/PhotoUpload/imgCompressHelper.ts
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
Due: build mobile, build web

update cancellation reason "other" placeholder text and adjust mobile dropdown styling
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/UpdateGoalStatusModal.tsx
  web/src/pages/ClientDetails/Risks/ModalDropdown.tsx
Due: build common, build mobile, build web, test common

adjust language picker styling
  mobile/src/components/LanguagePicker/LanguagePicker.style.ts
  mobile/src/components/LanguagePicker/LanguagePicker.tsx
Due: build mobile

Move mentions of risk.goal in getModalFormGoalDisplay function and in formHandler
  mobile/src/components/ModalForm/utils.ts
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

Renamed test file for client_risk model and added helper method in it for risk_creation
  server/cbr_api/tests/models/test_client_risk_model.py
Due: build server

Ran prettier in order to fix formatting issues
  server/cbr_api/tests/models/test_client_risk_model.py
Due: build server

Add modals to frontend for Stats grouping and filtering
  web/src/pages/Stats/components/charts/HorizontalBarGraphStats.tsx
  web/src/pages/Stats/components/charts/VerticalBarGraphStats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDemographicFilter.tsx
  web/src/pages/Stats/components/filterbar/StatsGroupByPicker.tsx
Due: build web

737 remove unused import from new group by component
  web/src/pages/Stats/components/filterbar/StatsGroupByPicker.tsx
Due: build web

716 integrate backend interface with csv export
  server/cbr_api/sql.py
  server/cbr_api/views.py
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
Due: build web, build server

add other to mobile dropdowns and show bari in bari
  mobile/src/components/ExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/components/LanguagePicker/LanguagePicker.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.styles.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
  mobile/src/util/formikUtil.tsx
Due: build mobile

generalize formikTextInput and add other to new client dropdowns mobile
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/util/formikUtil.tsx
Due: build mobile

update to support other in new client for backend and handle issue of other field if they type in something that matches a translation key
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/package-lock.json
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/NewClient/formHandler.ts
Due: build common, build mobile, build web, test common

fix mobile new client empty risk issue and reset form when navigating away
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormModal.tsx
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

attempt upgrade to expo sdk 54
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

716 fix csv format to dr brian recommendation
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

716 add zero counts to csv
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

716 update seed clients script to randomly assign hcr type
  server/cbr_api/management/commands/seedclients.py
Due: build server

716 handle edge cases for group by and filter permutations and update csv formatting
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
Due: build web

716 run formatters
  server/cbr_api/management/commands/seedclients.py
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
Due: build web, build server

716 reformat csv for cases with no group bars, filtering demographics update, and more
  server/cbr_api/sql.py
  server/cbr_api/views.py
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsGroupByPicker.tsx
Due: build web, build server

716 run formatters
  server/cbr_api/sql.py
  server/cbr_api/views.py
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/StatsGroupByPicker.tsx
Due: build web, build server

Add functionality for VisitStats to integrade with new backend
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
Due: build web

715 show all permutations on hover for visits and style graph
  web/src/pages/Stats/components/charts/VisitStats.tsx
Due: build web

attempt expo 52 upgrade and update versioning numbers
  mobile/app.json
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

format app.json
  mobile/app.json
Due: build mobile

742 add testcase for config stats with no stat types passed
  server/cbr_api/tests/serializers/test_admin_stats_serializers.py
Due: build server

742 setup testcases for adminstats new clients serializer
  server/cbr_api/tests/serializers/test_admin_stats_serializers.py
Due: build server

742 setup test suite for adminstatsfollowupvisits
  server/cbr_api/tests/serializers/test_admin_stats_serializers.py
Due: build server

742 test suite for discharged clients serializer
  server/cbr_api/tests/serializers/test_admin_stats_serializers.py
Due: build server

Add functionality for Discharged and New Client graphs to work and integrade with new backend to show dynamic group by and filterings
  web/src/pages/Stats/components/charts/DischargedClientsStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
Due: build web

742 test suite adminstatsdisabilityserializer
  server/cbr_api/tests/serializers/test_admin_stats_serializers.py
Due: build server
