Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

alter referral model fields & fix migrations
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  mobile/package-lock.json
  mobile/src/models/Client.ts
  mobile/src/models/Referral.ts
  mobile/src/models/UserCBR.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/formHandler.ts
  server/cbr_api/migrations/0035_merge_20211114_0057.py
  server/cbr_api/migrations/0036_auto_20211114_0116.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  web/src/pages/NewReferral/NewReferral.tsx
Due: format common, build mobile, build web, build server

fix hook call order inconsistency
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
Due: build mobile

change user to user_id in validated_data creation
  server/cbr_api/util.py
Due: build server

fix small bugs pushing & querying outstanding on web
  server/cbr_api/sql.py
  server/cbr_api/util.py
  web/tsconfig.json
Due: build web, build server

try to use axios, but find some problems
  common/src/services/clientServices.ts
  common/src/services/tools/RequestConfigBuilder.ts
Due: format common, build mobile

cannot parse axios result in backend, need to research later
  web/package-lock.json
  web/package.json
  web/tsconfig.json
Due: build web

customized ConfigEntity not work, will dive deep in provided library
  common/src/services/clientServices.ts
Due: format common, build mobile

customized ConfigEntity not work, will dive deep in provided library
  common/src/util/endpoints.ts
Due: format common, build mobile

fixed barchart animation
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

removed hardcoded tmp id and added corresponding readonly fields to model
  common/src/forms/Admin/adminFormsHandler.ts
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Risks/riskFormFieldHandler.ts
  common/src/forms/newVisit/visitFormHandler.ts
  server/cbr_api/serializers.py
  server/cbr_api/util.py
Due: format common, build mobile, build server

add alert is successfully connected to backend (except userId), Now I will work on get list of alerts
  web/src/pages/NewAlert/AlertForm.tsx
  web/tsconfig.json
Due: build web

enum model string variables into constants and corresponding field constants
  common/src/forms/Client/clientFields.ts
  common/src/forms/Risks/riskFormFields.ts
  common/src/forms/newVisit/visitFormFields.ts
  mobile/package-lock.json
  mobile/src/models/Client.ts
  mobile/src/models/Improvement.ts
  mobile/src/models/Outcome.ts
  mobile/src/models/Risk.ts
  mobile/src/models/UserCBR.ts
  mobile/src/models/Visit.ts
  mobile/src/models/constant.ts
  mobile/src/models/schema.ts
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
  mobile/src/screens/UserList/UserListRequest.ts
  server/cbr_api/util.py
Due: format common, build mobile, build server

set up push/pull for referrals w/ pictures
  mobile/src/models/Referral.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/NewReferral/formHandler.ts
  mobile/src/util/syncHandler.ts
  server/cbr_api/migrations/0037_alter_referral_picture.py
  server/cbr_api/models.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build mobile, build server

run prettier & black
  mobile/src/models/Client.ts
  mobile/src/models/Referral.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/NewReferral/formHandler.ts
  server/cbr_api/migrations/0026_alter_referral_id.py
  server/cbr_api/migrations/0027_auto_20211104_2231.py
  server/cbr_api/migrations/0035_merge_20211114_0057.py
  server/cbr_api/migrations/0036_auto_20211114_0116.py
  server/cbr_api/migrations/0037_alter_referral_picture.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
  web/tsconfig.json
Due: build mobile, build web, build server

revise states to specific type and remove comments
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/util/watermelonDatabase.ts
Due: build mobile

use constants in models / schema + fix grade
  common/src/forms/BaseSurvey/baseSurveyFields.ts
  common/src/util/survey.ts
  mobile/package-lock.json
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/constant.ts
  mobile/src/models/schema.ts
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

run prettier
  common/src/forms/BaseSurvey/baseSurveyFields.ts
  mobile/src/models/schema.ts
  web/tsconfig.json
Due: format common, build mobile, build web

add comment for new survey enum
  common/src/forms/BaseSurvey/baseSurveyFields.ts
Due: format common, build mobile

I still cannot figure out how to pass multiple pros with TS, I will learn it later
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

use constants for referral schema & model
  common/src/forms/Referral/referralFields.ts
  mobile/package-lock.json
  mobile/src/models/Referral.ts
  mobile/src/models/constant.ts
  mobile/src/models/schema.ts
  web/tsconfig.json
Due: format common, build mobile, build web

fix stats queries for new user/client field names
  server/cbr_api/sql.py
Due: build server

comments, cleanup, & run prettier
  common/src/forms/Referral/referralFields.ts
  mobile/src/models/Referral.ts
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/NewReferral/formHandler.ts
  server/cbr_api/sql.py
  web/tsconfig.json
Due: format common, build mobile, build web, build server

fix enum const name & cleanup
  common/src/forms/BaseSurvey/baseSurveyFields.ts
  mobile/package-lock.json
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/schema.ts
Due: format common, build mobile

Working as expected, but code need to improve
  common/src/forms/Alert/alertFields.ts
  common/src/forms/Alert/alertHandler.ts
  common/src/forms/Client/clientHandler.ts
  common/src/util/alerts.ts
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: format common, build mobile, build web

run prettier
  common/src/forms/Alert/alertFields.ts
  common/src/forms/Alert/alertHandler.ts
  common/src/forms/Client/clientHandler.ts
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
  web/src/pages/NewAlert/AlertForm.tsx
Due: format common, build mobile, build web

fix terminal failures
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

use constants in outstanding referrals query
  mobile/src/models/Client.ts
Due: build mobile

created_at should be done in backend only
  mobile/src/models/BaselineSurvey.ts
  mobile/src/screens/BaseSurvey/formHandler.ts
Due: build mobile

created_at should be done in backend only
  mobile/src/models/Referral.ts
  mobile/src/screens/NewReferral/formHandler.ts
Due: build mobile

run prettier
  web/tsconfig.json
Due: build web

created_at not a needed filed since we have survey_date
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/schema.ts
  server/cbr_api/migrations/0035_remove_baselinesurvey_created_at.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
Due: build mobile, build server

run prettier, and push this part One
  common/src/services/clientServices.ts
  common/src/services/tools/RequestConfigBuilder.ts
Due: format common, build mobile

delete unnecessary code blocks
  common/src/forms/Client/clientHandler.ts
Due: format common, build mobile

created_at not a needed filed since we have date_referred
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/Referral.ts
  mobile/src/models/schema.ts
  mobile/src/screens/NewReferral/formHandler.ts
  server/cbr_api/migrations/0038_merge_20211115_1402.py
  server/cbr_api/migrations/0039_remove_referral_created_at.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
Due: build mobile, build server

fixed profile password update
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/Profile/Profile.tsx
  server/cbr_api/sql.py
  web/package-lock.json
Due: format common, build mobile, build web, build server

fix pull query for user updates
  server/cbr_api/util.py
Due: build server

updated query constants
  cbr_script.ps1
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientListRequest.ts
  web/package-lock.json
Due: format common, build mobile, build web

Add TODOs
  common/src/forms/Alert/alertHandler.ts
  web/src/pages/AlertInbox/AlertList.tsx
Due: format common, build mobile, build web

format server code
  server/cbr_api/util.py
Due: build server

format server code
  server/cbr_api/migrations/0036_merge_20211115_1951.py
  server/cbr_api/models.py
Due: build server
