Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

run black, add settings to test logging in dev
  docker-compose.yml
  fluentbit/config/fluent-development.conf
  server/cbr/settings.py
Due: build server

add logs
  server/cbr_api/permissions.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

make login case insensitive
  common/src/forms/Admin/adminFormsHandler.ts
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/Login/Login.tsx
  web/src/pages/Login/Login.tsx
Due: build common, build mobile, build web, test common

fix docker compose, separate input/output streams
  docker-compose.deploy.yml
  docker-compose.yml
  fluentbit/config/inputs/tail-input.conf
  fluentbit/config/outputs/staging-prod/cloudwatch-output.conf
Due: none

remove log_key log for caddy
  fluentbit/config/outputs/staging-prod/cloudwatch-output.conf
Due: none

Mount a volume (django_uploads) to hold image uploads
  docker-compose.deploy.yml
  docker-compose.yml
  scripts/set-image-tag.sh
Due: none

Hack fix
  server/cbr_api/views.py
Due: build server

add django script to make usernames lowercase
  server/cbr_api/migrations/0056_alter_users_case_insensitive.py
Due: build server

change metrics collection to every 1 minute
  fluentbit/config/inputs/metrics-input.conf
Due: none

run black and add lowercase check to web front end
  server/cbr_api/migrations/0056_alter_users_case_insensitive.py
  web/src/pages/Login/Login.tsx
Due: build web, build server

Speed up the CI/CD pipeline by skipping the build of the .aab file until we need it for the play store
  .github/workflows/main-cicd.yml
Due: none

add default value for client risk
  server/cbr_api/migrations/0056_alter_clientrisk_goal_alter_clientrisk_requirement.py
  server/cbr_api/models.py
Due: build server

add failsafe for login flow
  mobile/src/screens/Login/Login.tsx
  server/cbr/settings.py
  server/cbr_api/apps.py
  server/cbr_api/auth_custom.py
  server/cbr_api/auth_logging.py
  server/cbr_api/serializers.py
  web/src/pages/Login/Login.tsx
Due: build mobile, build web, build server

remove fluentbit from docker-compose
  docker-compose.yml
Due: none

delete db change script
  server/cbr_api/migrations/0056_alter_users_case_insensitive.py
Due: build server

New migration for client risk
  server/cbr_api/migrations/0057_auto_20230814_2355.py
Due: build server

remove unused param
  server/cbr_api/migrations/0057_auto_20230814_2355.py
Due: build server

Change default message
  server/cbr_api/migrations/0057_auto_20230814_2355.py
Due: build server

Specifiy Android container for CI/CD builds to use Java 11.x
  .github/workflows/main-cicd.yml
Due: none

Fix style
  server/cbr_api/migrations/0057_auto_20230814_2355.py
Due: build server

Refactor CI/CD into smoother jobs for main/staging
  .github/workflows/main-cicd.yml
  .github/workflows/mirror-to-github.yml
  .github/workflows/staging-cicd.yml
Due: none

Missing paran
  server/cbr_api/migrations/0057_auto_20230814_2355.py
Due: build server

Disable Android APK/AAB upload because they are unreliable
  .github/workflows/main-cicd.yml
Due: none

Build configuration for AAB for Android v1.1.1
  mobile/android/.project
  mobile/android/.settings/org.eclipse.buildship.core.prefs
  mobile/android/app/build.gradle
  mobile/package-lock.json
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

add caddy mount to fluentbit
  docker-compose.deploy.yml
Due: none

remove aws output for dev server logs
  fluentbit/config/fluent-development.conf
Due: none

fix caddy
  fluentbit/config/inputs/tail-input.conf
  fluentbit/config/outputs/staging-prod/cloudwatch-output.conf
Due: none

Mobile v1.1.4 (10) testing - wipe mobile data
  mobile/android/app/build.gradle
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/syncHandler.ts
  server/cbr_api/util.py
Due: build mobile, build server

Update app version for android to 1.1.4
  mobile/android/app/build.gradle
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

change div width
  web/src/pages/ClientList/ClientList.styles.ts
Due: build web

remove unncessary logs
  server/cbr_api/auth_custom.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build server

run prettier
  web/src/pages/ClientList/ClientList.styles.ts
Due: build web

Mobile v1.1.5#11, wipe mobile DB, update message
  mobile/android/app/build.gradle
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

Mobile target test-new server
  mobile/index.js
Due: build mobile

Correct formatting.
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
Due: build mobile

Run prettier
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
Due: build mobile

Mobile v1.2.0, Play store #12, API 4.0.0 RC3
  mobile/android/app/build.gradle
  mobile/index.js
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

Backup and restore django \uploads directory
  scripts/backup_volume_to_s3.sh
  scripts/restore_volume_from_s3.sh
Due: none

Make scripts executable under Linux
  scripts/backup_volume_to_s3.sh
  scripts/restore_volume_from_s3.sh
  scripts/set-image-tag.sh
  scripts/setup_production.sh
  scripts/update.sh
Due: none

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
