Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

Update the package.json
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Update the color
  common/src/util/colors.ts
  mobile/package-lock.json
  web/tsconfig.json
Due: format common, build mobile, build web

Resolve merge conflict due to client list and client info
  mobile/package-lock.json
Due: build mobile

Merge main to current branch Changed the comparator in ClientList.tsx.
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Move user list to another screen.
  mobile/package-lock.json
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.styles.ts
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/FormikExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/screens/UserList/UserList.styles.ts
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/screens/UserList/UserListRequest.ts
  mobile/src/util/screens.ts
  web/src/pages/AdminList/requestUserRows.ts
  web/tsconfig.json
Due: build mobile, build web

Refresh client list whenever we go back the screen
  .gitlab-ci.yml
  common/package.json
  common/tsconfig.json
  mobile/package.json
  mobile/src/screens/ClientList/ClientList.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

Refresh the client detail page
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Fixed some thread
  common/package-lock.json
  mobile/package-lock.json
  web/package-lock.json
Due: format common, build mobile, build web

only re-fetch client info when `isFocused` is true
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

only re-fetch client list when `isFocused` is true
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Fix the bug of isFocus
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Refactored code, moved form value initialization to make it easier for new client to use
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
Due: build mobile

Removed some unused imports
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Added gender picker in form
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
Due: build mobile

PUT Request to edit a client is working
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Response to comments
  common/src/forms/Referral/referralHandler.ts
  mobile/package-lock.json
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/util/screens.ts
  web/tsconfig.json
Due: format common, build mobile, build web

Minor fixes to ensure the PUT request works
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
Due: build mobile

Added new client post request placeholder
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
Due: build mobile

Fixed zone and disability validation not working
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
Due: build mobile

Update the error for the handler
  common/src/forms/BaseSurvey/baseSurveyHandler.ts
  common/src/forms/Referral/referralHandler.ts
  mobile/package-lock.json
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/baseSurvey.style.ts
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/formHandler.ts
  mobile/src/util/screens.ts
Due: format common, build mobile

adjust referral and baseline survey screens
  mobile/package-lock.json
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/baseSurvey.style.ts
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/formHandler.ts
  web/src/pages/BaseSurvey/formHandler.ts
  web/src/pages/NewReferral/formHandler.ts
  web/tsconfig.json
Due: build mobile, build web

Resolve threads
  mobile/babel.config.js
  mobile/src/components/TextPicker/DicTextPicker.tsx
Due: build mobile

DAQSD
  common/package-lock.json
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
Due: format common, build mobile

Minor syntax fix
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
Due: build mobile

Fixed some threads
  common/package-lock.json
  mobile/package-lock.json
  web/tsconfig.json
Due: format common, build mobile, build web

Resovle thread
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/screens.ts
  mobile/src/util/stackScreens.ts
Due: format common, build mobile

Changed zones from Array to OBJ
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
Due: build mobile

Added new error check on Client detail load
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Changed initial zone to retrieve from zone Obj + minor refactor for date
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
Due: build mobile

Merged main into branch
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Implemented sort feature in dashboard
  mobile/package-lock.json
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
Due: build mobile

Added other disability validation check
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
Due: build mobile

Bug fixes and warning handling from MR Review comments
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
Due: build mobile

Fixed navigation to visits and referrals
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Minor naming refactor
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
Due: build mobile

Applied some final change.
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

Applied some final change.
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Applied some final change.
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

MR Review and changed colours
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Removed assertions
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile
