Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

common: configure code coverage for tests
  .gitlab-ci.yml
  common/.gitignore
  common/jest.config.js
  common/package.json
Due: format common, build mobile

respond to code review
  common/index.ts
  common/src/util/sleep.ts
  common/test/testHelpers/authTokenHelpers.ts
  common/test/util/auth.spec.ts
  common/test/util/hooks/cachedAPI.spec.ts
  mobile/package-lock.json
Due: format common, build mobile

fix rebase breakage
  common/package-lock.json
  mobile/package-lock.json
Due: format common, build mobile

common: add more tests
  common/.prettierignore
  common/index.ts
  common/jest.config.js
  common/package.json
  common/src/init.ts
  common/src/util/auth.ts
  common/src/util/dates.ts
  common/test/setup.ts
  common/test/testHelpers/authTokenHelpers.ts
  common/test/testHelpers/mockServerHelpers.ts
  common/test/testHelpers/testCommonConfiguration.ts
  common/test/util/auth.spec.ts
  common/test/util/clients.spec.ts
  common/test/util/dates.spec.ts
  common/test/util/hooks/cachedAPI.spec.ts
  common/test/util/hooks/currentUser.spec.ts
  common/test/util/hooks/disabilities.spec.ts
  common/test/util/hooks/zones.spec.ts
  common/test/util/misc.spec.ts
  mobile/package-lock.json
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
Due: format common, build mobile, build web

remove unneeded test TypeScript configuration
  common/jest.config.js
  common/tsconfig.test.json
  mobile/package-lock.json
Due: format common, build mobile

fix rebase breakage
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Fixed disabilitylist not loading + basic cleanup
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Deprecated ClientDTO and made IClient the standard type
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientRequests.ts
Due: build mobile

Commented/unused code removed
  mobile/src/screens/ClientDetails/ClientRequests.ts
  mobile/src/util/screens.ts
Due: build mobile

Now multiple reasons can be shown in one visit
  mobile/src/screens/ClientDetails/ClientTimeline/Activity.tsx
Due: build mobile

Connect with the button of Client detail page in newreferral and baseline
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/util/screens.ts
  mobile/src/util/stackScreens.ts
  web/src/pages/BaseSurvey/formFields.ts
Due: build mobile, build web

Fixed zone name in individual activity page
  mobile/src/screens/ClientDetails/ClientTimeline/Activity.tsx
Due: build mobile

mobile: use `react-native` JSX mode
  mobile/tsconfig.json
Due: build mobile

move StackScreenName to prevent cycle warnings
  mobile/src/App.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/Loading/Loading.tsx
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.ts
Due: build mobile

update expo-cli to 4.8.1
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Merge main to current branch and fix typos.
  .gitlab-ci.yml
  common/index.ts
  common/package-lock.json
  common/package.json
  common/src/init.ts
  common/src/util/users.ts
  common/tsconfig.json
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  web/package-lock.json
Due: format common, build mobile, build web

move admin form fields and handlers into common
  common/index.ts
  common/src/forms/Admin/adminFields.ts
  common/src/forms/Admin/adminFormsHandler.ts
  common/src/util/validations.ts
  mobile/package-lock.json
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminNew.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
  web/src/pages/Admin/AdminView.tsx
Due: format common, build mobile, build web

Minor refactors and changes
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

mobile: add admin user view with password editing
  mobile/package-lock.json
  mobile/src/components/FormikPasswordTextInput/FormikPasswordTextInput.tsx
  mobile/src/components/UserProfileContents/ChangePasswordDialog.styles.ts
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.styles.ts
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
  mobile/src/screens/Profile/Profile.tsx
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.ts
Due: build mobile

Added dynamic other disability check
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Minor bug fix + review updates
  mobile/src/screens/ClientDetails/ClientTimeline/Activity.tsx
Due: build mobile

Removed deprecated object
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

respond to code review
  mobile/src/App.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/Login/Login.tsx
  mobile/src/util/stackScreens.ts
Due: build mobile

Reworked disability list
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Activity.tsx
Due: build mobile

Made activity item clickable
  mobile/src/screens/ClientDetails/ClientTimeline/Activity.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Activity.tsx
Due: build mobile

Other disability implemented (OTHER NAME NOT SHOWING ON FIRST LOAD)
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

add Material dropdown menu and other Formik inputs
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.styles.ts
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/FormikExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/components/FormikPasswordTextInput/FormikPasswordTextInput.tsx
  mobile/src/components/FormikTextInput/FormikTextInput.tsx
  mobile/src/util/formikUtil.ts
Due: build mobile

Done disability rework
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

mobile: add admin user editing
  common/src/forms/Admin/adminFormsHandler.ts
  mobile/package-lock.json
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.ts
Due: format common, build mobile

mobile: add admin user creation
  common/src/util/users.ts
  mobile/package-lock.json
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/FormikExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/components/FormikPasswordTextInput/FormikPasswordTextInput.tsx
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.ts
Due: format common, build mobile

mobile: allow user edit submit even if nothing changed
  mobile/src/screens/Admin/AdminEdit.tsx
Due: build mobile

mobile: allow edit submission even if nothing changed
  mobile/src/screens/Admin/AdminEdit.tsx
Due: build mobile

add TODO notes for removing buttons
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

mobile: adjust ExposedDropdownMenu UI
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.styles.ts
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/FormikExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/screens/Admin/AdminNew.tsx
Due: build mobile

Merged main to current branch
  common/index.ts
  common/src/init.ts
  common/src/util/users.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/util/screens.ts
Due: format common, build mobile

Update the workflow of baseline and referral
  common/src/util/colors.ts
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/components/TextPicker/TextPicker.style.ts
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/screens.ts
  mobile/src/util/stackScreens.ts
Due: format common, build mobile

User list is implemented now.
  .gitlab-ci.yml
  common/package.json
  common/tsconfig.json
  mobile/package.json
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.styles.ts
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
  mobile/src/components/FormikExposedDropdownMenu/FormikExposedDropdownMenu.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
  web/src/pages/AdminList/requestUserRows.ts
  web/tsconfig.json
Due: format common, build mobile, build web

UI adjustment.
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

Push UserListRequest.ts
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/screens/Todo/UserListRequest.ts
Due: build mobile
