Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

quality fixes
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

added grap stat labels
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
  web/tsconfig.json
Due: build mobile, build web

fixed client count disability query
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

added visit bar graph event filter by zone
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

added option to revert back to display all zone visit
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

stat quality improvement
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

quality fixes
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/Client.ts
  mobile/src/models/Referral.ts
  mobile/src/models/schema.ts
  mobile/src/screens/Stats/Stats.styles.ts
  mobile/src/screens/Stats/Stats.tsx
  mobile/src/util/screens.ts
Due: build mobile

set up background syncing
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/screens/Login/Login.tsx
  mobile/src/tasks/SyncDatabaseTask.ts
Due: build mobile

add connection check and auto sync changes if true
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/screens/NewReferral/formHandler.ts
  mobile/src/screens/NewVisit/formHandler.ts
Due: build mobile

remove file with dead code
  mobile/src/screens/ClientDetails/ClientRequests.ts
Due: build mobile

SyncDB call should be prefaced with await
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/screens/NewReferral/formHandler.ts
  mobile/src/screens/NewVisit/formHandler.ts
Due: build mobile

sync button style revision
  mobile/src/screens/Sync/Sync.styles.ts
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

added Mobile App resource
  mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-ldpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/playstore-icon.png
  mobile/android/app/src/main/res/values/ic_launcher_background.xml
  mobile/package-lock.json
Due: build mobile

cleanup and create autosync function
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/Admin/AdminFormHandler.ts
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/screens/NewReferral/formHandler.ts
  mobile/src/screens/NewVisit/formHandler.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

use BackgroundTimer instead of setInterval & cleanup
  mobile/src/tasks/SyncDatabaseTask.ts
Due: build mobile

remove console logs
  mobile/src/App.tsx
  mobile/src/screens/Login/Login.tsx
Due: build mobile

mods for release apk
  mobile/android/app/build.gradle
Due: build mobile

modification for release apk
  mobile/index.js
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

enum async key storage and added disable sync button when disconnected
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/screens/Sync/PrefConstants.ts
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

fixed autosync setting error
  mobile/src/App.tsx
Due: build mobile

quality fixes
  mobile/src/App.tsx
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/syncHandler.ts
Due: build mobile

Change alert url too use str primary key
  server/cbr_api/urls.py
Due: build server

Get user's profile
  web/src/pages/AlertInbox/Alert.ts
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
Due: build web

Add update handler in common
  common/src/forms/Alert/alertFields.ts
  common/src/forms/Alert/alertHandler.ts
  common/src/util/alerts.ts
Due: format common, build mobile

Adjust alert types
  common/src/forms/Alert/alertFields.ts
  common/src/forms/Alert/alertHandler.ts
  common/src/util/alerts.ts
  web/src/pages/AlertInbox/Alert.ts
  web/src/pages/AlertInbox/AlertDetail.tsx
Due: format common, build mobile, build web

Change back to sequential alert id for FE alert sorting
  server/cbr_api/management/commands/seedalerts.py
  server/cbr_api/migrations/0042_auto_20211128_1438.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web, build server

Run prettier
  common/src/forms/Alert/alertFields.ts
  common/src/util/alerts.ts
  server/cbr_api/management/commands/seedalerts.py
  server/cbr_api/migrations/0040_alert_unread_by_users.py
  server/cbr_api/migrations/0041_auto_20211121_2102.py
  server/cbr_api/migrations/0042_auto_20211128_1438.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/pages/AlertInbox/Alert.ts
Due: format common, build mobile, build web, build server

Fix warning
  web/src/App.tsx
Due: build web

Update unread notification count
  common/src/forms/Alert/alertHandler.ts
  server/cbr/sockets.py
  web/src/components/SideNav/SideNavIcon.tsx
Due: format common, build mobile, build web, build server

Make popup appear on new alert
  common/src/forms/Alert/alertHandler.ts
  web/src/App.tsx
  web/src/components/SideNav/SideNavIcon.tsx
Due: format common, build mobile, build web

initial set up redux and conflicts dialog
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/redux/actionTypes.ts
  mobile/src/redux/actions.ts
  mobile/src/redux/index.ts
  mobile/src/redux/reducers.ts
  mobile/src/redux/store.ts
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/util/syncHandler.ts
  web/tsconfig.json
Due: build mobile, build web

Update dashboard with unread alerts
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

move conflict dialog into new component
  mobile/src/components/ConflictDialog/ConflictDialog.styles.ts
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/util/syncHandler.ts
Due: build mobile

move out conflict fields to separate file
  mobile/src/util/syncConflictFields.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

Use react callback
  web/src/components/SideNav/SideNavIcon.tsx
Due: build web

get referral outcome conflicts but need to fix rendering
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/redux/actions.ts
  mobile/src/redux/reducers.ts
  mobile/src/util/syncConflictFields.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

get client full name for referral conflicts
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
Due: build mobile

removed console log
  mobile/src/util/syncHandler.ts
Due: build mobile

updated background sync logic with autosync and cellular sync
  mobile/src/App.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/tasks/SyncDatabaseTask.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

added autosync check and disabling background timer on disabling autosync setting
  mobile/src/App.tsx
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile
