Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

fix(translations): fix typo
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

feat(login): begin translating login page
  common/src/i18n.config.ts
  web/src/App.tsx
  web/src/index.tsx
  web/src/pages/Login/Login.tsx
Due: build common, build mobile, build web, test common

refactor(admin): extract custom react hook to reduce duplication
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
  web/src/pages/Admin/AdminView.tsx
  web/src/util/hooks/useUser.ts
Due: build web

feat(admin): translate edit user password page
  web/src/pages/Admin/AdminPasswordEdit.tsx
Due: build web

refactor(translations): remove unneeded duplicated config and translation files. Also use i18n init function in common, mobile, and web.
  mobile/src/i18n.config.ts
Due: build mobile

feat(newReferralForm): begin translating and refactor sub-forms to their own components
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/MentalHealthForm.tsx
  web/src/pages/NewReferral/forms/NutritionForm.tsx
  web/src/pages/NewReferral/forms/OtherServicesForm.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
  web/src/pages/NewReferral/forms/ProstheticOrthoticForm.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
Due: build web

feat(admin): begin translations
  web/src/components/SearchBar/SearchBar.tsx
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/AdminList/AdminList.tsx
Due: build web

feat(translations): go back and add missing translations into .json files
  common/package-lock.json
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/referrals.ts
  common/src/util/visits.ts
  web/src/components/GoBackButton/GoBackButton.tsx
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/components/SideNav/SideNavIcon.tsx
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminPage.tsx
  web/src/pages/Admin/AdminPasswordEdit.tsx
  web/src/pages/Admin/AdminView.tsx
  web/src/pages/AdminList/AdminList.tsx
  web/src/pages/BaseSurvey/BaseSurvey.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/ClientDetails/RiskHistory/ClientRiskHistory.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/helper.ts
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/WheelchairForm.tsx
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/util/pages.ts
Due: build common, build mobile, build web, test common

chore(translations): remove unused import
  common/src/i18n.config.ts
Due: build common, build mobile, build web, test common

refactor(risks): rename file from riskIcon.tsx to risks.ts
  web/src/components/RiskTypeChip/RiskTypeChip.tsx
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Timeline/ClientCreatedEntry.tsx
  web/src/pages/ClientDetails/Timeline/ShowMoreEntry.tsx
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/util/risks.ts
Due: build web

fix: resolve typescript compile error relating to incompatible types
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
Due: build web

feat(translations): translate disabiltiies
  common/src/util/hooks/cachedAPI.ts
  common/src/util/hooks/disabilities.ts
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/Stats/Stats.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/src/pages/NewReferral/forms/PhysiotherapyForm.tsx
  web/src/pages/Stats/DisabilityStats.tsx
  web/src/pages/Stats/ExportStats.tsx
Due: build common, build mobile, build web, test common

fix(routes): Upgrade React Router to version 8.3.3, as there is a bug where React 18 does not work with React-Router 5
  web/package-lock.json
  web/package.json
Due: build web

feat(admin): translate admin edit page
  web/src/pages/Admin/AdminEdit.tsx
Due: build web

feat: implement a language picker component
  web/src/App.tsx
  web/src/components/LanguagePicker/LanguagePicker.tsx
  web/src/components/SideNav/LangPicker.tsx
  web/src/components/SideNav/SideNav.tsx
Due: build web

wip
  web/src/components/SideNav/LangPicker.tsx
  web/src/components/SideNav/SideNav.tsx
Due: build web

feat(language picker): able to change i18n language upon select
  web/src/components/LanguagePicker/LanguagePicker.tsx
Due: build web

refactor(i18n): Ensure that mobile, web, and common all reference the same i18n instance
  common/src/i18n.config.ts
  common/src/init.ts
  mobile/package-lock.json
  mobile/src/App.tsx
  web/src/index.tsx
Due: build common, build mobile, build web, test common

feat(language picker): translate strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/components/LanguagePicker/LanguagePicker.tsx
Due: build common, build mobile, build web, test common

refactor(login): improve styling
  web/src/components/LanguagePicker/LanguagePicker.tsx
  web/src/pages/Login/Login.styles.ts
  web/src/pages/Login/Login.tsx
Due: build web

chore(language picker): cleanup code
  web/src/components/LanguagePicker/LanguagePicker.tsx
  web/src/pages/Login/Login.tsx
Due: build web

feat(login): add language picker
  web/src/components/LanguagePicker/LanguagePicker.tsx
  web/src/pages/Login/Login.tsx
Due: build web

refactor(lang picker): separate non-ui logic into separate utils file
  web/src/components/LanguagePicker/LanguagePicker.tsx
  web/src/components/LanguagePicker/utils.ts
Due: build web

feat(lang picker): save selected language into localStorage
  web/src/components/LanguagePicker/LanguagePicker.tsx
Due: build web

Refactor(stats page): introduce sub-folder for chart components
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/index.ts
Due: build web

refactor(alert inbox): cleanup code
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

refactor(alerts inbox): sub-folder for helper components
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/components/AlertDetail.tsx
  web/src/pages/AlertInbox/components/AlertList.tsx
  web/src/pages/AlertInbox/components/index.ts
Due: build web

feat(client list): translate strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/components/Toolbar.tsx
Due: build common, build mobile, build web, test common

feat(new alert page): translate strings
  web/src/pages/NewAlert/AlertForm.tsx
Due: build web

feat(alert inbox): translate strings
  common/src/@types/resources.d.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/AlertInbox/AlertDetail.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: build common, build mobile, build web, test common

feat(new visit form): add translations
  common/src/@types/resources.d.ts
  common/src/forms/newVisit/visitFormFields.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/components/ImprovementField.tsx
  web/src/pages/NewVisit/components/OutcomeField.tsx
  web/src/pages/NewVisit/components/VisitReasonStep.tsx
  web/src/pages/NewVisit/components/index.ts
Due: build common, build mobile, build web, test common

Refactor(stats page): extract filterbar component
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
  web/src/pages/Stats/components/filterbar/FilterBar.tsx
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
  web/src/pages/Stats/components/filterbar/StatsUserFilter.tsx
  web/src/pages/Stats/components/filterbar/index.ts
  web/src/pages/Stats/components/index.ts
Due: build web

feat(user page): translate strings
  web/src/pages/User/UserPasswordEdit.tsx
  web/src/pages/User/UserView.tsx
Due: build web

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
