Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

fix migrations conflicts
  mobile/package-lock.json
  server/cbr_api/migrations/0038_merge_20211115_2013.py
  server/cbr_api/migrations/0039_remove_referral_created_at.py
Due: build mobile, build server

Make socketIO a context for web
  common/src/forms/Alert/alertHandler.ts
  web/src/App.tsx
  web/src/SocketIOContext/SocketIOContext.tsx
  web/src/pages/NewAlert/AlertForm.tsx
Due: format common, build mobile, build web

Move socket context to common
  common/index.ts
  common/package-lock.json
  common/package.json
  common/src/context/SocketIOContext.ts
  common/src/forms/Alert/alertHandler.ts
  web/src/App.tsx
  web/src/SocketIOContext/SocketIOContext.tsx
  web/src/pages/NewAlert/AlertForm.tsx
Due: format common, build mobile, build web

added bottom pop up and checkUnsyncedChanges
  common/package-lock.json
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/org/hopehealthaction/cbr/MainApplication.java
  mobile/babel.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/HomeScreen/HomeScreen.style.ts
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/StackModal/stackModal.tsx
  mobile/src/screens/Sync/Sync.styles.ts
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/screens.ts
  mobile/src/util/syncHandler.ts
  web/package-lock.json
Due: format common, build mobile, build web

refactor pop to stackmodal
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/SyncStackModal/SyncStackModal.tsx
  mobile/src/util/screens.ts
  web/package-lock.json
  web/tsconfig.json
Due: format common, build mobile, build web

added Sync Context
  mobile/src/App.tsx
  mobile/src/context/SyncContext/SyncContext.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/SyncStackModal/SyncStackModal.tsx
  mobile/src/util/syncHandler.ts
Due: build mobile

added unsynced badge icon, logic to check and display unsycned changes in screens
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

refactor screenlist and added badgeicon
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/util/screens.ts
Due: build mobile

Add notification badge to alert inbox
  server/cbr/sockets.py
  web/src/components/SideNav/SideNav.styles.ts
  web/src/components/SideNav/SideNavIcon.tsx
Due: build web, build server

Fix data in broadcast event
  common/src/context/SocketIOContext.ts
  server/cbr/sockets.py
Due: format common, build mobile, build server

Update number of messages in dashboard
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

Add useeffect to update notification badge
  web/src/components/SideNav/SideNavIcon.tsx
Due: build web

revised backdrop interaction, animated and dimiss on tap
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/screens/SyncStackModal/SyncStackModal.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.tsx
Due: build mobile

create indepedent modal component under components
  mobile/src/components/SyncStackModal/CustomBackDrop.tsx
  mobile/src/components/SyncStackModal/SyncModal.styles.ts
  mobile/src/components/SyncStackModal/SyncStackModal.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/util/screens.ts
Due: build mobile

custom sync icon based on unsync changes
  mobile/src/components/SyncStackModal/SyncModal.styles.ts
  mobile/src/components/SyncStackModal/SyncStackModal.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/util/screens.ts
Due: build mobile

added custom alert for sync interaction
  mobile/src/components/SyncAler
  mobile/src/components/SyncAlert/SyncAlert.tsx
  mobile/src/components/SyncStackModal/ModalIcon.ts
  mobile/src/components/SyncStackModal/SyncStackModal.tsx
  mobile/src/screens/Sync/Sync.styles.ts
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

I have complete ranking inbox list of alerts by creating time, next work on getUserID
  common/src/forms/Alert/alertHandler.ts
  web/package-lock.json
  web/src/pages/AlertInbox/AlertList.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

successfuly create Alrt with UserID
  common/src/forms/Alert/alertHandler.ts
Due: format common, build mobile

run prettier
  web/src/pages/AlertInbox/AlertList.tsx
  web/tsconfig.json
Due: build web

Make component for broadcasted alert
  common/src/context/SocketIOContext.ts
  web/src/App.tsx
  web/src/components/Alerts/AlertNotification.tsx
  web/src/components/SideNav/SideNav.styles.ts
  web/src/components/SideNav/SideNavIcon.tsx
Due: format common, build mobile, build web

Exclude alert creator from receiving alert
  server/cbr/sockets.py
Due: build server

Remove unused code
  web/src/App.tsx
Due: build web

Use topography for alert notification
  web/src/components/Alerts/AlertNotification.tsx
Due: build web

Add list to track users who have not yet read alert
  server/cbr_api/migrations/0040_alert_unread_by_users.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

design for sync screen
  mobile/src/screens/Sync/Sync.styles.ts
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

added AsyncStorage for stats persist
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

adding autosync and cellular sync settings
  mobile/src/App.tsx
  mobile/src/context/SyncContext/SyncContext.tsx
  mobile/src/screens/Sync/Sync.styles.ts
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/syncHandler.ts
Due: build mobile

added AsyncStorage for sync settings
  mobile/src/App.tsx
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

refactoed the sync modal to tab modal to accept children, fixed profile screen for non-admin
  mobile/src/components/SyncStackModal/SyncStackModal.tsx
  mobile/src/components/TabModal/CustomBackDrop.tsx
  mobile/src/components/TabModal/TabModal.styles.ts
  mobile/src/components/TabModal/TabModal.tsx
  mobile/src/components/WrappedText/WrappedText.tsx
  mobile/src/screens/HomeScreen/HomeScreen.style.ts
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/HomeScreen/ModalIcon.ts
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/screens/UserList/UserList.styles.ts
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/util/screens.ts
Due: build mobile

fixed userlist and userprofile content for admin view
  mobile/src/components/TabModal/TabModal.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/components/WrappedText/WrappedText.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/UserList/UserList.styles.ts
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

fixed piechart animation
  cbr_script.ps1
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

WIP referral stats
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

Add list of userIDs to track unread alerts
  common/src/forms/Alert/alertHandler.ts
Due: format common, build mobile

Add field to track unread alerts in Alert model
  server/cbr_api/management/commands/seedalerts.py
  server/cbr_api/models.py
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web, build server

Display notification badge for unread alerts
  web/src/components/SideNav/SideNavIcon.tsx
Due: build web

adding buttons to select visible stats
  mobile/src/screens/Todo/Todo.styles.ts
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

run prettier
  common/src/forms/Alert/alertHandler.ts
Due: format common, build mobile

Add uuid to alert and handle PUT requests
  server/cbr_api/management/commands/seedalerts.py
  server/cbr_api/migrations/0041_auto_20211121_2102.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
Due: build server

added disabiltiy graph and setup stat visibility button
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

added dynamic buttons
  mobile/src/screens/Todo/Todo.tsx
Due: build mobile

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
