Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

Add active state
  common/src/forms/Client/clientHandler.ts
  common/src/util/clients.ts
  server/cbr_api/migrations/0047_client_is_active.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, build server, test common

Archive filter dashboard/clientList
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientList/ClientList.styles.ts
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/requestClientRows.ts
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

Add confirmation handler
  common/src/forms/Client/clientHandler.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientList/ClientList.tsx
Due: build common, build mobile, build web, test common

Check user for admin to archive
  common/src/forms/Admin/adminFormsHandler.ts
  common/src/forms/Client/clientHandler.ts
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminView.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

Remove unused handler function
  common/src/forms/Client/clientHandler.ts
Due: build common, build mobile, build web, test common

Remove unused imports
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

Forgot these
  web/src/pages/Admin/AdminView.tsx
Due: build web

Backend filtering
  common/src/forms/Admin/adminFormsHandler.ts
  server/cbr_api/filters.py
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/Admin/AdminView.tsx
  web/src/pages/ClientList/requestClientRows.ts
  web/src/pages/Dashboard/Dashboard.tsx
Due: build common, build mobile, build web, build server, test common

allow archive/dearchive
  common/src/forms/Client/clientHandler.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

Filter archived patients from stats screen except for Visits section
  server/cbr_api/sql.py
Due: build server

Toggle query for stats on disabilities
  server/cbr_api/sql.py
  server/cbr_api/views.py
  web/src/pages/Stats/Stats.styles.ts
  web/src/pages/Stats/Stats.tsx
Due: build web, build server

SecondaryText for archived patients
  server/cbr_api/views.py
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/requestClientRows.ts
  web/src/pages/Stats/Stats.tsx
Due: build web, build server

disable update button for risk levels when archived
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
Due: build web

add message for archived clients
  common/src/forms/Client/clientHandler.ts
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

Clean up archive confirmation
  common/src/forms/Client/clientHandler.ts
Due: build common, build mobile, build web, test common

Remove unused styles
  web/src/pages/Stats/Stats.styles.ts
  web/src/pages/Stats/Stats.tsx
  web/tsconfig.json
Due: build web

Fixing format for black
  server/cbr_api/sql.py
Due: build server

Fix prettier style
  web/tsconfig.json
Due: build web

test commit
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Finally got watermelon to pull from server
  common/src/forms/Client/clientFields.ts
  mobile/package-lock.json
  mobile/src/models/Client.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  server/cbr_api/serializers.py
  web/tsconfig.json
Due: build common, build mobile, build web, build server, test common

Filter archived dashboard/clientList
  mobile/src/models/Client.ts
  mobile/src/models/migrations.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/DashBoard/DashboardRequest.ts
Due: build mobile

Secondary text for archived clients
  mobile/src/components/WrappedText/WrappedText.style.ts
  mobile/src/components/WrappedText/WrappedText.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

disable buttons for archived clients
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
Due: build mobile

Move archive button
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

Check for admin when archive
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/components/WrappedText/WrappedText.tsx
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
Due: build mobile

New client is_active default true
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

Fix prettier style for web
  web/tsconfig.json
Due: build web

Toggle disablity stats
  mobile/src/screens/Stats/Stats.styles.ts
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

Remove react-native-unimodules since it's depgrated
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/MainActivity.java
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/MainApplication.java
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/generated/BasePackageList.java
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/android/settings.gradle
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Successfully upgraded react-native to 0.70.5 so far
  mobile/android/app/build.gradle
  mobile/android/app/src/debug/AndroidManifest.xml
  mobile/android/app/src/debug/java/org/hopehealthaction/cbr/ReactNativeFlipper.java
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/MainActivity.java
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/MainApplication.java
  mobile/android/app/src/main/res/drawable/rn_edit_text_material.xml
  mobile/android/app/src/main/res/values/styles.xml
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/gradlew
  mobile/android/gradlew.bat
  mobile/android/settings.gradle
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Upgrade to react-native 0.71.3
  mobile/android/app/build.gradle
  mobile/android/app/src/debug/java/org/hopehealthaction/cbr/ReactNativeFlipper.java
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/MainActivity.java
  mobile/android/app/src/main/java/org/hopehealthaction/cbrapp/MainApplication.java
  mobile/android/app/src/release/java/org/hopehealthaction/cbrapp/ReactNativeFlipper.java
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Ran prettier
  mobile/package.json
Due: build mobile

Fix button styling in client details page
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
Due: build mobile

Fix pipeline failure
  mobile/package-lock.json
  mobile/package.json
Due: build mobile

Fix pipeline error #2
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Fix pipeline error
  .gitlab-ci.yml
Due: build common, build mobile, build web, build server, test common, test caddy

Attempt 1
  mobile/src/models/Alert.ts
  mobile/src/models/constant.ts
  mobile/src/models/index.ts
  mobile/src/models/schema.ts
  mobile/src/screens/Alerts/Alerts.styles.ts
  mobile/src/screens/Alerts/Alerts.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.tsx
  server/cbr_api/serializers.py
  server/cbr_api/views.py
  web/tsconfig.json
Due: build mobile, build web, build server

109- Backend for mobile syncing for alerts
  server/cbr_api/migrations/0048_alert_server_created_at_alert_updated_at.py
Due: build server

109: Added AlertSyncSerializer for pulling
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build server

109: Add Alert db to watermelondb
  mobile/src/models/Alert.ts
  mobile/src/models/constant.ts
  mobile/src/models/index.ts
  mobile/src/models/schema.ts
Due: build mobile
