Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

Refactored styling logic
  web/src/pages/Referrals/Referrals.styles.ts
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Added a hover note with translation for referral details
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/pages/Referrals/Referrals.tsx
Due: build common, build mobile, build web, test common

Added translated labels to referral details
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Changed referrals column widths
  web/src/pages/Referrals/Referrals.tsx
Due: build web

ci: re-add build file
  .github/workflows/main-cicd.yml
  docs/RELEASE.md
  mobile/build.js
  mobile/package.json
Due: build mobile

ci: update prebuild command
  .github/workflows/main-cicd.yml
Due: none

ci: sudo
  .github/workflows/main-cicd.yml
Due: none

ci: remove explicit prebuild
  .github/workflows/main-cicd.yml
Due: none

ci: keystore gen earlier
  .github/workflows/main-cicd.yml
Due: none

ci: prebuild before keygen
  .github/workflows/main-cicd.yml
Due: none

ci: test manual APK build
  .github/workflows/main-cicd.yml
Due: none

ci: no chmod
  .github/workflows/main-cicd.yml
Due: none

updated sql.py with getTotalClientStats
  server/cbr_api/sql.py
Due: build server

finished new client stats component
  server/cbr_api/sql.py
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
Due: build web, build server

finished follow up stats
  server/cbr_api/sql.py
  server/cbr_api/views.py
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/index.ts
Due: build web, build server

new clients and follow up vists added to csv
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

Added referral column filters
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Updated referral details width
  web/src/pages/Referrals/Referrals.styles.ts
Due: build web

added host community or refugee type to client
  common/src/util/clients.ts
  common/src/util/stats.ts
  server/cbr_api/migrations/0058_client_hcr_type.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
Due: build common, build mobile, build web, build server, test common

finished adding hcr type to exported csv
  web/src/pages/Stats/Stats.tsx
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

made final changes to reports update web
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

ci: remove shell true
  mobile/build.js
Due: build mobile

ci: try with script again
  .github/workflows/main-cicd.yml
Due: none

reformatted export stats rows
  web/src/pages/Stats/components/filterbar/ExportStats.tsx
Due: build web

docs: update docs
  docs/SETUP.md
Due: none

Moved referral hover details to below table
  web/src/pages/Referrals/Referrals.styles.ts
  web/src/pages/Referrals/Referrals.tsx
Due: build web

Replaced emojis with unicode characters
  web/src/pages/Referrals/Referrals.styles.ts
  web/src/pages/Referrals/Referrals.tsx
Due: build web

fix: rn-paper update IconButton syntax
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

build: re-enable mobile ts options
  mobile/tsconfig.json
Due: build mobile

Fixing referral modal bug
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
Due: build web

One more bug fix with the old referral modal
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
Due: build web

Added translation and made the referral details more user friendly
  web/src/pages/Referrals/Referrals.tsx
Due: build web

fix: add explicit blank DataTableTitle
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

add type safety to React Navigation v6
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/stackScreens.tsx
Due: build mobile

fix: onPress expects GestureResponderEvent
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
Due: build mobile

fix: remove unused Text component
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodForm.tsx
Due: build mobile

fix: remove empty text components
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

fix: update Button props for rn-paper v5
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
Due: build mobile

fix: replace Button with IconButton for rn-paper 5
  mobile/src/screens/ClientDetails/ClientTimeline/ShowMore.tsx
Due: build mobile

fix: remove structural empty text component
  mobile/src/screens/NewReferral/NewReferral.tsx
Due: build mobile
