Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

Timeline Component Made
  mobile/package.json
  mobile/src/screens/Client/Activity.style.ts
  mobile/src/screens/Client/Activity.tsx
  mobile/src/screens/Client/Client.styles.ts
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientRequests.ts
  mobile/src/screens/Client/TimeLineDate.tsx
Due: build mobile

Package lock for pipeline
  mobile/package-lock.json
Due: build mobile

Minor cosmetic bugfix
  mobile/src/screens/Client/Client.tsx
Due: build mobile

Move risk, client and visits ts files to common
  common/index.ts
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/util/clients.ts
  mobile/src/util/riskIcon.tsx
  mobile/src/util/risks.ts
  mobile/src/util/visits.ts
  web/src/components/RiskLevelChip/RiskLevelChip.tsx
  web/src/components/RiskTypeChip/RiskTypeChip.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/ClientTimeline/ClientTimeline.tsx
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/ClientDetails/RiskHistory/ClientRiskHistory.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistory.styles.ts
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/riskFormFieldHandler.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/ClientList/ClientList.tsx
  web/src/pages/ClientList/requestClientRows.ts
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/util/clients.ts
  web/src/util/risks.ts
  web/src/util/visits.ts
Due: format common, build mobile, build web

Push files that didn't add at the first place
  common/src/util/clients.ts
  common/src/util/risks.ts
  common/src/util/visits.ts
  web/src/util/riskIcon.tsx
Due: format common, build mobile, build web

Display correct info in picker Correctly displays zones info in the text picker for visit survey
  mobile/src/components/TextPicker/TextPicker.tsx
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

Remove comments
  mobile/src/components/TextPicker/TextPicker.tsx
Due: build mobile

create initial profile fragment
  mobile/src/components/Alert/Alert.styles.ts
  mobile/src/screens/Profile/Profile.styles.ts
  mobile/src/screens/Profile/Profile.tsx
  mobile/src/util/screens.ts
Due: build mobile

refactor ChangePasswordDialog
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
  mobile/src/screens/Profile/Profile.tsx
Due: build mobile

use Formik for ChangePasswordDialog
  mobile/package.json
  mobile/src/components/FormikErrorHelperText/FormikErrorHelperText.tsx
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
  mobile/src/screens/Profile/fields.ts
Due: build mobile

refactor password updating into common
  common/index.ts
  common/src/Form/UserProfile/fields.ts
  common/src/Form/UserProfile/handleSubmitChangePassword.ts
  common/src/util/users.ts
  mobile/src/screens/Profile/ChangePasswordDialog.styles.ts
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
  mobile/src/screens/Profile/Profile.tsx
  mobile/src/screens/Profile/fields.ts
  web/src/pages/User/UserPasswordEdit.tsx
  web/src/pages/User/handleUpdatePassword.ts
Due: format common, build mobile, build web

report precise error when password change fails
  common/src/Form/UserProfile/handleSubmitChangePassword.ts
  common/src/util/endpoints.ts
  common/src/util/users.ts
  mobile/src/App.tsx
  mobile/src/screens/Profile/ChangePasswordDialog.styles.ts
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
  web/src/pages/User/UserPasswordEdit.tsx
Due: format common, build mobile, build web

add a confirmation dialog for logging out
  mobile/src/screens/Profile/Profile.tsx
Due: build mobile

Alert: add onClose to show a close icon
  mobile/src/components/Alert/Alert.styles.ts
  mobile/src/components/Alert/Alert.tsx
  mobile/src/components/FormikErrorHelperText/FormikErrorHelperText.tsx
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
Due: build mobile

make various improvements to profile screen
  mobile/src/App.tsx
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
  mobile/src/screens/Profile/Profile.styles.ts
  mobile/src/screens/Profile/Profile.tsx
Due: build mobile

refactor PasswordTextInput and space out inputs
  mobile/src/components/PasswordTextInput/PasswordTextInput.tsx
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Profile/ChangePasswordDialog.styles.ts
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
Due: build mobile

refactor profile fields & keep helper text close
  common/index.ts
  common/src/Form/UserProfile/fields.ts
  common/src/form/UserProfile/handleSubmitChangePassword.ts
  common/src/form/UserProfile/userProfileFields.ts
  common/src/util/users.ts
  mobile/src/screens/Profile/ChangePasswordDialog.styles.ts
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
  web/src/pages/User/UserPasswordEdit.tsx
Due: format common, build mobile, build web

refactor FormikPasswordTextInput
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
Due: format common, build mobile

fix rebase breakage
  common/index.ts
  common/src/forms/UserProfile/userProfileFields.ts
  common/src/forms/UserProfile/userProfileHandler.ts
  mobile/package-lock.json
  mobile/src/screens/Profile/ChangePasswordDialog.tsx
  web/src/pages/User/UserPasswordEdit.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

refactor Profile and password change errors
  common/src/forms/UserProfile/userProfileHandler.ts
  mobile/package-lock.json
  mobile/src/components/Alert/Alert.styles.ts
  mobile/src/screens/Profile/Profile.styles.ts
  mobile/src/screens/Profile/Profile.tsx
Due: format common, build mobile

Merge main to current branch
  common/src/util/users.ts
  mobile/src/screens/BaseSurvey/formHandler.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/Todo/Todo.tsx
  mobile/src/util/screens.ts
Due: format common, build mobile

Merge main to current branch Still need review to ensure every thing is ok
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Style fix
  common/src/util/users.ts
Due: format common, build mobile

Style fix
  mobile/package.json
Due: build mobile

Update health survey
  mobile/src/screens/Visit/visitSurvey.style.ts
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

Removed homeScreenController and minor edges
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/Client/Activity.style.ts
  mobile/src/screens/Client/Activity.tsx
  mobile/src/screens/Client/Client.styles.ts
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/HomeScreen/HomeScreenController.tsx
  mobile/src/util/screens.ts
Due: build mobile

Basic implement, bug exist. Push to save
  mobile/package.json
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

Removed search features for now.
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

Style fix
  mobile/src/screens/ClientList/ClientList.styles.ts
Due: build mobile

Zones getting fetched and displayed
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientRequests.ts
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/HomeScreen/HomeScreen.style.ts
  mobile/src/screens/HomeScreen/HomeScreen.tsx
Due: build mobile

Push current work
  mobile/package.json
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/ClientList/searchOptions.ts
Due: build mobile

Generate visit type forms
  mobile/src/screens/Visit/visitSurvey.style.ts
  mobile/src/screens/Visit/visitSurvey.tsx
Due: build mobile

Filter is functional now, need to fix UI issues
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

Disabilities implemented (doesn't render on first load)
  mobile/src/screens/Client/Client.tsx
  mobile/src/screens/Client/ClientRequests.ts
Due: build mobile

Reform the UI of client list. Fixed the search feature.
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

One last thing to do: switch button for all clients/clients of current user.
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Basic Form build up
  mobile/package-lock.json
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/NewReferral/NewReferral.styles.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/ProstheticOrthoticForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
  mobile/src/screens/NewReferral/formFields.ts
  mobile/src/screens/NewReferral/formHandler.ts
  mobile/src/util/screens.ts
Due: build mobile

All done! TODO: use the built-in search feature to search client
  mobile/src/screens/ClientList/ClientList.styles.ts
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

All done. TODO, after branch 12 is merged, then update changes in main and start MR.
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
Due: build mobile

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
