Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build server

build client:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - cd client
  - npm install
  script:
  - npx prettier --check .
  - CI=false npm run build
  after_script:
  - tar -czvf client_build.tar.gz client/build
  artifacts:
    paths:
    - client_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: cbr_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
  before_script:
  - cd server
  script:
  ...

Remove get method, add baseline surveys to client get method.
  server/cbr_api/migrations/0013_baselinesurvey.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

Run black
  server/cbr_api/serializers.py
Due: build server

Fix Migrations and run black
  server/cbr_api/migrations/0014_auto_20210407_1745.py
Due: build server

Removed unnecessary comment
  server/cbr_api/models.py
Due: build server

Fix enums to increase clarity based on backend team comments.
  server/cbr_api/models.py
Due: build server

Fix Migrations
  server/cbr_api/migrations/0015_auto_20210407_1833.py
Due: build server

Run black
  server/cbr_api/migrations/0015_auto_20210407_1833.py
Due: build server

Change the question to a statement for label
  client/src/pages/ClientDetails/BaseSurvey/BaseSurvey.tsx
  client/src/pages/ClientDetails/BaseSurvey/formFields.ts
Due: build client

Prevent seedclients from creating clients with the Other disability
  server/cbr_api/management/commands/seedclients.py
Due: build server

Add other_disability field to Client table and update serializers
  server/cbr_api/migrations/0013_client_other_disability.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: build server

Clarify school variables more
  server/cbr_api/migrations/0016_auto_20210407_2005.py
  server/cbr_api/models.py
Due: build server

Change the grade in survey.ts
  client/src/pages/ClientDetails/BaseSurvey/BaseSurvey.tsx
  client/src/pages/ClientDetails/BaseSurvey/survey.style.ts
  client/src/util/survey.ts
Due: build client

Rename the baseSurvey.style
  client/src/pages/ClientDetails/BaseSurvey/BaseSurvey.tsx
  client/src/pages/ClientDetails/BaseSurvey/baseSurvey.style.ts
Due: build client

Basic stats charts for visits, referrals and disabilities
  client/src/pages/Stats/Stats.tsx
  client/src/theme.styles.ts
  client/src/util/endpoints.ts
Due: build client

Refactor stats into multiple components; better skeleton loading UI
  client/src/pages/Stats/DisabilityStats.tsx
  client/src/pages/Stats/ReferralStats.tsx
  client/src/pages/Stats/Stats.tsx
  client/src/pages/Stats/VisitStats.tsx
  client/src/util/stats.ts
Due: build client

Fix clicking on stats chart: now the bar itself doesn't have to be clicked
  client/src/pages/Stats/VisitStats.tsx
Due: build client

[ehinchli, ckl47] Fix Fromik initialValues and validation schema for AdminPasswordEdit.
  client/src/pages/Admin/AdminEdit.tsx
  client/src/pages/Admin/AdminNew.tsx
  client/src/pages/Admin/AdminPasswordEdit.tsx
  client/src/pages/Admin/fields.ts
  client/src/pages/Admin/handler.ts
  client/src/util/users.ts
  server/cbr/settings.py
Due: build client, build server

Added other disability field to referral
  client/src/pages/NewReferral/NewReferral.tsx
  client/src/pages/NewReferral/formFields.ts
  client/src/pages/NewReferral/formHandler.ts
  client/src/util/hooks/disabilities.ts
Due: build client

Run npx prettier
  client/src/pages/Admin/AdminPasswordEdit.tsx
  client/src/pages/Admin/fields.ts
  client/src/pages/Admin/handler.ts
Due: build client

Add ability to filter stats by date
  client/src/pages/Stats/Stats.tsx
  client/src/pages/Stats/StatsDateFilter.tsx
  client/src/pages/Stats/StatsUserFilter.tsx
  client/src/pages/Stats/VisitStats.tsx
  client/src/util/dates.ts
  server/cbr_api/sql.py
  server/cbr_api/views.py
Due: build client, build server

Add ability to filter by users
  client/src/pages/Stats/Stats.tsx
  client/src/pages/Stats/StatsDateFilter.tsx
  client/src/pages/Stats/StatsUserFilter.tsx
Due: build client

Use autocomplete input for stat user filter
  client/src/pages/Stats/Stats.tsx
  client/src/pages/Stats/StatsUserFilter.tsx
Due: build client

Add ability to export statistics
  client/package-lock.json
  client/package.json
  client/src/pages/Stats/ExportStats.tsx
  client/src/pages/Stats/Stats.tsx
Due: build client

Add parameters for stats endpoint to Swagger docs
  server/cbr_api/views.py
Due: build server

Add error message to interview consent checkbox
  client/src/pages/NewClient/ClientForm.styles.ts
  client/src/pages/NewClient/ClientForm.tsx
Due: build client

86: Removing duplicating datagrid code
  client/src/pages/AdminList/AdminList.tsx
  client/src/pages/ClientList/ClientList.tsx
  client/src/util/datagrid.tsx
Due: build client

Added other disabilities to client detail page and server validation
  client/src/pages/ClientDetails/ClientDetails.tsx
  client/src/pages/ClientDetails/ClientInfoForm.tsx
  client/src/pages/ClientDetails/formFields.ts
  client/src/pages/ClientDetails/formHandler.ts
  client/src/pages/NewClient/ClientForm.tsx
  client/src/pages/NewClient/formFields.ts
  client/src/pages/NewClient/formHandler.ts
  client/src/pages/NewReferral/NewReferral.tsx
  client/src/pages/NewReferral/formFields.ts
  client/src/pages/NewReferral/formHandler.ts
  client/src/util/clients.ts
  client/src/util/hooks/disabilities.ts
Due: build client

Added custom validator for disabilities
  server/cbr_api/management/commands/seeddisabilities.py
  server/cbr_api/migrations/0014_auto_20210408_0620.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/validators.py
Due: build server

Add require to droplist and display the alter notification as referral required
  client/src/pages/ClientDetails/BaseSurvey/BaseSurvey.tsx
Due: build client

Fix readability based on Ethan's comments.
  client/src/pages/Admin/handler.ts
  client/src/util/endpoints.ts
Due: build client

Add password strength test
  client/src/pages/Admin/fields.ts
Due: build client

Stats: align text in center, adjust breakpoints to avoid overlap, add message for no visits
  client/src/pages/Stats/DisabilityStats.tsx
  client/src/pages/Stats/ReferralStats.tsx
  client/src/pages/Stats/Stats.tsx
  client/src/pages/Stats/VisitStats.tsx
Due: build client

Fix unnecessary escape characters in regex
  client/src/pages/Admin/fields.ts
Due: build client

Pull red error color out into themes.styles.ts
  client/src/pages/NewClient/ClientForm.styles.ts
  client/src/theme.styles.ts
Due: build client

Change password validation to not require a special character
  client/src/pages/Admin/fields.ts
Due: build client

Fold the working section
  client/src/pages/ClientDetails/BaseSurvey/BaseSurvey.tsx
  client/src/pages/ClientDetails/BaseSurvey/formFields.ts
Due: build client

Connect to the endpoint and fix the code from code review
  client/src/pages/ClientDetails/BaseSurvey/BaseSurvey.tsx
  client/src/pages/ClientDetails/BaseSurvey/formFields.ts
  client/src/pages/ClientDetails/BaseSurvey/formHandler.ts
  client/src/util/endpoints.ts
  client/src/util/survey.ts
  server/cbr_api/models.py
Due: build client, build server

Update the baseline survey migration
  server/cbr_api/migrations/0014_baselinesurvey.py
Due: build server

Add checking before submitting on "financial needs"
  client/src/pages/ClientDetails/BaseSurvey/formHandler.ts
Due: build client

Change back to the baseline migration and add the new one backend
  client/src/pages/ClientDetails/BaseSurvey/formFields.ts
  server/cbr_api/migrations/0014_baselinesurvey.py
  server/cbr_api/migrations/0015_auto_20210409_0127.py
Due: build client, build server

Path conditions:
  build client: any of: client/**/*
  build server: any of: server/**/*
