Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

Django: add logging for production
  server/cbr/settings.py
Due: build server

renamed release keystore
  mobile/android/app/build.gradle
Due: build mobile

Fixed bug
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

comment out alerts save button
  common/src/forms/Alert/alertHandler.ts
  web/src/pages/NewAlert/AlertForm.tsx
Due: format common, build mobile, build web

Fix defined but never used error
  common/src/forms/Alert/alertHandler.ts
Due: format common, build mobile

Remove unused save function completely
  common/src/forms/Alert/alertHandler.ts
Due: format common, build mobile

Remove handleSave import
  web/src/pages/NewAlert/AlertForm.tsx
Due: build web

increase cursor window size for accessing client records with large blob picture data
  mobile/android/app/src/main/java/org/hopehealthaction/cbr/MainApplication.java
Due: build mobile

revised signingConfig
  mobile/android/app/build.gradle
Due: build mobile

disabled alerts and refactored sync view for pull
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  server/cbr_api/views.py
Due: build mobile, build server

removed console log
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
Due: build mobile

add APP_ENV instruction to setup.md
  docs/SETUP.md
Due: none

tried different approaches, commit for history
  common/src/forms/Alert/alertHandler.ts
  common/src/services/alertServices.ts
  common/src/services/tools/RequestConfigBuilder.ts
  common/src/util/endpoints.ts
  web/package-lock.json
  web/package.json
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

Add types
  common/src/forms/Alert/alertHandler.ts
  web/src/App.tsx
  web/src/pages/AlertInbox/AlertInbox.tsx
Due: format common, build mobile, build web

Import IUser
  web/src/pages/AlertInbox/AlertInbox.tsx
Due: build web

added helperImgCompress Function for web
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/components/ReferralPhotoView/PhotoView.tsx
  web/src/components/ReferralPhotoView/imgCompressHelper.ts
Due: build web

added TaskID to schedule console log, increase height and size of sync and rest Button
  mobile/src/screens/Sync/Sync.styles.ts
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/tasks/SyncDatabaseTask.ts
Due: build mobile

renamed visits, referrals hook
  mobile/package.json
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

finally get is working, need to clean up and write test
  common/src/forms/Alert/alertHandler.ts
  common/src/services/alertServices.ts
  web/src/pages/AlertInbox/AlertInbox.tsx
  web/src/pages/AlertInbox/AlertList.tsx
Due: format common, build mobile, build web

added release apk docs
  docs/RELEASE.md
Due: none

adjusted max file size before compression
  web/src/components/ReferralPhotoView/imgCompressHelper.ts
Due: build web

added default list for unread by user field in alert model
  server/cbr_api/migrations/0043_alter_alert_unread_by_users.py
  server/cbr_api/models.py
Due: build server

removed console log
  web/src/components/ReferralPhotoView/imgCompressHelper.ts
Due: build web

ran black formatter
  server/cbr_api/migrations/0043_alter_alert_unread_by_users.py
Due: build server

Revert "Merge branch 'alert_empty_unread_user_fix' into 'main'"
  server/cbr_api/migrations/0043_alter_alert_unread_by_users.py
  server/cbr_api/models.py
Due: build server

service layer built, need to clean up
  common/src/services/alertServices.ts
  common/src/services/tools/RequestConfigBuilder.ts
Due: format common, build mobile

manual modification of unread by user empty list
  server/cbr_api/migrations/0041_auto_20211121_2102.py
  server/cbr_api/migrations/0043_alter_alert_unread_by_users.py
Due: build server

adding default list to model
  server/cbr_api/models.py
Due: build server

fixed unread by user migrations
  server/cbr_api/migrations/0041_auto_20211121_2102.py
Due: build server

minor cosmetic changes
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/util/syncConflictConstants.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

add syncScheduled global flag to redux to prevent double scheduling
  mobile/index.ts
  mobile/src/App.tsx
  mobile/src/redux/actionTypes.ts
  mobile/src/redux/actions.ts
  mobile/src/redux/index.ts
  mobile/src/redux/reducers.ts
  mobile/src/screens/Login/Login.tsx
  mobile/src/tasks/SyncDatabaseTask.ts
Due: build mobile

unused import in Login after last commit
  mobile/src/screens/Login/Login.tsx
Due: build mobile

add a test but not sure that test is detected
  common/src/services/__tests__/alertServices.test.js
  common/src/services/alertServices.ts
  common/src/services/tools/RequestConfigBuilder.ts
  web/package-lock.json
  web/package.json
  web/src/pages/AlertInbox/AlertList.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

commit for next step
  common/src/forms/Alert/alertHandler.ts
  common/src/services/__tests__/alertServices.test.js
  common/src/services/alertServices.ts
  common/src/services/tools/RequestConfigBuilder.ts
  common/src/util/endpoints.ts
  web/src/pages/AlertInbox/AlertList.tsx
Due: format common, build mobile, build web

Merge conflicts with main
  web/src/App.tsx
Due: build web

removed unwated package-lock.json
  package-lock.json
Due: none

undo redux changes for saving if sync has been scheduled
  mobile/src/App.tsx
  mobile/src/redux/actionTypes.ts
  mobile/src/redux/actions.ts
  mobile/src/redux/index.ts
  mobile/src/redux/reducers.ts
  mobile/src/tasks/SyncDatabaseTask.ts
Due: build mobile

too many changes are made to main, so I create a new branch and manually C&P all the changes
  common/src/services/__tests__/alertServices.test.js
  common/src/services/alertServices.ts
  common/src/services/tools/RequestConfigBuilder.ts
  mobile/package-lock.json
  web/package-lock.json
  web/package.json
  web/src/pages/AlertInbox/AlertList.tsx
Due: format common, build mobile, build web

fix compling errors
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

fix compling errors, move tests to description
  common/src/services/__tests__/alertServices.test.js
Due: format common, build mobile
