Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

Fixed mobile file format using Prettier.
  mobile/README.md
Due: build mobile

Remove subject from docker-compose
  docker-compose.yml
Due: none

Add new referral notifications to mobile for email
  server/cbr_api/util.py
Due: build server

Remove unneeded email field in settings and docker
  docker-compose.yml
  server/cbr/settings.py
Due: build server

Reformat settings to fit style guidelines
  server/cbr/settings.py
Due: build server

Testing lint
  common/.husky/pre-commit
  common/package-lock.json
  common/package.json
  mobile/.husky/pre-commit
  mobile/package-lock.json
  mobile/package.json
  server/cbr_api/tests/models/test_visit_model.py
  web/.husky/pre-commit
  web/package-lock.json
  web/package.json
  web/src/pages/Admin/AdminNew.tsx
Due: build common, build mobile, build web, build server, test common

Testing formatting without running prettier.
  web/src/pages/Admin/AdminNew.tsx
Due: build web

test prettier hook
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

test prettier in admin page
  web/package-lock.json
Due: build web

retest admin page formatting.
  web/src/pages/Admin/AdminNew.tsx
Due: build web

test prettier in mobile
  mobile/src/models/Alert.ts
  server/cbr_api/tests/models/test_visit_model.py
Due: build mobile, build server

Test prettier in mobile again
  mobile/src/models/Alert.ts
Due: build mobile

Test prettier in different files
  mobile/src/models/BaselineSurvey.ts
  mobile/src/screens/Admin/AdminEdit.tsx
Due: build mobile

Removed husky from subfolders and test
  common/.husky/pre-commit
  common/package.json
  mobile/.husky/pre-commit
  mobile/package.json
  mobile/src/models/Alert.ts
  mobile/src/models/BaselineSurvey.ts
  web/.husky/pre-commit
  web/package.json
Due: build common, build mobile, build web, test common

Add configuration functionality for admins to change email
  common/src/util/endpoints.ts
  server/cbr_api/email_notifications.py
  server/cbr_api/migrations/0075_email_settings.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
  web/src/pages/Admin/AdminEmailSettings.tsx
  web/src/pages/Admin/AdminPage.tsx
Due: build common, build mobile, build web, build server, test common

Enfore no primary key in test.
  server/cbr_api/tests/models/test_visit_model.py
Due: build server

test run
  mobile/README.md
Due: build mobile

Try prettier --write command
  .husky/pre-commit
Due: none

Test prettier
  .husky/pre-commit
  package.json
Due: none

Try running lint-staged
  .husky/pre-commit
  package.json
Due: none

Changed pre-commit file
  .husky/pre-commit
Due: none

try new command
  .husky/pre-commit
  mobile/README.md
Due: build mobile

create schema for patient notes
  server/cbr_api/migrations/0075_patientnote_and_more.py
  server/cbr_api/models.py
Due: build server

test command
  .husky/pre-commit
Due: none

Test
  web/public/index.html
Due: build web

add endpoints for create, get latest and get all for patinet notes
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

fix formatting
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

fix formatting
  server/cbr_api/models.py
Due: build server

add migrations file
  server/cbr_api/migrations/0076_align_patientnote_pk.py
Due: build server

add mgirations file
  server/cbr_api/migrations/0076_align_patientnote_pk.py
Due: build server

fix
  server/cbr_api/migrations/0077_alter_patientnote_id.py
Due: build server

remove
  server/cbr_api/migrations/0075_patientnote_and_more.py
  server/cbr_api/migrations/0076_align_patientnote_pk.py
  server/cbr_api/migrations/0077_alter_patientnote_id.py
Due: build server

add migrations
  server/cbr_api/migrations/0075_patientnote_and_more.py
  server/cbr_api/migrations/0076_align_patientnote_pk.py
Due: build server

fix formatting
  server/cbr_api/migrations/0075_patientnote_and_more.py
  server/cbr_api/migrations/0076_align_patientnote_pk.py
Due: build server

change sync time to 10 min
  mobile/src/tasks/SyncDatabaseTask.ts
Due: build mobile

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
