Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

added newer version of mui date pickers
  package-lock.json
  package.json
Due: none

added date picker dependency to web folder to try to fix build bug
  web/package-lock.json
  web/package.json
Due: build web

Updated translation files
  common/src/@types/resources.d.ts
  common/src/locales/Translations_CBR_main.xlsx
  common/src/locales/bari.json
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

Fixing a bug with hcr type
  common/src/forms/Client/clientFields.ts
  common/src/util/clients.ts
  mobile/package-lock.json
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

Finished hcr changes on mobile
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/models/Client.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/util/syncConflictConstants.ts
  server/cbr_api/filters.py
  server/cbr_api/serializers.py
Due: build mobile, build server

Finished the new screen setup
  mobile/src/App.tsx
  mobile/src/screens/Referrals/Referrals.tsx
  mobile/src/util/StackScreenName.ts
  mobile/src/util/screens.ts
  mobile/src/util/stackScreens.tsx
Due: build mobile

Added the initial referrals code
  mobile/src/screens/Referrals/Referrals.styles.ts
  mobile/src/screens/Referrals/Referrals.tsx
  mobile/src/screens/Referrals/ReferralsRequest.ts
Due: build mobile

Made changes to the get referrals call
  mobile/src/screens/Referrals/Referrals.tsx
  mobile/src/screens/Referrals/ReferralsRequest.ts
Due: build mobile

Fixed errors with the get request
  mobile/src/screens/Referrals/ReferralsRequest.ts
Due: build mobile

Added status icon to referrals
  mobile/src/screens/Referrals/Referrals.tsx
Due: build mobile

Renaming vars and started adding the referral filters
  mobile/src/screens/Referrals/Referrals.tsx
Due: build mobile

Finished adding the referral filters
  mobile/src/screens/Referrals/Referrals.styles.ts
  mobile/src/screens/Referrals/Referrals.tsx
  mobile/src/screens/Referrals/ReferralsRequest.ts
Due: build mobile

added expo module to allow signed android releases
  mobile/app.json
  mobile/plugins/withAndroidSigningConfig.ts
Due: build mobile

chore: package lock
  mobile/package-lock.json
Due: build mobile

docs: update system gradle.properties location for macOS
  docs/RELEASE.md
Due: none

Fixed client creation error
  mobile/src/screens/NewClient/formHandler.ts
Due: build mobile

Changed referrals icon
  mobile/src/util/screens.ts
Due: build mobile

Changed referrals fetch logic to get called on every nav change
  mobile/src/screens/Referrals/Referrals.tsx
Due: build mobile

Fixed stack screen errors
  mobile/src/util/stackScreens.tsx
Due: build mobile

updated report statistics mobile components
  mobile/src/screens/Stats/BarGraph.tsx
  mobile/src/screens/Stats/Stats.styles.ts
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

ci: update mobile build for RN 0.74, upload artifact
  .github/workflows/main-cicd.yml
  mobile/app.json
  mobile/package.json
  mobile/plugins/withAndroidSigningConfig.ts
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

docs: update for CI changes
  docs/RELEASE.md
Due: none

ci: remove obsolete 'version' attribute
  docker-compose.override.yml
  docker-compose.yml
Due: none

automate mobile version info display
  docs/RELEASE.md
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

fix: type error in mobile sync handler
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/syncHandler.ts
Due: build mobile

fix: string subtraction of UUIDs
  mobile/src/util/listFunctions.ts
Due: build mobile

fix: explicitly type IUser
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

added updates to stats web components
  package.json
  server/cbr_api/serializers.py
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/pages/Stats/components/charts/DisabilityStats.tsx
  web/src/pages/Stats/components/charts/FollowUpVistsStats.tsx
  web/src/pages/Stats/components/charts/HorizontalBarGraphStats.tsx
  web/src/pages/Stats/components/charts/NewClientsStats.tsx
  web/src/pages/Stats/components/charts/ReferralStats.tsx
  web/src/pages/Stats/components/charts/VerticalBarGraphStats.tsx
  web/src/pages/Stats/components/charts/VisitStats.tsx
  web/src/pages/Stats/components/filterbar/StatsDateFilter.tsx
Due: build web, build server

consolidated frontend goal tracking branches
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

Updated the referral type filter logic
  mobile/src/screens/Referrals/Referrals.tsx
  mobile/src/screens/Referrals/ReferralsRequest.ts
Due: build mobile

fix: update expo-image-picker use in mobile app
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
Due: build mobile

fix: update ISurveyCategory type
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
Due: build mobile

fix: better import for TextInputProps
  mobile/src/components/ExposedDropdownMenu/ExposedDropdownMenu.tsx
Due: build mobile

fix: specify types for DashboardRequest
  mobile/src/screens/DashBoard/DashboardRequest.ts
Due: build mobile

fix: remove unused dropdown prop
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
Due: build mobile

fix: explicit surveyInfo type
  mobile/src/screens/BaseSurvey/formHandler.ts
Due: build mobile

fix: remove structural empy Text component
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
Due: build mobile

fix: autoComplete prop usage
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

fix: make string explicit
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
Due: build mobile

fix: update 'autocomplete' TextInput prop
  mobile/src/components/PasswordTextInput/passwordTextInputProps.tsx
Due: build mobile
