Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

build common:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .
  - npx tsc

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - COMMON_PACK_NAME=$(npm pack ../common | tail -n 1)
  - npm install $COMMON_PACK_NAME
  - npm ci
  script:
  - npx prettier --check .
  ...

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - cd web/build && tar -czvf ../../web_build.tar.gz .
  artifacts:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

test common:
  stage: test
  image: node:14
  tags:
  - docker
  needs:
  - build common
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npm run test-ci
  artifacts:
    expire_in: 1 week
    reports:
      junit:
      - common/junit.xml
      cobertura:
      - common/coverage/cobertura-coverage.xml

test caddy:
  stage: test
  image: caddy:2.4.6
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
  script:
  - caddy validate --config caddy/Caddyfile

specify region in env
  docker-compose.deploy.yml
  fluentbit/config/fluent-staging.conf
  fluentbit/config/outputs/staging-prod/cloudwatch-output.conf
Due: none

Change caddy to 2.7.4 vs 'latest'
  caddy/Dockerfile
Due: test caddy

i18n initial setup
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/LanguagePicker.tsx
  mobile/src/i18n.config.ts
  mobile/src/locales/en.json
  mobile/src/locales/ne.json
  mobile/src/screens/Login/Login.tsx
Due: build mobile

prettier
  mobile/src/App.tsx
  mobile/src/LanguagePicker.tsx
  mobile/src/i18n.config.ts
  mobile/src/locales/en.json
  mobile/src/screens/Login/Login.tsx
Due: build mobile

added translation template for login page
  mobile/package-lock.json
  mobile/src/locales/en.json
  mobile/src/locales/ne.json
  mobile/src/screens/Login/Login.tsx
  web/package-lock.json
Due: build mobile, build web

adds translation layout for client details, timeline and dashboard
  mobile/src/locales/en.json
  mobile/src/locales/ne.json
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/ShowMore.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/Login/Login.tsx
Due: build mobile

adds translation template for necessary files in component folder
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/components/SyncAlert/SyncAlert.tsx
  mobile/src/components/SyncUpdateAlert.tsx/LocalChangeList.tsx
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/locales/en.json
  mobile/src/locales/ne.json
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

adds more translation template
  mobile/src/locales/en.json
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/AlertInbox/AlertInbox.tsx
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/EducationForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/HealthForm.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/LivelihoodForm.tsx
  mobile/src/screens/ClientList/ClientList.tsx
Due: build mobile

Translations for dashboard and other initial areas
  mobile/package-lock.json
  mobile/src/LanguagePicker.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/i18n.config.ts
  mobile/src/locales/bari.json
  mobile/src/locales/en.json
  mobile/src/locales/ne.json
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  web/package-lock.json
Due: build mobile, build web

Prepared to work on translations for common
  common/cbr-common-1.0.0.tgz
  common/src/forms/Client/clientFields.ts
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  mobile/src/i18n.config.ts
  mobile/src/locales/bari.json
  mobile/src/locales/en.json
  mobile/src/screens/ClientDetails/Risks/ClientRiskFormHandler.ts
  mobile/tsconfig.json
Due: build common, build mobile, build web, test common

WIP Translations working in common
  common/package-lock.json
  common/package.json
  common/src/forms/Client/clientFields.ts
  common/src/i18n.config.ts
  common/src/init.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  mobile/package.json
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/i18n.config.ts
  web/src/locales/bari.json
  web/src/locales/en.json
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

Translated common:clientInfoForm Fields
  common/src/forms/Client/clientFields.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  web/src/locales/en.json
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build common, build mobile, build web, test common

Translated all of clientFields.ts
  common/src/forms/Client/clientFields.ts
  common/src/locales/en.json
Due: build common, build mobile, build web, test common

Mobile runs, but seems not to pull up current translations.
  common/src/forms/Client/clientHandler.ts
  common/src/locales/en.json
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build common, build mobile, build web, test common

Debugging build: stale common module
  common/src/forms/Client/clientFields.ts
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build common, build mobile, build web, test common

Android translation in common working.
  locales/README.md
  locales/bari.json
  locales/en.json
  locales/translation_copy.cmd
Due: none

Mobile builds correctly and updates translation and clears cache with scripts
  common/src/forms/Client/clientFields.ts
  common/src/locales/ATTENTION-DO_NOT_EDIT.md
  common/src/locales/bari.json
  common/src/locales/en.json
  locales/README.md
  locales/en.json
  locales/replicate_translations.ps1
  locales/translation_copy.cmd
  mobile/README.md
  mobile/package-lock.json
  mobile/package.json
  mobile/src/locales/ATTENTION-DO_NOT_EDIT.md
  mobile/src/locales/bari.json
  mobile/src/locales/en.json
  mobile/update-translations-and-run.ps1
  web/src/locales/ATTENTION-DO_NOT_EDIT.md
  web/src/locales/bari.json
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Translate baseline survey questions and build AAB with target 34 API
  .github/workflows/main-cicd.yml
  common/src/forms/BaseSurvey/baseSurveyFields.ts
  common/src/locales/en.json
  docs/RELEASE.md
  locales/en.json
  mobile/android/.settings/org.eclipse.buildship.core.prefs
  mobile/android/app/build.gradle
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/locales/en.json
  mobile/src/screens/Sync/Sync.tsx
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Build and publish AAB to play store
  mobile/.gitignore
  mobile/package-lock.json
Due: build mobile

Translating `common`: Survey done
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/alerts.ts
  common/src/util/survey.ts
  locales/bari.json
  locales/en.json
  mobile/src/locales/bari.json
  mobile/src/locales/en.json
  web/src/locales/bari.json
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Translated all of common package
  common/package.json
  common/src/forms/Admin/adminFields.ts
  common/src/forms/Alert/alertFields.ts
  common/src/forms/Alert/alertHandler.ts
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Client/mobileClientHandler.ts
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Risks/riskFormFieldHandler.ts
  common/src/forms/Risks/riskFormFields.ts
  common/src/forms/UserProfile/userProfileFields.ts
  common/src/forms/UserProfile/userProfileHandler.ts
  common/src/forms/Zone/zoneFields.ts
  common/src/forms/newVisit/visitFormFields.ts
  common/src/locales/en.json
  common/src/util/auth.ts
  common/src/util/clients.ts
  common/src/util/internal/rejectWithWrappedError.ts
  common/src/util/referrals.ts
  common/src/util/risks.ts
  common/src/util/users.ts
  common/src/util/validations.ts
  common/src/util/visits.ts
  locales/en.json
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/locales/en.json
  mobile/src/screens/Login/Login.tsx
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Renamed 'commons' to 'general' in translations
  locales/en.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/components/ConflictDialog/ConflictDialog.tsx
  mobile/src/components/SyncAlert/SyncAlert.tsx
  mobile/src/components/SyncUpdateAlert.tsx/LocalChangeList.tsx
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
  mobile/src/components/UserProfileContents/ChangePasswordDialog.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminNew.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/AlertInbox/AlertInbox.tsx
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/BaseSurvey/SurveyForm/FoodForm.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/ShowMore.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/Login/Login.tsx
Due: build mobile

Refactored referral translations
  common/src/forms/Admin/adminFields.ts
  common/src/forms/Alert/alertFields.ts
  common/src/forms/Alert/alertHandler.ts
  common/src/forms/BaseSurvey/baseSurveyFields.ts
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Client/mobileClientHandler.ts
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Risks/riskFormFieldHandler.ts
  common/src/forms/Risks/riskFormFields.ts
  common/src/forms/UserProfile/userProfileFields.ts
  common/src/forms/UserProfile/userProfileHandler.ts
  common/src/forms/Zone/zoneFields.ts
  common/src/forms/newVisit/visitFormFields.ts
  common/src/locales/en.json
  common/src/util/alerts.ts
  common/src/util/auth.ts
  common/src/util/clients.ts
  common/src/util/internal/rejectWithWrappedError.ts
  common/src/util/referrals.ts
  common/src/util/risks.ts
  common/src/util/survey.ts
  common/src/util/users.ts
  common/src/util/validations.ts
  common/src/util/visits.ts
  locales/en.json
  mobile/src/locales/en.json
  mobile/src/screens/DashBoard/DashboardRequest.ts
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Translate mobile: Visit, Patient info, screen names
  common/src/locales/en.json
  locales/en.json
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/locales/en.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/Stats/Stats.tsx
  mobile/src/util/stackScreens.tsx
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Ready to translate
  common/src/locales/en.json
  locales/en.json
  locales/replicate_translations.ps1
  mobile/index.js
  mobile/package-lock.json
  mobile/src/components/DiscardDialogs/ConfirmDialog.tsx
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/locales/en.json
  mobile/src/screens/Admin/AdminEdit.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/NewClient/NewClient.tsx
  mobile/src/screens/Stats/Stats.tsx
  mobile/src/screens/SwitchServer/SwitchServer.tsx
  mobile/src/screens/UserList/UserList.tsx
  mobile/src/screens/UserList/UserListRequest.ts
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Translation process written up
  locales/README.md
  locales/bari.json
  locales/en.json
Due: none

Mention tool in translation readme.
  common/src/locales/bari.json
  common/src/locales/en.json
  locales/README.md
  mobile/src/locales/bari.json
  mobile/src/locales/en.json
  web/src/locales/bari.json
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Allow the seedadminuser.py script to run even if the DB already has users.
  server/cbr_api/management/commands/seedadminuser.py
Due: build server

Translated Sync and Stats
  common/src/locales/en.json
  locales/en.json
  mobile/src/locales/en.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/Stats/Stats.tsx
  mobile/src/screens/Sync/Sync.tsx
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Translated referral and fixed Other Referral
  common/src/forms/Referral/referralFields.ts
  common/src/locales/en.json
  locales/en.json
  locales/en.xlsx
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/FormikImageModal/FormikImageModal.tsx
  mobile/src/locales/en.json
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/MentalHealthForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/NutritionAgricultureForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/ProstheticOrthoticForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/WheelchairForm.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Enforce required "other" fields in New Referral and New Visit
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/MentalHealthForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/OtherServicesForm.tsx
  mobile/src/screens/NewReferral/ReferralForm/PhysiotherapyForm.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: build mobile

Referral for Nutrition's checkboxes now display correctly.
  common/src/forms/Referral/referralFields.ts
  mobile/src/screens/NewReferral/ReferralForm/NutritionAgricultureForm.tsx
Due: build common, build mobile, build web, test common

Implement language picker
  common/package-lock.json
  common/src/forms/Client/clientFields.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  locales/bari.json
  locales/en.json
  locales/en.xlsx
  mobile/package-lock.json
  mobile/src/App.tsx
  mobile/src/LanguagePicker.tsx
  mobile/src/components/LanguagePicker/LanguagePicker.style.ts
  mobile/src/components/LanguagePicker/LanguagePicker.tsx
  mobile/src/i18n.config.ts
  mobile/src/locales/bari.json
  mobile/src/locales/en.json
  mobile/src/screens/Login/Login.tsx
  mobile/src/screens/UserList/UserList.tsx
  web/src/locales/bari.json
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

Exported label maps in `common` now update with language.
  common/src/forms/Admin/adminFields.ts
  common/src/forms/Alert/alertFields.ts
  common/src/forms/BaseSurvey/baseSurveyFields.ts
  common/src/forms/Client/clientFields.ts
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Risks/riskFormFields.ts
  common/src/forms/UserProfile/userProfileFields.ts
  common/src/forms/Zone/zoneFields.ts
  common/src/forms/newVisit/visitFormFields.ts
  common/src/locales/bari.json
  common/src/locales/en.json
  common/src/util/alerts.ts
  common/src/util/clients.ts
  common/src/util/referrals.ts
  common/src/util/risks.ts
  common/src/util/survey.ts
  common/src/util/users.ts
  common/src/util/validations.ts
  common/src/util/visits.ts
  locales/bari.json
  locales/en.json
  mobile/package-lock.json
  mobile/src/components/LanguagePicker/LanguagePicker.tsx
  mobile/src/locales/bari.json
  mobile/src/locales/en.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/util/riskIcon.tsx
  mobile/src/util/stackScreens.tsx
  mobile/src/util/syncHandler.ts
  web/src/locales/bari.json
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

View submitted referral on mobile now shows HHA food program
  mobile/src/components/LanguagePicker/LanguagePicker.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/NewReferral/NewReferral.tsx
Due: build mobile

Display mental health when viewing visit on mobile.
  locales/en.json
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
Due: build mobile

try out initializing function
  common/index.ts
  common/package-lock.json
  common/src/i18n.config.ts
  common/src/init.ts
  mobile/package-lock.json
  mobile/src/App.tsx
  mobile/src/i18n.config.ts
  package-lock.json
Due: build common, build mobile, build web, test common

cleanup imports in App.tsx
  common/src/i18n.config.ts
  mobile/src/App.tsx
Due: build common, build mobile, build web, test common

remove unneeded duplicated config and translation files
  common/src/locales/en.json
  locales/replicate_translations.ps1
  mobile/src/App.tsx
  mobile/src/i18n.config.ts
  mobile/src/locales/ATTENTION-DO_NOT_EDIT.md
  mobile/src/locales/bari.json
  mobile/src/locales/en.json
  web/package-lock.json
  web/src/App.tsx
  web/src/i18n.config.ts
  web/src/locales/ATTENTION-DO_NOT_EDIT.md
  web/src/locales/bari.json
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

use init i18n function in common too
  common/src/init.ts
Due: build common, build mobile, build web, test common

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml
