Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

docs: Update README files with insights from first time setup
  docs/SETUP.md
  mobile/README.md
Due: build mobile

add i18next type declarations
  common/src/@types/i18next.d.ts
Due: build common, build mobile, build web, test common

update TS to 5+
  common/package-lock.json
  common/package.json
  mobile/package-lock.json
  mobile/package.json
  web/package-lock.json
  web/package.json
Due: build common, build mobile, build web, test common

resolve type error
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
Due: build web

add i18n declaration file to mobile project
  mobile/src/@types/react-i18next.d.ts
Due: build mobile

gen Resources interface for type-safe i18n interpolation values
  common/package-lock.json
  common/package.json
  common/src/@types/i18next.d.ts
  common/src/@types/resources.d.ts
  mobile/src/@types/react-i18next.d.ts
Due: build common, build mobile, build web, test common

revert type fix
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
Due: build web

refactor(translations): try out initializing function
  common/index.ts
  common/package-lock.json
  common/src/i18n.config.ts
  common/src/init.ts
  mobile/package-lock.json
  mobile/src/App.tsx
  mobile/src/i18n.config.ts
  package-lock.json
Due: build common, build mobile, build web, test common

refactor(translations): cleanup imports in App.tsx
  common/src/i18n.config.ts
  mobile/src/App.tsx
Due: build common, build mobile, build web, test common

refactor(translations): remove unneeded duplicated config and translation files. Also use i18n init function in common, mobile, and web.
  common/src/init.ts
  common/src/locales/en.json
  locales/replicate_translations.ps1
  mobile/src/App.tsx
  mobile/src/i18n.config.ts
  mobile/src/locales/ATTENTION-DO_NOT_EDIT.md
  mobile/src/locales/bari.json
  mobile/src/locales/en.json
  web/package-lock.json
  web/src/App.tsx
  web/src/i18n.config.ts
  web/src/locales/ATTENTION-DO_NOT_EDIT.md
  web/src/locales/bari.json
  web/src/locales/en.json
Due: build common, build mobile, build web, test common

refactor(translations): remove root locales folder and move everything into /common/locales
  common/src/locales/README.md
  common/src/locales/en.xlsx
  locales/bari.json
  locales/en.json
  locales/replicate_translations.ps1
Due: build common, build mobile, build web, test common

package lock integrity
  common/package-lock.json
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

update README to specify TS interface generation
  common/src/locales/README.md
Due: build common, build mobile, build web, test common

prettier format
  common/src/@types/i18next.d.ts
  common/src/forms/Admin/adminFields.ts
Due: build common, build mobile, build web, test common

docs: update READMEs to reflect current Android API target
  docs/SETUP.md
  mobile/README.md
Due: build mobile

don't run prettier on auto-generated file
  common/.prettierignore
Due: build common, build mobile, build web, test common

fix: resolve TS errors
  common/src/util/auth.ts
  web/src/pages/Admin/AdminEdit.tsx
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/src/pages/Zone/ZoneEdit.tsx
Due: build common, build mobile, build web, test common

fix: corrected spelling on i18n calls
  common/src/forms/Alert/alertHandler.ts
  common/src/forms/UserProfile/userProfileHandler.ts
Due: build common, build mobile, build web, test common

prettier common
  common/src/forms/Alert/alertFields.ts
  common/src/forms/Alert/alertHandler.ts
  common/src/forms/BaseSurvey/baseSurveyFields.ts
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Risks/riskFormFields.ts
  common/src/forms/UserProfile/userProfileFields.ts
  common/src/forms/Zone/zoneFields.ts
  common/src/forms/newVisit/visitFormFields.ts
  common/src/locales/README.md
  common/src/util/alerts.ts
  common/src/util/auth.ts
  common/src/util/clients.ts
  common/src/util/internal/rejectWithWrappedError.ts
  common/src/util/referrals.ts
  common/src/util/risks.ts
  common/src/util/survey.ts
  common/src/util/users.ts
  common/src/util/validations.ts
  common/src/util/visits.ts
Due: build common, build mobile, build web, test common

fix: prefer let to var
  common/src/forms/Admin/adminFields.ts
  common/src/forms/Alert/alertFields.ts
  common/src/forms/Client/clientFields.ts
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Risks/riskFormFields.ts
  common/src/forms/UserProfile/userProfileFields.ts
  common/src/forms/Zone/zoneFields.ts
  common/src/forms/newVisit/visitFormFields.ts
  common/src/util/alerts.ts
  common/src/util/clients.ts
  common/src/util/referrals.ts
  common/src/util/risks.ts
  common/src/util/survey.ts
  common/src/util/users.ts
  common/src/util/visits.ts
  mobile/src/util/stackScreens.tsx
Due: build common, build mobile, build web, test common

fix: tweaks from code review
  mobile/src/components/LanguagePicker/LanguagePicker.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/util/riskIcon.tsx
Due: build mobile

prettier web
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

fix: improper i18n keys
  mobile/src/screens/SwitchServer/SwitchServer.tsx
Due: build mobile

remove unneeded imports
  mobile/src/screens/Loading/Loading.tsx
Due: build mobile

fix: prefer number to Number
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

fix: make void promise explicit
  mobile/src/screens/DashBoard/DashboardRequest.ts
Due: build mobile

fix: improper i18n keys
  mobile/src/components/UserProfileContents/UserProfileContents.tsx
  mobile/src/screens/Admin/AdminView.tsx
  mobile/src/screens/AlertInbox/AlertInbox.tsx
Due: build mobile

remove unused i18n t
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

new cbr integrity
  mobile/package-lock.json
Due: build mobile

build(deps): revert common ts (4.0.2) and react-i18next (14.1.3) to pass test suites
  common/jest.config.js
  common/package-lock.json
  common/package.json
  mobile/package-lock.json
Due: build common, build mobile, build web, test common

revert: upgrade TS and react-i18next back to latest
  common/jest.config.js
  common/package-lock.json
  common/package.json
Due: build common, build mobile, build web, test common

ci: temp disable common tests
  .github/workflows/main-cicd.yml
Due: none

build: add engines field to package.json files to show current node target
  common/package.json
  mobile/package-lock.json
  mobile/package.json
  web/package.json
Due: build common, build mobile, build web, test common

chore: removed unused import
  web/src/pages/ClientDetails/ClientInfoForm.tsx
Due: build web

fix: loosen node engine version to permit react-native-android:6.2
  common/package.json
  mobile/package.json
  web/package.json
Due: build common, build mobile, build web, test common
