Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

use Timestamp To Date Defined In Util (*1000)
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

run prettier
  web/src/pages/AlertInbox/AlertList.tsx
Due: build web

create endpoint for checking API version (not done yet)
  docker-compose.yml
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

add validation for request to endpoint, complete version compatibility checking
  server/cbr_api/serializers.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
Due: build server

update docs to specify that API version must be supplied in .env
  docs/SETUP.md
Due: none

hardcode API version, append version checks to sync endpoint
  docs/SETUP.md
  server/cbr_api/util.py
  server/cbr_api/views.py
Due: build server

remove environment variable from docker-compose
  docker-compose.yml
  server/cbr_api/util.py
Due: build server

mobile app now sends API version on sync requests
  common/src/util/endpoints.ts
  mobile/package-lock.json
  mobile/src/util/syncHandler.ts
  server/cbr_api/views.py
  web/tsconfig.json
Due: build common, build mobile, build web, build server, test common

add alert to tell mobile app user when they need to update their device
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/incompatibleVersionAlert.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

change sync endpoint to receive API version via URL params
  common/src/util/endpoints.ts
  server/cbr_api/views.py
Due: build common, build mobile, build web, build server, test common

run prettier
  web/tsconfig.json
Due: build web

clean version of adding column
  server/cbr_api/filters.py
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/migrations/0001_initial.py
  server/cbr_api/migrations/0043_auto_20220314_0226.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  web/tsconfig.json
Due: build web, build server

clean version of adding column
  server/cbr_api/migrations/0043_auto_20220314_0226.py
  server/cbr_api/migrations/0043_client_nutrit_timestamp.py
Due: build server

it works finally
  server/cbr_api/migrations/0001_initial.py
  server/cbr_api/migrations/0044_client_nutrit_risk_level.py
  server/cbr_api/serializers.py
Due: build server

need to code review for my teammate
  common/src/util/clients.ts
  common/test/util/clients.spec.ts
  web/src/pages/Dashboard/Dashboard.tsx
Due: build common, build mobile, build web, test common

Most changes are made
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Client/mobileClientHandler.ts
  common/src/util/clients.ts
  mobile/src/models/Client.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRisk.tsx
  mobile/src/screens/ClientDetails/Risks/ClientRiskForm.tsx
  mobile/src/screens/ClientList/ClientList.tsx
  mobile/src/screens/ClientList/ClientListRequest.ts
  mobile/src/screens/DashBoard/Dashboard.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/NewClient/formHandler.ts
  mobile/src/util/listFunctions.ts
  mobile/src/util/riskIcon.tsx
  mobile/src/util/syncConflictConstants.ts
  mobile/src/util/syncHandler.ts
  server/cbr_api/serializers.py
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientList/requestClientRows.ts
  web/src/pages/NewClient/ClientForm.tsx
Due: build common, build mobile, build web, build server, test common

switch branch to do code review
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
Due: build web

bump backend API version
  server/cbr_api/util.py
Due: build server

add API version last synced, add checks, reset database if not up to date
  mobile/src/screens/Sync/PrefConstants.ts
  mobile/src/util/syncHandler.ts
Due: build mobile

refactor sync button to use await instead of .then()
  mobile/src/components/SyncAlert/SyncAlert.tsx
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/syncHandler.ts
Due: build mobile

visit done
  common/src/forms/newVisit/visitFormFields.ts
  common/src/forms/newVisit/visitFormHandler.ts
  common/src/util/stats.ts
  common/src/util/visits.ts
  mobile/.package-lock 2.json.icloud
  mobile/.package-lock.json.icloud
  mobile/android/build.gradle
  mobile/package-lock.json
  mobile/src/util/riskIcon.tsx
  server/cbr_api/management/commands/seedvisits.py
  server/cbr_api/migrations/0045_visit_nutrit_visit.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  server/cbr_api/views.py
  web/src/pages/ClientDetails/ClientTimeline/VisitEntry.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/formFields.ts
  web/src/pages/NewVisit/formHandler.ts
  web/src/pages/Stats/ExportStats.tsx
  web/src/pages/Stats/VisitStats.tsx
Due: build common, build mobile, build web, build server, test common

stats fixed
  common/src/util/stats.ts
  server/cbr_api/serializers.py
  server/cbr_api/sql.py
  web/src/pages/Stats/ExportStats.tsx
  web/src/pages/Stats/VisitStats.tsx
Due: build common, build mobile, build web, build server, test common

go to main to try something out
  web/src/pages/ClientDetails/ClientDetails.tsx
Due: build web

fixed all bugs
  common/src/util/risks.ts
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
Due: build common, build mobile, build web, test common

clean up console logs
  common/src/forms/newVisit/visitFormHandler.ts
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/src/pages/NewVisit/NewVisit.tsx
  web/src/pages/NewVisit/formHandler.ts
Due: build common, build mobile, build web, test common

run prettier
  common/src/util/clients.ts
  common/test/util/clients.spec.ts
  mobile/src/models/Client.ts
  mobile/src/screens/ClientList/ClientList.tsx
  server/cbr_api/management/commands/seedclients.py
  server/cbr_api/management/commands/seedvisits.py
  server/cbr_api/migrations/0043_client_nutrit_timestamp.py
  server/cbr_api/migrations/0044_client_nutrit_risk_level.py
  server/cbr_api/migrations/0045_visit_nutrit_visit.py
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/tsconfig.json
Due: build common, build mobile, build web, build server, test common

run prettier
  mobile/android/build.gradle
Due: build mobile

update urls for mobile app to point to new domain
  mobile/index.js
Due: build mobile

show alert on automatic sync failure
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/genericAlert.ts
  mobile/src/util/syncHandler.ts
  web/tsconfig.json
Due: build mobile, build web

create modal for clearing local data on sync
  mobile/src/components/SyncAlert/SyncAlert.tsx
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
  mobile/src/screens/Sync/Sync.tsx
  mobile/src/util/syncHandler.ts
Due: build mobile

clear database and sync on entering key
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
  mobile/src/screens/Sync/Sync.tsx
Due: build mobile

nothing
  mobile/package-lock 3.json
  mobile/package-lock 4.json
  mobile/package-lock 5.json
  mobile/package-lock 6.json
  mobile/package-lock 7.json
  mobile/package.json
  web/tsconfig.json
Due: build mobile, build web

for saving process
  common/src/forms/Referral/referralFields.ts
  common/src/util/referrals.ts
  mobile/.package-lock 2.json.icloud
  mobile/.package-lock.json.icloud
  web/src/pages/NewReferral/NewReferral.tsx
Due: build common, build mobile, build web, test common

on going
  web/src/pages/NewReferral/NewReferral.tsx
Due: build web

update last synced API version on successful sync
  mobile/src/util/syncHandler.ts
Due: build mobile

almost there
  web/src/pages/NewReferral/NewReferral.tsx
Due: build web

cover case edge case where both last synced version and current version do not match server version
  common/src/util/endpoints.ts
  mobile/package-lock.json
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
Due: build common, build mobile, build web, test common

update black version
  server/requirements.txt
Due: build server
