Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

have mobile database models implement an interface that allows syncable entities to be parsed and displayed more easily
  mobile/src/components/SyncUpdateAlert.tsx/LocalChangeList.tsx
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/Client.ts
  mobile/src/models/Improvement.ts
  mobile/src/models/Outcome.ts
  mobile/src/models/Referral.ts
  mobile/src/models/Risk.ts
  mobile/src/models/UserCBR.ts
  mobile/src/models/Visit.ts
  mobile/src/models/interfaces/SyncableModel.ts
  mobile/src/util/syncHandler.ts
  server/cbr_api/util.py
Due: build mobile, build server

list local changes on sync update modal
  mobile/src/components/SyncUpdateAlert.tsx/LocalChangeList.tsx
  mobile/src/components/SyncUpdateAlert.tsx/SyncUpdateAlert.tsx
  mobile/src/models/BaselineSurvey.ts
  mobile/src/models/Client.ts
  mobile/src/models/Improvement.ts
  mobile/src/models/Outcome.ts
  mobile/src/models/Referral.ts
  mobile/src/models/Risk.ts
  mobile/src/models/UserCBR.ts
  mobile/src/models/Visit.ts
  mobile/src/models/interfaces/SyncableModel.ts
  mobile/src/util/syncHandler.ts
  server/cbr_api/util.py
Due: build mobile, build server

still have some cannot fetching bugs
  common/cbr-common-1.0.0.tgz
  mobile/package-lock.json
  mobile/src/models/Visit.ts
  mobile/src/models/schema.ts
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/VisitEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
  mobile/src/screens/Stats/Stats.tsx
  web/tsconfig.json
Due: build common, build mobile, build web, test common

push
  common/src/forms/Client/clientFields.ts
Due: build common, build mobile, build web, test common

mobile running perfectly
  common/src/forms/Client/clientFields.ts
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Client/mobileClientHandler.ts
  mobile/index.js
  mobile/package-lock.json
  mobile/package.json
  web/src/pages/NewClient/ClientForm.tsx
  web/tsconfig.json
Due: build common, build mobile, build web, test common

fix seed
  server/cbr_api/management/commands/seedvisits.py
  web/tsconfig.json
Due: build web, build server

fix test
  common/test/util/clients.spec.ts
Due: build common, build mobile, build web, test common

fix pipline
  common/test/util/clients.spec.ts
  mobile/src/screens/BaseSurvey/BaseSurvey.tsx
  web/tsconfig.json
Due: build common, build mobile, build web, test common

fix pipline
  common/test/util/clients.spec.ts
Due: build common, build mobile, build web, test common

fix pipeline
  server/requirements.txt
Due: build server

push it then I can work on mobile in windows
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  server/cbr_api/migrations/0046_auto_20220331_2337.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: build common, build mobile, build web, build server, test common

change stats color
  mobile/package-lock.json
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

prettier
  mobile/src/screens/Stats/Stats.tsx
Due: build mobile

push to debug
  common/src/forms/Referral/referralFields.ts
  mobile/index.js
  mobile/package-lock.json
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/HHANutritionAndAgricultureProjectForm.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: build common, build mobile, build web, test common

just for saving purpose
  common/src/forms/Referral/referralFields.ts
  common/src/util/referrals.ts
  mobile/package-lock.json
  mobile/src/models/Referral.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/HHANutritionAndAgricultureProjectForm.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: build common, build mobile, build web, test common

removed mobile
  mobile/src/models/Referral.ts
  mobile/src/models/schema.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/ReferralEntry.tsx
  mobile/src/screens/DashBoard/DashboardRequest.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
  mobile/src/screens/NewReferral/ReferralForm/HHANutritionAndAgricultureProjectForm.tsx
Due: build mobile

whatever
  mobile/src/screens/NewReferral/NewReferral.tsx
Due: build mobile

update changes
  mobile/package-lock.json
Due: build mobile

push to see diff
  mobile/src/models/Referral.ts
  mobile/src/screens/NewReferral/NewReferral.tsx
Due: build mobile

prettier
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  common/src/util/referrals.ts
  mobile/index.js
  mobile/package-lock.json
  mobile/src/screens/NewReferral/NewReferral.tsx
  server/cbr_api/migrations/0046_auto_20220331_2337.py
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/NewReferral/NewReferral.tsx
  web/tsconfig.json
Due: build common, build mobile, build web, build server, test common

final
  mobile/index.js
  web/tsconfig.json
Due: build mobile, build web

final
  mobile/index.js
Due: build mobile

prettier
  web/tsconfig.json
Due: build web

Revert "Merge branch 'referalWebAndServer' into 'main'"
  common/src/forms/Referral/referralFields.ts
  common/src/forms/Referral/referralHandler.ts
  common/src/util/referrals.ts
  mobile/.package-lock 2.json.icloud
  mobile/.package-lock.json.icloud
  mobile/package-lock.json
  server/cbr_api/migrations/0046_auto_20220331_2337.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
  web/src/pages/ClientDetails/ClientTimeline/ReferralEntry.tsx
  web/src/pages/NewReferral/NewReferral.tsx
Due: build common, build mobile, build web, build server, test common

Update setup instructions to correct EINTEGRITY build error on `npm install` for mobile.
  docs/SETUP.md
Due: none

Add mobile/README.md with up-to-date build instructions
  common/package-lock.json
  mobile/README.md
  mobile/package-lock.json
  web/package-lock.json
Due: build common, build mobile, build web, test common

Added note for setting JAVA_HOME for building mobile
  mobile/README.md
Due: build mobile

Updated format of mobile/README.md to conform with Prettier
  mobile/README.md
Due: build mobile

add solution for cacheAPIGet error
  mobile/README.md
Due: build mobile

prettier README.md
  mobile/README.md
Due: build mobile

prettified
  common/src/forms/newVisit/visitFormHandler.ts
  common/src/util/clients.ts
  common/test/util/clients.spec.ts
  docs/DEPLOYMENT.md
  docs/RELEASE.md
  mobile/gradle.properties
  mobile/src/models/Client.ts
  mobile/src/screens/ClientList/ClientList.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryCharts.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/Dashboard/Dashboard.tsx
  web/tsconfig.json
Due: build common, build mobile, build web, test common

Updated mobile docs to use `npm run refresh-common`.
  docs/SETUP.md
  mobile/README.md
Due: build mobile

updated urls in SETUP and updated react-native version to 0.64
  docs/SETUP.md
  mobile/package.json
Due: build mobile

reverted react-native version to ~0.63.4. issue with Pipeline
  mobile/package.json
Due: build mobile

testing pipeline without package-lock
  mobile/lock.backup_20220602_
  mobile/package.json
Due: build mobile

add autoComplete=off
  docs/DEPLOYMENT.md
  docs/RELEASE.md
  web/src/pages/NewClient/ClientForm.tsx
Due: build web
