Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

format common:
  stage: format
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  script:
  - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd mobile
  - npm uninstall @cbr/common
  - npm pack ../common
  - npm install cbr-common-1.0.0.tgz
  - npm ci
  script:
  - npx prettier --check .
  - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
  - docker
  needs: []
  before_script:
  - npm install -g npm@$NPM_VERSION
  - cd common
  - npm ci
  - cd ../web
  - npm ci
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
  ...

build server:
  stage: build
  image: python:3.9.1-buster
  services:
  - name: postgres:13.1-alpine
    alias: test_postgres
  tags:
  - docker
  needs: []
  variables:
    DOMAIN: example.com
    SECRET_KEY: test
    POSTGRES_DB: cbr
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    POSTGRES_HOST: test_postgres
  before_script:
  ...

revised client detail display ordering
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

disable editing profile pic when not editing in mobile
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor client form and fixed profile picture not changing when discard edited bug
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/NewClient/NewClient.tsx
Due: build mobile

refactor & pull out constants
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineConstants.tsx
Due: build mobile

run prettier
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineConstants.tsx
Due: build mobile

Separate client handlers for mobile and web
  common/index.ts
  common/src/forms/Client/clientHandler.ts
  common/src/forms/Client/mobileClientHandler.ts
  mobile/package-lock.json
  mobile/src/screens/NewClient/formHandler.ts
  web/src/pages/NewClient/ClientForm.tsx
Due: format common, build mobile, build web

refactor ShowMore into new component
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/ShowMore.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineConstants.tsx
Due: build mobile

run prettier
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
Due: build mobile

undo unnecessary changes
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
Due: build mobile

merged with history dom-fixed
  common/src/forms/Client/mobileClientHandler.ts
  mobile/package-lock.json
Due: format common, build mobile

add show all button to timeline ui
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
Due: build mobile

refactor & pull out constants
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineConstants.tsx
Due: build mobile

fix issue of job validation for proceeding
  common/src/forms/BaseSurvey/baseSurveyFields.ts
Due: format common, build mobile

take into account timezone/locale for date funcs
  common/src/util/dates.ts
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/Dashboard/Dashboard.tsx
Due: format common, build mobile, build web

fix GMT to user timezone conversion
  common/src/util/dates.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/screens/DashBoard/Dashboard.tsx
  web/package-lock.json
  web/package.json
  web/src/pages/Dashboard/Dashboard.tsx
Due: format common, build mobile, build web

fix ClientForm formatting
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

show 'No Visits' instead of date when no visits
  mobile/package-lock.json
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

run prettier
  mobile/src/screens/DashBoard/Dashboard.tsx
Due: build mobile

Prototype FE page for Testing Alerts
  web/src/pages/Alerts/AlertNew.tsx
  web/src/pages/Alerts/Alerts.tsx
  web/src/pages/Alerts/styles.ts
  web/src/util/pages.ts
  web/tsconfig.json
Due: build web

Create Alert model
  server/cbr_api/models.py
Due: build server

Remove alert id field
  server/cbr_api/models.py
Due: build server

Update Django dependencies to resolve jwt error
  server/requirements.txt
Due: build server

all alert create page elements/ fields/ associated types are created
  common/src/forms/Alert/alertFields.ts
  common/src/util/alerts.ts
  web/src/pages/NewAlert/AlertForm.tsx
  web/src/util/pages.ts
Due: format common, build mobile, build web

Create socket server instance
  server/cbr/wsgi.py
  server/cbr_api/models.py
Due: build server

fixed bugs&warnings and marked TODO apis
  common/src/forms/Alert/alertFields.ts
  common/src/forms/Alert/alertHandler.ts
  common/src/util/alerts.ts
  web/src/pages/NewAlert/AlertForm.tsx
  web/src/util/pages.ts
Due: format common, build mobile, build web

create time converstion functions & spec
  common/src/util/dates.ts
  common/src/util/time.ts
  common/test/util/time.spec.ts
Due: format common, build mobile

normalize bdays as hrs/mins/secs are not needed
  common/src/util/dates.ts
  mobile/package-lock.json
Due: format common, build mobile

Working socket server test
  server/app.py
Due: build server

Install socket io in web app
  web/package-lock.json
  web/package.json
Due: build web

Integrate socketio with wsgi server
  server/cbr/wsgi.py
Due: build server

fix compiling errors
  web/package.json
Due: build web

update react version to fix dependency problem
  web/package.json
Due: build web

Add comments to django test socket server
  server/app.py
Due: build server

Socket prototype with NodeJS
  server/cbr/settings.py
  server/cbr/urls.py
  server/cbr/views.py
  server/requirements.txt
  server/socketServer/package-lock.json
  server/socketServer/package.json
  server/socketServer/server.js
  server/static/main.js
  server/templates/base.html
  server/templates/main.html
Due: build server

Remove unnecessary node server
  server/socketServer/package-lock.json
  server/socketServer/package.json
  server/socketServer/server.js
Due: build server

Working socket server on Django with eventlet
  server/cbr/wsgi.py
  server/static/main.js
Due: build server

Path conditions:
  format common: any of: common/**/*
  build mobile: any of: common/**/*, mobile/**/*
  build web: any of: web/**/*
  build server: any of: server/**/*
