Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build common, build mobile, build web, build server, test common, test caddy

Path conditions:
  build common: any of: common/**/*, .gitlab-ci.yml
  build mobile: any of: common/**/*, mobile/**/*, .gitlab-ci.yml
  build web: any of: common/**/*, web/**/*, .gitlab-ci.yml
  build server: any of: server/**/*, .gitlab-ci.yml
  test common: any of: common/**/*, .gitlab-ci.yml
  test caddy: any of: caddy/**/*, .gitlab-ci.yml

format: prettier
  web/src/components/GoalStatusChip/GoalStatusChip.styles.ts
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

feat: fetch actual data for prevgoals modal
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
Due: build web

feat: replace ItempRisk with IRisk
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
Due: build web

feat: let django filter risk api by clientid
  server/cbr_api/views.py
Due: build server

remove redundant imports
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/helper.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

prettier
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
Due: build web

639 remove install python step and run job in python container
  .github/workflows/main-cicd.yml
Due: none

639 add domain env so settings file has it in the pipeline
  .github/workflows/main-cicd.yml
Due: none

639 create temp debug workflow to fix dns issue
  .github/workflows/debug-test.yml
Due: none

639 run debug workflow on push to this branch only
  .github/workflows/debug-test.yml
Due: none

639 remove debug workflow and add env to postgres service for db setup
  .github/workflows/debug-test.yml
  .github/workflows/main-cicd.yml
Due: none

639 finalize new docs for testing in the project
  docs/DJANGOTESTING.md
Due: none

fix: remove unused imports
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
  web/src/pages/ClientDetails/RiskHistory/RiskHistoryTimeline.tsx
  web/src/pages/ClientDetails/RiskHistory/helper.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

feat: incorporate with goalstatuschip
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
Due: build web

format: fix some minor formatting
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
Due: build web

fix: disable cursor for readonly fields
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
Due: build web

prettier
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
Due: build web

prettier
  common/src/forms/Risks/riskFormFieldHandler.ts
Due: build common, build mobile, build web, test common

format: black
  server/cbr_api/views.py
Due: build server

feat: update backend so it sets end_date if a goal is concluded/cancelled (for display in previousGoalsModal)
  server/cbr_api/models.py
Due: build server

feat: add cancellation_reason to backend and ensure it properly updates when cancelling a goal
  common/src/forms/Risks/riskFormFieldHandler.ts
  common/src/forms/Risks/riskFormFields.ts
  common/src/util/risks.ts
  server/cbr_api/migrations/0066_clientrisk_cancellation_reason.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  web/src/pages/ClientDetails/Risks/ClientRisksModal.tsx
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build common, build mobile, build web, build server, test common

feat: update PreviousGoalCard to show the cancellation reason
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalCard.tsx/PreviousGoalCard.tsx
Due: build web

feat: integrate new visit with goal status
  web/src/pages/NewVisit/components/OutcomeField.tsx
Due: build web

format: prettier
  web/src/pages/NewVisit/components/OutcomeField.tsx
Due: build web

642 add goal fields to client model and apply migrations
  server/cbr_api/migrations/0066_client_educat_goal_status_client_health_goal_status_and_more.py
  server/cbr_api/models.py
Due: build server

642 add goal status fields to client list serializer and update client summary interface
  common/src/util/clients.ts
  server/cbr_api/serializers.py
Due: build common, build mobile, build web, build server, test common

prettier
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

642 add new interface properties to spec file to get rid of ts compiler errors
  common/test/util/clients.spec.ts
Due: build common, build mobile, build web, test common

642 update risk serializer to update clients risk goal status when theres a goal status change and write tests
  server/cbr_api/serializers.py
  server/cbr_api/tests/serializers/__init__.py
  server/cbr_api/tests/serializers/test_normal_risk_serializer.py
Due: build server

642 add assertions for change type and client risk goal status in test cases for normal risk serializer
  server/cbr_api/tests/serializers/test_normal_risk_serializer.py
Due: build server

format: remove unused import
  web/src/pages/NewVisit/components/OutcomeField.tsx
Due: build web

feat: add goal status to outcomefield
  web/src/pages/NewVisit/components/OutcomeField.tsx
Due: build web

feat: integrate into newvisit
  web/src/pages/NewVisit/NewVisit.tsx
Due: build web

642 add type for priority clients and update row data in client dashboard to include the goal status for each client risk
  web/src/pages/Dashboard/Dashboard.tsx
Due: build web

feat: adjust goal status chip translation
  common/src/util/risks.ts
Due: build common, build mobile, build web, test common

fix: fix stale value issue when goal shows up even if set to concluded/cancelled after clicking previousGoalsModal
  web/src/pages/ClientDetails/ClientDetails.tsx
  web/src/pages/ClientDetails/Risks/ClientRisks.tsx
Due: build web

fix: change updateGoalStatus option from "concluded" to "achieved"
  web/src/pages/ClientDetails/Risks/UpdateGoalStatus.tsx
Due: build web

642 remove redundant goal status fields, update client risk level in serializer based on goal status, and refactor test cases
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/tests/serializers/test_normal_risk_serializer.py
Due: build server

fix: replace hardcoded string in previousgoalmodal
  web/src/pages/ClientDetails/PreviousGoals/PreviousGoalsModal/PreviousGoalsModal.tsx
Due: build web
