Repository drbfraser/HHA-CommunityBasedRehabilitation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: format common, build mobile, build web, build server

.gitlab-ci.yml:

stages:
  - format
  - build
  - deploy

variables:
  STAGING_BRANCH: "main"
  PROD_BRANCH: "prod"
  NPM_VERSION: "7.19.0"

format common:
  stage: format
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
  script:
    - npx prettier --check .

build mobile:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - common/**/*
        - mobile/**/*
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd mobile
    - npm uninstall @cbr/common
    - npm pack ../common
    - npm install cbr-common-1.0.0.tgz
    - npm ci
  script:
    - npx prettier --check .
    - npx expo export --public-url https://ci-build.local

build web:
  stage: build
  image: node:14
  tags:
    - docker
  needs: []
  rules:
    # build on merge requests if there are changes
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - web/**/*
      when: always
    # build on deployments
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm install -g npm@$NPM_VERSION
    - cd common
    - npm ci
    - cd ../web
    - npm ci
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - tar -czvf web_build.tar.gz web/build
  artifacts:
    paths:
      - web_build.tar.gz

build server:
  stage: build
  image: python:3.9.1-buster
  services:
    - name: postgres:13.1-alpine
      alias: test_postgres
  tags:
    - docker
  needs: []
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - server/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  variables:
      DOMAIN: "example.com"
      SECRET_KEY: "test"
      POSTGRES_DB: "cbr"
      POSTGRES_USER: "test"
      POSTGRES_PASSWORD: "test"
      POSTGRES_HOST: "test_postgres"
  before_script:
    - cd server
  script:
    - pip install -r requirements.txt
    - python -m black --check . 
    - python manage.py check
    - python manage.py makemigrations --check
    - python manage.py test
  
deploy staging:
  stage: deploy
  tags:
    - shell
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: on_success
  script:
    - cp /var/cbr/staging.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

deploy prod:
  stage: deploy
  tags:
    - shell-prod
  rules:
    - if: '$CI_MERGE_REQUEST_ID == null && $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - cp /var/cbr/prod.env ./.env
    - source ./.env
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
    - tar -xvf web_build.tar.gz
    - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
    - bash -c 'sleep 10'
    - docker exec ${COMPOSE_PROJECT_NAME}_django python manage.py migrate

Fixed post main merge errors
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

One line change.
  mobile/src/util/riskIcon.tsx
Due: build mobile

Refactored to move formik one level up+minor changes
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/HomeScreen/HomeScreen.tsx
Due: build mobile

Fixed refactoring formik props one level up and request being made successfully
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientSubmitHandler.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Fixed other disabilities not updating + removed unused states
  mobile/src/components/ClientForm/ClientForm.tsx
Due: build mobile

UI and layout change + new Date button
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/screens/ClientDetails/ClientDetails.styles.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/util/ObjectFromMap.ts
Due: build mobile

Update readme
  README.md
Due: none

Syntax
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Date fix
  mobile/src/components/ClientForm/ClientForm.tsx
  mobile/src/components/ClientForm/ClientFormFields.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
Due: build mobile

Merged with main and adjust user list
  mobile/package-lock.json
  mobile/src/components/ClientForm/ClientFormFields.ts
Due: build mobile

client: for pictures, require auth and standardize file names
  common/src/util/endpoints.ts
  common/test/setup.ts
  common/test/testHelpers/mockServerHelpers.ts
  server/cbr/urls.py
  server/cbr_api/migrations/0016_alter_client_picture.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/storage.py
  server/cbr_api/urls.py
  server/cbr_api/views.py
  server/downloadview/base.py
  server/downloadview/object.py
  server/requirements.txt
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/index.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/util/imageCache.ts
Due: format common, build mobile, build web, build server

client: add modified timestamp and picture cache headers
  common/src/util/clients.ts
  common/src/util/endpoints.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientRequests.ts
  server/cbr_api/migrations/0016_alter_client_picture.py
  server/cbr_api/migrations/0017_client_modified_date.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
  server/cbr_api/views.py
  server/requirements.txt
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/index.tsx
  web/src/util/imageCache.ts
Due: format common, build mobile, build web, build server

Solved some threads.
  mobile/src/screens/UserList/UserList.styles.ts
  mobile/src/screens/UserList/UserList.tsx
Due: build mobile

drop unused picture fields
  common/src/util/clients.ts
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientRequests.ts
  server/cbr_api/migrations/0018_auto_20210727_0011.py
  server/cbr_api/models.py
  server/cbr_api/serializers.py
Due: format common, build mobile, build server

add max file size (5 MiB) for client pictures
  server/cbr_api/migrations/0019_alter_client_picture.py
  server/cbr_api/models.py
  server/cbr_api/validators.py
Due: build server

clean up photo picker modal
  server/cbr_api/serializers.py
  server/cbr_api/util.py
  server/cbr_api/views.py
  web/src/components/PhotoViewUpload/PhotoViewUpload.tsx
  web/src/pages/ClientDetails/ClientInfoForm.tsx
  web/src/pages/ClientDetails/formFields.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/ClientForm.tsx
  web/src/pages/NewClient/formFields.ts
  web/src/pages/NewClient/formHandler.ts
Due: build web, build server

don't compare hashes of profile pictures
  server/cbr_api/serializers.py
Due: build server

Finish the Baseline Survey Entry on timeline
  common/src/util/clients.ts
  mobile/package-lock.json
  mobile/src/components/TimelineDateCard/DataCard.style.ts
  mobile/src/components/TimelineDateCard/DataCard.tsx
  mobile/src/screens/ClientDetails/ClientDetails.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/Entry.styles.ts
  mobile/src/screens/ClientDetails/ClientTimeline/RecentActivity.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.tsx
  mobile/src/screens/ClientDetails/ClientTimeline/TimelineDate.tsx
  mobile/src/util/screens.ts
Due: format common, build mobile

Update the style
  mobile/src/screens/ClientDetails/ClientTimeline/Timeline.style.ts
Due: build mobile

Refactor the Entry in both web and mobile by getSurveyInfo
  common/src/util/survey.ts
  mobile/package-lock.json
  mobile/src/screens/ClientDetails/ClientTimeline/Entries/BaselineEntry.tsx
  web/src/pages/ClientDetails/ClientTimeline/BaseSurveyEntry.tsx
  web/tsconfig.json
Due: format common, build mobile, build web

Solved some threads.
  mobile/src/screens/DashBoard/Dashboard.styles.ts
  mobile/src/screens/UserList/UserList.styles.ts
Due: build mobile

rely on backend to rename pictures and don't assume PNG
  common/index.ts
  common/src/util/misc.ts
  common/test/util/misc.spec.ts
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/formHandler.ts
Due: format common, build mobile, build web

fix new client pictures saving as "client-None.png"
  server/cbr_api/models.py
  server/cbr_api/validators.py
Due: build server

refactor appending picture to client form
  web/src/pages/ClientDetails/formHandler.ts
  web/src/pages/NewClient/formHandler.ts
  web/src/util/clientSubmission.ts
Due: build web

actually take advantage of useCallback
  web/src/pages/ClientDetails/ClientDetails.tsx
Due: build web

Resolve threads
  mobile/src/screens/NewVisit/NewVisit.tsx
  mobile/src/screens/NewVisit/formHandler.ts
Due: build mobile

Resolve merge conflict
  common/package-lock.json
  mobile/package-lock.json
  mobile/src/screens/NewVisit/NewVisit.tsx
Due: format common, build mobile

put client images into their own directory
  server/cbr_api/migrations/0020_auto_20210728_2053.py
  server/cbr_api/models.py
Due: build server

add command to clean orphaned / invalid client pictures
  server/cbr_api/management/commands/cleanupimages.py
Due: build server
